
<template>
  <div>
    <div class="slider">
      <div class="slider-wrap">
        <div class="single-slide" id="slide-1"></div>
        <div class="single-slide" id="slide-2"></div>
        <div class="single-slide" id="slide-3"></div>
        <div class="single-slide" id="slide-4"></div>
        <div class="single-slide" id="slide-5"></div>
      </div>
    </div>
    <div class="wrapperInicio">
      <div class="headerInicio" style="background: rgba(80, 141, 185, 0.52);z-index: 1000;color: black;">
        
      </div>
      <div class="mainInicio">
        <div class="" align="center">
          <el-form :model="FormLogin" label-position="left" label-width="85px" class="containerLogin">
            <div align="center">
              <img class="logoLogin" src="../../images/logo_login.png">
            </div>
            <div align="center">
              <span style="font-size:19px;color:black;">Sistema de Gestión Comercial</span><br><br>
            </div>
            <el-form-item label="Usuario:" style="margin-bottom: 15px;color:black;">
              <el-input placeholder="Usuario" style="color:black; height: 25px;!important;" v-model="FormLogin.strUsuario" autofocus @keyup.enter.native="btnIngresarSistema(FormLogin)">
                <template slot="prepend"><i class="fa fa-user" style="color:#30476c"></i></template>
              </el-input>
            </el-form-item>
            <el-form-item label="Contraseña:" style="margin-bottom: 15px;">
              <el-input placeholder="Contraseña" style="color:black; height: 25px;!important;" type="password" v-model="FormLogin.strPassword" @keyup.enter.native="btnIngresarSistema(FormLogin)">
                <template slot="prepend"><i class="fa fa-unlock-alt" style="color:#30476c"></i></template>
              </el-input>
            </el-form-item>
                <b-progress  :max="100" variant="success"   show-progress animated >
                         <b-progress-bar :value="50" :label="50 + '%'" />
                    </b-progress>
            <div align="center">
              <el-button
                style="background:rgb(52, 109, 156);color:white;border-color:rgb(52, 109, 156);"
                size="large"
                type="primary"
                @click="btnIngresarSistema(FormLogin)"
                v-loading.fullscreen.lock="loadingLogin"
                element-loading-text="Conectando...">
                Ingresar
                <i class="fa fa-sign-in"></i>
              </el-button>
            </div>
          </el-form>
        </div>
      </div>
    </div>
    <div class="footer">
      <span class="footertext">©{{(new Date()).getFullYear()}} Grupo Gadel S.R.L</span>
    </div>
  </div>
</template>

<script>
  import IngresoSistemaComponent from '@/components/ingresoSistema/ingresoSistema.component'
  export default IngresoSistemaComponent
</script>
<style>
  .containerLogin{
    background: rgba(255, 255, 255, 0.85);
    padding: 10px 35px 35px 35px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    box-shadow: 4px 4px 10px #999;
    opacity: 0.93;
    width: 25%;
    position: relative;
    margin-top: 5%
  }
  .logoLogin {
    width: 60%;
  }
  .buttonLogin {
    background: #30476c;
    color: white;
  }
  .buttonLogin:active {
    background: #30476cc7;
    color: white;
    border: #30476c;
  }
  .buttonLogin:hover {
    background: #30476cc7;
    color: white;
    border: #30476c;
  }
  .marginFormItemLogin{
    margin-bottom: 15px;
  }
  .titleLogin {
     color: #934100;
    font-size: 25px;
    font-weight: bold;
    position: relative;
    margin-top: 0px;
  }

  .wrapperInicio {
    height: 100vh;
    display: flex;
    color: red;
    flex-direction: column;
    background: #f2f6f9;
    
  }
  .headerInicio{
    height: 3em;
    background: rgba(80, 141, 185, 0.52);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mainInicio{
    flex:1;
    background: #f2f6f9;
  }

</style>
