<template>
  <div>
    <ol  style="margin-left: -1.5rem;background: linear-gradient(rgb(229, 241, 247) 0%, rgb(255, 255, 255) 100%);    margin-bottom: 0rem !important;">
        <quickaccessmenu v-on:ValidarItem="BuscarStockMineral()" v-on:backPage="backPage($event)"  v-on:reloadpage="reloadpage($event)"></quickaccessmenu>
        </ol>
    <el-card class="box-card" style="margin-top:5px;">
      <div slot="header" class="headercard">
        <span class="labelheadercard">STOCK DE MINERAL</span>
      </div>
      <table cellpadding="0" cellspacing="1" style="margin:5px 10px;border-collapse: collapse;">
        <tr>
          <td class="texto_labelDialogLeft" style="font-size:13px;padding-left:8px">Mes:</td>
          <td style="padding-top:3px;padding-left:5px;">
            <el-date-picker
              v-model="fechaSearch"
              type="month"
              size="mini"
              format="MMMM / yyyy"
              placeholder="Seleccione Mes"
              :editable = "true">
            </el-date-picker>
          </td>
          <td class="texto_labelDialogRight">
            <el-button type="primary" icon="search" size="small" @click="BuscarStockMineral()">Buscar</el-button>
          </td>
        </tr>
      </table>
      <div class="headercard" >
        <buttons-accions v-on:Limpiar="clickactive('B')" v-on:Buscar="clickactive('A')" v-on:AscItem="AscItem" v-on:DscItem="DscItem" v-on:siguiente="siguiente()" v-on:anterior="anterior()" v-on:EliminarItem="EliminarItem()" ></buttons-accions>
      </div>
      <el-table
        :data="gridData"
        border
        highlight-current-row
        :max-height="sizeScreen"
        v-loading="loadingGetData"
        element-loading-text="Cargando Mineral..."
        style="width: 100%; font-size: 10px;">
        <el-table-column label="LOTE" align="center" width="70">
          <template scope="scope">
            <span style="color:red"><b>{{scope.row.strLote}}</b></span>
          </template>
        </el-table-column>
        <el-table-column label="Fecha Recepción" width="100" align="center">
          <template scope="scope">
            <span><b>{{ scope.row.dtmFechaRecepcion }}</b></span>
          </template>
        </el-table-column>
        <el-table-column prop="strProcedenciaSt" label="Procedencia" width="110"></el-table-column>
        <el-table-column prop="strClienteRazonS" label="Proveedor Mineral" min-width="150"></el-table-column>
        <el-table-column prop="strMaterial" label="Tipo Mineral" width="83" align="center"></el-table-column>
        <el-table-column prop="fltPesoTmh" label="P.Humedo TM" width="93" align="center"></el-table-column>
        <el-table-column prop="strPorcH2O" label="% H2O" width="60" align="center"></el-table-column>
        <el-table-column prop="strPSecoTM" label="P.Seco TM" width="78" align="center"></el-table-column>
        <el-table-column prop="fltFino" label="Fino(Au/Gr)" width="80" align="center"></el-table-column>
        <el-table-column prop="strNroRuma" label="N° Ruma" width="80" align="center"></el-table-column>
        <el-table-column prop="strNroCampania" label="N° Campaña" width="90" align="center"></el-table-column>
        <el-table-column label="Fecha" align="center" width="80">
          <template scope="scope">
            <span>{{ scope.row.dtmFecha }}</span>
          </template>
        </el-table-column>
        <el-table-column label="Periodo Contable" align="center" width="100">
          <template scope="scope">
            <span style="text-transform: uppercase;">{{scope.row.strMesContable}}</span>
          </template>
        </el-table-column>
      </el-table>
      <div align="center"
        style="background:#EEEEEE;padding-top:5px;padding-bottom:5px;font-size:13px">
        <span style="margin-left:20px">Peso TMH Acumulado:<b style="padding-left:15px;margin-right:20px">{{sumatorioPesoTMH}}</b></span>-
        <span style="margin-left:20px">P.Seco TM Acumulado:<b style="padding-left:15px;">{{sumatorioPSecoTM}}</b></span>
      </div>
      <el-row type="flex" class="row-bg" style="margin-bottom:5px">
        <el-col :span="11">
          <el-pagination layout="prev, pager, next" :total="totalRegistros" :page-size="RegistersForPage" :current-page.sync="pagina" @current-change="cambioPagina()">
          </el-pagination>
        </el-col>
        <el-col :span="8" style="margin-top:7px">
          <span style="font-size:14px;">Total de Lotes: <b>{{countGridData}}</b></span>
        </el-col>
        <el-col :span="5" align="right" style="margin-top:3px">
          <download-excel :data="CompleteData" :fields = "json_fields" :meta = "json_meta" :name = "titleExcel">
          </download-excel>
        </el-col>
      </el-row>
    </el-card>
  </div>
</template>
<script>
  import StockMineralComponent from '@/components/ProcesoCierre/StockMineral/stockMineral.component'
  export default StockMineralComponent
</script>
<style>

</style>
