<template>
  <div>
    <el-card class="box-card">
      <el-tabs v-model="activeName" @tab-click="handleClick">
        <el-tab-pane label="Editar Perfil" name="first">
          <el-row>
            <el-col :span="12" style="margin-left:3%">
              <el-form :model="FormUpdate" label-position="left" label-width="180px" class="dialogos">
                <el-form-item label="Nombre">
                  <el-input placeholder="Nombres" v-model="FormUpdate.strNombres" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="Apellido Paterno">
                  <el-input placeholder="Apellido Paterno" v-model="FormUpdate.strApellidoPat" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="Apellido Materno">
                  <el-input placeholder="Apellido Materno" v-model="FormUpdate.strApellidoMat" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="Email:" prop="strEmail">
                  <el-input placeholder="Email" v-model="FormUpdate.strEmail" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="Telefono">
                  <el-input placeholder="Telefono" v-model="FormUpdate.strTelefono" auto-complete="off"></el-input>
                </el-form-item>
              </el-form>
              <div align="center">
                <el-button type="success" @click="GuardarCambios(FormUpdate)"><i class="fa fa-floppy-o"></i> Guardar Cambios</el-button>
              </div>
            </el-col>
          </el-row>
        </el-tab-pane>
        <el-tab-pane label="Cambiar Contraseña" name="second">
          <el-steps :active="active" finish-satus="success">
            <el-step title="Step 1" description="Verificar Datos Actuales"></el-step>
            <el-step title="Step 2" description="Cambiar Usuario/Contraseña"></el-step>
          </el-steps>
          <el-row>
            <el-col :span="12" style="margin-left:3%; margin-top:20px">
              <div v-if="showActual">
                <el-form :model="FormLogin" label-position="left" label-width="180px">
                  <el-form-item label="Nombre de usuario">
                    <el-input placeholder="Usuario" readonly v-model="FormLogin.strUsuario" auto-complete="off"></el-input>
                  </el-form-item>
                  <el-form-item label="Contraseña actual">
                    <el-input type="password" placeholder="Contraseña Actual" v-model="FormLogin.strPassword" auto-complete="off"></el-input>
                  </el-form-item>
                </el-form>
              </div>

              <div v-if="showNew">
                <el-form :model="FormUpdateLogin" label-position="left" label-width="180px">
                  <el-form-item label="Nombre de usuario">
                    <el-input placeholder="Usuario" v-model="FormUpdateLogin.strUsuarioNew" readonly auto-complete="off"></el-input>
                  </el-form-item>
                  <el-form-item label="Nueva contraseña">
                    <el-input type="password" placeholder="Nueva Contraseña" v-model="FormUpdateLogin.strPasswordNew" auto-complete="off"></el-input>
                  </el-form-item>
                  <el-form-item label="Confirmar nueva contraseña">
                    <el-input type="password" placeholder="Confirmar nueva Contraseña" v-model="FormUpdateLogin.strPasswordNewConfirm" auto-complete="off"></el-input>
                  </el-form-item>
                </el-form>
              </div>
              <div align="right">
                <el-button type="primary" style="margin-top: 12px;" @click="nextStep()" v-if="showActual">Siguiente <i class="fa fa-chevron-right"></i></el-button>
                <el-button type="success" style="margin-top: 12px;" @click="finishStep()" v-if="showNew"><i class="fa fa-check"></i> Finalizar</el-button>
              </div>
            </el-col>
          </el-row>

        </el-tab-pane>
      </el-tabs>
    </el-card>

  </div>
</template>

<script>
  import EditarPerfilComponent from '@/components/editarPerfil/editarPerfil.component'
  export default EditarPerfilComponent
</script>
<style>
</style>
