<template>
  <div class="" >
    <ol  style="margin-left: -1.5rem;background: linear-gradient(rgb(229, 241, 247) 0%, rgb(255, 255, 255) 100%);    margin-bottom: 0rem !important;">
        <quickaccessmenu v-on:ValidarItem="BuscarCuotas()" v-on:guardarTodo="guardarTodo($event)" v-on:backPage="backPage($event)"  v-on:reloadpage="reloadpage($event)"></quickaccessmenu>
        </ol>
    <el-card class="box-card" >
      <div slot="header" class="headercard"  >
        <span class="labelheadercard">Atención Cliente - Cuotas</span>
        <!-- <el-button class="buttonfilter btn btn-outline-secondary orange" style="margin-top: -3px;" @click="BuscarCuotas()">
            <img class="imagenfilter" src="../../images/buscari.png" style="margin-left: 0px;width: 15px;height: 16px;" alt="" >
        </el-button> -->
        <el-button class="buttonfilter btn btn-outline-secondary orange" style="margin-top: -3px;" @click="handleAgregar()">
            <img class="imagenfilter" src="../../images/nuevo.png" style="margin-left: 0px;width: 15px;height: 16px;" alt="" >
        </el-button>
        <el-button class="buttonfilter btn btn-outline-secondary orange" style="margin-top: -3px;" @click="handleDetalle2()">
            <img class="imagenfilter" src="../../images/btn_editar.png" style="margin-left: 0px;width: 15px;height: 16px;" alt="" >
        </el-button>
      </div>
      <div class="row bodycard">
        <div class="container">
          <div class="row" >
            <div class="col-sm-3">
              <div class="form-group row " style="margin-top: 1px;">
                  <label class="el-form-item__label col-md-3" >Mes</label>
                  <div class="col-md-7 grupolabel">
                    <div class="input-group mb-3" >
                      <el-date-picker
                        v-model="fechaSearch"
                        type="month"
                        size="small"
                        format="MMMM / yyyy"
                        placeholder="Seleccione Mes"
                        :editable = "false">
                      </el-date-picker>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="headercard" >
            <buttons-accions v-on:Limpiar="clickactive('B')" v-on:Buscar="clickactive('A')" v-on:AscItem="AscItem" v-on:DscItem="DscItem" v-on:siguiente="siguiente()" v-on:anterior="anterior()" v-on:EliminarItem="EliminarItem()" ></buttons-accions>
          </div> 
          <el-table
          ref="missionTable"
            :data="gridData"
            stripe  :default-sort = "{prop: 'date', order: 'descending'}"
            border
            highlight-current-row
            :max-height="sizeScreen"
            v-loading="loadingGetData"
             class="ExcelTable2007"
            @row-click="seleccionarRow"
            element-loading-text="Cargando Cuotas..."
            style="width:100%;font-size:10px;margin:5px 0px">
            <el-table-column label="Acopiador">
              <template scope="scope">
                <span>{{scope.row.strNombres+', '+scope.row.strApellidos}}</span>
              </template>
            </el-table-column>
            <el-table-column label="Zona">
              <template scope="scope">
                <span>{{scope.row.strZona}}</span>
              </template>
            </el-table-column>
            <el-table-column prop="fltCuota" label="Toneladas" width="100" align="center"></el-table-column>
            <el-table-column prop="strLeyAu" label="Ley Au" width="100" align="center"></el-table-column>
            <el-table-column prop="strFinoAu" label="Fino Au" width="100" align="center"></el-table-column>
            <el-table-column prop="strUnidadMedida" label="Unidad de Medida" align="center" width="130"></el-table-column>
            <el-table-column prop="strMes" label="MES" align="center" width="90"></el-table-column>
            <el-table-column prop="strAnio" label="AÑO" align="center" width="80"></el-table-column>
            <!-- <el-table-column label="OPERACIONES" width="120" align="center" v-if="viewAccessEscritura">
              <template scope="scope">
                <el-button :plain="true" icon="edit" size="small" type="info"
                  @click="handleDetalle(scope.$index, scope.row)">{{nameButton}}</el-button>
              </template>
            </el-table-column> -->
          </el-table>
          
          <div align="left"
            style="background:#EEEEEE;padding-top:5px;padding-bottom:5px;font-size:13px">
            <span>Peso Total Estimado: <b>{{sumatoriaPesoEstimado}}</b></span>
            <span style="margin-left:80px">Cantidad de Cuotas: <b>{{countGridData}}</b></span>
          </div>
        </div>
      </div>
    </el-card>
    
    <!--AGREGAR CUOTAS-->
    <el-dialog  title="Agregar Cuota" size="tiny" :visible.sync="dialogAgregarVisible">
      <el-form  :model="FormAgregar" label-width="120px" label-position="left" style="padding: 0px 16px;">
        <el-form-item label="Acopiador:">
          <!-- <el-input placeholder="Id Acopiador" v-model="FormAgregar.intIdAcopiador" auto-complete="off"></el-input> -->
          <el-select v-model="FormAgregar.intIdAcopiador" filterable placeholder="Seleccione Acopiador" size="small">
            <el-option
              v-for="item in DataAcopiadores"
              :key="item.intIdAcopiador"
              :label="item.strNombres + ', '+item.strApellidos"
              :value="item.intIdAcopiador">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="Zona:">
          <!-- <el-input placeholder="Id Zona" v-model="FormAgregar.intIdZona" auto-complete="off"></el-input> -->
          <el-select v-model="FormAgregar.intIdZona" filterable placeholder="Seleccione Zona" size="small">
            <el-option
              v-for="item in DataZonas"
              :key="item.intIdZona"
              :label="item.strZona"
              :value="item.intIdZona">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="Toneladas:">
          <el-input placeholder="Toneladas" type="number" v-model="FormAgregar.fltCuota" auto-complete="off" size="small"></el-input>
        </el-form-item>
        <el-form-item label="Ley Au:">
          <el-input placeholder="Ley Au" type="number" v-model="FormAgregar.strLeyAu" auto-complete="off" size="small"></el-input>
        </el-form-item>
        <el-form-item label="Fino Au:">
          <el-input placeholder="Fino Au" type="number" v-model="FormAgregar.strFinoAu" auto-complete="off" size="small"></el-input>
        </el-form-item>
        <el-form-item label="Unidad Medida:">
          <el-input placeholder="UM" v-model="FormAgregar.strUnidadMedida" auto-complete="off" size="small"></el-input>
        </el-form-item>
        <el-form-item label="Mes / Año:">
          <el-date-picker
            v-model="fechaAddCuota"
            type="month"
            size="small"
            format="MMMM / yyyy"
            placeholder="Seleccione Mes"
            :editable = "false">
          </el-date-picker>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button class="buttonfilter btn btn-outline-secondary orange" style="width: 30px;height: 30px;" @click="AgregarCuota(FormAgregar)">
          <img class="imagenfilter" src="../../images/check.png" style="width: 12px;height: 13px;" alt="" >
        </el-button>
        <el-button class="buttonfilter btn btn-outline-secondary orange" style="margin-left: 0px;width: 30px;height: 30px;"  @click="dialogAgregarVisible = false">
          <img class="imagenfilter" src="../../images/close.png" alt=""  style="width: 12px;height: 13px;">
        </el-button>
        <!-- <el-button @click="dialogAgregarVisible = false">Cancelar</el-button>
        <el-button type="primary" @click="AgregarCuota(FormAgregar)">Agregar</el-button> -->
      </span>
    </el-dialog>

    <!--DETALLE CUOTAS-->
    <el-dialog  title="Detalle Cuota" size="tiny" :visible.sync="dialogDetalleVisible">
      <el-form  :model="rowSelectedEdit" label-width="120px" label-position="left" style="padding:10px 20px">
        <el-form-item label="Acopiador:">
          <el-input placeholder="Id Acopiador" :value="rowSelectedEdit.strNombres+', '+rowSelectedEdit.strApellidos" auto-complete="off" readonly size="small"></el-input>
        </el-form-item>
        <el-form-item label="Zona:">
          <el-input placeholder="Id Zona" :value="rowSelectedEdit.strZona" auto-complete="off" readonly size="small"></el-input>
        </el-form-item>
        <el-form-item label="Toneladas:">
          <el-input placeholder="Toneladas" v-model="rowSelectedEdit.fltCuota" auto-complete="off" readonly size="small"></el-input>
        </el-form-item>
        <el-form-item label="Ley Au:">
          <el-input placeholder="Ley Au" v-model="rowSelectedEdit.strLeyAu" auto-complete="off" readonly size="small"></el-input>
        </el-form-item>
        <el-form-item label="Fino Au:">
          <el-input placeholder="Fino Au" v-model="rowSelectedEdit.strFinoAu" auto-complete="off" readonly size="small"></el-input>
        </el-form-item>
        <el-form-item label="Unidad Medida:">
          <el-input placeholder="UM" v-model="rowSelectedEdit.strUnidadMedida" auto-complete="off" readonly size="small"></el-input>
        </el-form-item>
        <el-form-item label="Mes:">
          <el-input placeholder="Mes" v-model="rowSelectedEdit.strMes" auto-complete="off" readonly size="small"></el-input>
        </el-form-item>
        <el-form-item label="Año:">
          <el-input placeholder="Año" v-model="rowSelectedEdit.strAnio" auto-complete="off" readonly size="small"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogDetalleVisible = false">Cancelar</el-button>
      </span>
    </el-dialog>

    <!--ACTUALIZAR CUOTAS-->
    <el-dialog  title="Actualizar Cuota" size="tiny" :visible.sync="dialogEditarVisible">
      <el-form  :model="rowSelectedEdit" label-width="120px" label-position="left" style="padding:10px 20px">
        <el-form-item label="Acopiador:">
          <!-- <el-input placeholder="Id Acopiador" :value="rowSelectedEdit.strNombres+', '+rowSelectedEdit.strApellidos" auto-complete="off" size="small"></el-input> -->
          <el-select v-model="rowSelectedEdit.intIdAcopiador" filterable placeholder="Seleccione Acopiador" size="small">
            <el-option
              v-for="item in DataAcopiadores"
              :key="item.intIdAcopiador"
              :label="item.strNombres + ', '+item.strApellidos"
              :value="item.intIdAcopiador">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="Zona:">
          <!-- <el-input placeholder="Id Zona" :value="rowSelectedEdit.strZona" auto-complete="off" size="small"></el-input> -->
          <el-select v-model="rowSelectedEdit.intIdZona" filterable placeholder="Seleccione Zona" size="small">
            <el-option
              v-for="item in DataZonas"
              :key="item.intIdZona"
              :label="item.strZona"
              :value="item.intIdZona">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="Toneladas:">
          <el-input placeholder="Toneladas" v-model="rowSelectedEdit.fltCuota" auto-complete="off" size="small"></el-input>
        </el-form-item>
        <el-form-item label="Ley Au:">
          <el-input placeholder="Ley Au" v-model="rowSelectedEdit.strLeyAu" auto-complete="off" size="small"></el-input>
        </el-form-item>
        <el-form-item label="Fino Au:">
          <el-input placeholder="Fino Au" v-model="rowSelectedEdit.strFinoAu" auto-complete="off" size="small"></el-input>
        </el-form-item>
        <el-form-item label="Unidad Medida:">
          <el-input placeholder="UM" v-model="rowSelectedEdit.strUnidadMedida" auto-complete="off" size="small"></el-input>
        </el-form-item>
        <el-form-item label="Mes:">
          <el-input placeholder="Mes" v-model="rowSelectedEdit.strMes" auto-complete="off" size="small"></el-input>
        </el-form-item>
        <el-form-item label="Año:">
          <el-input placeholder="Año" v-model="rowSelectedEdit.strAnio" auto-complete="off" size="small"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
       
        <el-button class="buttonfilter btn btn-outline-secondary orange" style="width: 30px;height: 30px;" @click="ActualizarCuota(rowSelectedEdit)">
          <img class="imagenfilter" src="../../images/check.png" style="width: 12px;height: 13px;" alt="" >
        </el-button>
        <el-button class="buttonfilter btn btn-outline-secondary orange" style="margin-left: 0px;width: 30px;height: 30px;"  @click="dialogEditarVisible = false">
          <img class="imagenfilter" src="../../images/close.png" alt=""  style="width: 12px;height: 13px;">
        </el-button>
        <!-- <el-button @click="dialogEditarVisible = false">Cancelar</el-button>
        <el-button type="primary" icon="edit" @click="ActualizarCuota(rowSelectedEdit)">Guardar</el-button> -->
      </span>
    </el-dialog>
  </div>
</template>

<script>
  import CuotasComponent from '@/components/cuotas/cuotas.component'
  export default CuotasComponent
</script>
<style>

</style>
