<template>
  <div>
    <el-form :model="FormAgregar" label-position="left" label-width="130px" style="font-size:13px">
      <el-row>
        <el-col :span="18">
          <el-card class="box-card" style="margin-top:5px;">
            <div slot="header" class="clearfix">
              <span>LIQUIDACIÓN</span>
            </div>
            <el-row>
              <el-col :span="6">
                <el-form-item label="Nro Licitación:" class="marginFormItem">
                  <el-input placeholder="" size="small"></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="8" style="margin-left:2%">
                <el-form-item label="Factor de conversión:" label-width="150px" class="marginFormItem">
                  <el-input v-model="factorConver" readonly placeholder="" size="small"></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="7" style="margin-left:2%">
                <el-form-item label="Fecha:" class="marginFormItem" label-width="100px">
                  <el-date-picker
                    v-model="fechaLiquidacion"
                    type="date"
                    format="dd 'de' MMMM yyyy"
                    placeholder="Seleccione fecha">
                  </el-date-picker>
                </el-form-item>
              </el-col>
            </el-row>

            <hr>
            <span style="color:#30476c"><b>Propuesta (Au)</b></span>
            <hr>
            <table cellpadding="0" cellspacing="1" style="margin-top:10px; margin-bottom:10px; margin-left:20px;" class="hx">
              <tr>
                <td class="texto_labelDialogLeft"><b>LOTE:</b></td>
                <td style="padding-top:10px; color:red;padding-left:10px;"><label ><b>Lote</b></label></td>
                <td class="texto_labelDialogRight"><b>Fecha Recepción:</b></td>
                <td style="padding-top:10px;padding-left:10px;"><label for="">Fecha</label></td>
                <td class="texto_labelDialogRight"><b>Fecha Liquidación:</b></td>
                <td style="padding-top:10px;padding-left:10px;"><label for="">Fecha</label></td>
              </tr>
              <tr style="padding-top:20px">
                <td class="texto_labelDialogLeft">Zona:</td>
                <td style="padding-top:10px;padding-left:10px;"><label for="">Zona</label></td>
                <td class="texto_labelDialogRight">Acopiador:</td>
                <td style="padding-top:10px;padding-left:10px;"><label for="">Acopiador</label></td>
              </tr>
            </table>
            <table cellpadding="0" cellspacing="1" style="margin-top:10px; margin-bottom:10px; margin-left:20px;" class="hx">
              <tr style="padding-top:20px">
                <td class="texto_labelDialogLeft">TMH:</td>
                <td style="padding-top:10px;padding-left:10px;"><label for="">TMH</label></td>
                <td class="texto_labelDialogRight">%H2O:</td>
                <td style="padding-top:10px;padding-left:10px;"><label for="">H2O</label></td>
                <td class="texto_labelDialogRight">TMS:</td>
                <td style="padding-top:10px;padding-left:10px;"><label for=""><b style="color:red">(*)</b></label></td>
                <td class="texto_labelDialogRight">REC:</td>
                <td style="padding-top:10px;padding-left:10px;"><label for="">REC</label></td>
                <td class="texto_labelDialogRight">Ley (Oz/TC):</td>
                <td style="padding-top:10px;padding-left:10px;"><label for="">Ley (Oz/TC)</label></td>
              </tr>
              <tr style="padding-top:20px">
                <td class="texto_labelDialogLeft">Inter($):</td>
                <td style="padding-top:10px;padding-left:10px;"><label for="">Inter</label></td>
                <td class="texto_labelDialogRight">Margen($):</td>
                <td style="padding-top:10px;padding-left:10px;"><label for="">Margen</label></td>
                <td class="texto_labelDialogRight">Maquila:</td>
                <td style="padding-top:10px;padding-left:10px;"><label for="">Maquila</label></td>
                <td class="texto_labelDialogRight">Cons Q($):</td>
                <td style="padding-top:10px;padding-left:10px;"><label for="">Cons Q</label></td>
                <td class="texto_labelDialogRight">Gas.Adm ($):</td>
                <td style="padding-top:10px;padding-left:10px;"><label for="">Gas.Adm</label></td>
              </tr>
              <tr style="padding-top:20px">
                <td class="texto_labelDialogLeft">P.U. TMS ($):</td>
                <td style="padding-top:10px;padding-left:10px;"><label for=""><b style="color:red">(*)</b></label></td>
                <td class="texto_labelDialogRight">Importe ($):</td>
                <td style="padding-top:10px;padding-left:10px;"><label for=""><b style="color:red">(*)</b></label></td>
                <td class="texto_labelDialogRight">IGV ($):</td>
                <td style="padding-top:10px;padding-left:10px;"><label for=""><b style="color:red">(*)</b></label></td>
                <td class="texto_labelDialogRight">TOTAL ($):</td>
                <td style="padding-top:10px;padding-left:10px;"><label for=""><b style="color:red">(*)</b></label></td>
              </tr>
            </table>
            <hr>
            <span style="color:#30476c"><b>Liquidación Int (Au)</b></span>
            <hr>
            <table cellpadding="0" cellspacing="1" style="margin-top:10px; margin-bottom:10px; margin-left:20px;" class="hx">
              <tr style="padding-top:20px">
                <td class="texto_labelDialogLeft">TMH:</td>
                <td style="padding-top:10px;padding-left:10px;"><label for="">TMH</label></td>
                <td class="texto_labelDialogRight">%H2O:</td>
                <td style="padding-top:10px;padding-left:10px;"><label for="">H2O</label></td>
                <td class="texto_labelDialogRight">TMS:</td>
                <td style="padding-top:10px;padding-left:10px;"><label for="">TMS</label></td>
                <td class="texto_labelDialogRight">REC:</td>
                <td style="padding-top:10px;padding-left:10px;"><label for="">REC</label></td>
                <td class="texto_labelDialogRight">Ley (Oz/TC):</td>
                <td style="padding-top:10px;padding-left:10px;"><label for="">Ley (Oz/TC)</label></td>
              </tr>
              <tr style="padding-top:20px">
                <td class="texto_labelDialogLeft">Inter($):</td>
                <td style="padding-top:10px;padding-left:10px;"><label for=""><b style="color:red">(*)</b></label></td>
                <td class="texto_labelDialogRight">Maquila:</td>
                <td style="padding-top:10px;padding-left:10px;"><label for="">Maquila</label></td>
                <td class="texto_labelDialogRight">Cons Q($):</td>
                <td style="padding-top:10px;padding-left:10px;"><label for="">Cons Q</label></td>
                <td class="texto_labelDialogRight">Gas.Adm ($):</td>
                <td style="padding-top:10px;padding-left:10px;"><label for="">Gas.Adm</label></td>
              </tr>
              <tr style="padding-top:20px">
                <td class="texto_labelDialogLeft">P.U. TMS ($):</td>
                <td style="padding-top:10px;padding-left:10px;"><label for=""><b style="color:red">(*)</b></label></td>
                <td class="texto_labelDialogRight">Importe ($):</td>
                <td style="padding-top:10px;padding-left:10px;"><label for=""><b style="color:red">(*)</b></label></td>
              </tr>
            </table>
            <hr>
            <span style="color:#30476c"><b>Venta (Au)</b></span>
            <hr>
            <table cellpadding="0" cellspacing="1" style="margin-top:10px; margin-bottom:10px; margin-left:20px;" class="hx">
              <tr style="padding-top:20px">
                <td class="texto_labelDialogLeft">TMH:</td>
                <td style="padding-top:10px;padding-left:10px;"><label for=""><b style="color:red">(*)</b></label></td>
                <td class="texto_labelDialogRight">%H2O:</td>
                <td style="padding-top:10px;padding-left:10px;"><label for=""><b style="color:red">(*)</b></label></td>
                <td class="texto_labelDialogRight">TMS:</td>
                <td style="padding-top:10px;padding-left:10px;"><label for=""><b style="color:red">(*)</b></label></td>
                <td class="texto_labelDialogRight">REC:</td>
                <td style="padding-top:10px;padding-left:10px;"><label for=""><b style="color:red">(*)</b></label></td>
                <td class="texto_labelDialogRight">Ley (Oz/TC):</td>
                <td style="padding-top:10px;padding-left:10px;"><label for=""><b style="color:red">(*)</b></label></td>
              </tr>
              <tr style="padding-top:20px">
                <td class="texto_labelDialogLeft">Inter($):</td>
                <td style="padding-top:10px;padding-left:10px;"><label for=""><b style="color:red">(*)</b></label></td>
              </tr>
              <tr style="padding-top:20px">
                <td class="texto_labelDialogLeft">P.U. TMS ($):</td>
                <td style="padding-top:10px;padding-left:10px;"><label for=""><b style="color:red">(*)</b></label></td>
                <td class="texto_labelDialogRight">Importe ($):</td>
                <td style="padding-top:10px;padding-left:10px;"><label for=""><b style="color:red">(*)</b></label></td>
              </tr>
            </table>
            <hr>
            <span style="color:#30476c"><b>Propuesta (Ag)</b></span>
            <hr>
            <table cellpadding="0" cellspacing="1" style="margin-top:10px; margin-bottom:10px; margin-left:20px;" class="hx">
              <tr style="padding-top:20px">
                <td class="texto_labelDialogLeft">TMH:</td>
                <td style="padding-top:10px;padding-left:10px;"><label for=""><b style="color:red">(*)</b></label></td>
                <td class="texto_labelDialogRight">%H2O:</td>
                <td style="padding-top:10px;padding-left:10px;"><label for=""><b style="color:red">(*)</b></label></td>
                <td class="texto_labelDialogRight">TMS:</td>
                <td style="padding-top:10px;padding-left:10px;"><label for=""><b style="color:red">(*)</b></label></td>
                <td class="texto_labelDialogRight">REC:</td>
                <td style="padding-top:10px;padding-left:10px;"><label for="">REC</label></td>
                <td class="texto_labelDialogRight">Ley (Oz/TC):</td>
                <td style="padding-top:10px;padding-left:10px;"><label for="">Ley (Oz/TC)</label></td>
              </tr>
              <tr style="padding-top:20px">
                <td class="texto_labelDialogLeft">Inter($):</td>
                <td style="padding-top:10px;padding-left:10px;"><label for="">Inter</label></td>
                <td class="texto_labelDialogRight">Margen($):</td>
                <td style="padding-top:10px;padding-left:10px;"><label for="">Margen</label></td>
              </tr>
              <tr style="padding-top:20px">
                <td class="texto_labelDialogLeft">P.U. TMS ($):</td>
                <td style="padding-top:10px;padding-left:10px;"><label for=""><b style="color:red">(*)</b></label></td>
                <td class="texto_labelDialogRight">Importe ($):</td>
                <td style="padding-top:10px;padding-left:10px;"><label for=""><b style="color:red">(*)</b></label></td>
                <td class="texto_labelDialogRight">IGV ($):</td>
                <td style="padding-top:10px;padding-left:10px;"><label for=""><b style="color:red">(*)</b></label></td>
                <td class="texto_labelDialogRight">TOTAL ($):</td>
                <td style="padding-top:10px;padding-left:10px;"><label for=""><b style="color:red">(*)</b></label></td>
              </tr>
            </table>
            <hr>
            <span style="color:#30476c"><b>Liquidación Int (Ag)</b></span>
            <hr>
            <table cellpadding="0" cellspacing="1" style="margin-top:10px; margin-bottom:10px; margin-left:20px;" class="hx">
              <tr style="padding-top:20px">
                <td class="texto_labelDialogLeft">TMH:</td>
                <td style="padding-top:10px;padding-left:10px;"><label for=""><b style="color:red">(*)</b></label></td>
                <td class="texto_labelDialogRight">%H2O:</td>
                <td style="padding-top:10px;padding-left:10px;"><label for=""><b style="color:red">(*)</b></label></td>
                <td class="texto_labelDialogRight">TMS:</td>
                <td style="padding-top:10px;padding-left:10px;"><label for=""><b style="color:red">(*)</b></label></td>
                <td class="texto_labelDialogRight">REC:</td>
                <td style="padding-top:10px;padding-left:10px;"><label for="">REC</label></td>
                <td class="texto_labelDialogRight">Ley (Oz/TC):</td>
                <td style="padding-top:10px;padding-left:10px;">
                  <label for="">Ley (Oz/TC)</label><br>
                  <label for="">Ley (Oz/TC)2</label>
                </td>
              </tr>
              <tr style="padding-top:20px">
                <td class="texto_labelDialogLeft">Inter($):</td>
                <td style="padding-top:10px;padding-left:10px;"><label for="">Inter</label></td>
              </tr>
              <tr style="padding-top:20px">
                <td class="texto_labelDialogLeft">P.U. TMS ($):</td>
                <td style="padding-top:10px;padding-left:10px;"><label for=""><b style="color:red">(*)</b></label></td>
                <td class="texto_labelDialogRight">Importe ($):</td>
                <td style="padding-top:10px;padding-left:10px;"><label for=""><b style="color:red">(*)</b></label></td>
              </tr>
            </table>
          </el-card>

        </el-col>
        <el-col :span="5" style="margin-left:2%">
          <el-card class="box-card" style="margin-top:5px;">
            <div slot="header" class="clearfix">
              <span>Au</span>
            </div>
            <el-form-item label="Margen Bruto:" class="marginFormItem">
              <span><b style="color:red">(*)</b></span>
            </el-form-item>
            <el-form-item label="Utilidad Bruta:" class="marginFormItem">
              <span><b style="color:red">(*)</b></span>
            </el-form-item>
          </el-card>
          <br>
          <el-card class="box-card" style="margin-top:5px;">
            <div slot="header" class="clearfix">
              <span>Ag</span>
            </div>
            <el-form-item label="Margen Bruto:" class="marginFormItem">
              <span><b style="color:red">(*)</b></span>
            </el-form-item>
            <el-form-item label="Utilidad Bruta:" class="marginFormItem">
              <span><b style="color:red">(*)</b></span>
            </el-form-item>
          </el-card>
          <br>
          <el-card class="box-card" style="margin-top:5px;">
            <div slot="header" class="clearfix">
              <span>Utilidad Lote</span>
            </div>
            <el-form-item label="Margen Compra:" class="marginFormItem">
              <span><b style="color:red">(*)</b></span>
            </el-form-item>
            <el-form-item label="Margen Bruto:" class="marginFormItem">
              <span><b style="color:red">(*)</b></span>
            </el-form-item>
            <el-form-item label="Utilidad Bruta:" class="marginFormItem">
              <span><b style="color:red">(*)</b></span>
            </el-form-item>
          </el-card>
        </el-col>
      </el-row>
    </el-form>
    <br>
  </div>
</template>
<script>
  import LiquidacionLoteComponent from '@/components/liquidacionLote/liquidacionLote.component'
  export default LiquidacionLoteComponent
</script>
<style>
</style>
