<template>
  <div>
    <ol  style="margin-left: -1.5rem;background: linear-gradient(rgb(229, 241, 247) 0%, rgb(255, 255, 255) 100%);    margin-bottom: 0rem !important;">
        <quickaccessmenu v-on:ValidarItem="BuscarValorizacion()" v-on:backPage="backPage($event)"  v-on:reloadpage="reloadpage($event)"></quickaccessmenu>
        </ol>
    <el-card class="box-card" style="margin-top:5px;">
      <div slot="header" class="headercard">
        <span  class="labelheadercard">VALORIZACIÓN DE BULLON</span>
      </div>
      <div style="overflow: auto;">
        <table cellpadding="0" cellspacing="1" style="margin-left:10px;border-collapse: collapse;">
          <tr>
            <td class="texto_labelDialogLeft" style="padding-right: 20px">
              <el-button type="primary" size="small" @click="handleAgregar()" v-if="viewAccessEscritura">
                <i class="fa fa-plus"></i> Agregar
              </el-button>
            </td>
            <td style="border-left:1px solid #eef1f6;margin:0px 10px">
              <span style="color:#b3b3b3;margin-left:15px;font-size:12px">Búsqueda:</span>
            </td>
            <td class="texto_labelDialogLeft" style="font-size:13px;padding-left:10px">N° Campaña</td>
            <td style="padding-top:3px;padding-left:8px;padding-right:10px">
              <el-input type="search" placeholder="*" v-model="FormSearch.strNroCampania" auto-complete="off" size="mini" @keyup.enter.native="BuscarValorizacion()"></el-input>
            </td>
            <!-- <td>
              <el-button type="primary" v-if="viewAccessEscritura" icon="search" size="small" @click="BuscarValorizacion()">Buscar</el-button>
            </td> -->
          </tr>
        </table>
      </div>
      <el-row>
        <el-col :xs="24" :sm="14" :md="14" :lg="24" :xl="24">
          <div class="headercard" >
            <buttons-accions v-on:Limpiar="clickactive('B')" v-on:Buscar="clickactive('A')" v-on:AscItem="AscItem" v-on:DscItem="DscItem" v-on:siguiente="siguiente()" v-on:anterior="anterior()" v-on:EliminarItem="EliminarItem()" ></buttons-accions>
          </div>
          <el-table
          ref="missionTable"
            :data="gridData"
            stripe  :default-sort = "{prop: 'date', order: 'descending'}"
            border
            highlight-current-row
            :max-height="sizeScreen"
            v-loading="loadingGetData"
            element-loading-text="Cargando lotes..."
            show-summary
            :summary-method="getSummaries"
            style="width: 100%; font-size: 11px;margin:10px 0px">
            <el-table-column prop="strNroCampania" label="Campaña" align="center"></el-table-column>
            <el-table-column prop="intNroBarra" label="BARRAS" align="center"></el-table-column>
            <el-table-column label="PESO(Gr)" align="center">
              <template scope="scope">
                <span>{{getNumberFix(scope.row.fltPeso, 3)}}</span>
              </template>
            </el-table-column>
            <el-table-column label="%Ley Au" align="center">
              <template scope="scope">
                <span>{{getPorcentageFix(scope.row.fltLeyAu, 3)}}</span>
              </template>
            </el-table-column>
            <el-table-column label="%Ley Ag" align="center">
              <template scope="scope">
                <span>{{getPorcentageFix(scope.row.fltLeyAg, 3)}}</span>
              </template>
            </el-table-column>
            <el-table-column label="FINO Au" align="center">
              <template scope="scope">
                <span>{{getNumberFix(scope.row.fltFinoAu, 3)}}</span>
              </template>
            </el-table-column>
            <el-table-column label="FINO Ag" align="center">
              <template scope="scope">
                <span>{{getNumberFix(scope.row.fltFinoAg, 3)}}</span>
              </template>
            </el-table-column>
            <el-table-column label="Editar" align="center" width="80" v-if="viewAccessEscritura">
              <template scope="scope">
                <el-tooltip class="item" effect="light" content="Editar" placement="bottom">
                  <el-button type="success" icon="edit" size="mini" @click="handleEditar(scope.$index, scope.row)"></el-button>
                </el-tooltip>
              </template>
            </el-table-column>
          </el-table>
        </el-col>
        <el-col :xs="24" :sm="10" :md="10" :lg="10" :xl="10" align="center" v-if="gridData.length>0">
          <table cellpadding="0" cellspacing="1" style="border-collapse: collapse;font-size:12px;margin:0px 25px">
            <tr>
              <td class="tdLiq">TOTAL DE <b>Au</b> A EXPORTAR</td>
              <td class="tdLiq" align="right">{{getNumberFormatFix(this.FormTotales.totalAuExp, 2)}}</td>
            </tr>
            <tr>
              <td class="tdLiq">TOTAL DE <b>Ag</b> A EXPORTAR</td>
              <td class="tdLiq" align="right">{{getNumberFormatFix(this.FormTotales.totalAgExp, 2)}}</td>
            </tr>
            <tr>
              <td class="tdLiq">TOTAL SUB TOTAL</td>
              <td class="tdLiq" align="right">$ {{getNumberFormatFix(this.FormTotales.subTotal, 2)}}</td>
            </tr>
            <tr style="font-size:14px">
              <td class="tdLiq"><b>TOTAL A ENVIAR</b></td>
              <td class="tdLiq" align="right" style="color:red"><b>$ {{getNumberFormatFix(this.FormTotales.totalEnviar, 0)}}</b></td>
            </tr>
            <tr>
              <td class="tdLiq">DIFERENCIA</td>
              <td class="tdLiq" align="right">$ {{getNumberFormatFix(this.FormTotales.diferencia, 2)}}</td>
            </tr>
          </table>
        </el-col>
      </el-row>
      <br>
      <el-row>
        <el-col :xs="24" :sm="12" :md="8" :lg="6" :xl="6" v-for="item in gridData" :key="item.intIdBarra" style="padding:0px 10px">
          <el-card :body-style="{ padding: '0px' }">
            <div slot="header" class="clearfix" align="center">
              <span>{{item.strNombreBarra.toUpperCase()}} {{item.intNroBarra}}</span>
            </div>
            <div align="center">
              <table style="border-collapse: collapse;font-size:12px;margin:3px 0px">
                <tr style="background-color:#ffffb9;">
                  <td class="texto_labelDialogLeft" style="padding-left:10px">A/Fundic.</td>
                  <td class="texto_labelDialogRight" style="padding-right:10px;width:120px" align="right">{{item.fltPeso}}</td>
                  <td class="texto_labelDialogRight" style="padding-right:10px"><i>gr</i></td>
                </tr>
                <tr>
                  <td class="texto_labelDialogLeft" style="padding-left:10px">Factor F</td>
                  <td class="texto_labelDialogRight" style="padding-right:10px" align="right">{{getNumberFix(item.fltFactorF, 6)}}</td>
                  <td class="texto_labelDialogRight" style="padding-right:10px"></td>
                </tr>
                <tr>
                  <td class="texto_labelDialogLeft" style="padding-left:10px">D/Fundic.</td>
                  <td class="texto_labelDialogRight" style="padding-right:10px" align="right">{{getNumberFix(item.fltDFundido,1)}}</td>
                  <td class="texto_labelDialogRight" style="padding-right:10px"><i>gr</i></td>
                </tr>
                <tr>
                  <td class="texto_labelDialogLeft" style="padding-left:10px">Merma 0.2%</td>
                  <td class="texto_labelDialogRight" style="padding-right:10px" align="right">{{getNumberFix(item.fltMerma, 6)}}</td>
                  <td class="texto_labelDialogRight" style="padding-right:10px"></td>
                </tr>
                <tr style="background-color:#ffffb9">
                  <td class="texto_labelDialogLeft" style="padding-left:10px">Ley Au</td>
                  <td class="texto_labelDialogRight" style="padding-right:10px" align="right">{{getPorcentageFix(item.fltLeyAu, 2)}}</td>
                  <td class="texto_labelDialogRight" style="padding-right:10px"></td>
                </tr>
                <tr style="background-color:#ffffb9">
                  <td class="texto_labelDialogLeft" style="padding-left:10px">Ley Ag</td>
                  <td class="texto_labelDialogRight" style="padding-right:10px" align="right">{{getPorcentageFix(item.fltLeyAg, 2)}}</td>
                  <td class="texto_labelDialogRight" style="padding-right:10px"></td>
                </tr>
                <tr>
                  <td  colspan="3" style="border-bottom:1px solid #eef1f6;margin:0px 10px">
                  </td>
                </tr>

                <tr>
                  <td class="texto_labelDialogLeft" style="padding-left:10px"><b>Fino Au</b></td>
                  <td class="texto_labelDialogRight" style="padding-right:10px" align="right"><b>{{getNumberFix(item.fltFinoAuMerma, 2)}}</b></td>
                  <td class="texto_labelDialogRight" style="padding-right:10px"><i><b>gr</b></i></td>
                </tr>
                <tr>
                  <td class="texto_labelDialogLeft" style="padding-left:10px">-</td>
                  <td class="texto_labelDialogRight" style="padding-right:10px" align="right">{{getNumberFix(item.fltFinoAuOz, 2)}}</td>
                  <td class="texto_labelDialogRight" style="padding-right:10px"><i>Oz</i></td>
                </tr>
                <tr>
                  <td class="texto_labelDialogLeft" style="padding-left:10px"><b>Fino Ag</b></td>
                  <td class="texto_labelDialogRight" style="padding-right:10px" align="right"><b>{{getNumberFix(item.fltFinoAgMerma, 2)}}</b></td>
                  <td class="texto_labelDialogRight" style="padding-right:10px"><i><b>gr</b></i></td>
                </tr>
                <tr>
                  <td class="texto_labelDialogLeft" style="padding-left:10px">-</td>
                  <td class="texto_labelDialogRight" style="padding-right:10px" align="right">{{getNumberFix(item.fltFinoAgOz, 2)}}</td>
                  <td class="texto_labelDialogRight" style="padding-right:10px"><i>Oz</i></td>
                </tr>
                <tr>
                  <td  colspan="3" style="border-bottom:1px solid #eef1f6;margin:0px 10px">
                  </td>
                </tr>
                <tr style="background-color:#ffffb9">
                  <td class="texto_labelDialogLeft" style="padding-left:10px">Inter Au</td>
                  <td class="texto_labelDialogRight" style="padding-right:10px" align="right">$ {{getNumberFormatFix(item.strInterAu, 2)}}</td>
                  <td class="texto_labelDialogRight" style="padding-right:10px"></td>
                </tr>
                <tr style="background-color:#ffffb9">
                  <td class="texto_labelDialogLeft" style="padding-left:10px">Inter Ag</td>
                  <td class="texto_labelDialogRight" style="padding-right:10px" align="right">$ {{getNumberFormatFix(item.strInterAg, 2)}}</td>
                  <td class="texto_labelDialogRight" style="padding-right:10px"></td>
                </tr>
                <tr>
                  <td  colspan="3" style="border-bottom:1px solid #eef1f6;margin:0px 10px">
                  </td>
                </tr>
                <tr>
                  <td class="texto_labelDialogLeft" style="padding-left:10px">Valor Au</td>
                  <td class="texto_labelDialogRight" style="padding-right:10px" align="right">$ {{getNumberFormatFix(item.fltValorAu, 2)}}</td>
                  <td class="texto_labelDialogRight" style="padding-right:10px"></td>
                </tr>
                <tr>
                  <td class="texto_labelDialogLeft" style="padding-left:10px">Valor Ag</td>
                  <td class="texto_labelDialogRight" style="padding-right:10px" align="right">$ {{getNumberFormatFix(item.fltValorAg, 2)}}</td>
                  <td class="texto_labelDialogRight" style="padding-right:10px"></td>
                </tr>
                <tr>
                  <td  colspan="3" style="border-bottom:1px solid #eef1f6;margin:0px 10px">
                  </td>
                </tr>
                <tr style="background-color:#92d050ab">
                  <td class="texto_labelDialogLeft" style="padding-left:10px">Subtotal</td>
                  <td class="texto_labelDialogRight" style="padding-right:10px" align="right">$ {{getNumberFormatFix(item.fltSubTotal, 2)}}</td>
                  <td class="texto_labelDialogRight" style="padding-right:10px"></td>
                </tr>
                <tr>
                  <td  colspan="3" style="border-bottom:1px solid #eef1f6;margin:0px 10px">
                  </td>
                </tr>
                <tr>
                  <td class="texto_labelDialogLeft" style="padding-left:10px">COM.EXP.</td>
                  <td class="texto_labelDialogRight" style="padding-right:10px" align="right">$ {{getNumberFormatFix(item.fltComExp, 2)}}</td>
                  <td class="texto_labelDialogRight" style="padding-right:10px">1.50%</td>
                </tr>
                <tr>
                  <td class="texto_labelDialogLeft" style="padding-left:10px">IGV</td>
                  <td class="texto_labelDialogRight" style="padding-right:10px" align="right">$ {{getNumberFormatFix(item.fltIGV, 2)}}</td>
                  <td class="texto_labelDialogRight" style="padding-right:10px">18%</td>
                </tr>
                <tr>
                  <td  colspan="3" style="border-bottom:1px solid #eef1f6;margin:0px 10px">
                  </td>
                </tr>
                <tr style="background-color:#92d050ab">
                  <td class="texto_labelDialogLeft" style="padding-left:10px">Total COM</td>
                  <td class="texto_labelDialogRight" style="padding-right:10px" align="right">$ {{getNumberFormatFix(item.fltTotalCom, 2)}}</td>
                  <td class="texto_labelDialogRight" style="padding-right:10px">1.50%</td>
                </tr>
                <tr style="background-color:#00b050;height:22px">
                  <td class="texto_labelDialogLeft" style="color:white" align="center"><b>PAGAR</b></td>
                  <td colspan="2" class="texto_labelDialogRight" style="padding-right:20px;color:white" align="center"><b>$ {{getNumberFormatFix(item.fltPagar, 2)}}</b></td>
                </tr>
              </table>
            </div>
          </el-card>
        </el-col>
      </el-row>
    </el-card>

    <!--AGREGAR VALORIZACION DE BULLON-->
    <el-dialog title="Agregar Barra" size="tiny" :visible.sync="dialogAgregarVisible" @close="dialogAgregarVisible=false">
      <el-form :model="FormAgregar" label-width="120px" label-position="left" style="padding:10px 20px">
        <el-form-item label="N° de Campaña:" class="marginFormItem">
          <el-input placeholder="Número Campaña" v-model="FormAgregar.strNroCampania" auto-complete="off" size="small"></el-input>
        </el-form-item>
        <el-form-item label="Peso:" class="marginFormItem">
          <el-input type="number" @change="changeFinos()" v-model="FormAgregar.fltPeso" auto-complete="off" size="small"></el-input>
        </el-form-item>
        <el-row>
          <el-col :span="18">
            <el-form-item label="Ley Au:" class="marginFormItem">
              <el-input type="number" @change="changeFinos()" v-model="FormAgregar.fltLeyAu" auto-complete="off" size="small"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="6" style="padding:10px 10px;font-weight:bold;font-size:13px" align="right">
            <span>{{getPorcentageFix(FormAgregar.fltLeyAu, 3)}}</span>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="18">
            <el-form-item label="Ley Ag:" class="marginFormItem">
              <el-input type="number" @change="changeFinos()" v-model="FormAgregar.fltLeyAg" auto-complete="off" size="small"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="6" style="padding:10px 10px;font-weight:bold;font-size:13px" align="right">
            <span>{{getPorcentageFix(FormAgregar.fltLeyAg, 3)}}</span>
          </el-col>
        </el-row>
        <el-form-item label="Fino Au:" class="marginFormItem">
          <el-input type="number" :value="getNumberFix(FormAgregar.fltFinoAu, 3)" disabled size="small"></el-input>
        </el-form-item>
        <el-form-item label="Fino Ag:" class="marginFormItem">
          <el-input type="number" :value="getNumberFix(FormAgregar.fltFinoAg, 3)" disabled size="small"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button size="small" @click="dialogAgregarVisible = false">Cancelar</el-button>
        <el-button type="primary" size="small" @click="AgregarBarraBullon(FormAgregar)">Agregar</el-button>
      </span>
    </el-dialog>

    <!--EDITAR VALORIZACION DE BULLON-->
    <el-dialog title="Editar Barra" size="tiny" :visible.sync="dialogEditarVisible" @close="dialogEditarVisible=false">
      <el-form :model="rowSelectedEdit" label-width="120px" label-position="left" style="padding:10px 20px">
        <el-form-item label="N° de Campaña:" class="marginFormItem">
          <el-input placeholder="Número Campaña" v-model="rowSelectedEdit.strNroCampania" auto-complete="off" size="small"></el-input>
        </el-form-item>
        <el-form-item label="Peso:" class="marginFormItem">
          <el-input type="number" @change="changeFinosEdit()" v-model="rowSelectedEdit.fltPeso" auto-complete="off" size="small"></el-input>
        </el-form-item>
        <el-row>
          <el-col :span="18">
            <el-form-item label="Ley Au:" class="marginFormItem">
              <el-input type="number" @change="changeFinosEdit()" v-model="rowSelectedEdit.fltLeyAu" auto-complete="off" size="small"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="6" style="padding:10px 10px;font-weight:bold;font-size:13px" align="right">
            <span>{{getPorcentageFix(rowSelectedEdit.fltLeyAu, 3)}}</span>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="18">
            <el-form-item label="Ley Ag:" class="marginFormItem">
              <el-input type="number" @change="changeFinosEdit()" v-model="rowSelectedEdit.fltLeyAg" auto-complete="off" size="small"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="6" style="padding:10px 10px;font-weight:bold;font-size:13px" align="right">
            <span>{{getPorcentageFix(rowSelectedEdit.fltLeyAg, 3)}}</span>
          </el-col>
        </el-row>
        <el-form-item label="Fino Au:" class="marginFormItem">
          <el-input type="number" :value="getNumberFix(rowSelectedEdit.fltFinoAu, 3)" disabled size="small"></el-input>
        </el-form-item>
        <el-form-item label="Fino Ag:" class="marginFormItem">
          <el-input type="number" :value="getNumberFix(rowSelectedEdit.fltFinoAg, 3)" disabled size="small"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button size="small" @click="dialogEditarVisible = false">Cancelar</el-button>
        <el-button type="primary" size="small" @click="EditarBarraBullon(rowSelectedEdit)">Guardar</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
  import ValorizacionBullonComponent from '@/components/planta/valorizacionBullon/valorizacionBullon.component'
  export default ValorizacionBullonComponent
</script>
<style>

</style>
