<template>
  <div class="" >
    <ol  style="margin-left: -1.5rem;background: linear-gradient(rgb(229, 241, 247) 0%, rgb(255, 255, 255) 100%);    margin-bottom: 0rem !important;">
        <quickaccessmenu v-on:guardarTodo="buscarLaboratorios($event)" v-on:backPage="backPage($event)"  v-on:reloadpage="reloadpage($event)"></quickaccessmenu>
        </ol>
    <el-card class="box-card" >
      <div slot="header" class="headercard"  >
        <span class="labelheadercard">Registrar Laboratorios</span>
        <!-- <el-button class="buttonfilter btn btn-outline-secondary orange" style="margin-top: -3px;" @click="buscarLaboratorios()">
            <img class="imagenfilter" src="../../images/buscari.png" style="margin-left: 0px;width: 15px;height: 16px;" alt="" >
        </el-button> -->
        <el-button class="buttonfilter btn btn-outline-secondary orange" style="margin-top: -3px;" @click="handleAgregar()">
            <img class="imagenfilter" src="../../images/nuevo.png" style="margin-left: 0px;width: 15px;height: 16px;" alt="" >
        </el-button>
        <el-button class="buttonfilter btn btn-outline-secondary orange" style="margin-top: -3px;" @click="handleEdit2()">
            <img class="imagenfilter" src="../../images/btn_editar.png" style="margin-left: 0px;width: 15px;height: 16px;" alt="" >
        </el-button>
      </div>
      <div class="row bodycard">
        <div class="container">
          <div class="row" >
            <div class="col-sm-3">
              <div class="form-group row " style="margin-top: 1px;">
                  <label class="el-form-item__label col-md-3" >Nombre</label>
                  <div class="col-md-7 grupolabel">
                    <div class="input-group mb-3" >
                      <el-input size="mini" type="search" v-model="FormSearch.strNombre" @keyup.enter.native="buscarLaboratorios()"></el-input>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <div align="right"
            style="background:#EEEEEE;padding-top:5px;padding-bottom:5px;font-size:13px">
            <span style="font-size:14px;">Total de Laboratorios: <b>{{countGridData}}</b></span>
          </div>
          <div class="headercard" >
            <buttons-accions v-on:Limpiar="clickactive('B')" v-on:Buscar="clickactive('A')" v-on:AscItem="AscItem" v-on:DscItem="DscItem" v-on:siguiente="siguiente()" v-on:anterior="anterior()" v-on:EliminarItem="EliminarItem()" ></buttons-accions>
          </div> 
          <el-table
          ref="missionTable"
            :data="gridData"
            stripe  :default-sort = "{prop: 'date', order: 'descending'}"
            border
            highlight-current-row
            :max-height="sizeScreen"
            class="ExcelTable2007"
            @row-click="seleccionarRow"
            v-loading="loadingGetData"
            element-loading-text="Cargando Zonas..."
            style="width:100%;font-size:10px;margin:10px 0px">
            <el-table-column prop="strNombre" label="NOMBRE LABORATORIO" min-width="100"></el-table-column>
            <el-table-column prop="strDescripcion" label="DESCRIPCIÓN" min-width="200"></el-table-column>
            <el-table-column prop="strUsuarioModif" label="USUARIO MODIFICA" align="center" min-width="100"></el-table-column>
            <!-- <el-table-column label="OPERACIONES" width="100" align="center" v-if="viewAccessEscritura">
              <template scope="scope">
                <el-button :plain="true" icon="edit" size="small" type="info"
                  @click="handleEdit(scope.$index, scope.row)">Modificar</el-button>
              </template>
            </el-table-column> -->
          </el-table>
          <el-row type="flex" class="row-bg">
            <el-col :span="3">
              <el-pagination layout="prev, pager, next" :total="totalRegistros" :page-size="RegistersForPage" :current-page.sync="pagina" @current-change="cambioPagina()">
              </el-pagination>
            </el-col>
          </el-row>
        </div>
      </div>
    </el-card>
    
    <!--AGREGAR LABORATORIO-->
    <el-dialog  title="Agregar Laboratorio" size="tiny" :visible.sync="dialogAgregarVisible">
      <el-form  :model="FormAgregar" label-width="90px" label-position="left" style="padding:10px 20px">
        <el-form-item label="Nombre:">
          <el-input placeholder="Nombre" v-model="FormAgregar.strNombre" auto-complete="off" size="small"></el-input>
        </el-form-item>
        <el-form-item label="Descripción:">
          <el-input placeholder="Descripción" v-model="FormAgregar.strDescripcion" auto-complete="off" size="small"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button size="small" @click="dialogAgregarVisible = false">Cancelar</el-button>
        <el-button type="primary" size="small" @click="AgregarLaboratorio(FormAgregar)"><i class="fa fa-plus"></i> Agregar</el-button>
      </span>
    </el-dialog>

    <!--MODIFICAR LABORATORIO-->
    <el-dialog  title="Modificar Laboratorio" size="tiny" :visible.sync="dialogEditarVisible">
      <el-form  :model="rowSelectedEdit" label-width="90px" label-position="left" style="padding:10px 20px">
        <el-form-item label="Nombre:">
          <el-input placeholder="Nombre" v-model="rowSelectedEdit.strNombre" auto-complete="off" size="small"></el-input>
        </el-form-item>
        <el-form-item label="Descripción:">
          <el-input placeholder="Descripción" v-model="rowSelectedEdit.strDescripcion" auto-complete="off" size="small"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button size="small" @click="dialogEditarVisible = false">Cancelar</el-button>
        <el-button type="primary" size="small" @click="EditarLaboratorio(rowSelectedEdit)">Guardar</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
  import RegistrarLaboratorioComponent from '@/components/RegistrarLaboratorio/registrarLaboratorio.component'
  export default RegistrarLaboratorioComponent
</script>
<style>

</style>
