<template>
  <div>
    <ol  style="margin-left: -1.5rem;background: linear-gradient(rgb(229, 241, 247) 0%, rgb(255, 255, 255) 100%);    margin-bottom: 0rem !important;">
        <quickaccessmenu v-on:ValidarItem="BuscarLotesTrujillo()" v-on:guardarTodo="guardarTodo($event)" v-on:backPage="backPage($event)"  v-on:reloadpage="reloadpage($event)"></quickaccessmenu>
        </ol>
    <el-card class="box-card" style="margin-top:5px;">
      <div slot="header" class="headercard">
        <span>LOTES TRUJILLO</span>
      </div>
      <div style="overflow: auto;">
        <table cellpadding="0" cellspacing="1" style="margin-left:10px;border-collapse: collapse;">
          <tr>
            <td class="texto_labelDialogLeft" style="padding-right: 20px">
              <el-button type="primary" size="small" @click="handleAgregar()" v-if="viewAccessEscritura">
                <i class="fa fa-plus"></i> Agregar
              </el-button>
            </td>
            <td style="border-left:1px solid #eef1f6;margin:0px 10px"><span style="color:#b3b3b3;margin:0px 15px;font-size:12px">Búsqueda</span></td>
            <td align="center" style="border-bottom:1px solid #1d90e6;border-left:1px solid #1d90e6;border-top:1px solid #1d90e6;">
              <span style="font-size:12px;color:#1d90e6;padding-left:10px"><b>All</b></span>
            </td>
            <td align="center" style="padding:3px 10px;border-bottom:1px solid #1d90e6;border-top:1px solid #1d90e6;border-right:1px solid #1d90e6;">
              <el-checkbox v-model="checkedSearch"></el-checkbox>
            </td>
            <td class="texto_labelDialogLeft" style="font-size:13px;padding-left:8px">Mes:</td>
            <td style="padding-top:3px;padding-left:8px;">
              <el-date-picker
                v-model="fechaSearch"
                type="month"
                size="mini"
                format="MMMM / yyyy"
                placeholder="Seleccione Mes"
                :editable = "false"
                @change="changeMonth()">
              </el-date-picker>
            </td>
            <td class="texto_labelDialogRight" style="font-size:13px;">N° Lote AS:</td>
            <td style="padding-top:3px;">
              <el-input type="search" placeholder="*" v-model="FormSearch.strNroAS" auto-complete="off" size="mini" @keyup.enter.native="BuscarLotesTrujillo()"></el-input>
            </td>
            <!-- <td style="padding-top:2px;padding-left:8px;">
              <el-button size="small" type="primary" icon="search" @click="BuscarLotesTrujillo()">Buscar</el-button>
            </td> -->
          </tr>
        </table>
      </div>
      <div class="headercard" >
        <buttons-accions v-on:Limpiar="clickactive('B')" v-on:Buscar="clickactive('A')" v-on:AscItem="AscItem" v-on:DscItem="DscItem" v-on:siguiente="siguiente()" v-on:anterior="anterior()" v-on:EliminarItem="EliminarItem()" ></buttons-accions>
      </div> 
      <el-table
      ref="missionTable"
        :data="gridData"
        stripe  :default-sort = "{prop: 'date', order: 'descending'}"
        border
        highlight-current-row
        :max-height="sizeScreen"
        v-loading="loadingGetData"
        element-loading-text="Cargando..."
        style="width: 100%; font-size: 10px;margin:5px 0px">
        <el-table-column label="N° Lote AS" fixed prop="strNroAS" align="center" width="80">
          <template scope="scope">
            <span style="font-weight:bold;color:red">{{scope.row.strLote}}</span>
          </template>
        </el-table-column>
        <el-table-column label="Fecha" align="center" width="80">
          <template scope="scope">
            <span>{{getDateString(scope.row.dtmFechaRecepcion)}}</span>
          </template>
        </el-table-column>
        <el-table-column label="Zona" prop="strProcedenciaSt" align="center" width="90"></el-table-column>
        <el-table-column label="Procedencia" prop="strProcedenciaLg" min-width="160"></el-table-column>
        <el-table-column label="RUC" prop="strClienteRuc" align="center" width="90"></el-table-column>
        <el-table-column label="Proveedor" prop="strClienteRazonS" width="250"></el-table-column>
        <el-table-column label="Material" prop="strMaterial" align="center" width="90"></el-table-column>
        <el-table-column label="N° Sacos" prop="intNroSacos" align="center" width="80"></el-table-column>
        <el-table-column label="Peso TMH" prop="fltPesoTmh" align="center" width="80"></el-table-column>
        <el-table-column label="%H2O" prop="strPorcH2O" align="center" width="70"></el-table-column>
        <el-table-column label="Peso Seco TM" prop="strPSecoTM" align="center" width="90"></el-table-column>
        <el-table-column label="Ley Au(Oz/Tc)" prop="strLeyAuOzTc" align="center" width="90"></el-table-column>
        <el-table-column label="Ley Ag(Oz/Tc)" prop="strLeyAgOzTc" align="center" width="90"></el-table-column>
        <el-table-column label="Fino-AS (Au/Gr)" align="center" width="100">
          <template scope="scope">
            <span style="font-size:11px"><b>{{scope.row.fltFinoAu}}</b></span>
          </template>
        </el-table-column>
        <el-table-column label="LOTES ASOCIADOS" align="center">
          <el-table-column label="Cant." prop="intCantLotes" align="center" width="50">
            <template scope="scope">
              <!-- <span style="color:blue;font-size:11px"><b>{{scope.row.intCantLotes}}</b></span> -->
              <el-tag v-if="(scope.row.intCantLotes<=0)" size="mini" type="danger">{{scope.row.intCantLotes}}</el-tag>
              <el-tag v-if="(scope.row.intCantLotes>0)" size="mini" type="success">{{scope.row.intCantLotes}}</el-tag>
            </template>
          </el-table-column>
          <el-table-column label="Fino(Au/Gr)" align="center" width="80">
            <template scope="scope">
              <span style="color:#365e9f;font-size:11px"><b>{{scope.row.fltLJFinoAu}}</b></span>
            </template>
          </el-table-column>
          <el-table-column label="Ver" align="center" width="40">
            <template scope="scope">
              <el-button size="mini"
                @click="handleVerLotes(scope.$index, scope.row)"><i class="fa fa-eye"></i></el-button>
            </template>
          </el-table-column>
        </el-table-column>
        <el-table-column label="Actualizar" fixed="right" align="center" width="85" v-if="viewAccessEscritura">
          <template scope="scope">
            <el-button size="mini" icon="edit" type="success"
              @click="handleEditarLote(scope.$index, scope.row)">Editar</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-row type="flex" class="row-bg" style="margin-bottom:5px">
        <el-col :span="11">
          <el-pagination layout="prev, pager, next" :total="totalRegistros" :page-size="RegistersForPage" :current-page.sync="pagina" @current-change="cambioPagina()">
          </el-pagination>
        </el-col>
        <el-col :span="8" style="margin-top:7px">
          <span style="font-size:14px;">Total de Lotes: <b>{{countGridData}}</b></span>
        </el-col>
      </el-row>
    </el-card>

    <!--AGREGAR LOTE TRUJILLO-->
    <el-dialog  title="AGREGAR LOTE: TRUJILLO" top="4%" size="large" :visible.sync="dialogAgregarLote" @close="dialogAgregarLote=false">
      <div style="background:#EEEEEE; width:100%;height:40px;">
        <table cellpadding="0" cellspacing="1" style="margin-bottom:10px; margin-left:20px;" class="hx">
          <tr>
            <td class="texto_labelDialogLeft" style="color:red;font-size:13px;">N° AS:</td>
            <td style="padding-top:3px;padding-left:5px;width:120px">
              <el-input v-model="FormAgregarLote.strLote" readonly auto-complete="off" size="small"></el-input>
            </td>
            <td style="padding-left:5px;padding-top:2px">
              <el-button icon="search" type="primary" size="small" @click="handleLeyesRef()"></el-button>
            </td>
            <td class="texto_labelDialogRight" style="font-size:13px;">N° Particiones:</td>
            <td style="padding-left:5px;padding-top:2px">
              <el-input-number v-model="NroParticiones" size="small" :step="1" :min="1" :max="10"></el-input-number>
            </td>
            <td class="texto_labelDialogRight" style="font-size:13px;">Fecha:</td>
            <td style="padding-top:3px;padding-left:5px;">
              <el-date-picker
                v-model="fechaAgregar"
                size="small"
                format="dd/MM/yyyy"
                placeholder="Seleccione fecha"
                :editable = "true">
              </el-date-picker>
            </td>
            <td class="texto_labelDialogRight" style="font-size:13px;">Lotes Asociados:</td>
            <td style="padding-top:3px;padding-left:5px;width:300px">
              <el-input v-model="lotesAsociados" type="search" readonly auto-complete="off" size="small"></el-input>
            </td>
            <td style="padding-left:5px;padding-top:2px">
              <el-button icon="search" type="primary" size="small" @click="handleBuscarLotesAsociados()"></el-button>
            </td>
          </tr>
        </table>
      </div>

      <el-row style="padding:5px 2%">
        <el-col :span="10">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#30476ccc;" align="center">
              <span>Datos Recepción</span>
            </div>
            <div class="containerForm">
              <el-row>
                <el-col :span="16">
                  <span>Zona:</span>
                  <el-input v-model="FormAgregarLote.strProcedenciaSt" auto-complete="off" size="mini"></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Procedencia:</span>
                  <el-input v-model="FormAgregarLote.strProcedenciaLg" auto-complete="off" size="mini"></el-input>
                  <!-- <br><div style="margin-top:5px"></div>
                  <span>Ruc:</span>
                  <el-input v-model="FormAgregarLote.strClienteRuc" auto-complete="off" size="mini"></el-input> -->
                  <br><div style="margin-top:5px"></div>
                  <span>Proveedor Mineral:</span><br>
                  <!-- <el-input v-model="FormAgregarLote.strClienteRazonS" auto-complete="off" size="mini"></el-input> -->
                  <el-select v-model="FormAgregarLote.strClienteRazonS" filterable clearable placeholder="Seleccione Proveedor" size="mini">
                    <el-option
                      v-for="item in dataProveedores"
                      :key="item.intIdProveedor"
                      :label="item.strRazonS"
                      :value="item.strRazonS">
                    </el-option>
                  </el-select>
                  <br><div style="margin-top:5px"></div>
                  <span>Observaciones:</span>
                  <el-input placeholder="Observaciones" v-model="FormAgregarLote.strObservacion" type="textarea"
                    auto-complete="off" size="mini"></el-input>
                </el-col>
                <el-col :span="8" style="padding-left:10px">
                  <span>Material:</span><br>
                  <el-select v-model="FormAgregarLote.strMaterial" placeholder="Seleccione Material" size="mini">
                    <el-option
                      v-for="item in dataMaterial"
                      :key="item.id_material"
                      :label="item.name"
                      :value="item.name">
                    </el-option>
                  </el-select>
                  <!-- <el-input v-model="FormAgregarLote.strMaterial" auto-complete="off" size="mini"></el-input> -->
                  <br><div style="margin-top:5px"></div>
                  <span>Nro Sacos:</span>
                  <el-input v-model="FormAgregarLote.intNroSacos" type="number" auto-complete="off" size="mini"></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Peso TMH:</span>
                  <el-input v-model="FormAgregarLote.fltPesoTmh" type="number" auto-complete="off" size="mini"></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Peso TMH Historico:</span>
                  <el-input v-model="FormAgregarLote.fltPesoTmhHistorico" type="number" auto-complete="off" size="mini"></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Dueño Mineral:</span>
                  <el-input v-model="FormAgregarLote.strDuenioMineral" auto-complete="off" size="mini"></el-input>
                </el-col>
              </el-row>
            </div>
          </div>
        </el-col>
        <el-col :span="7" style="padding-left:1%">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#1957b3b0;" align="center">
              <span>Transportista</span>
            </div>
            <div class="containerForm">
              <span>Nombre:</span>
              <el-input type="textarea" v-model="FormAgregarLote.strNombreTransportista" auto-complete="off" size="mini"></el-input>
              <br><div style="margin-top:5px"></div>
              <span>Nro. Placa:</span>
              <el-input v-model="FormAgregarLote.strNroPlaca" auto-complete="off" size="mini"></el-input>
              <br><div style="margin-top:5px"></div>
              <span>Guia Transportista:</span>
              <el-input v-model="FormAgregarLote.strGuiaTransport" auto-complete="off" size="mini"></el-input>
            </div>
          </div>
        </el-col>
        <el-col :span="7" style="padding-left:1%">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#e5dfd4;" align="center">
              <span style="color:#30476c">Acopiador</span>
            </div>
            <div class="containerForm">
              <span>Nombre:</span>
              <el-input v-model="FormAgregarLote.strNombreAcopiador" auto-complete="off" size="mini"></el-input>
            </div>
          </div>
          <div class="cardForm" style="margin-top:7px">
            <div class="cardForm_Header" style="background:#30476ccc;" align="center">
              <span>Guias de Remisión</span>
            </div>
            <div class="containerForm">
              <el-row>
                <el-col :span="12">
                  <span>Código Concesión:</span>
                  <el-input v-model="FormAgregarLote.strCodConcesion" auto-complete="off" size="mini"></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Nombre Concesión:</span>
                  <el-input v-model="FormAgregarLote.strNombreConcesion" auto-complete="off" size="mini"></el-input>
                </el-col>
                <el-col :span="12" style="padding-left:10px">
                  <span>Guia Remitente:</span>
                  <el-input v-model="FormAgregarLote.strGuiaRemitente" auto-complete="off" size="mini"></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Código Compromiso:</span>
                  <el-input v-model="FormAgregarLote.strCodCompromiso" auto-complete="off" size="mini"></el-input>
                </el-col>
              </el-row>
            </div>
          </div>
        </el-col>
      </el-row>

      <div class="cardForm_Header" style="background:#eeeeee;" align="center">
        <span style="color:#30476c">Datos Laboratorio</span>
      </div>
      <table cellpadding="0" cellspacing="1" style="margin-left:30px;">
        <tr>
          <td class="texto_labelDialogLeft" style="font-size:13px;">H2O(%):</td>
          <td style="padding-top:3px;padding-left:20px;"><el-input v-model="FormAgregarLote.strPorcH2O" placeholder="%Humedad" auto-complete="off" size="mini"></el-input></td>
          <!-- <td class="texto_labelDialogRight" style="font-size:13px;">P. SECO TM:</td>
          <td style="padding-top:3px;padding-left:20px;"><el-input :value="FormAgregarLote.strPSecoTM" auto-complete="off" size="mini" disabled></el-input></td> -->
        </tr>
      </table>

      <el-row style="padding:5px 2%">
        <el-col :span="9">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#30476ccc;" align="center">
              <span>Leyes</span>
            </div>
            <div class="containerForm">
              <el-row>
                <el-col :span="12">
                  <div style="background:#efebcd;width:100%;height:25px;padding-top:5px;border-radius:10px;" align="center">
                    <span>Au</span>
                  </div>
                  <div style="margin-top:5px"></div>
                  <span>Ley Au Oz/tc:</span>
                  <el-input v-model="FormAgregarLote.strLeyAuOzTc" disabled auto-complete="off" size="mini"></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Ley Au REE:</span>
                  <el-input v-model="FormAgregarLote.strLeyAuREE" disabled auto-complete="off" size="mini"></el-input>
                  <br><div style="margin-top:5px"></div>
                </el-col>
                <el-col :span="12" style="padding-left:10px">
                  <div style="background:#d4d4d4;width:100%;height:25px;padding-top:5px;border-radius:10px;" align="center">
                    <span>Ag</span>
                  </div>
                  <div style="margin-top:5px"></div>
                  <span>Ley Ag Oz/tc:</span>
                  <el-input v-model="FormAgregarLote.strLeyAgOzTc" disabled auto-complete="off" size="mini"></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Ley Ag REE:</span>
                  <el-input v-model="FormAgregarLote.strLeyAgREE" disabled auto-complete="off" size="mini"></el-input>
                  <br><div style="margin-top:5px"></div>
                </el-col>
              </el-row>
            </div>
          </div>
        </el-col>
        <el-col :span="9" style="padding-left:1%">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#1957b3b0;" align="center">
              <span>Recuperación</span>
            </div>
            <div class="containerForm">
              <el-row>
                <el-col :span="12">
                  <div style="background:#efebcd;width:100%;height:25px;padding-top:5px;border-radius:10px;" align="center">
                    <span>Au</span>
                  </div>
                  <div style="margin-top:5px"></div>
                  <span>RCP Ref (%):</span>
                  <el-input v-model="FormAgregarLote.strPorcRCPRef12hrs" auto-complete="off" size="mini"></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>RCP Au 48hrs (%):</span>
                  <el-input v-model="FormAgregarLote.strPorcRCPAu30hrs" auto-complete="off" size="mini"></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>RCP Au 72hrs (%):</span>
                  <el-input v-model="FormAgregarLote.strPorcRCPAu70hrs" auto-complete="off" size="mini"></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>REE % RCP Au 72hrs:</span>
                  <el-input v-model="FormAgregarLote.strPorcRCPReeAu72hrs" auto-complete="off" size="mini"></el-input>
                </el-col>
                <el-col :span="12" style="padding-left:10px">
                  <div style="background:#d4d4d4;width:100%;height:25px;padding-top:5px;border-radius:10px;" align="center">
                    <span>Ag</span>
                  </div>
                  <div style="margin-top:5px"></div>
                  <span>RCP Ag:</span>
                  <el-input v-model="FormAgregarLote.strPorcRCPAg30hrs" auto-complete="off" size="mini"></el-input>
                  <br><br>
                </el-col>
              </el-row>
            </div>
          </div>
        </el-col>
        <el-col :span="6" style="padding-left:1%">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#e5dfd4;" align="center">
              <span style="color:#30476c">Consumos</span>
            </div>
            <div class="containerForm">
              <span>NaCN (Kg/TM):</span>
              <el-input v-model="FormAgregarLote.strNaCNKgTM" auto-complete="off" size="mini"></el-input>
              <br><div style="margin-top:5px"></div>
              <span>NaOH (Kg/TM):</span>
              <el-input v-model="FormAgregarLote.strNaOHKgTM" auto-complete="off" size="mini"></el-input>
              <br><div style="margin-top:5px"></div>
              <span>Cobre (%):</span>
              <el-input v-model="FormAgregarLote.strPorcCobre" auto-complete="off" size="mini"></el-input>
            </div>
          </div>
        </el-col>
      </el-row>
      <div style="margin-top:7px"></div>
      <span slot="footer" class="dialog-footer">
        <!-- <el-button type="success" icon="edit" @click="TruncateNumber()">Truncate</el-button> -->
        <el-button type="danger" plain @click="dialogAgregarLote = false">Cancelar</el-button>
        <el-button type="primary" icon="edit" @click="AgregarLotesTrujillo(FormAgregarLote)">Guardar</el-button>
      </span>
    </el-dialog>


    <!--ACTCUALIZAR LOTE TRUJILLO-->
    <el-dialog  title="ACTUALIZAR LOTE: TRUJILLO" top="4%" size="large" :visible.sync="dialogEditarLote" @close="dialogEditarLote=false">
      <div style="background:#EEEEEE; width:100%;height:40px;">
        <table cellpadding="0" cellspacing="1" style="margin-bottom:10px; margin-left:30px;" class="hx">
          <tr>
            <td class="texto_labelDialogLeft" style="color:red;font-size:13px;">N° AS:</td>
            <td style="padding-top:3px;padding-left:5px;">
              <el-input v-model="rowSelectedEdit.strLote" readonly auto-complete="off" size="small"></el-input>
            </td>
            <td class="texto_labelDialogRight" style="font-size:13px;">Fecha:</td>
            <td style="padding-top:3px;padding-left:5px;">
              <el-date-picker
                v-model="fechaEditar"
                size="small"
                format="dd/MM/yyyy"
                placeholder="Seleccione fecha"
                :editable = "true">
              </el-date-picker>
            </td>
            <td class="texto_labelDialogRight" style="font-size:13px;">Lotes Asociados:</td>
            <td style="padding-top:3px;padding-left:5px;width:300px">
              <el-input v-model="lotesAsociadosEdit" type="search" auto-complete="off" size="small"></el-input>
            </td>
            <td style="padding-left:5px;padding-top:2px">
              <el-button icon="search" type="primary" size="small" @click="handleBuscarLotesAsociados()"></el-button>
            </td>
          </tr>
        </table>
      </div>

      <el-row style="padding:5px 2%">
        <el-col :span="10">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#30476ccc;" align="center">
              <span>Datos Recepción</span>
            </div>
            <div class="containerForm">
              <el-row>
                <el-col :span="16">
                  <span>Zona:</span>
                  <el-input v-model="rowSelectedEdit.strProcedenciaSt" auto-complete="off" size="mini"></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Procedencia:</span>
                  <el-input v-model="rowSelectedEdit.strProcedenciaLg" auto-complete="off" size="mini"></el-input>
                  <!-- <br><div style="margin-top:5px"></div>
                  <span>Ruc:</span>
                  <el-input v-model="rowSelectedEdit.strClienteRuc" auto-complete="off" size="mini"></el-input> -->
                  <br><div style="margin-top:5px"></div>
                  <span>Proveedor Mineral:</span><br>
                  <!-- <el-input v-model="rowSelectedEdit.strClienteRazonS" auto-complete="off" size="mini"></el-input> -->
                  <el-select v-model="rowSelectedEdit.strClienteRazonS" filterable clearable placeholder="Seleccione Proveedor" size="mini">
                    <el-option
                      v-for="item in dataProveedores"
                      :key="item.intIdProveedor"
                      :label="item.strRazonS"
                      :value="item.strRazonS">
                    </el-option>
                  </el-select>
                  <br><div style="margin-top:5px"></div>
                  <span>Observaciones:</span>
                  <el-input placeholder="Observaciones" v-model="rowSelectedEdit.strObservacion" type="textarea"
                    auto-complete="off" size="mini"></el-input>
                </el-col>
                <el-col :span="8" style="padding-left:10px">
                  <span>Material:</span>
                  <!-- <el-input v-model="rowSelectedEdit.strMaterial" auto-complete="off" size="mini"></el-input> -->
                  <el-select v-model="rowSelectedEdit.strMaterial" placeholder="Seleccione Material" size="mini">
                    <el-option
                      v-for="item in dataMaterial"
                      :key="item.id_material"
                      :label="item.name"
                      :value="item.name">
                    </el-option>
                  </el-select>
                  <br><div style="margin-top:5px"></div>
                  <span>Nro Sacos:</span>
                  <el-input v-model="rowSelectedEdit.intNroSacos" type="number" auto-complete="off" size="mini"></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Peso TMH:</span>
                  <el-input v-model="rowSelectedEdit.fltPesoTmh" disabled type="number" auto-complete="off" size="mini"></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Peso TMH Historico:</span>
                  <el-input v-model="rowSelectedEdit.fltPesoTmhHistorico" disabled type="number" auto-complete="off" size="mini"></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Dueño Mineral:</span>
                  <el-input v-model="rowSelectedEdit.strDuenioMineral" auto-complete="off" size="mini"></el-input>
                </el-col>
              </el-row>
            </div>
          </div>
        </el-col>
        <el-col :span="7" style="padding-left:1%">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#1957b3b0;" align="center">
              <span>Transportista</span>
            </div>
            <div class="containerForm">
              <span>Nombre:</span>
              <el-input type="textarea" v-model="rowSelectedEdit.strNombreTransportista" auto-complete="off" size="mini"></el-input>
              <br><div style="margin-top:5px"></div>
              <span>Nro. Placa:</span>
              <el-input v-model="rowSelectedEdit.strNroPlaca" auto-complete="off" size="mini"></el-input>
              <br><div style="margin-top:5px"></div>
              <span>Guia Transportista:</span>
              <el-input v-model="rowSelectedEdit.strGuiaTransport" auto-complete="off" size="mini"></el-input>
            </div>
          </div>
        </el-col>
        <el-col :span="7" style="padding-left:1%">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#e5dfd4;" align="center">
              <span style="color:#30476c">Acopiador</span>
            </div>
            <div class="containerForm">
              <span>Nombre:</span>
              <el-input v-model="rowSelectedEdit.strNombreAcopiador" auto-complete="off" size="mini"></el-input>
            </div>
          </div>
          <div class="cardForm" style="margin-top:7px">
            <div class="cardForm_Header" style="background:#30476ccc;" align="center">
              <span>Guias de Remisión</span>
            </div>
            <div class="containerForm">
              <el-row>
                <el-col :span="12">
                  <span>Código Concesión:</span>
                  <el-input v-model="rowSelectedEdit.strCodConcesion" auto-complete="off" size="mini"></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Nombre Concesión:</span>
                  <el-input v-model="rowSelectedEdit.strNombreConcesion" auto-complete="off" size="mini"></el-input>
                </el-col>
                <el-col :span="12" style="padding-left:10px">
                  <span>Guia Remitente:</span>
                  <el-input v-model="rowSelectedEdit.strGuiaRemitente" auto-complete="off" size="mini"></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Código Compromiso:</span>
                  <el-input v-model="rowSelectedEdit.strCodCompromiso" auto-complete="off" size="mini"></el-input>
                </el-col>
              </el-row>
            </div>
          </div>
        </el-col>
      </el-row>

      <div class="cardForm_Header" style="background:#eeeeee;" align="center">
        <span style="color:#30476c">Datos Laboratorio</span>
      </div>
      <table cellpadding="0" cellspacing="1" style="margin-left:30px;">
        <tr>
          <td class="texto_labelDialogLeft" style="font-size:13px;">H2O(%):</td>
          <td style="padding-top:3px;padding-left:20px;"><el-input v-model="rowSelectedEdit.strPorcH2O" auto-complete="off" size="mini"></el-input></td>
          <td class="texto_labelDialogRight" style="font-size:13px;">P. SECO TM:</td>
          <td style="padding-top:3px;padding-left:20px;"><el-input :value="rowSelectedEdit.strPSecoTM" auto-complete="off" size="mini" disabled></el-input></td>
        </tr>
      </table>

      <el-row style="padding:5px 2%">
        <el-col :span="9">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#30476ccc;" align="center">
              <span>Leyes</span>
            </div>
            <div class="containerForm">
              <el-row>
                <el-col :span="12">
                  <div style="background:#efebcd;width:100%;height:25px;padding-top:5px;border-radius:10px;" align="center">
                    <span>Au</span>
                  </div>
                  <div style="margin-top:5px"></div>
                  <span>Ley Au Oz/tc:</span>
                  <el-input v-model="rowSelectedEdit.strLeyAuOzTc" disabled auto-complete="off" size="mini"></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Ley Au REE:</span>
                  <el-input v-model="rowSelectedEdit.strLeyAuREE" disabled auto-complete="off" size="mini"></el-input>
                  <br><div style="margin-top:5px"></div>
                </el-col>
                <el-col :span="12" style="padding-left:10px">
                  <div style="background:#d4d4d4;width:100%;height:25px;padding-top:5px;border-radius:10px;" align="center">
                    <span>Ag</span>
                  </div>
                  <div style="margin-top:5px"></div>
                  <span>Ley Ag Oz/tc:</span>
                  <el-input v-model="rowSelectedEdit.strLeyAgOzTc" disabled auto-complete="off" size="mini"></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Ley Ag REE:</span>
                  <el-input v-model="rowSelectedEdit.strLeyAgREE" disabled auto-complete="off" size="mini"></el-input>
                  <br><div style="margin-top:5px"></div>
                </el-col>
              </el-row>
            </div>
          </div>
        </el-col>
        <el-col :span="9" style="padding-left:1%">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#1957b3b0;" align="center">
              <span>Recuperación</span>
            </div>
            <div class="containerForm">
              <el-row>
                <el-col :span="12">
                  <div style="background:#efebcd;width:100%;height:25px;padding-top:5px;border-radius:10px;" align="center">
                    <span>Au</span>
                  </div>
                  <div style="margin-top:5px"></div>
                  <span>RCP Ref (%):</span>
                  <el-input v-model="rowSelectedEdit.strPorcRCPRef12hrs" auto-complete="off" size="mini"></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>RCP Au 48hrs (%):</span>
                  <el-input v-model="rowSelectedEdit.strPorcRCPAu30hrs" auto-complete="off" size="mini"></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>RCP Au 72hrs (%):</span>
                  <el-input v-model="rowSelectedEdit.strPorcRCPAu70hrs" auto-complete="off" size="mini"></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>REE % RCP Au 72hrs:</span>
                  <el-input v-model="rowSelectedEdit.strPorcRCPReeAu72hrs" auto-complete="off" size="mini"></el-input>
                </el-col>
                <el-col :span="12" style="padding-left:10px">
                  <div style="background:#d4d4d4;width:100%;height:25px;padding-top:5px;border-radius:10px;" align="center">
                    <span>Ag</span>
                  </div>
                  <div style="margin-top:5px"></div>
                  <span>RCP Ag:</span>
                  <el-input v-model="rowSelectedEdit.strPorcRCPAg30hrs" auto-complete="off" size="mini"></el-input>
                  <br><br>
                </el-col>
              </el-row>
            </div>
          </div>
        </el-col>
        <el-col :span="6" style="padding-left:1%">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#e5dfd4;" align="center">
              <span style="color:#30476c">Consumos</span>
            </div>
            <div class="containerForm">
              <span>NaCN (Kg/TM):</span>
              <el-input v-model="rowSelectedEdit.strNaCNKgTM" auto-complete="off" size="mini"></el-input>
              <br><div style="margin-top:5px"></div>
              <span>NaOH (Kg/TM):</span>
              <el-input v-model="rowSelectedEdit.strNaOHKgTM" auto-complete="off" size="mini"></el-input>
              <br><div style="margin-top:5px"></div>
              <span>Cobre (%):</span>
              <el-input v-model="rowSelectedEdit.strPorcCobre" auto-complete="off" size="mini"></el-input>
            </div>
          </div>
        </el-col>
      </el-row>
      <div style="margin-top:7px"></div>
      <span slot="footer" class="dialog-footer">
        <el-button type="danger" plain @click="dialogEditarLote = false">Cancelar</el-button>
        <el-button type="primary" icon="edit" @click="ActualizarLoteTrujillo(rowSelectedEdit)">Guardar</el-button>
      </span>
    </el-dialog>

    <!-- BUSQUEDA DE LOTES -->
    <el-dialog  title="Buscar Lotes Asociados" size="small" :visible.sync="dialogBuscarLotesVisible">
      <table cellpadding="0" cellspacing="1" style="margin-bottom:10px; margin-left:10px;" class="hx">
        <tr>
          <!-- <td align="center" style="border-bottom:1px solid #1d90e6;border-left:1px solid #1d90e6;border-top:1px solid #1d90e6;">
            <span style="font-size:12px;color:#1d90e6;padding-left:3px"><b>All</b></span>
          </td>
          <td align="center" style="padding:3px 5px;border-bottom:1px solid #1d90e6;border-top:1px solid #1d90e6;border-right:1px solid #1d90e6;">
            <el-checkbox v-model="checkedSearchLotes"></el-checkbox>
          </td> -->
          <td class="texto_labelDialogRight" style="font-size:13px;">Mes:</td>
          <td style="padding-top:3px;padding-left:3px;">
            <el-date-picker
              v-model="fechaSearchLotes"
              size="mini"
              type="month"
              format="MMMM / yyyy"
              placeholder="Seleccione fecha"
              :editable = "true">
            </el-date-picker>
          </td>
          <!-- <td class="texto_labelDialogRight" style="font-size:13px;">Lote:</td>
          <td style="padding-top:3px;padding-left:3px;">
            <el-input type="search" v-model="FormSearchLote.strLote" auto-complete="off" size="mini" @keyup.enter.native="ObtenerLotes()"></el-input>
          </td> -->
          <td style="padding-left:5px;padding-top:2px">
            <el-button icon="search" type="primary" size="small" @click="ObtenerLotes()"></el-button>
          </td>
        </tr>
      </table>

      <div style="margin: 5px 10px">
        <el-table
          ref="multipleTableLT"
          :data="dataLotes"
          border
          max-height="350"
          v-loading="loadingGetLotes"
          element-loading-text="Cargando..."
          style="width: 100%; font-size: 11px;"
          @selection-change="handleSelectionChange">
          <el-table-column type="selection" width="45" align="center"></el-table-column>
          <el-table-column label="LOTE" align="center" width="78">
            <template scope="scope">
              <span style="color:red;font-weight:bold">{{scope.row.strLote}}</span>
            </template>
          </el-table-column>
          <el-table-column label="Sub Lote" align="center" width="75">
            <template scope="scope">
              <span style=";font-weight:bold">{{scope.row.strSubLote}}</span>
            </template>
          </el-table-column>
          <el-table-column prop="strProcedenciaSt" label="Zona" width="90" align="center"></el-table-column>
          <el-table-column label="Fecha Recep." align="center" width="90">
            <template scope="scope">
              <span>{{ getDateString(scope.row.dtmFechaRecepcion) }}</span>
            </template>
          </el-table-column>
          <el-table-column prop="intNroSacos" label="N° Sacos" align="center" width="75"></el-table-column>
          <el-table-column prop="fltPesoTmh" label="Peso TMH" align="center" width="75"></el-table-column>
          <el-table-column prop="strObservacion" label="Observaciones" align="center" min-width="120"></el-table-column>
        </el-table>
      </div>
      <div align="center">
        <span style="font-size:14px;">Total de Lotes: <b>{{countLotesLJ}}</b></span>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button size="small" type="primary" @click="dialogBuscarLotesVisible = false"><i class="fa fa-check"></i> Ok</el-button>
      </span>
    </el-dialog>

    <!-- VER LOTES ASOCIADOS -->
    <el-dialog  title="LOTES ASOCIADOS" size="large" :visible.sync="dialogVerLotesAsoc">
      <div style="margin: 5px 10px">
        <el-table
          :data="dataVerLotes"
          border
          max-height="350"
          v-loading="loadingVerLotes"
          element-loading-text="Cargando..."
          style="width: 100%; font-size: 10px;">
          <el-table-column label="LOTE" align="center" width="65">
            <template scope="scope">
              <span style="color:red;font-weight:bold">{{scope.row.strLote}}</span>
            </template>
          </el-table-column>
          <el-table-column prop="strSubLote" label="Sub Lote" width="65" align="center"></el-table-column>
          <el-table-column label="Fec. Recepción" align="center" width="90">
            <template scope="scope">
              <span>{{ getDateString(scope.row.dtmFechaRecepcion) }}</span>
            </template>
          </el-table-column>
          <el-table-column prop="strProcedenciaSt" label="Zona" width="85" align="center"></el-table-column>
          <el-table-column prop="strClienteRazonS" label="Proveedor" width="200"></el-table-column>
          <el-table-column prop="strMaterial" label="Material" width="65" align="center"></el-table-column>
          <el-table-column prop="intNroSacos" label="N° Sacos" width="65" align="center"></el-table-column>
          <el-table-column prop="fltPesoTmh" label="Peso TMH" align="center" width="75"></el-table-column>
          <el-table-column prop="strH2OCom" label="H2O Com" align="center" width="75"></el-table-column>
          <el-table-column prop="strPSecoCom" label="PSeco Com" align="center" width="85"></el-table-column>
          <el-table-column label="Fino(Au/Gr)" align="center" width="90">
            <template scope="scope">
              <span style="color:#365e9f;font-size:11px"><b>{{scope.row.fltFinoAu}}</b></span>
            </template>
          </el-table-column>

          <el-table-column prop="strPorcRCPRef12hrs" label="% RCP Ref" width="80" align="center"></el-table-column>
          <el-table-column prop="strPorcRCPAu30hrs" label="% RCP Au 48hrs" width="100" align="center"></el-table-column>
          <el-table-column prop="strPorcRCPAu70hrs" label="% RCP Au 72hrs" width="100" align="center"></el-table-column>
          <el-table-column prop="strPorcRCPReeAu72hrs" label="REE % RCP Au 72hrs" width="120" align="center"></el-table-column>
          <el-table-column prop="strLeyAuOzTc" label="Ley Au Oz/tc" align="center" width="85"></el-table-column>
          <el-table-column prop="strLeyAgOzTc" label="Ley Ag Oz/tc" align="center" width="85"></el-table-column>
          <el-table-column prop="strLeyAuREE" label="Ley Au REE" align="center" width="80"></el-table-column>
          <el-table-column prop="strLeyAgREE" label="Ley Ag REE" align="center" width="80"></el-table-column>
          <el-table-column prop="strLeyAuComercial" label="Ley Au Comercial" align="center" width="110"></el-table-column>
          <el-table-column prop="strLeyAgComercial" label="Ley Ag Comercial" align="center" width="110"></el-table-column>
          <el-table-column prop="strPorcCobre" label="Cobre %" width="65" align="center"></el-table-column>
          <el-table-column prop="strNaOHKgTM" label="NaOH (kg/TM)" width="90" align="center"></el-table-column>
          <el-table-column prop="strNaCNKgTM" label="NaCN (Kg/TM)" width="90" align="center"></el-table-column>
        </el-table>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button size="small" @click="dialogVerLotesAsoc = false">Cerrar</el-button>
      </span>
    </el-dialog>

    <!-- BUSQUEDA DE LEYES REFERENCIALES -->
    <el-dialog  title="Buscar Leyes Referenciales" size="small" :visible.sync="dialogBuscarLeyesRefVisible">
      <table style="margin-bottom:10px; margin-left:10px;">
        <tr>
          <td class="texto_labelDialogRight" style="font-size:13px;">Codigo:</td>
          <td style="padding-top:3px;padding-left:3px;">
            <el-input type="search" v-model="CodigoLeyRef" auto-complete="off" size="mini"
              @keyup.enter.native="BuscarLeyesReferenciales()"></el-input>
          </td>
          <td style="padding-left:5px;padding-top:2px">
            <el-button icon="search" type="primary" size="mini" @click="BuscarLeyesReferenciales()">Buscar</el-button>
          </td>
        </tr>
      </table>

      <div style="margin: 5px 10px">
        <el-table
          :data="dataLeyesRef"
          border
          v-loading="loadingGetLeyesRef"
          element-loading-text="Cargando..."
          style="width: 100%; font-size: 10px;">
          <el-table-column label="Seleccionar" width="90" align="center">
            <template scope="scope">
              <el-button type="text" size="small" @click="SeleccionarLeyRef(scope.$index, scope.row)"><u>Seleccionar</u></el-button>
            </template>
          </el-table-column>
          <el-table-column label="Item" align="center" width="80">
            <template scope="scope">
              <span style="color:red;font-size:11px"><b>{{ scope.row.strCorrelativo}}</b></span>
            </template>
          </el-table-column>
          <el-table-column label="Fecha Rec." width="80" align="center">
            <template scope="scope">
              <span>{{ getDateString(scope.row.dtmFechaRecepcion) }}</span>
            </template>
          </el-table-column>
          <el-table-column prop="strDescripcion" label="Código" width="90" align="center">
            <template scope="scope">
              <span style="font-size:12px;font-weight:bold">{{scope.row.strDescripcion}}</span>
            </template>
          </el-table-column>
          <el-table-column prop="strTipoMineral" label="Tipo Mineral" align="center"></el-table-column>
          <el-table-column prop="strZona" label="Procedencia" align="center"></el-table-column>
          <el-table-column prop="strAcopiador" label="Responsable" align="center"></el-table-column>
          <el-table-column prop="strLeyAuOzTc" label="Ley Au Oz/Tc" align="center"></el-table-column>
          <el-table-column prop="strLeyAgOzTc" label="Ley Ag Oz/Tc" align="center"></el-table-column>
        </el-table>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button size="small" type="danger" plain @click="dialogBuscarLeyesRefVisible = false">Cerrar</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
  import LotesTrujilloComponent from '@/components/LotesTrujillo/lotesTrujillo.component'
  export default LotesTrujilloComponent
</script>
<style>

</style>
