<template>
  <div>
    <ol  style="margin-left: -1.5rem;background: linear-gradient(rgb(229, 241, 247) 0%, rgb(255, 255, 255) 100%);    margin-bottom: 0rem !important;">
        <quickaccessmenu v-on:ValidarItem="BuscarReporte()" v-on:backPage="backPage($event)"  v-on:reloadpage="reloadpage($event)"></quickaccessmenu>
        </ol>
    <el-card class="box-card" style="margin-top:5px;">
      <div slot="header" class="headercard">
        <span class="labelheadercard">REPORTE ACOPIADOR / ZONA</span>
      </div>
      <div >
        <table cellpadding="0" cellspacing="1" style="border-collapse:collapse;">
          <tr>
            <td class="texto_labelDialogLeft" style="font-size:13px;padding-left:12px">Mes:</td>
            <td style="padding-top:3px;padding-left:20px;">
              <el-date-picker
                v-model="fechaSearch"
                type="month"
                size="mini"
                format="MMMM / yyyy"
                placeholder="Seleccione Mes"
                :editable = "false">
              </el-date-picker>
            </td>
            <td class="texto_labelDialogLeft" style="font-size:13px;padding-left:12px">Acopiador:</td>
            <td style="padding-top:3px;padding-left:20px;">
              <el-input v-model="FormSearch.strAcopiador" @keyup.enter.native="BuscarReporte()" size="mini" auto-complete="off" placeholder="*"></el-input>
            </td>
            <td class="texto_labelDialogRight" style="font-size:13px;">Zona:</td>
            <td style="padding-top:3px;padding-left:20px;">
              <el-select v-model="FormSearch.strZona" @keyup.enter.native="BuscarReporte()" clearable filterable placeholder="" size="mini">
                <el-option
                  v-for="item in dataZonas"
                  :key="item.strZona"
                  :label="item.strZona"
                  :value="item.strZona">
                </el-option>
              </el-select>
            </td>
            <!-- <td style="padding-top:3px;padding-left:20px;">
              <el-button size="small" type="primary" icon="search" @click="BuscarReporte()">Cargar Reporte</el-button>
            </td> -->
          </tr>
        </table>
      </div>
      <div class="headercard" >
        <buttons-accions v-on:Limpiar="clickactive('B')" v-on:Buscar="clickactive('A')" v-on:AscItem="AscItem" v-on:DscItem="DscItem" v-on:siguiente="siguiente()" v-on:anterior="anterior()" v-on:EliminarItem="EliminarItem()" ></buttons-accions>
      </div>
      <el-table
      ref="missionTable"
        :data="gridData"
        stripe  :default-sort = "{prop: 'date', order: 'descending'}"
        border
        highlight-current-row
        show-summary
        :max-height="sizeScreen"
        class="ExcelTable2007"
        :summary-method="getSummaries"
        v-loading="loadingGetData"
        element-loading-text="Cargando Acopiador/Zona..."
        style="width:100%;font-size:10px;margin:10px 0px">
        <el-table-column prop="strAcopiador" label="Acopiador" min-width="120"></el-table-column>
        <el-table-column prop="strZona" label="Zona" min-width="120"></el-table-column>
        <el-table-column label="Peso TMH" align="center" width="90">
          <template scope="scope">
            <span>{{getNumberFloat(scope.row.fltSumPesoTmh)}}</span>
          </template>
        </el-table-column>
        <el-table-column label="Peso TMS Acum." align="center" width="115">
          <template scope="scope">
            <span>{{getNumberFloat(scope.row.fltSumPSecoTM)}}</span>
          </template>
        </el-table-column>
        <el-table-column label="Pond. Ley Au Oz/tc" align="center" width="135">
          <template scope="scope">
            <span>{{getPromedioLeyAu(scope.row)}}</span>
          </template>
        </el-table-column>
        <el-table-column label="Pond. Ley Ag Oz/Tc" align="center" width="135">
          <template scope="scope">
            <span>{{getPromedioLeyAg(scope.row)}}</span>
          </template>
        </el-table-column>
        <el-table-column label="Prom. Fino(Au/Gr)" align="center" width="125">
          <template scope="scope">
            <span>{{getNumberFloat(scope.row.fltPromFinoAuGr)}}</span>
          </template>
        </el-table-column>
      </el-table>
      <!-- <download-excel :data="gridData" :fields = "json_fields" :meta = "json_meta" :name = "titleExcel" v-if="viewAccessEscritura">
      </download-excel> -->
    </el-card>
  </div>
</template>
<script>
  import ReporteAcopiadorZonaComponent from '@/components/Reportes/ReporteAcopiadorZona/reporteAcopiadorZona.component'
  export default ReporteAcopiadorZonaComponent
</script>
<style>

</style>
