<template>
  <div>
    <ol  style="margin-left: -1.5rem;background: linear-gradient(rgb(229, 241, 247) 0%, rgb(255, 255, 255) 100%);    margin-bottom: 0rem !important;">
        <quickaccessmenu v-on:ValidarItem="BuscarReporte()" v-on:backPage="backPage($event)"  v-on:reloadpage="reloadpage($event)"></quickaccessmenu>
        </ol>
    <el-tabs type="border-card" @tab-click="handleClick" value="first" style="margin-top:5px;">
      <el-tab-pane label="Resumen" name="first">
        <el-card class="box-card">
          <div slot="header" class="headercard">
            <span class="labelheadercard">MARGEN DIARIO - RESUMEN</span>
          </div>
          <div >
            <table cellpadding="0" cellspacing="1">
              <tr>
                <td class="texto_labelDialogLeft" style="font-size:13px;">Fecha:</td>
                <td style="padding-top:3px;padding-left:3px;">
                  <el-date-picker
                    v-model="fechaSearch"
                    format="dd/MM/yyyy"
                    size="mini"
                    placeholder="Seleccione mes"
                    :editable = "false">
                  </el-date-picker>
                </td>
                <!-- <td style="padding-top:3px;padding-left:20px;">
                  <el-button size="small" type="primary" icon="search" @click="BuscarReporte()">Cargar Reporte</el-button>
                </td> -->
              </tr>
            </table>
          </div>
          <div class="headercard" >
            <buttons-accions v-on:Limpiar="clickactive('B')" v-on:Buscar="clickactive('A')" v-on:AscItem="AscItem" v-on:DscItem="DscItem" v-on:siguiente="siguiente()" v-on:anterior="anterior()" v-on:EliminarItem="EliminarItem()" ></buttons-accions>
          </div>
          <el-table
           ref="missionTable"
            :data="gridData"
            stripe  :default-sort = "{prop: 'date', order: 'descending'}"
            border
            highlight-current-row
            :max-height="sizeScreen"
            v-loading="loadingGetData"
            show-summary
            :summary-method="getSummaries"
            element-loading-text="Cargando lotes..."
            style="width:100%;font-size:10px;margin:5px 0px">
            <el-table-column label="REGIÓN" prop="strRegion" align="center" width="100"></el-table-column>
            <el-table-column label="PESO TMH" align="center" width="90">
              <template scope="scope">
                <span>{{getNumberFix(scope.row.fltPesoTMHSum, 3)}}</span>
              </template>
            </el-table-column>
            <el-table-column label="UTILIDAD" align="center" width="90">
              <template scope="scope">
                <span>{{getNumberFix(scope.row.fltUtilidadBruSum, 2)}}</span>
              </template>
            </el-table-column>
            <el-table-column label="MARGEN" align="center" width="90">
              <template scope="scope">
                <span>{{getPorcentageFix(scope.row.fltMargenBruProm, 2)}}</span>
              </template>
            </el-table-column>
            <el-table-column label="PRECIO INTER" align="center" width="95">
              <template scope="scope">
                <span>{{getNumberFix(scope.row.fltPrecioInterAu, 2)}}</span>
              </template>
            </el-table-column>
            <el-table-column label="PROPUESTA AU" align="center">
              <el-table-column label="RECUPERACION" align="center" width="100">
                <template scope="scope">
                  <span>{{getNumberFix(scope.row.fltRecuperacionProm, 2)}}</span>
                </template>
              </el-table-column>
              <el-table-column label="MAQUILA" align="center" width="80">
                <template scope="scope">
                  <span>{{getNumberFix(scope.row.fltMaquilaProm, 2)}}</span>
                </template>
              </el-table-column>
              <el-table-column label="MARGEN PI" align="center" width="90">
                <template scope="scope">
                  <span>{{getNumberFix(scope.row.fltMargenPIProm, 2)}}</span>
                </template>
              </el-table-column>
              <el-table-column label="CONSUMO Q" align="center" width="90">
                <template scope="scope">
                  <span>{{getNumberFix(scope.row.fltConsumoQProm, 2)}}</span>
                </template>
              </el-table-column>
              <el-table-column label="GASTO ADM." align="center" width="90">
                <template scope="scope">
                  <span>{{getNumberFix(scope.row.fltGastoAdmProm, 2)}}</span>
                </template>
              </el-table-column>
            </el-table-column>
            <el-table-column label="INTERNO" align="center">
              <el-table-column prop="fltRecIntAuProm" label="RECUP." align="center" width="90"></el-table-column>
              <el-table-column prop="fltMaquilaIntAuProm" label="MAQUILA" align="center" width="90"></el-table-column>
              <el-table-column prop="fltConsQIntAuProm" label="CONS. Q" align="center" width="85"></el-table-column>
              <el-table-column label="GASTO ADM." align="center" width="90">
                <template scope="scope">
                  <span>{{getNumberFix(scope.row.fltGastoAdmIntAuProm, 2)}}</span>
                </template>
              </el-table-column>
            </el-table-column>
          </el-table>
        </el-card>
      </el-tab-pane>
      <el-tab-pane label="Detallado" name="second">
        <el-card class="box-card">
          <div slot="header" class="clearfix" align="center">
            <span>MARGEN DIARIO - DETALLADO</span>
          </div>
          <div align="center">
            <table cellpadding="0" cellspacing="1">
              <tr>
                <td class="texto_labelDialogLeft" style="font-size:13px;">Fecha:</td>
                <td style="padding-top:3px;padding-left:3px;">
                  <el-date-picker
                    v-model="fechaSearchDet"
                    format="dd/MM/yyyy"
                    size="mini"
                    placeholder="Seleccione fecha"
                    :editable = "false">
                  </el-date-picker>
                </td>
                <!-- <td class="texto_labelDialogRight" style="font-size:13px;">Lote:</td>
                <td style="padding-top:3px;padding-left:3px;">
                  <el-input v-model="FormSearchDet.strLote" size="mini" type="search" @keyup.enter.native="BuscarReporteDetallado()"></el-input>
                </td>
                <td class="texto_labelDialogRight" style="font-size:13px;">Zona:</td>
                <td style="padding-top:3px;padding-left:3px;">
                  <el-select v-model="FormSearchDet.strProcedenciaSt" clearable placeholder="" size="mini" filterable @keyup.enter.native="BuscarReporteDetallado()">
                    <el-option
                      v-for="item in dataZonas"
                      :key="item.strZona"
                      :label="item.strZona"
                      :value="item.strZona">
                    </el-option>
                  </el-select>
                </td>
                <td class="texto_labelDialogRight" style="font-size:13px;">Region:</td>
                <td style="padding-top:3px;padding-left:3px;">
                  <el-input v-model="FormSearchDet.strRegion" size="mini" type="search" @keyup.enter.native="BuscarReporteDetallado()"></el-input>
                </td> -->
                <td style="padding-top:3px;padding-left:20px;">
                  <el-button size="small" type="primary" icon="search" @click="BuscarReporteDetallado()">Cargar Reporte</el-button>
                </td>
              </tr>
            </table>
          </div>
          <el-table
            :data="gridDataDetallado"
            border
            highlight-current-row
            :max-height="sizeScreen"
            v-loading="loadingGetDataDet"
            show-summary
            :summary-method="getSummariesDet"
            element-loading-text="Cargando lotes..."
            style="width:100%;font-size:10px;margin:5px 0px">
            <el-table-column label="LOTE" align="center" width="80">
              <template scope="scope">
                <span style="color:red;font-weight:bold;font-size:11px">{{scope.row.strLote}}</span>
              </template>
            </el-table-column>
            <el-table-column label="FECHA LIQUID." align="center" width="100">
              <template scope="scope">
                <span style="font-weight:bold">{{scope.row.strFechaRecepcion}}</span>
              </template>
            </el-table-column>
            <el-table-column label="Estado" width="90" align="center">
              <template scope="scope">
                <span style="text-transform: uppercase;">{{scope.row.strEstadoLiq}}</span>
              </template>
            </el-table-column>
            <el-table-column prop="strProcedenciaSt" label="ZONA" align="center" width="100"></el-table-column>
            <el-table-column prop="strRegion" label="REGION" align="center" width="100"></el-table-column>
            <el-table-column label="PESO TMH" align="center" width="90">
              <template scope="scope">
                <span>{{getNumberFix(scope.row.fltPesoTmh, 3)}}</span>
              </template>
            </el-table-column>
            <el-table-column label="UTILIDAD" align="center" width="90">
              <template scope="scope">
                <span>{{getNumberFix(scope.row.fltUtilidadBru, 2)}}</span>
              </template>
            </el-table-column>
            <el-table-column label="MARGEN" align="center" width="90">
              <template scope="scope">
                <span>{{getPorcentageFix(scope.row.fltMargenBru, 2)}}</span>
              </template>
            </el-table-column>
            <el-table-column label="PRECIO INTER" align="center" width="95">
              <template scope="scope">
                <span>{{getNumberFix(scope.row.fltPrecioInterAu, 2)}}</span>
              </template>
            </el-table-column>
            <el-table-column label="PROPUESTA AU" align="center">
              <el-table-column label="RECUPERACION" align="center" width="100">
                <template scope="scope">
                  <span>{{getNumberFix(scope.row.fltRecuperacion, 2)}}</span>
                </template>
              </el-table-column>
              <el-table-column label="MAQUILA" align="center" width="80">
                <template scope="scope">
                  <span>{{getNumberFix(scope.row.fltMaquila, 2)}}</span>
                </template>
              </el-table-column>
              <el-table-column label="MARGEN PI" align="center" width="90">
                <template scope="scope">
                  <span>{{getNumberFix(scope.row.fltMargenPI, 2)}}</span>
                </template>
              </el-table-column>
              <el-table-column label="CONSUMO Q" align="center" width="90">
                <template scope="scope">
                  <span>{{getNumberFix(scope.row.fltConsumoQ, 2)}}</span>
                </template>
              </el-table-column>
              <el-table-column label="GASTO ADM." align="center" width="90">
                <template scope="scope">
                  <span>{{getNumberFix(scope.row.fltGastoAdm, 2)}}</span>
                </template>
              </el-table-column>
            </el-table-column>
            <el-table-column label="INTERNO" align="center">
              <el-table-column prop="fltRecIntAu" label="RECUP." align="center" width="90"></el-table-column>
              <el-table-column prop="fltMaquilaIntAu" label="MAQUILA" align="center" width="90"></el-table-column>
              <el-table-column prop="fltConsQIntAu" label="CONS. Q" align="center" width="85"></el-table-column>
              <el-table-column label="GASTO ADM." align="center" width="90">
                <template scope="scope">
                  <span>{{getNumberFix(scope.row.fltGastoAdmIntAu, 2)}}</span>
                </template>
              </el-table-column>
            </el-table-column>
          </el-table>
          <div class="" align="right" style="margin-right:2%">
            <table cellpadding="0" cellspacing="1" style="border-collapse:collapse;font-size:10px">
              <tr>
                <th class="thRepSubTotal" width="90">{{DataSubTotal[0].Total}}</th>
                <th class="thRepSubTotal" width="90">{{DataSubTotal[0].PesoTmh}}</th>
                <th class="thRepSubTotal" width="90">{{DataSubTotal[0].Utilidad}}</th>
                <th class="thRepSubTotal" width="90">{{DataSubTotal[0].MaquilaAu}}</th>
                <th class="thRepSubTotal" width="90">{{DataSubTotal[0].ConsQAu}}</th>
                <th class="thRepSubTotal" width="90">{{DataSubTotal[0].GastoAdmAu}}</th>
                <th class="thRepSubTotal" width="90">{{DataSubTotal[0].MaquilaIntAu}}</th>
                <th class="thRepSubTotal" width="90">{{DataSubTotal[0].ConsQIntAu}}</th>
                <th class="thRepSubTotal" width="90">{{DataSubTotal[0].GastoAdmIntAu}}</th>
              </tr>
              <tr>
                <th class="tdRepSubTotal" align="center">{{DataSubTotal[1].Total}}</th>
                <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[1].PesoTmh, 3)}}</td>
                <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[1].Utilidad, 2)}}</td>
                <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[1].MaquilaAu, 2)}}</td>
                <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[1].ConsQAu, 2)}}</td>
                <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[1].GastoAdmAu, 2)}}</td>
                <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[1].MaquilaIntAu, 2)}}</td>
                <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[1].ConsQIntAu, 2)}}</td>
                <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[1].GastoAdmIntAu, 2)}}</td>
              </tr>
            </table>
          </div>
        </el-card>
      </el-tab-pane>
      <el-tab-pane label="Por Zona" name="third">
        <el-card class="box-card">
          <div slot="header" class="clearfix" align="center">
            <span>MARGEN DIARIO / ZONA</span>
          </div>
          <div align="center">
            <table cellpadding="0" cellspacing="1">
              <tr>
                <td class="texto_labelDialogLeft" style="font-size:13px;">Fecha:</td>
                <td style="padding-top:3px;padding-left:3px;">
                  <el-date-picker
                    v-model="fechaSearchZona"
                    format="dd/MM/yyyy"
                    size="mini"
                    placeholder="Seleccione mes"
                    :editable = "false">
                  </el-date-picker>
                </td>
                <!-- <td class="texto_labelDialogLeft" style="font-size:13px;">Zona:</td>
                <td style="padding-top:3px;padding-left:3px;">
                  <el-input v-model="model"></el-input>
                </td> -->
                <td style="padding-top:3px;padding-left:20px;">
                  <el-button size="small" type="primary" icon="search" @click="BuscarReportePorZona()">Cargar Reporte</el-button>
                </td>
              </tr>
            </table>
          </div>
          <el-table
            :data="gridDataPorZona"
            border
            highlight-current-row
            :max-height="sizeScreen"
            v-loading="loadingGetDataZona"
            show-summary
            :summary-method="getSummariesZona"
            element-loading-text="Cargando lotes..."
            style="width:100%;font-size:10px;margin:5px 0px">
            <el-table-column label="ZONA" prop="strZona" align="center" width="100"></el-table-column>
            <el-table-column label="REGIÓN" prop="strRegion" align="center" width="100"></el-table-column>
            <el-table-column label="PESO TMH" align="center" width="90">
              <template scope="scope">
                <span>{{getNumberFix(scope.row.fltPesoTMHSum, 3)}}</span>
              </template>
            </el-table-column>
            <el-table-column label="UTILIDAD" align="center" width="90">
              <template scope="scope">
                <span>{{getNumberFix(scope.row.fltUtilidadBruSum, 2)}}</span>
              </template>
            </el-table-column>
            <el-table-column label="MARGEN" align="center" width="90">
              <template scope="scope">
                <span>{{getPorcentageFix(scope.row.fltMargenBruProm, 2)}}</span>
              </template>
            </el-table-column>
            <el-table-column label="PRECIO INTER" align="center" width="95">
              <template scope="scope">
                <span>{{getNumberFix(scope.row.fltPrecioInterAu, 2)}}</span>
              </template>
            </el-table-column>
            <el-table-column label="PROPUESTA AU" align="center">
              <el-table-column label="RECUPERACION" align="center" width="100">
                <template scope="scope">
                  <span>{{getNumberFix(scope.row.fltRecuperacionProm, 2)}}</span>
                </template>
              </el-table-column>
              <el-table-column label="MAQUILA" align="center" width="80">
                <template scope="scope">
                  <span>{{getNumberFix(scope.row.fltMaquilaProm, 2)}}</span>
                </template>
              </el-table-column>
              <el-table-column label="MARGEN PI" align="center" width="90">
                <template scope="scope">
                  <span>{{getNumberFix(scope.row.fltMargenPIProm, 2)}}</span>
                </template>
              </el-table-column>
              <el-table-column label="CONSUMO Q" align="center" width="90">
                <template scope="scope">
                  <span>{{getNumberFix(scope.row.fltConsumoQProm, 2)}}</span>
                </template>
              </el-table-column>
              <el-table-column label="GASTO ADM." align="center" width="90">
                <template scope="scope">
                  <span>{{getNumberFix(scope.row.fltGastoAdmProm, 2)}}</span>
                </template>
              </el-table-column>
            </el-table-column>
            <el-table-column label="INTERNO" align="center">
              <el-table-column prop="fltRecIntAuProm" label="RECUP." align="center" width="90"></el-table-column>
              <el-table-column prop="fltMaquilaIntAuProm" label="MAQUILA" align="center" width="90"></el-table-column>
              <el-table-column prop="fltConsQIntAuProm" label="CONS. Q" align="center" width="85"></el-table-column>
              <el-table-column label="GASTO ADM." align="center" width="90">
                <template scope="scope">
                  <span>{{getNumberFix(scope.row.fltGastoAdmIntAuProm, 2)}}</span>
                </template>
              </el-table-column>
            </el-table-column>
          </el-table>
        </el-card>
      </el-tab-pane>
    </el-tabs>
  </div>
</template>
<script>
  import MargenDiarioComponent from '@/components/Reportes/ReporteMargenes/MargenDiario/margenDiario.component'
  export default MargenDiarioComponent
</script>
<style>

</style>
