<template>
  <div>
    <ol  style="margin-left: -1.5rem;background: linear-gradient(rgb(229, 241, 247) 0%, rgb(255, 255, 255) 100%);    margin-bottom: 0rem !important;">
        <quickaccessmenu v-on:ValidarItem="BuscarRumas()" v-on:backPage="backPage($event)"  v-on:reloadpage="reloadpage($event)"></quickaccessmenu>
        </ol>
    <el-card class="box-card" style="margin-top:5px;">
      <div slot="header" class="headercard">
        <span class="labelheadercard">CIERRE INVENTARIO MINERAL</span>
      </div>
      <el-button size="small" type="primary" @click="handleAgregar()" v-if="viewAccessEscritura"><i class="fa fa-plus"></i> Agregar</el-button>
      <div class="headercard" >
        <buttons-accions v-on:Limpiar="clickactive('B')" v-on:Buscar="clickactive('A')" v-on:AscItem="AscItem" v-on:DscItem="DscItem" v-on:siguiente="siguiente()" v-on:anterior="anterior()" v-on:EliminarItem="EliminarItem()" ></buttons-accions>
      </div>
      <el-table
        :data="gridData"
        border
        highlight-current-row
        :max-height="sizeScreen"
        element-loading-text="Cargando..."
        v-loading="loadingGetData"
        style="width: 100%; font-size: 10px;margin:10px 0px">
        <el-table-column prop="fltPesoTmh" label="Peso TMH" align="center"></el-table-column>
        <el-table-column prop="fltPesoSecoTM" label="Peso TMS" align="center"></el-table-column>
        <el-table-column prop="strMes" label="MES" align="center"></el-table-column>
        <el-table-column prop="strAnio" label="AÑO" align="center"></el-table-column>
      </el-table>
    </el-card>

    <!--AGREGAR CIERRE INVENTARIO-->
    <el-dialog  title="Agregar Cierre Inventario" size="tiny" :visible.sync="dialogAgregarVisible">
      <div class="" style="margin:10px">
        <table cellpadding="0" cellspacing="1" style="font-size:13px;border-collapse:collapse;">
          <tr>
            <th class="texto_labelDialogLeft" style="padding-left:8px;"></th>
            <th class="texto_labelDialogRight"><u>TMH</u></th>
            <th class="texto_labelDialogRight"><u>TMS</u></th>
          </tr>
          <tr>
            <td class="texto_labelDialogLeft" style="padding-left:8px">Rumas:<br>
              <el-select v-model="RumasSelected" multiple placeholder="Seleccione Rumas" @change="changeRumasInv()">
                <el-option
                  v-for="item in DataRumas"
                  :key="item.strNroRuma"
                  :label="item.strNroRuma"
                  :value="item.strNroRuma">
                </el-option>
              </el-select>
            </td>
            <td align="center" class="texto_labelDialogRight">
              <br>
              <span>{{FormAgregar.fltPesoRumaTMH}}</span>
            </td>
            <td align="center" class="texto_labelDialogRight">
              <br>
              <span>{{FormAgregar.fltPesoRumaTMS}}</span>
            </td>
          </tr>
          <br>
          <tr>
            <td class="texto_labelDialogLeft" style="padding-left:8px">Peso Inventario:</td>
            <td align="center" class="texto_labelDialogRight">
              <span>{{FormAgregar.fltPesoTMHAcum}}</span>
            </td>
            <td align="center" class="texto_labelDialogRight">
              <span>{{FormAgregar.fltPesoTMSAcum}}</span>
            </td>
          </tr>
          <div style="margin-top:7px"></div>
          <tr>
            <td></td>
            <td style="border-bottom:0.5px solid grey;"></td>
            <td style="border-bottom:0.5px solid grey;"></td>
          </tr>
          <div style="margin-top:7px"></div>
          <tr>
            <td class="texto_labelDialogLeft" style="padding-left:8px" align="right"><b>TOTAL:</b></td>
            <td align="center" class="texto_labelDialogRight">
              <span><b>{{FormAgregar.fltTotalTMH}}</b></span>
            </td>
            <td align="center" class="texto_labelDialogRight">
              <span><b>{{FormAgregar.fltTotalTMS}}</b></span>
            </td>
          </tr>
          <br>
          <tr>
            <td class="texto_labelDialogLeft" style="padding-left:8px">Periodo Contable:<br>
              <el-date-picker
                v-model="fechaAddCierreInv"
                type="month"
                size="small"
                format="MM/yyyy"
                placeholder="Seleccione Mes"
                :editable = "false"
                @change="changeFechaCierre()">
              </el-date-picker>
            </td>
          </tr>
        </table>
      </div>

      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogAgregarVisible = false">Cancelar</el-button>
        <el-button type="primary" @click="AgregarCierreInventario(FormAgregar)">Procesar</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
  import CierreInventarioMineralComponent from '@/components/ProcesoCierre/CierreInventarioMineral/cierreInventarioMineral.component'
  export default CierreInventarioMineralComponent
</script>
<style>

</style>
