<template>
  <div class="top-menu">
    <div class="logo" style="align-items: center;justify-content: center;cursor: pointer;" >
    <img src="../../../images/icon_validar.png" style="width:17px; height:15px; cursor: pointer;" @click="loadBarmenu()"/>
    <input class="buscadorbar" type="text"  v-if="ocultar" v-model="codigo" v-on:keyup.13="loadBarmenu" size ="small"  style="width: 50px;margin-left: 0.1rem;" placeholder=" " required :maxlength="4">
    <img src="../../../images/collapse_left_A.png" v-if="ocultar" style="width:8px; height:10px; cursor: pointer;font: 0px/100% Arial, Helvetica, sans-serif;margin-left: 0.3rem;" @click="fnOcultar()"/>
    <img src="../../../images/collapse_derecha_A.png" v-if="!ocultar" style="width:8px; height:10px; cursor: pointer;font: 0px/100% Arial, Helvetica, sans-serif;margin-left: 0.3rem;" @click="fnOcultar()"/>
      <img src="../../../images/logo.png" style="width: 100px !important; height: 51px !important;" @click="linkRoute('/barmenu/inicio')"> 
    </div>
    <div class="side-toolbar bg-purple2">
      <el-tooltip class="item" effect="dark" content="Activar barmenu" placement="bottom">
      <div class="hamb-container" v-bind:class="{ active: isActive }" @click="clickHamburger()" >
        <div class="hamb-icon"></div>
      </div>
      </el-tooltip>
    </div>
    <!-- <img class="logo" src="../../../images/logo.jpg"> -->
    <div class="brand" >Sistema de <span style="color:#d7803d">Gestión Comercial</span></div>

    <el-tooltip class="item" effect="dark" content="Editar Perfil" placement="bottom">
      <div class="user-container" @click="linkRoute('/menu/editar-perfil')">
        <i class="el-icon-fa-user"></i>
        <span style="font-size: 14px;">{{usuarioLogeado}}</span>
      </div>
    </el-tooltip>
    <!-- <el-tooltip v-if="mostrarConfig" class="item" effect="dark" content="Configuraciones" placement="bottom">
      <div @click.prevent="$refs.ctxMenu.open">
        <div class="icon-container blue"><i class="el-icon-fa-cogs"></i></div>
      </div>
    </el-tooltip> -->
    <div class="">
      <div class="icon-container blue" v-if="mostrarConfig">
        <el-tooltip effect="dark" content="Configuraciones" placement="bottom">
          <el-dropdown @command="linkRoute" :hide-on-click="true" trigger="click">
            <el-button type="primary" class="el-dropdown-link" style="color:white; width: 100%;
              margin-left: -15%;
              padding: 8px 15px;
              background: rgba(255, 255, 255, 0);
              border: 1px solid rgba(255, 255, 255, 0);">
              <i class="el-icon-fa-cogs"></i>
            </el-button>
            <el-dropdown-menu slot="dropdown" style="font-size: 13px;">
              <el-dropdown-item
                v-for="(item, index) in accesosUser"
                :command="item.strEnlace"
                :key="item.intIndex">
                <i :class="item.strIconName" style="width:20px"></i> {{item.strNombre}}
              </el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </el-tooltip>
      </div>
    </div>
    <el-tooltip class="item" effect="dark" content="Cerrar Sesion" placement="bottom">
      <div class="icon-container red" @click="linkLogout"><i class="el-icon-fa-sign-out"></i></div>
    </el-tooltip>


   

  </div>
</template>
<script>
  import TopMenu from '@/components/customs/top-menu/top-menu.component'
  export default TopMenu
</script>
<style scoped>
  .top-menu {
    width: 100%;
    height: 48px;
    /* background-image: url('../../../images/menu_imag.png'); */
    color: #fff;
    display: flex;
    position: relative;
    flex-direction: row;
    height: 34px;
    padding: 0;
    margin: 0;
    background-color: #34383c;
    border-bottom: 1px solid #34383c;
  }

  .logo {
    width: 11%;
    padding: 1px;
    height: 100%;
    -moz-border-radius: 10px 10px 10px 10px;
    background-size: cover;
    position: relative;
    display: inline-block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row;
    flex-flow: row;
    width: 221px;
    height: 36px;
    background: white;
  }
  .brand {
    text-align: left;
    line-height: 35px;
    padding: 0 15px 0 15px;
    font-size: 14px;
  }
  .user-container {
    text-align: center;
    line-height: 35px;
    padding: 0 15px 0 15px;
    margin-left: auto;
    cursor: pointer;
  }
  .user-container:hover {
    background-color:transparent;
  }
  .icon-container {
    width: 48px;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
  }
  .icon-container:hover {
    background-color: transparent;
  }
  .red:hover {
    background-color: #FF4949;
  }

</style>
