<template>
  <div>
    <ol  style="margin-left: -1.5rem;background: linear-gradient(rgb(229, 241, 247) 0%, rgb(255, 255, 255) 100%);    margin-bottom: 0rem !important;">
        <quickaccessmenu v-on:ValidarItem="SearchLeyesReferenciales()" v-on:guardarTodo="guardarTodo($event)" v-on:backPage="backPage($event)"  v-on:reloadpage="reloadpage($event)"></quickaccessmenu>
        </ol>
    <div class="" >
      <el-card class="box-card" >
        <div slot="header" class="headercard"  >
          <span class="labelheadercard">Leyes referenciales: comercial</span>
          <!-- <el-button class="buttonfilter btn btn-outline-secondary orange" style="margin-top: -3px;" @click="SearchLeyesReferenciales()">
              <img class="imagenfilter" src="../../../images/buscari.png" style="margin-left: 0px;width: 15px;height: 16px;" alt="" >
          </el-button> -->
          <!-- <el-button class="buttonfilter btn btn-outline-secondary orange" style="margin-top: -3px;" @click="LimpiarConsulta()">
              <img class="imagenfilter" src="../../../images/visualizar.png" style="margin-left: 0px;width: 15px;height: 16px;" alt="" >
          </el-button> -->
          <!-- <el-button class="buttonfilter btn btn-outline-secondary orange" style="margin-top: -3px;" @click="blnfiltroavanzado=!blnfiltroavanzado">
              <img class="imagenfilter" src="../../../images/filtro.png" style="margin-left: 0px;width: 15px;height: 16px;" alt="" >
          </el-button> -->
        </div>
        <div class="row bodycard">
          <div class="container">
            <div class="row">
              <div class="col-sm-3">
                <div class="form-group row " style="margin-top: 1px;">
                  <label class="el-form-item__label col-md-4" >Mes</label>
                  <div class="col-md-7 grupolabel">
                    <div class="input-group mb-3" >
                      <el-date-picker
                        v-model="fechaSearch"
                        type="month"
                        size="small"
                        format="MMMM / yyyy"
                        placeholder="Seleccione Mes"
                        :editable = "false">
                      </el-date-picker>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group row " style="margin-top: 1px;">
                  <label class="el-form-item__label col-md-5" >Tipo mineral</label>
                  <div class="col-md-7 grupolabel">
                    <div class="input-group mb-3" >
                      <el-input
                        placeholder="*"
                        size="small"
                        v-model="FormSearch.strTipoMineral"
                        @keyup.enter.native="SearchLeyesReferenciales()">
                      </el-input>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" style="margin-top: -13px;">
              <div class="col-sm-3">
                <div class="form-group row " style="margin-top: 1px;">
                  <label class="el-form-item__label col-md-4" >Código</label>
                  <div class="col-md-7 grupolabel">
                    <div class="input-group mb-3" >
                      <el-input
                        placeholder="*"
                        size="small"
                        v-model="FormSearch.strDescripcion"
                        @keyup.enter.native="SearchLeyesReferenciales()">
                      </el-input>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group row " style="margin-top: 1px;">
                  <label class="el-form-item__label col-md-5" >Zona</label>
                  <div class="col-md-7 grupolabel">
                    <div class="input-group mb-3" >
                      <el-input
                        placeholder="*"
                        size="small"
                        v-model="FormSearch.strZona"
                        @keyup.enter.native="SearchLeyesReferenciales()">
                      </el-input>
                    </div>
                  </div>
                </div>
              </div>
            </div>            
            <div align="right"
              style="background:#EEEEEE;padding-top:5px;padding-bottom:5px;font-size:13px">
              <el-col :span="3" style="margin-top:7px">
                <span style="font-size:12px;">Total de Registros: <b>{{countGridData}}</b></span>
              </el-col>
              <download-excel :data="CompleteData" :fields = "json_fields" :meta = "json_meta" :name = "titleExcel">
                </download-excel>
            </div>
            <div  class="headercard" >
              <buttons-accions v-on:LimpiarConsulta="LimpiarConsulta()" v-on:Limpiar="clickactive('B')" v-on:Buscar="clickactive('A')" v-on:AscItem="AscItem" v-on:DscItem="DscItem" v-on:siguiente="siguiente()" v-on:anterior="anterior()" v-on:EliminarItem="EliminarItem()" ></buttons-accions>
            </div> 
            <el-table
              :data="gridData"
              border
              @row-click="selectRow"
              highlight-current-row
              :max-height="sizeScreen"
              v-loading="loadingGetData"
              element-loading-text="Cargando leyes referenciales..."
              style="width: 100%; font-size: 10px;margin:5px 0px;">
              <el-table-column label="Item" align="center" width="80">
                <template scope="scope">
                  <span style="color:red;font-size:11px"><b>{{ scope.row.strCorrelativo}}</b></span>
                </template>
              </el-table-column>
              <el-table-column label="Fecha Recepcion" width="120" align="center">
                <template scope="scope">
                  <span>{{ scope.row.dtmFechaRecepcion }}</span>
                </template>
              </el-table-column>
              <el-table-column prop="strDescripcion" label="Código" width="200"></el-table-column>
              <el-table-column prop="strTipoMineral" label="Tipo Mineral" width="120" align="center"></el-table-column>
              <el-table-column prop="strZona" label="Procedencia" width="120" align="center"></el-table-column>
              <el-table-column prop="strAcopiador" label="Responsable" width="200" align="center"></el-table-column>
              <!-- <el-table-column prop="strPorcRcpLab" label="% RCP LAB" align="center"></el-table-column> -->
              <el-table-column prop="strLeyAuOzTc" label="Ley Au Oz/Tc" width="120" align="center"></el-table-column>
              <el-table-column prop="strLeyAuReeOzTc" label="Ley Au REE Oz/Tc" width="120" align="center"></el-table-column>
              <el-table-column prop="strLeyAuCom" label="Ley Au Comercial" width="120" align="center"></el-table-column>
              <el-table-column prop="strLeyAgOzTc" label="Ley Ag Oz/Tc" align="center"></el-table-column>
              <el-table-column prop="strLeyAgCom" label="Ley Ag Comercial" align="center"></el-table-column>
              <!-- <el-table-column label="OPERACIONES" fixed="right" width="110" align="center" v-if="viewAccessEscritura">
                <template scope="scope">
                  <el-button icon="edit" size="mini" type="success" @click="handleEdit(scope.$index, scope.row)">{{nameButton}}</el-button>
                </template>
              </el-table-column> -->
            </el-table>
            <el-row type="flex" class="row-bg" style="margin-bottom:5px">
              <el-col :span="6">
                <el-pagination layout="prev, pager, next" :total="totalRegistros" :page-size="RegistersForPage" :current-page.sync="pagina" @current-change="cambioPagina()">
                </el-pagination>
              </el-col>
            </el-row>

            <div class="row">
              <div class="col-sm-12">
                <el-tabs type="border-card">
                  <el-tab-pane>
                    <span slot="label"><i class="el-icon-date"></i> Generales</span>
                    <div class="container">
                      <div class="row" style="margin-top: -13px;">                       
                        <div class="col-sm-5">
                          <div class="form-group row " style="margin-top: 1px;">
                              <label class="el-form-item__label col-md-4" >Fecha Recepción</label>
                              <div class="col-md-5 grupolabel">
                                <div class="input-group mb-3" >
                                  <el-input :value="rowSelectedEdit.dtmFechaRecepcion" readonly auto-complete="off" size="small"></el-input>
                                </div>
                              </div>
                          </div>
                        </div>
                        <div class="col-sm-5">
                          <div class="form-group row " style="margin-top: 1px;">
                              <label class="el-form-item__label col-md-4" >Tipo Mineral</label>
                              <div class="col-md-5 grupolabel">
                                <div class="input-group mb-3" >
                                  <el-input v-model="rowSelectedEdit.strTipoMineral" readonly auto-complete="off" size="small"></el-input>
                                </div>
                              </div>
                          </div>
                        </div>
                      </div>
                      <div class="row" style="margin-top: -13px;">                        
                        <div class="col-sm-5">
                          <div class="form-group row " style="margin-top: 1px;">
                              <label class="el-form-item__label col-md-4" >Código</label>
                              <div class="col-md-5 grupolabel">
                                <div class="input-group mb-3" >
                                  <el-input v-model="rowSelectedEdit.strDescripcion" readonly auto-complete="off" size="small"></el-input>
                                </div>
                              </div>
                          </div>
                        </div>
                        <div class="col-sm-5">
                          <div class="form-group row " style="margin-top: 1px;">
                              <label class="el-form-item__label col-md-4" >Zona</label>
                              <div class="col-md-5 grupolabel">
                                <div class="input-group mb-3" >
                                  <el-input v-model="rowSelectedEdit.strZona" readonly auto-complete="off" size="small"></el-input>
                                </div>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </el-tab-pane>
                  <el-tab-pane>
                    <span slot="label"><i class="el-icon-date"></i> Leyes</span>
                    <div class="container">
                      
                      <div class="row" style="margin-top: -10px;">                        
                        <div class="col-sm-5">
                          <el-card class="box-card" style="margin-left: -6px;">
                            <div slot="header" class="headercard"  >
                              <span class="labelheadercard">AU</span>                                
                            </div>
                            <div class="row bodycard" >
                              <div class="container">
                                <div class="form-group row " style="margin-top: 1px;">
                                  <label class="el-form-item__label col-md-4" >Ley Au Oz/tc</label>
                                  <div class="col-md-5 grupolabel">
                                    <div class="input-group mb-3" >
                                      <el-input v-model="rowSelectedEdit.strLeyAuOzTc" auto-complete="off" size="small"
                                        @change="changeLeyAuOzTc(rowSelectedEdit.strLeyAuOzTc)">
                                      </el-input>
                                    </div>
                                  </div>
                                </div>
                                <div class="form-group row " style="margin-top: -13px;">
                                  <label class="el-form-item__label col-md-4" >Ley Au REE</label>
                                  <div class="col-md-5 grupolabel">
                                    <div class="input-group mb-3" >
                                      <el-input v-model="rowSelectedEdit.strLeyAuOzTc" auto-complete="off" size="mini"
                                        @change="changeLeyAuOzTc(rowSelectedEdit.strLeyAuOzTc)">
                                      </el-input>
                                    </div>
                                  </div>
                                </div>
                                <div class="form-group row " style="margin-top: -13px;">
                                  <label class="el-form-item__label col-md-4" style="height: 36px;" >Ley Au RMI(Remuestreo)</label>
                                  <div class="col-md-5 grupolabel" style="margin-top: 14px;">
                                    <div class="input-group mb-3" >
                                      <el-input v-model="rowSelectedEdit.strLeyAuRemuestreo" auto-complete="off" size="mini"></el-input>
                                    </div>
                                  </div>
                                </div>
                                <div class="form-group row " style="margin-top: -13px;">
                                  <label class="el-form-item__label col-md-4" >Ley Au Comercial</label>
                                  <div class="col-md-5 grupolabel">
                                    <div class="input-group mb-3" >
                                      <el-input v-model="rowSelectedEdit.strLeyAuComercial" auto-complete="off" size="mini"></el-input>
                                    </div>
                                  </div>
                                </div>
                                <div class="form-group row " style="margin-top: -13px;">
                                  <label class="el-form-item__label col-md-4" >RCP Lab (%)</label>
                                  <div class="col-md-5 grupolabel">
                                    <div class="input-group mb-3" >
                                      <el-input v-model="rowSelectedEdit.strPorcRcpLab" auto-complete="off" size="small" disabled></el-input>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </el-card>
                        </div>
                        <div class="col-sm-5">
                          <el-card class="box-card" style="margin-left: -6px;">
                            <div slot="header" class="headercard"  >
                              <span class="labelheadercard">AG</span>                                
                            </div>
                            <div class="row bodycard">
                              <div class="container">
                                 <div class="form-group row " style="margin-top: 1px;">
                                  <label class="el-form-item__label col-md-4" >Ley Ag Oz/tc</label>
                                  <div class="col-md-5 grupolabel">
                                    <div class="input-group mb-3" >
                                      <el-input v-model="rowSelectedEdit.strLeyAgOzTc" auto-complete="off" size="mini"></el-input>
                                    </div>
                                  </div>
                                </div>
                                
                                 <div class="form-group row " style="margin-top: -13px;">
                                  <label class="el-form-item__label col-md-4" >Ley Ag Comercial</label>
                                  <div class="col-md-5 grupolabel">
                                    <div class="input-group mb-3" >
                                      <el-input v-model="rowSelectedEdit.strLeyAgComercial" auto-complete="off" size="mini"></el-input>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </el-card>
                        </div>
                      </div>
                    </div>
                  </el-tab-pane>
                </el-tabs>
              </div>
            </div>
          </div>
        </div>
      </el-card>
    </div>
    <!--EDITAR LEY REFERENCIAL-->
    <el-dialog  title="ACTUALIZAR LEY REFERENCIAL" size="small" :visible.sync="dialogEditarVisible" @close="dialogEditarVisible=false">
      <div style="background:#EEEEEE; width:100%;height:100px;">
        <table cellpadding="0" cellspacing="1" style="margin-bottom:10px;margin-left:20px;" class="hx">
          <tr>
            <td class="texto_labelDialogLeft">Fecha Recepción:</td>
            <td style="padding-top:10px;padding-left:10px;">
              <el-input :value="rowSelectedEdit.dtmFechaRecepcion" readonly auto-complete="off" size="small"></el-input>
            </td>
            <td class="texto_labelDialogRight">Código:</td>
            <td style="padding-top:10px;padding-left:10px;">
              <el-input v-model="rowSelectedEdit.strDescripcion" readonly auto-complete="off" size="small"></el-input>
            </td>
          </tr>
          <tr>
            <td class="texto_labelDialogLeft">Tipo Mineral:</td>
            <td style="padding-top:10px;padding-left:10px;">
              <el-input v-model="rowSelectedEdit.strTipoMineral" readonly auto-complete="off" size="small"></el-input>
            </td>
            <td class="texto_labelDialogRight">Procedencia:</td>
            <td style="padding-top:10px;padding-left:10px;">
              <el-input v-model="rowSelectedEdit.strZona" readonly auto-complete="off" size="small"></el-input>
            </td>
          </tr>
        </table>
      </div>

      <el-row style="padding:1% 2%">
        <el-col :span="15">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#30476ccc;" align="center">
              <span>Au</span>
            </div>
            <div class="containerForm">
              <el-row>
                <el-col :span="12">
                  <span>Ley Au Oz/tc:</span>
                  <el-input v-model="rowSelectedEdit.strLeyAuOzTc" auto-complete="off" size="small" disabled></el-input>
                  <br><br>
                  <span>Ley Au REE Oz/Tc:</span>
                  <el-input v-model="rowSelectedEdit.strLeyAuReeOzTc" auto-complete="off" size="small" disabled></el-input>
                  <br><br>
                  <span>Ley Au Comercial:</span>
                  <el-input type="number" v-model="rowSelectedEdit.strLeyAuCom" auto-complete="off" size="small"></el-input>
                </el-col>
                <el-col :span="12" style="padding-left:10px">
                  <span>RCP Lab (%):</span>
                  <el-input v-model="rowSelectedEdit.strPorcRcpLab" auto-complete="off" size="small" disabled></el-input>
                  <br><br>
                </el-col>
              </el-row>
            </div>
          </div>
        </el-col>
        <el-col :span="9" style="padding-left:1%">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#1957b3b0;" align="center">
              <span>Ag</span>
            </div>
            <div class="containerForm">
              <span>Ley Ag Oz/tc:</span>
              <el-input v-model="rowSelectedEdit.strLeyAgOzTc" auto-complete="off" size="small" disabled></el-input>
              <br><br>
              <span>Ley Ag Comercial:</span>
              <el-input type="number" v-model="rowSelectedEdit.strLeyAgCom" auto-complete="off" size="small"></el-input>
            </div>
          </div>
        </el-col>
      </el-row>
      <br>
      <span slot="footer" class="dialog-footer">
        <el-button type="danger" plain @click="dialogEditarVisible = false">Cancelar</el-button>
        <el-button type="primary" icon="edit" @click="ActualizarLeyReferencial(rowSelectedEdit)">Guardar</el-button>
      </span>
    </el-dialog>

    <!--DETALLE LEY REFERENCIAL-->
    <el-dialog  title="ACTUALIZAR LEY REFERENCIAL" size="small" :visible.sync="dialogDetalleVisible" @close="dialogDetalleVisible=false">
      <div style="background:#EEEEEE; width:100%;height:100px;">
        <table cellpadding="0" cellspacing="1" style="margin-bottom:10px;margin-left:20px;" class="hx">
          <tr>
            <td class="texto_labelDialogLeft">Fecha Recepción:</td>
            <td style="padding-top:10px;padding-left:10px;">
              <el-input :value="rowSelectedEdit.dtmFechaRecepcion" readonly auto-complete="off" size="small"></el-input>
            </td>
            <td class="texto_labelDialogRight">Código:</td>
            <td style="padding-top:10px;padding-left:10px;">
              <el-input v-model="rowSelectedEdit.strDescripcion" readonly auto-complete="off" size="small"></el-input>
            </td>
          </tr>
          <tr>
            <td class="texto_labelDialogLeft">Tipo Mineral:</td>
            <td style="padding-top:10px;padding-left:10px;">
              <el-input v-model="rowSelectedEdit.strTipoMineral" readonly auto-complete="off" size="small"></el-input>
            </td>
            <td class="texto_labelDialogRight">Procedencia:</td>
            <td style="padding-top:10px;padding-left:10px;">
              <el-input v-model="rowSelectedEdit.strZona" readonly auto-complete="off" size="small"></el-input>
            </td>
          </tr>
        </table>
      </div>

      <el-row style="padding:1% 2%">
        <el-col :span="15">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#30476ccc;" align="center">
              <span>Au</span>
            </div>
            <div class="containerForm">
              <el-row>
                <el-col :span="12">
                  <span>Ley Au Oz/tc:</span>
                  <el-input v-model="rowSelectedEdit.strLeyAuOzTc" auto-complete="off" size="small" readonly></el-input>
                  <br><br>
                  <span>Ley Au REE Oz/Tc:</span>
                  <el-input v-model="rowSelectedEdit.strLeyAuReeOzTc" auto-complete="off" size="small" readonly></el-input>
                  <br><br>
                  <span>Ley Au Comercial:</span>
                  <el-input v-model="rowSelectedEdit.strLeyAuCom" auto-complete="off" size="small" readonly></el-input>
                </el-col>
                <el-col :span="12" style="padding-left:10px">
                  <span>RCP Lab (%):</span>
                  <el-input v-model="rowSelectedEdit.strPorcRcpLab" auto-complete="off" size="small" readonly></el-input>
                  <br><br>
                </el-col>
              </el-row>
            </div>
          </div>
        </el-col>
        <el-col :span="9" style="padding-left:1%">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#1957b3b0;" align="center">
              <span>Ag</span>
            </div>
            <div class="containerForm">
              <span>Ley Ag Oz/tc:</span>
              <el-input v-model="rowSelectedEdit.strLeyAgOzTc" auto-complete="off" size="small" readonly></el-input>
              <br><br>
              <span>Ley Ag Comercial:</span>
              <el-input v-model="rowSelectedEdit.strLeyAgCom" auto-complete="off" size="small" readonly></el-input>
            </div>
          </div>
        </el-col>
      </el-row>
      <br>
      <span slot="footer" class="dialog-footer">
        <el-button type="danger" plain @click="dialogDetalleVisible = false">Cerrar</el-button>
      </span>
    </el-dialog>
  </div>
</template>


<script>
  import LeyReferencialComComponent from '@/components/leyesReferenciales/leyReferencial_Com/leyReferencialCom.component'
  export default LeyReferencialComComponent
</script>
<style>
</style>
