
<template>
  <div>
    <ol  style="margin-left: -1.5rem;background: linear-gradient(rgb(229, 241, 247) 0%, rgb(255, 255, 255) 100%);    margin-bottom: 0rem !important;">
        <quickaccessmenu v-on:ValidarItem="BuscarLotes()" v-on:guardarTodo="guardarTodo($event)" v-on:backPage="backPage($event)"  v-on:reloadpage="reloadpage($event)"></quickaccessmenu>
        </ol>
    <div class="" >
      <el-card class="box-card" >
        <div slot="header" class="headercard"  >
          <span class="labelheadercard">Laboratorio</span>
          <!-- <el-button class="buttonfilter btn btn-outline-secondary orange" style="margin-top: -3px;" @click="BuscarLotes()">
              <img class="imagenfilter" src="../../images/buscari.png" style="margin-left: 0px;width: 15px;height: 16px;" alt="" >
          </el-button> -->
          <!-- <el-button class="buttonfilter btn btn-outline-secondary orange" style="margin-top: -3px;" @click="LimpiarConsulta()">
              <img class="imagenfilter" src="../../images/visualizar.png" style="margin-left: 0px;width: 15px;height: 16px;" alt="" >
          </el-button> -->
          <!-- <el-button class="buttonfilter btn btn-outline-secondary orange" style="margin-top: -3px;" @click="blnfiltroavanzado=!blnfiltroavanzado">
              <img class="imagenfilter" src="../../images/filtro.png" style="margin-left: 0px;width: 15px;height: 16px;" alt="" >
          </el-button> -->
        </div>
        <div class="row bodycard">
          <div class="container">
            <div class="row">
              <div class="col-sm-3">
                <div class="form-group row " style="margin-top: 1px;">
                  <label class="el-form-item__label col-md-4" >Mes</label>
                  <div class="col-md-7 grupolabel">
                    <div class="input-group mb-3" >
                      <el-date-picker
                        v-model="fechaSearch"
                        type="month"
                        size="mini"
                        format="MMMM / yyyy"
                        placeholder="Seleccione Mes"
                        :editable = "false"
                        @change="changeMonth()">
                      </el-date-picker>
                    </div>
                  </div>
                  <el-button v-if="!blnperiodo" class="buttonfilter btn btn-outline-secondary orange" style="margin-top: 3px;" @click="blnperiodo=!blnperiodo">
                      <img class="imagenfilter" src="../../images/collapse_derecha.png" alt="" >
                  </el-button>
                  <el-button v-if="blnperiodo" class="buttonfilter btn btn-outline-secondary orange" style="margin-top: 3px;" @click="blnperiodo=!blnperiodo">
                      <img class="imagenfilter" src="../../images/collapse_left.png" alt="" >
                  </el-button>
                </div>
              </div>
              <div class="col-sm-3" v-if="blnperiodo">
                <div class="form-group row " style="margin-top: 1px;">
                    <label class="el-form-item__label col-md-4" >Desde</label>
                    <div class="col-md-7 grupolabel">
                      <div class="input-group mb-3" >
                        <el-date-picker
                          v-model="fechaInicio"
                          size="mini"
                          format="dd/MM/yyyy"
                          placeholder="Desde"
                          @keyup.enter.native="BuscarLotes()">
                        </el-date-picker>
                      </div>
                    </div>
                </div>
              </div>
              <div class="col-sm-3" v-if="blnperiodo">
                <div class="form-group row " style="margin-top: 1px;">
                    <label class="el-form-item__label col-md-4" >Hasta</label>
                    <div class="col-md-7 grupolabel">
                      <div class="input-group mb-3" >
                        <el-date-picker
                          v-model="fechaFin"
                          size="mini"
                          format="dd/MM/yyyy"
                          placeholder="Desde"
                          @keyup.enter.native="BuscarLotes()">
                        </el-date-picker>
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="row" style="margin-top: -13px;">
              <div class="col-sm-3">
                <div class="form-group row " style="margin-top: 1px;">
                  <label class="el-form-item__label col-md-4" >Estado Lote</label>
                  <div class="col-md-7 grupolabel">
                    <div class="input-group mb-3" >
                      <el-select v-model="FormSearch.strEstadoLote" clearable filterable placeholder="" size="mini">
                        <el-option
                          v-for="item in dataEstado"
                          :key="item.id_estado"
                          :label="item.name"
                          :value="item.id_estado">
                        </el-option>
                      </el-select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" v-if="blnfiltroavanzado" style="margin-top: -13px;">
              <div class="col-sm-3">
                <div class="form-group row " style="margin-top: 1px;">
                  <label class="el-form-item__label col-md-4" >Lote</label>
                  <div class="col-md-7 grupolabel">
                    <div class="input-group mb-3" >
                      <el-input type="search" placeholder="*" v-model="FormSearch.strLote" auto-complete="off" size="mini" @keyup.enter.native="BuscarLotes()"></el-input>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group row " style="margin-top: 1px;">
                  <label class="el-form-item__label col-md-3" >Proveedor</label>
                  <div class="col-md-7 grupolabel">
                    <div class="input-group mb-3" >
                      <el-input type="search" placeholder="*" v-model="FormSearch.strProveedor" auto-complete="off" size="mini" @keyup.enter.native="BuscarLotes()"></el-input>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" v-if="blnfiltroavanzado" style="margin-top: -13px;margin-bottom: -8px;">
              <div class="col-sm-3">
                <div class="form-group row " style="margin-top: -1px;">
                  <label class="el-form-item__label col-md-4" >Zona</label>
                  <div class="col-md-7 grupolabel">
                    <div class="input-group mb-3" >
                      <el-select v-model="FormSearch.strProcedencia" allow-create clearable placeholder="" size="mini" filterable>
                        <el-option
                          v-for="item in dataZonas"
                          :key="item.strZona"
                          :label="item.strZona"
                          :value="item.strZona">
                        </el-option>
                      </el-select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group row " style="margin-top: 1px;">
                  <label class="el-form-item__label col-md-3" >Acopiador</label>
                  <div class="col-md-7 grupolabel">
                    <div class="input-group mb-3" >
                      <el-input type="search" placeholder="*" v-model="FormSearch.strAcopiador" auto-complete="off" size="mini" @keyup.enter.native="BuscarLotes()"></el-input>
                    </div>
                  </div>
                </div>
              </div>
            </div>  
            <!--aca-->
            <div slot="header" class="headercard" >
                <buttons-accions v-on:LimpiarConsulta="LimpiarConsulta()" v-on:Limpiar="clickactive('B')" v-on:Buscar="clickactive('A')" v-on:AscItem="AscItem" v-on:DscItem="DscItem" v-on:siguiente="siguiente()" v-on:anterior="anterior()" v-on:EliminarItem="EliminarItem()" ></buttons-accions>
            </div>  
            <el-table
            ref="missionTable"
              :data="gridData"
              border
              highlight-current-row
               stripe  :default-sort = "{prop: 'date', order: 'descending'}"
              :max-height="sizeScreen"
              v-loading="loadingGetData"
              class="ExcelTable2007"
              @row-click="selectRow"
              element-loading-text="Cargando lotes..."
              style="width:100%;font-size:10px;margin:5px 0px">
              <el-table-column label="LOTE"  align="left" width="85">
                <template scope="scope">
                  <el-button type="text" size="mini" @click="handleEdit(scope.$index, scope.row)">
                    <span style="color:red;font-weight:bold;text-align:left;">{{scope.row.strLote}}</span>
                  </el-button>
                  <!-- <span style="color:red" @click="handleEdit(scope.$index, scope.row)"><b>{{scope.row.strLote}}</b></span> -->
                </template>
              </el-table-column>
              <el-table-column label="Fecha Recepción"  style="text-align:left;"  width="120" align="left">
                <template scope="scope"  style="text-align:left;">
                  <span style="text-align:left;"><b>{{scope.row.dtmFechaRecepcion}}</b></span>
                </template>
              </el-table-column>
              <el-table-column prop="strProcedenciaSt" label="Procedencia" width="110" align="left"></el-table-column>
              <el-table-column prop="strClienteRazonS" label="Proveedor Mineral" width="250"></el-table-column>
              <el-table-column prop="strMaterial" label="Material" width="95" align="left"></el-table-column>
              <el-table-column prop="strNombreAcopiador" label="Acopiador" width="200"></el-table-column>
              <el-table-column prop="intNroSacos" label="N° Sacos" width="85" align="left"></el-table-column>
              <el-table-column label="Peso TMH" width="120" align="left">
                <template scope="scope">
                  <span style="font-size:11px"><b>{{ scope.row.fltPesoTmh }}</b></span>
                </template>
              </el-table-column>     
              <el-table-column label="%H2O Com" width="120" align="left">
                <template scope="scope">
                  <span style="font-size:11px">{{scope.row.strH2OCom}}</span>
                </template>
              </el-table-column>
              <el-table-column label="P.Seco Com" width="120" align="left">
                <template scope="scope">
                  <span style="font-size:11px">{{scope.row.strPSecoCom}}</span>
                </template>
              </el-table-column>
              <el-table-column label="Ley Au Oz/tc" width="120" align="left">
                <template scope="scope">
                  <span style="font-size:11px"><b>{{scope.row.strLeyAuOzTc}}</b></span>
                </template>
              </el-table-column>
              <el-table-column prop="strLeyAuREE" label="Ley Au REE" width="120" align="left"></el-table-column>
              <el-table-column label="Ley Au Comercial" width="130" align="left">
                <template scope="scope">
                  <span style="font-size:12px;font-weight:bold;color:blue;">{{getNumberFloat(scope.row.strLeyAuComercial)}}</span>
                  <!-- <el-row v-if="viewAccessEscritura">
                    <el-col :span="20">
                      <el-input v-model="scope.row.strLeyAuComercial" size="mini" type="number"
                        @keyup.enter.native="EnterLeyAuComercial(scope.row)">
                      </el-input>
                    </el-col>
                    <el-col :span="3">
                      <el-tooltip effect="light" content="Guardar" placement="top">
                        <el-button icon="edit" type="primary" size="mini" @click="EnterLeyAuComercial(scope.row)"></el-button>
                      </el-tooltip>
                    </el-col>
                  </el-row> -->
                </template>
              </el-table-column> 
              <el-table-column label="Ley Ag (Oz/tc)" width="120" align="left">
                <template scope="scope">
                  <span style="font-size:11px"><b>{{scope.row.strLeyAgOzTc}}</b></span>
                </template>
              </el-table-column>
              <el-table-column label="Ley Ag Comercial" width="130" align="left">
                <template scope="scope">
                  <span style="font-size:12px;font-weight:bold;color:blue;">{{getNumberFloat(scope.row.strLeyAgComercial)}}</span>
                  <!-- <el-row v-if="viewAccessEscritura">
                    <el-col :span="20">
                      <el-input v-model="scope.row.strLeyAgComercial" size="mini" type="number"
                        @keyup.enter.native="EnterLeyAgComercial(scope.row)">
                      </el-input>
                    </el-col>
                    <el-col :span="3">
                      <el-tooltip effect="light" content="Guardar" placement="top">
                        <el-button icon="edit" type="primary" size="mini" @click="EnterLeyAgComercial(scope.row)"></el-button>
                      </el-tooltip>
                    </el-col>
                  </el-row> -->
                </template>
              </el-table-column>
              <!-- <el-table-column label="Operaciones" fixed="right" align="left" width="110">
               <template scope="scope">
                 <el-button icon="edit" size="mini" type="success"
                   @click="handleEdit(scope.$index, scope.row)">{{nameButton}}</el-button>
               </template>
              </el-table-column> -->
             
            </el-table>
            <div align="right">
               <el-col :span="24" style="margin-top:0px;background:#EEEEEE;padding-top:5px;padding-bottom:5px;font-size:13px">
                <el-col :span="6">
                  <el-pagination layout="prev, pager, next" :total="totalRegistros" :page-size="RegistersForPage" :current-page.sync="pagina" @current-change="cambioPagina()">
                  </el-pagination>
                </el-col>
                <el-col :span="14">
                  <span>Peso TMH Acumulado:<b style="padding-left:15px;margin-right:20px">{{sumatorioPesoTMH}}</b></span>-
                  <span style="margin-left:20px">Peso Seco TM Acumulado:<b style="padding-left:15px;margin-right:20px">{{sumatorioPSecoTM}}</b></span>
                  <span style="font-size:14px;">Total de Lotes: <b>{{countGridData}}</b></span>
                </el-col>
                 
                <el-col :span="4">
                  <download-excel :data="CompleteData" :fields = "json_fields" :meta = "json_meta" :name = "titleExcel">
                  </download-excel>
                </el-col>
              </el-col>
            </div>
            <el-col :span="24">
              <div class="row">
                <div class="col-sm-12">
                  <el-tabs type="border-card">
                    <el-tab-pane>
                      <span slot="label">Generales</span>
                      <div class="container">
                        <div class="row" style="margin-top: -13px;">                       
                          <div class="col-sm-5">
                            <div class="form-group row " style="margin-top: 1px;">
                                <label class="el-form-item__label col-md-4" >Lote</label>
                                <div class="col-md-5 grupolabel">
                                  <div class="input-group mb-3" >
                                    <el-input v-model="rowSelectedEdit.strLote" readonly auto-complete="off" size="small"></el-input>
                                  </div>
                                </div>
                            </div>
                          </div>
                          <div class="col-sm-5">
                            <div class="form-group row " style="margin-top: 1px;">
                                <label class="el-form-item__label col-md-4" >Sub Lote</label>
                                <div class="col-md-5 grupolabel">
                                  <div class="input-group mb-3" >
                                    <el-input v-model="rowSelectedEdit.strSubLote" readonly auto-complete="off" size="small"></el-input>
                                  </div>
                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="row" style="margin-top: -13px;">                       
                          <div class="col-sm-5">
                            <div class="form-group row " style="margin-top: 1px;">
                                <label class="el-form-item__label col-md-4" >Fecha Recepción</label>
                                <div class="col-md-5 grupolabel">
                                  <div class="input-group mb-3" >
                                    <el-input :value="rowSelectedEdit.dtmFechaRecepcion" readonly auto-complete="off" size="small"></el-input>
                                  </div>
                                </div>
                            </div>
                          </div>
                          <div class="col-sm-5">
                            <div class="form-group row " style="margin-top: 1px;">
                                <label class="el-form-item__label col-md-4" >Estado</label>
                                <div class="col-md-5 grupolabel">
                                  <div class="input-group mb-3" >
                                    <el-select v-model="rowSelectedEdit.strEstadoLote" clearable placeholder="Seleccione Estado" size="small">
                                      <el-option
                                        v-for="item in dataEstado"
                                        :key="item.id_estado"
                                        :label="item.name"
                                        :value="item.id_estado">
                                      </el-option>
                                    </el-select>
                                  </div>
                                </div>
                            </div>
                          </div>
                        </div>                      
                      </div>
                    </el-tab-pane>
                    <el-tab-pane>
                      <span slot="label"> Recepción</span>
                      <div class="container">
                        <div class="row" style="margin-top: -13px;">                       
                          <div class="col-sm-5">
                            <div class="form-group row " style="margin-top: 1px;">
                                <label class="el-form-item__label col-md-4" >Procedencia Mineral</label>
                                <div class="col-md-5 grupolabel">
                                  <div class="input-group mb-3" >
                                    <el-input v-model="rowSelectedEdit.strProcedenciaSt" auto-complete="off" size="mini" disabled></el-input>
                                  </div>
                                </div>
                            </div>
                          </div>
                          <div class="col-sm-5">
                            <div class="form-group row " style="margin-top: 1px;">
                                <label class="el-form-item__label col-md-4" >Material</label>
                                <div class="col-md-5 grupolabel">
                                  <div class="input-group mb-3" >
                                    <el-input v-model="rowSelectedEdit.strMaterial" auto-complete="off" size="mini" disabled></el-input>
                                  </div>
                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="row" style="margin-top: -13px;">                       
                          <div class="col-sm-5">
                            <div class="form-group row " style="margin-top: 1px;">
                                <label class="el-form-item__label col-md-4" >Nro Sacos</label>
                                <div class="col-md-5 grupolabel">
                                  <div class="input-group mb-3" >
                                    <el-input v-model="rowSelectedEdit.intNroSacos" auto-complete="off" size="mini" disabled></el-input>
                                  </div>
                                </div>
                            </div>
                          </div>
                          <div class="col-sm-5">
                            <div class="form-group row " style="margin-top: 1px;">
                                <label class="el-form-item__label col-md-4" >Peso TMH</label>
                                <div class="col-md-5 grupolabel">
                                  <div class="input-group mb-3" >
                                    <el-input v-model="rowSelectedEdit.fltPesoTmh" auto-complete="off" size="mini" disabled></el-input>
                                  </div>
                                </div>
                            </div>
                          </div>
                        </div> 
                        <div class="row" style="margin-top: -13px;">                       
                          <div class="col-sm-5">
                            <div class="form-group row " style="margin-top: 1px;">
                                <label class="el-form-item__label col-md-4" >Procedencia</label>
                                <div class="col-md-5 grupolabel">
                                  <div class="input-group mb-3" >
                                    <el-input v-model="rowSelectedEdit.strProcedenciaLg" auto-complete="off" size="mini" disabled></el-input>
                                  </div>
                                </div>
                            </div>
                          </div>
                          <div class="col-sm-5">
                            <div class="form-group row " style="margin-top: 1px;">
                                <label class="el-form-item__label col-md-4" >Ruc</label>
                                <div class="col-md-5 grupolabel">
                                  <div class="input-group mb-3" >
                                    <el-input v-model="rowSelectedEdit.strClienteRuc" auto-complete="off" size="mini" disabled></el-input>
                                  </div>
                                </div>
                            </div>
                          </div>
                        </div>  
                        <div class="row" style="margin-top: -13px;">                       
                          <div class="col-sm-5">
                            <div class="form-group row " style="margin-top: 1px;">
                                <label class="el-form-item__label col-md-4" >Proveedor Mineral</label>
                                <div class="col-md-5 grupolabel">
                                  <div class="input-group mb-3" >
                                    <el-input v-model="rowSelectedEdit.strClienteRazonS" auto-complete="off" size="mini" disabled></el-input>
                                  </div>
                                </div>
                            </div>
                          </div>
                          <div class="col-sm-5">
                            <div class="form-group row " style="margin-top: 1px;">
                                <label class="el-form-item__label col-md-4" >Dueño Mineral</label>
                                <div class="col-md-5 grupolabel">
                                  <div class="input-group mb-3" >
                                    <el-input v-model="rowSelectedEdit.strDuenioMineral" auto-complete="off" size="mini" disabled></el-input>
                                  </div>
                                </div>
                            </div>
                          </div>
                        </div> 
                        <div class="row" style="margin-top: -13px;">                       
                          <div class="col-sm-10">
                            <div class="form-group row " style="margin-top: 1px;">
                                <label class="el-form-item__label col-md-2" >Observación</label>
                                <div class="col-md-9 grupolabel" style="margin-left: -15px;">
                                  <div class="input-group mb-3" >
                                    <el-input placeholder="Observaciones" v-model="rowSelectedEdit.strObservacion" auto-complete="off" size="mini" disabled></el-input>
                                  </div>
                                </div>
                            </div>
                          </div>
                        </div> 
                      </div>
                    </el-tab-pane>
                    <el-tab-pane>
                      <span slot="label">                   
                      Transportista</span>
                      <div class="container">
                        <div class="row" style="margin-top: -13px;">                       
                          <div class="col-sm-5">
                            <div class="form-group row " style="margin-top: 1px;">
                                <label class="el-form-item__label col-md-4" >Nro. Placa</label>
                                <div class="col-md-5 grupolabel">
                                  <div class="input-group mb-3" >
                                    <el-input disabled v-model="rowSelectedEdit.strNroPlaca" auto-complete="off" size="mini"></el-input>
                                  </div>
                                </div>
                            </div>
                          </div>
                          <div class="col-sm-5">
                            <div class="form-group row " style="margin-top: 1px;">
                                <label class="el-form-item__label col-md-4" >Guia Transportista</label>
                                <div class="col-md-5 grupolabel">
                                  <div class="input-group mb-3" >
                                    <el-input disabled v-model="rowSelectedEdit.strGuiaTransport" auto-complete="off" size="mini"></el-input>
                                  </div>
                                </div>
                            </div>
                          </div>
                        </div> 
                        <div class="row" style="margin-top: -13px;">                       
                          <div class="col-sm-10">
                            <div class="form-group row " style="margin-top: 1px;">
                                <label class="el-form-item__label col-md-2" >Nombre</label>
                                <div class="col-md-8 grupolabel" style="margin-left: -15px;">
                                  <div class="input-group mb-3" >
                                    <el-input type="textarea" disabled v-model="rowSelectedEdit.strNombreTransportista" auto-complete="off" size="mini"></el-input>
                                  </div>
                                </div>
                            </div>
                          </div>
                        </div> 
                      </div>
                    </el-tab-pane>
                    <el-tab-pane>
                      <span slot="label"> Acopiador</span>
                      <div class="container">
                        <div class="row" style="margin-top: -13px;">                       
                          <div class="col-sm-10">
                            <div class="form-group row " style="margin-top: 1px;">
                                <label class="el-form-item__label col-md-2" >Nombre</label>
                                <div class="col-md-8 grupolabel" style="margin-left: -15px;">
                                  <div class="input-group mb-3" >
                                    <el-input disabled v-model="rowSelectedEdit.strNombreAcopiador" auto-complete="off" size="mini"></el-input>
                                  </div>
                                </div>
                            </div>
                          </div>
                        </div> 
                      </div>
                    </el-tab-pane>
                    <el-tab-pane>
                      <span slot="label"> Guia remisión</span>
                      <div class="container">
                        <div class="row" style="margin-top: -13px;">                       
                          <div class="col-sm-5">
                            <div class="form-group row " style="margin-top: 1px;">
                                <label class="el-form-item__label col-md-4" >Código Concesión</label>
                                <div class="col-md-5 grupolabel">
                                  <div class="input-group mb-3" >
                                    <el-input v-model="rowSelectedEdit.strCodConcesion" disabled auto-complete="off" size="mini"></el-input>
                                  </div>
                                </div>
                            </div>
                          </div>
                          <div class="col-sm-5">
                            <div class="form-group row " style="margin-top: 1px;">
                                <label class="el-form-item__label col-md-4" >Guia Remitente</label>
                                <div class="col-md-5 grupolabel">
                                  <div class="input-group mb-3" >
                                    <el-input v-model="rowSelectedEdit.strGuiaRemitente" disabled auto-complete="off" size="mini"></el-input>
                                  </div>
                                </div>
                            </div>
                          </div>
                        </div> 
                        <div class="row" style="margin-top: -13px;">                       
                          <div class="col-sm-5">
                            <div class="form-group row " style="margin-top: 1px;">
                                <label class="el-form-item__label col-md-4" >Nombre Concesión</label>
                                <div class="col-md-5 grupolabel">
                                  <div class="input-group mb-3" >
                                    <el-input v-model="rowSelectedEdit.strNombreConcesion" disabled auto-complete="off" size="mini"></el-input>
                                  </div>
                                </div>
                            </div>
                          </div>
                          <div class="col-sm-5">
                            <div class="form-group row " style="margin-top: 1px;">
                                <label class="el-form-item__label col-md-4" >Código Compromiso</label>
                                <div class="col-md-5 grupolabel">
                                  <div class="input-group mb-3" >
                                    <el-input v-model="rowSelectedEdit.strCodCompromiso" disabled auto-complete="off" size="mini"></el-input>
                                  </div>
                                </div>
                            </div>
                          </div>
                        </div>                       
                      </div>
                    </el-tab-pane>
                    <el-tab-pane>
                      <span slot="label"> Laboratorio</span>
                      <div class="container">
                        <div class="row" style="margin-top: -13px;">                       
                          <div class="col-sm-5">
                            <div class="form-group row " style="margin-top: 1px;">
                                <label class="el-form-item__label col-md-5" >H2O(%) Comercial</label>
                                <div class="col-md-4 grupolabel" style="margin-left: -15px;">
                                  <div class="input-group mb-3" >
                                    <el-input v-model="rowSelectedEdit.strH2OCom" auto-complete="off" size="mini" disabled></el-input>
                                  </div>
                                </div>
                            </div>
                          </div>
                        </div> 
                        <div class="row" style="margin-top: -13px;">                       
                          <div class="col-sm-5">
                            <div class="form-group row " style="margin-top: 1px;">
                                <label class="el-form-item__label col-md-5" >CHECK H2O</label>
                                <div class="col-md-4 grupolabel" style="margin-left: -15px;">
                                  <div class="input-group mb-3" >
                                    <i class="fa fa-check" style="color:red" v-if="checkedH2O"></i>
                                  </div>
                                </div>
                            </div>
                          </div>
                        </div> 
                        <div class="row" style="margin-top: -13px;">                       
                          <div class="col-sm-5">
                            <div class="form-group row " style="margin-top: 1px;">
                                <label class="el-form-item__label col-md-5" >P. SECO TM Comercial</label>
                                <div class="col-md-4 grupolabel" style="margin-left: -15px;">
                                  <div class="input-group mb-3" >
                                    <el-input :value="rowSelectedEdit.strPSecoCom" auto-complete="off" size="mini" disabled></el-input>
                                  </div>
                                </div>
                            </div>
                          </div>
                        </div> 
                      </div>
                    </el-tab-pane>
                    <el-tab-pane>
                      <span slot="label">Leyes</span>
                      <div class="container">
                        <div class="row" style="margin-top: -10px;">                        
                          <div class="col-sm-5">
                            <el-card class="box-card" style="margin-left: -6px;">
                              <div slot="header" class="headercard"  >
                                <span class="labelheadercard">AU</span>                                
                              </div>
                              <div class="row bodycard" >
                                <div class="container">
                                  <div class="form-group row " style="margin-top: 1px;">
                                    <label class="el-form-item__label col-md-4" >Ley Au Oz/tc</label>
                                    <div class="col-md-5 grupolabel">
                                      <div class="input-group mb-3" >
                                        <el-input v-model="rowSelectedEdit.strLeyAuOzTc" disabled auto-complete="off" size="small"
                                          @change="changeLeyAuOzTc(rowSelectedEdit.strLeyAuOzTc)">
                                        </el-input>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="form-group row " style="margin-top: -13px;">
                                    <label class="el-form-item__label col-md-4" >Ley Au REE</label>
                                    <div class="col-md-5 grupolabel">
                                      <div class="input-group mb-3" >
                                        <el-input v-model="rowSelectedEdit.strLeyAuOzTc" disabled auto-complete="off" size="mini"
                                          @change="changeLeyAuOzTc(rowSelectedEdit.strLeyAuOzTc)">
                                        </el-input>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="form-group row " style="margin-top: -13px;">
                                    <label class="el-form-item__label col-md-4" >Ley Au Comercial</label>
                                    <div class="col-md-5 grupolabel">
                                      <div class="input-group mb-3" >
                                        <el-input v-model="rowSelectedEdit.strLeyAuComercial" disabled auto-complete="off" size="mini"></el-input>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="form-group row " style="margin-top: -13px;">
                                    <label class="el-form-item__label col-md-4" >Ley Au Gr/Tm</label>
                                    <div class="col-md-5 grupolabel">
                                      <div class="input-group mb-3" >
                                        <el-input :value="getNumberFloat(rowSelectedEdit.strLeyAuGrTm)" disabled auto-complete="off" size="mini" readonly></el-input>
                                      </div>
                                    </div>
                                  </div>
                                  
                                </div>
                              </div>
                            </el-card>
                          </div>
                          <div class="col-sm-5">
                            <el-card class="box-card" style="margin-left: -6px;">
                              <div slot="header" class="headercard"  >
                                <span class="labelheadercard">AG</span>                                
                              </div>
                              <div class="row bodycard">
                                <div class="container">
                                  <div class="form-group row " style="margin-top: 1px;">
                                    <label class="el-form-item__label col-md-4" >Ley Ag Oz/tc</label>
                                    <div class="col-md-5 grupolabel">
                                      <div class="input-group mb-3" >
                                        <el-input v-model="rowSelectedEdit.strLeyAgOzTc"  disabled auto-complete="off" size="mini"></el-input>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="form-group row " style="margin-top: -13px;">
                                    <label class="el-form-item__label col-md-4" >Ley Ag REE</label>
                                    <div class="col-md-5 grupolabel">
                                      <div class="input-group mb-3" >
                                        <el-input v-model="rowSelectedEdit.strLeyAgREE" disabled auto-complete="off" size="mini"></el-input>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="form-group row " style="margin-top: -13px;">
                                    <label class="el-form-item__label col-md-4" >Ley Ag Comercial</label>
                                    <div class="col-md-5 grupolabel">
                                      <div class="input-group mb-3" >
                                        <el-input v-model="rowSelectedEdit.strLeyAgComercial" disabled auto-complete="off" size="mini"></el-input>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </el-card>
                          </div>
                        </div>
                      </div>
                    </el-tab-pane>
                    <el-tab-pane>
                      <span slot="label">Recuperación</span>
                      <div class="container">
                        <div class="row" style="margin-top: -9px;">                        
                          <div class="col-sm-5">
                            <el-card class="box-card" style="margin-left: -6px;">
                              <div slot="header" class="headercard"  >
                                <span class="labelheadercard">AU</span>                                
                              </div>
                              <div class="row bodycard" >
                                <div class="container">
                                  <div class="form-group row " style="margin-top: 1px;">
                                    <label class="el-form-item__label col-md-5" >RCP Ref (%)</label>
                                    <div class="col-md-5 grupolabel">
                                      <div class="input-group mb-3" >
                                        <el-input v-model="rowSelectedEdit.strPorcRCPRef12hrs" auto-complete="off" size="mini"></el-input>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="form-group row " style="margin-top: -13px;">
                                    <label class="el-form-item__label col-md-5" >RCP Au 48hrs (%)</label>
                                    <div class="col-md-5 grupolabel">
                                      <div class="input-group mb-3" >
                                        <el-input v-model="rowSelectedEdit.strPorcRCPAu30hrs" auto-complete="off" size="mini"></el-input>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="form-group row " style="margin-top: -13px;">
                                    <label class="el-form-item__label col-md-5" >RCP Au 72hrs (%)</label>
                                    <div class="col-md-5 grupolabel" >
                                      <div class="input-group mb-3" >
                                        <el-input v-model="rowSelectedEdit.strPorcRCPAu70hrs" auto-complete="off" size="mini"></el-input>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="form-group row " style="margin-top: -13px;">
                                    <label class="el-form-item__label col-md-5" >REE % RCP Au 72hrs</label>
                                    <div class="col-md-5 grupolabel">
                                      <div class="input-group mb-3" >
                                        <el-input v-model="rowSelectedEdit.strPorcRCPReeAu72hrs" auto-complete="off" size="mini"></el-input>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </el-card>
                          </div>
                          <div class="col-sm-5">
                            <el-card class="box-card" style="margin-left: -6px;">
                              <div slot="header" class="headercard"  >
                                <span class="labelheadercard">AG</span>                                
                              </div>
                              <div class="row bodycard">
                                <div class="container">
                                  <div class="form-group row " style="margin-top: 1px;">
                                    <label class="el-form-item__label col-md-4" >RCP Ag</label>
                                    <div class="col-md-5 grupolabel">
                                      <div class="input-group mb-3" >
                                        <el-input v-model="rowSelectedEdit.strPorcRCPAg30hrs" auto-complete="off" size="mini"></el-input>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </el-card>
                          </div>
                        </div>
                      </div>
                    </el-tab-pane>
                    <el-tab-pane>
                      <span slot="label"> Consumos</span>
                      <div class="container">
                        <div class="row" style="margin-top: -13px;">                       
                          <div class="col-sm-5">
                            <div class="form-group row " style="margin-top: 1px;">
                                <label class="el-form-item__label col-md-5" >NaCN (Kg/TM)</label>
                                <div class="col-md-4 grupolabel" style="margin-left: -15px;">
                                  <div class="input-group mb-3" >
                                    <el-input v-model="rowSelectedEdit.strNaOHKgTM" auto-complete="off" size="mini" disabled></el-input>
                                  </div>
                                </div>
                            </div>
                          </div>
                        </div> 
                        <div class="row" style="margin-top: -13px;">                       
                          <div class="col-sm-5">
                            <div class="form-group row " style="margin-top: 1px;">
                                <label class="el-form-item__label col-md-5" >NaOH (Kg/TM)</label>
                                <div class="col-md-4 grupolabel" style="margin-left: -15px;">
                                  <div class="input-group mb-3" >
                                    <el-input v-model="rowSelectedEdit.strNaOHKgTM" auto-complete="off" size="mini" disabled></el-input>
                                  </div>
                                </div>
                            </div>
                          </div>
                        </div> 
                        <div class="row" style="margin-top: -13px;">                       
                          <div class="col-sm-5">
                            <div class="form-group row " style="margin-top: 1px;">
                                <label class="el-form-item__label col-md-5" >Cobre (%)</label>
                                <div class="col-md-4 grupolabel" style="margin-left: -15px;">
                                  <div class="input-group mb-3" >
                                    <el-input v-model="rowSelectedEdit.strPorcCobre" auto-complete="off" size="mini" disabled></el-input>
                                  </div>
                                </div>
                            </div>
                          </div>
                        </div> 
                      </div>
                    </el-tab-pane>
                  </el-tabs>
                </div>
              </div>
            </el-col>

          </div>
        </div>
      </el-card>
    </div>
      <!--ACTUALIZAR LOTE ADMINISTRADOR-->
    <el-dialog  title="ACTUALIZAR LOTE" top="4%" size="large" :visible.sync="dialogEditarVisible" @close="dialogEditarVisible=false">
      <div style="background:#EEEEEE; width:100%;height:40px;">
        <table cellpadding="0" cellspacing="1" style="margin-bottom:10px; margin-left:30px;" class="hx">
          <tr>
            <td class="texto_labelDialogLeft" style="color:red;font-size:13px;">LOTE:</td>
            <td style="padding-top:3px;padding-left:5px;"><el-input v-model="rowSelectedEdit.strLote" readonly auto-complete="off" size="small"></el-input></td>
            <td class="texto_labelDialogRight" style="font-size:13px;">Sub Lote:</td>
            <td style="padding-top:3px;padding-left:5px;"><el-input v-model="rowSelectedEdit.strSubLote" readonly auto-complete="off" size="small"></el-input></td>
            <td class="texto_labelDialogRight" style="font-size:13px;">Fecha Recepción:</td>
            <td style="padding-top:3px;padding-left:5px;">
              <el-input :value="rowSelectedEdit.dtmFechaRecepcion" readonly auto-complete="off" size="small"></el-input>
            </td>
            <td class="texto_labelDialogRight" style="font-size:13px;">Estado:</td>
            <td style="padding-top:3px;padding-left:5px;">
              <el-select v-model="rowSelectedEdit.strEstadoLote" clearable placeholder="Seleccione Estado" size="small">
                <el-option
                  v-for="item in dataEstado"
                  :key="item.id_estado"
                  :label="item.name"
                  :value="item.id_estado">
                </el-option>
              </el-select>
            </td>
          </tr>
        </table>
      </div>

      <el-row style="padding:5px 2%">
        <el-col :span="10">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#30476ccc;" align="left">
              <span>Datos Recepción</span>
            </div>
            <div class="containerForm">
              <el-row>
                <el-col :span="16">
                  <span>Procedencia Mineral:</span>
                  <el-input v-model="rowSelectedEdit.strProcedenciaSt" auto-complete="off" size="mini" disabled></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Procedencia:</span>
                  <el-input v-model="rowSelectedEdit.strProcedenciaLg" auto-complete="off" size="mini" disabled></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Ruc:</span>
                  <el-input v-model="rowSelectedEdit.strClienteRuc" auto-complete="off" size="mini" disabled></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Proveedor Mineral:</span>
                  <el-input v-model="rowSelectedEdit.strClienteRazonS" auto-complete="off" size="mini" disabled></el-input>
                </el-col>
                <el-col :span="8" style="padding-left:10px">
                  <span>Material:</span>
                  <el-input v-model="rowSelectedEdit.strMaterial" auto-complete="off" size="mini" disabled></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Nro Sacos:</span>
                  <el-input v-model="rowSelectedEdit.intNroSacos" auto-complete="off" size="mini" disabled></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Peso TMH:</span>
                  <el-input v-model="rowSelectedEdit.fltPesoTmh" auto-complete="off" size="mini" disabled></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Dueño Mineral:</span>
                  <el-input v-model="rowSelectedEdit.strDuenioMineral" auto-complete="off" size="mini" disabled></el-input>
                </el-col>
              </el-row>
              <div style="padding:5px 0px">
                <span>Observaciones:</span>
                <el-input placeholder="Observaciones" v-model="rowSelectedEdit.strObservacion"
                  auto-complete="off" size="mini" disabled></el-input>
              </div>
            </div>
          </div>
        </el-col>
        <el-col :span="7" style="padding-left:1%">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#1957b3b0;" align="left">
              <span>Transportista</span>
            </div>
            <div class="containerForm">
              <span>Nombre:</span>
              <el-input type="textarea" disabled v-model="rowSelectedEdit.strNombreTransportista" auto-complete="off" size="mini"></el-input>
              <br><div style="margin-top:5px"></div>
              <span>Nro. Placa:</span>
              <el-input disabled v-model="rowSelectedEdit.strNroPlaca" auto-complete="off" size="mini"></el-input>
              <br><div style="margin-top:5px"></div>
              <span>Guia Transportista:</span>
              <el-input disabled v-model="rowSelectedEdit.strGuiaTransport" auto-complete="off" size="mini"></el-input>
            </div>
          </div>
        </el-col>
        <el-col :span="7" style="padding-left:1%">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#e5dfd4;" align="left">
              <span style="color:#30476c">Acopiador</span>
            </div>
            <div class="containerForm">
              <span>Nombre:</span>
              <el-input disabled v-model="rowSelectedEdit.strNombreAcopiador" auto-complete="off" size="mini"></el-input>
            </div>
          </div>
          <div class="cardForm" style="margin-top:7px">
            <div class="cardForm_Header" style="background:#30476ccc;" align="left">
              <span>Guias de Remisión</span>
            </div>
            <div class="containerForm">
              <el-row>
                <el-col :span="12">
                  <span>Código Concesión:</span>
                  <el-input v-model="rowSelectedEdit.strCodConcesion" disabled auto-complete="off" size="mini"></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Nombre Concesión:</span>
                  <el-input v-model="rowSelectedEdit.strNombreConcesion" disabled auto-complete="off" size="mini"></el-input>
                </el-col>
                <el-col :span="12" style="padding-left:10px">
                  <span>Guia Remitente:</span>
                  <el-input v-model="rowSelectedEdit.strGuiaRemitente" disabled auto-complete="off" size="mini"></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Código Compromiso:</span>
                  <el-input v-model="rowSelectedEdit.strCodCompromiso" disabled auto-complete="off" size="mini"></el-input>
                </el-col>
              </el-row>
            </div>
          </div>
        </el-col>
      </el-row>

      <div class="cardForm_Header" style="background:#eeeeee;" align="left">
        <span style="color:#30476c">Datos Laboratorio</span>
      </div>
      <table cellpadding="0" cellspacing="1" style="margin-left:30px;">
        <tr>
          <td class="texto_labelDialogLeft" style="font-size:13px;">H2O(%) Comercial:</td>
          <td style="padding-top:3px;padding-left:20px;"><el-input v-model="rowSelectedEdit.strH2OCom" auto-complete="off" size="mini" disabled></el-input></td>
          <td class="texto_labelDialogRight" style="font-size:13px;">CHECK H2O:</td>
          <td style="padding-top:3px;padding-left:20px;"><i class="fa fa-check" style="color:red" v-if="checkedH2O"></i></td>
          <td class="texto_labelDialogRight" style="font-size:13px;">P. SECO TM Comercial:</td>
          <td style="padding-top:3px;padding-left:20px;"><el-input :value="rowSelectedEdit.strPSecoCom" auto-complete="off" size="mini" disabled></el-input></td>
        </tr>
      </table>

      <el-row style="padding:5px 2%">
        <el-col :span="9">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#30476ccc;" align="left">
              <span>Leyes</span>
            </div>
            <div class="containerForm">
              <el-row>
                <el-col :span="12">
                  <div style="margin-top:3px"></div>
                  <span>Ley Certificado:</span>
                  <el-input v-model="rowSelectedEdit.strLeyCertificado" auto-complete="off" size="mini"></el-input>

                  <div style="background:#efebcd;width:100%;height:25px;padding-top:5px;margin-top:10px;border-radius:10px;" align="left">
                    <span>Au</span>
                  </div>
                  <div style="margin-top:5px"></div>
                  <span>Ley Au Oz/tc:</span>
                  <el-input v-model="rowSelectedEdit.strLeyAuOzTc" disabled auto-complete="off" size="mini"
                    @change="changeLeyAuOzTc(rowSelectedEdit.strLeyAuOzTc)">
                  </el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Ley Au REE:</span>
                  <el-input v-model="rowSelectedEdit.strLeyAuREE" disabled auto-complete="off" size="mini"></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Ley Au Gr/Tm:</span>
                  <el-input :value="getNumberFloat(rowSelectedEdit.strLeyAuGrTm)" disabled auto-complete="off" size="mini" readonly></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Ley Au Comercial</span>
                  <el-input :value="getNumberFloat(rowSelectedEdit.strLeyAuComercial)" disabled auto-complete="off" size="mini" @change="changeLeyAuCom()"></el-input>
                  <span style="color:red;font-size:10px;" v-if="viewMsgLeyAuComError"><i class="fa fa-times-circle"></i> Ley Au Comercial mayor a Ley Au Oz/tc</span>
                  <span style="color:green;font-size:10px" v-if="viewMsgLeyAuComCheck"><i class="fa fa-check-circle"></i> Ley Au Comercial inferior a Ley Au Oz/tc</span>
                  <span style="color:red;font-size:10px" v-if="viewMsgLeyAuComEqual"><i class="fa fa-check-circle"></i> Ley Au Comercial igual a Ley Au Oz/tc</span>
                </el-col>
                <el-col :span="12" style="padding-left:10px">
                  <div style="margin-top:3px"></div>
                  <span>Ley Dirimencia:</span>
                  <el-input v-model="rowSelectedEdit.strLeyDirimencia" auto-complete="off" size="mini"></el-input>

                  <div style="background:#d4d4d4;width:100%;height:25px;padding-top:5px;margin-top:10px;border-radius:10px;" align="left">
                    <span>Ag</span>
                  </div>
                  <div style="margin-top:5px"></div>
                  <span>Ley Ag Oz/tc:</span>
                  <el-input v-model="rowSelectedEdit.strLeyAgOzTc" auto-complete="off" size="mini" disabled></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Ley Ag REE:</span>
                  <el-input v-model="rowSelectedEdit.strLeyAgREE" auto-complete="off" size="mini" disabled></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Ley Ag Comercial</span>
                  <el-input :value="getNumberFloat(rowSelectedEdit.strLeyAgComercial)" disabled auto-complete="off" size="mini" @change="changeLeyAgCom()"></el-input>
                  <span style="color:red;font-size:10px;" v-if="viewMsgLeyAgComError"><i class="fa fa-times-circle"></i> Ley Ag Comercial mayor a Ley Ag Oz/tc</span>
                  <span style="color:green;font-size:10px" v-if="viewMsgLeyAgComCheck"><i class="fa fa-check-circle"></i> Ley Ag Comercial inferior a Ley Ag Oz/tc</span>
                  <span style="color:red;font-size:10px" v-if="viewMsgLeyAgComEqual"><i class="fa fa-check-circle"></i> Ley Ag Comercial igual a Ley Ag Oz/tc</span>
                </el-col>
              </el-row>
            </div>
          </div>
        </el-col>
        <el-col :span="9" style="padding-left:1%">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#1957b3b0;" align="left">
              <span>Recuperación</span>
            </div>
            <div class="containerForm">
              <el-row>
                <el-col :span="12">
                  <div style="background:#efebcd;width:100%;height:25px;padding-top:5px;border-radius:10px;" align="left">
                    <span>Au</span>
                  </div>
                  <div style="margin-top:5px"></div>
                  <span>RCP Ref (%):</span>
                  <el-input v-model="rowSelectedEdit.strPorcRCPRef12hrs" auto-complete="off" size="mini" disabled></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>RCP Au 48hrs (%):</span>
                  <el-input v-model="rowSelectedEdit.strPorcRCPAu30hrs" auto-complete="off" size="mini" disabled></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>RCP Au 72hrs (%):</span>
                  <el-input v-model="rowSelectedEdit.strPorcRCPAu70hrs" auto-complete="off" size="mini" disabled></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>REE % RCP Au 72hrs:</span>
                  <el-input v-model="rowSelectedEdit.strPorcRCPReeAu72hrs" auto-complete="off" size="mini" disabled></el-input>
                </el-col>
                <el-col :span="12" style="padding-left:10px">
                  <div style="background:#d4d4d4;width:100%;height:25px;padding-top:5px;border-radius:10px;" align="left">
                    <span>Ag</span>
                  </div>
                  <div style="margin-top:5px"></div>
                  <span>RCP Ag:</span>
                  <el-input v-model="rowSelectedEdit.strPorcRCPAg30hrs" auto-complete="off" size="mini" disabled></el-input>
                  <br><br>
                </el-col>
              </el-row>
            </div>
          </div>
        </el-col>
        <el-col :span="6" style="padding-left:1%">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#e5dfd4;" align="left">
              <span style="color:#30476c">Consumos</span>
            </div>
            <div class="containerForm">
              <span>NaCN (Kg/TM):</span>
              <el-input v-model="rowSelectedEdit.strNaCNKgTM" auto-complete="off" size="mini" disabled></el-input>
              <br><div style="margin-top:5px"></div>
              <span>NaOH (Kg/TM):</span>
              <el-input v-model="rowSelectedEdit.strNaOHKgTM" auto-complete="off" size="mini" disabled></el-input>
              <br><div style="margin-top:5px"></div>
              <span>Cobre (%):</span>
              <el-input v-model="rowSelectedEdit.strPorcCobre" auto-complete="off" size="mini" disabled></el-input>
            </div>
          </div>
        </el-col>
      </el-row>
      <div style="margin-top:7px"></div>
      <span slot="footer" class="dialog-footer">
        <el-button type="danger" plain @click="dialogEditarVisible = false">Cancelar</el-button>
        <el-button type="primary" icon="edit" @click="EditarLote(rowSelectedEdit)">Guardar</el-button>
      </span>
    </el-dialog>

    <!--ACTUALIZAR LOTE AREA COMERCIAL-->
    <el-dialog  title="ACTUALIZAR LOTE: COMERCIAL" top="4%" size="large" :visible.sync="dialogEditarComVisible" @close="dialogEditarComVisible=false">
      <div style="background:#EEEEEE; width:100%;height:40px;">
        <table cellpadding="0" cellspacing="1" style="margin-bottom:10px; margin-left:30px;" class="hx">
          <tr>
            <td class="texto_labelDialogLeft" style="color:red;font-size:13px;">LOTE:</td>
            <td style="padding-top:3px;padding-left:5px;"><el-input v-model="rowSelectedEdit.strLote" readonly auto-complete="off" size="small"></el-input></td>
            <td class="texto_labelDialogRight" style="font-size:13px;">Sub Lote:</td>
            <td style="padding-top:3px;padding-left:5px;"><el-input v-model="rowSelectedEdit.strSubLote" readonly auto-complete="off" size="small"></el-input></td>
            <td class="texto_labelDialogRight" style="font-size:13px;">Fecha Recepción:</td>
            <td style="padding-top:3px;padding-left:5px;">
              <el-input :value="rowSelectedEdit.dtmFechaRecepcion" readonly auto-complete="off" size="small"></el-input>
            </td>
            <td class="texto_labelDialogRight" style="font-size:13px;">Estado:</td>
            <td style="padding-top:3px;padding-left:5px;">
              <el-select v-model="rowSelectedEdit.strEstadoLote" clearable placeholder="Seleccione Estado" size="small">
                <el-option
                  v-for="item in dataEstado"
                  :key="item.id_estado"
                  :label="item.name"
                  :value="item.id_estado">
                </el-option>
              </el-select>
            </td>
          </tr>
        </table>
      </div>

      <el-row style="padding:5px 2%">
        <el-col :span="10">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#30476ccc;" align="left">
              <span>Datos Recepción</span>
            </div>
            <div class="containerForm">
              <el-row>
                <el-col :span="16">
                  <span>Procedencia Mineral:</span>
                  <el-input v-model="rowSelectedEdit.strProcedenciaSt" auto-complete="off" size="mini" disabled></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Procedencia:</span>
                  <el-input v-model="rowSelectedEdit.strProcedenciaLg" auto-complete="off" size="mini" disabled></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Ruc:</span>
                  <el-input v-model="rowSelectedEdit.strClienteRuc" auto-complete="off" size="mini" disabled></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Proveedor Mineral:</span>
                  <el-input v-model="rowSelectedEdit.strClienteRazonS" auto-complete="off" size="mini" disabled></el-input>
                </el-col>
                <el-col :span="8" style="padding-left:10px">
                  <span>Material:</span>
                  <el-input v-model="rowSelectedEdit.strMaterial" auto-complete="off" size="mini" disabled></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Nro Sacos:</span>
                  <el-input v-model="rowSelectedEdit.intNroSacos" auto-complete="off" size="mini" disabled></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Peso TMH:</span>
                  <el-input v-model="rowSelectedEdit.fltPesoTmh" auto-complete="off" size="mini" disabled></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Dueño Mineral:</span>
                  <el-input v-model="rowSelectedEdit.strDuenioMineral" auto-complete="off" size="mini" disabled></el-input>
                </el-col>
              </el-row>
              <div style="padding:5px 0px">
                <span>Observaciones:</span>
                <el-input placeholder="Observaciones" v-model="rowSelectedEdit.strObservacion"
                  auto-complete="off" size="mini" disabled></el-input>
              </div>
            </div>
          </div>
        </el-col>
        <el-col :span="7" style="padding-left:1%">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#1957b3b0;" align="left">
              <span>Transportista</span>
            </div>
            <div class="containerForm">
              <span>Nombre:</span>
              <el-input type="textarea" disabled v-model="rowSelectedEdit.strNombreTransportista" auto-complete="off" size="mini"></el-input>
              <br><div style="margin-top:5px"></div>
              <span>Nro. Placa:</span>
              <el-input disabled v-model="rowSelectedEdit.strNroPlaca" auto-complete="off" size="mini"></el-input>
              <br><div style="margin-top:5px"></div>
              <span>Guia Transportista:</span>
              <el-input disabled v-model="rowSelectedEdit.strGuiaTransport" auto-complete="off" size="mini"></el-input>
            </div>
          </div>

        </el-col>
        <el-col :span="7" style="padding-left:1%">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#e5dfd4;" align="left">
              <span style="color:#30476c">Acopiador</span>
            </div>
            <div class="containerForm">
              <span>Nombre:</span>
              <el-input disabled v-model="rowSelectedEdit.strNombreAcopiador" auto-complete="off" size="mini"></el-input>
            </div>
          </div>
          <div class="cardForm" style="margin-top:10px">
            <div class="cardForm_Header" style="background:#30476ccc;" align="left">
              <span>Guias de Remisión</span>
            </div>
            <div class="containerForm">
              <el-row>
                <el-col :span="12">
                  <span>Código Concesión:</span>
                  <el-input v-model="rowSelectedEdit.strCodConcesion" disabled auto-complete="off" size="mini"></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Nombre Concesión:</span>
                  <el-input v-model="rowSelectedEdit.strNombreConcesion" disabled auto-complete="off" size="mini"></el-input>
                </el-col>
                <el-col :span="12" style="padding-left:10px">
                  <span>Guia Remitente:</span>
                  <el-input v-model="rowSelectedEdit.strGuiaRemitente" disabled auto-complete="off" size="mini"></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Código Compromiso:</span>
                  <el-input v-model="rowSelectedEdit.strCodCompromiso" disabled auto-complete="off" size="mini"></el-input>
                </el-col>
              </el-row>
            </div>
          </div>
        </el-col>
      </el-row>

      <div class="cardForm_Header" style="background:#eeeeee;" align="left">
        <span style="color:#30476c">Datos Laboratorio</span>
      </div>
      <table cellpadding="0" cellspacing="1" style="margin-left:30px;">
        <tr>
          <td class="texto_labelDialogLeft" style="font-size:13px;">H2O(%) Comercial:</td>
          <td style="padding-top:3px;padding-left:20px;"><el-input v-model="rowSelectedEdit.strH2OCom" auto-complete="off" size="mini" disabled></el-input></td>
          <td class="texto_labelDialogRight" style="font-size:13px;">CHECK H2O:</td>
          <td style="padding-top:3px;padding-left:20px;"><i class="fa fa-check" style="color:red" v-if="checkedH2O"></i></td>
          <td class="texto_labelDialogRight" style="font-size:13px;">P. SECO TM Comercial:</td>
          <td style="padding-top:3px;padding-left:20px;"><el-input :value="rowSelectedEdit.strPSecoCom" auto-complete="off" size="mini" disabled></el-input></td>
        </tr>
      </table>

      <el-row style="padding:5px 2%">
        <el-col :span="9">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#30476ccc;" align="left">
              <span>Leyes</span>
            </div>
            <div class="containerForm">
              <el-row>
                <el-col :span="12">
                  <div style="margin-top:3px"></div>
                  <span>Ley Certificado:</span>
                  <el-input v-model="rowSelectedEdit.strLeyCertificado" auto-complete="off" size="mini"></el-input>

                  <div style="background:#efebcd;width:100%;height:25px;padding-top:5px;margin-top:10px;border-radius:10px;" align="left">
                    <span>Au</span>
                  </div>
                  <div style="margin-top:5px"></div>
                  <span>Ley Au Oz/tc:</span>
                  <el-input v-model="rowSelectedEdit.strLeyAuOzTc" disabled auto-complete="off" size="mini"
                    @change="changeLeyAuOzTc(rowSelectedEdit.strLeyAuOzTc)">
                  </el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Ley Au REE:</span>
                  <el-input v-model="rowSelectedEdit.strLeyAuREE" disabled auto-complete="off" size="mini"></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Ley Au Gr/Tm:</span>
                  <el-input :value="getNumberFloat(rowSelectedEdit.strLeyAuGrTm)" disabled auto-complete="off" size="mini" readonly></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Ley Au Comercial</span>
                  <el-input :value="getNumberFloat(rowSelectedEdit.strLeyAuComercial)" disabled auto-complete="off" size="mini" @change="changeLeyAuCom()"></el-input>
                  <span style="color:red;font-size:10px;" v-if="viewMsgLeyAuComError"><i class="fa fa-times-circle"></i> Ley Au Comercial mayor a Ley Au Oz/tc</span>
                  <span style="color:green;font-size:10px" v-if="viewMsgLeyAuComCheck"><i class="fa fa-check-circle"></i> Ley Au Comercial inferior a Ley Au Oz/tc</span>
                  <span style="color:red;font-size:10px" v-if="viewMsgLeyAuComEqual"><i class="fa fa-check-circle"></i> Ley Au Comercial igual a Ley Au Oz/tc</span>
                </el-col>
                <el-col :span="12" style="padding-left:10px">
                  <div style="margin-top:3px"></div>
                  <span>Ley Dirimencia:</span>
                  <el-input v-model="rowSelectedEdit.strLeyDirimencia" auto-complete="off" size="mini"></el-input>

                  <div style="background:#d4d4d4;width:100%;height:25px;padding-top:5px;margin-top:10px;border-radius:10px;" align="left">
                    <span>Ag</span>
                  </div>
                  <div style="margin-top:5px"></div>
                  <span>Ley Ag Oz/tc:</span>
                  <el-input v-model="rowSelectedEdit.strLeyAgOzTc" auto-complete="off" size="mini" disabled></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Ley Ag REE:</span>
                  <el-input v-model="rowSelectedEdit.strLeyAgREE" auto-complete="off" size="mini" disabled></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Ley Ag Comercial</span>
                  <el-input :value="getNumberFloat(rowSelectedEdit.strLeyAgComercial)" disabled auto-complete="off" size="mini" @change="changeLeyAgCom()"></el-input>
                  <span style="color:red;font-size:10px;" v-if="viewMsgLeyAgComError"><i class="fa fa-times-circle"></i> Ley Ag Comercial mayor a Ley Ag Oz/tc</span>
                  <span style="color:green;font-size:10px" v-if="viewMsgLeyAgComCheck"><i class="fa fa-check-circle"></i> Ley Ag Comercial inferior a Ley Ag Oz/tc</span>
                  <span style="color:red;font-size:10px" v-if="viewMsgLeyAgComEqual"><i class="fa fa-check-circle"></i> Ley Ag Comercial igual a Ley Ag Oz/tc</span>
                </el-col>
              </el-row>
            </div>
          </div>
        </el-col>
        <el-col :span="9" style="padding-left:1%">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#1957b3b0;" align="left">
              <span>Recuperación</span>
            </div>
            <div class="containerForm">
              <el-row>
                <el-col :span="12">
                  <div style="background:#efebcd;width:100%;height:25px;padding-top:5px;border-radius:10px;" align="left">
                    <span>Au</span>
                  </div>
                  <div style="margin-top:5px"></div>
                  <span>RCP Ref (%):</span>
                  <el-input v-model="rowSelectedEdit.strPorcRCPRef12hrs" auto-complete="off" size="mini" disabled></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>RCP Au 48hrs (%):</span>
                  <el-input v-model="rowSelectedEdit.strPorcRCPAu30hrs" auto-complete="off" size="mini" disabled></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>RCP Au 72hrs (%):</span>
                  <el-input v-model="rowSelectedEdit.strPorcRCPAu70hrs" auto-complete="off" size="mini" disabled></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>REE % RCP Au 72hrs:</span>
                  <el-input v-model="rowSelectedEdit.strPorcRCPReeAu72hrs" auto-complete="off" size="mini" disabled></el-input>
                </el-col>
                <el-col :span="12" style="padding-left:10px">
                  <div style="background:#d4d4d4;width:100%;height:25px;padding-top:5px;border-radius:10px;" align="left">
                    <span>Ag</span>
                  </div>
                  <div style="margin-top:5px"></div>
                  <span>RCP Ag:</span>
                  <el-input v-model="rowSelectedEdit.strPorcRCPAg30hrs" auto-complete="off" size="mini" disabled></el-input>
                  <br><br>
                </el-col>
              </el-row>
            </div>
          </div>
        </el-col>
        <el-col :span="6" style="padding-left:1%">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#e5dfd4;" align="left">
              <span style="color:#30476c">Consumos</span>
            </div>
            <div class="containerForm">
              <span>NaCN (Kg/TM):</span>
              <el-input v-model="rowSelectedEdit.strNaCNKgTM" auto-complete="off" size="mini" disabled></el-input>
              <br><div style="margin-top:5px"></div>
              <span>NaOH (Kg/TM):</span>
              <el-input v-model="rowSelectedEdit.strNaOHKgTM" auto-complete="off" size="mini" disabled></el-input>
              <br><div style="margin-top:5px"></div>
              <span>Cobre (%):</span>
              <el-input v-model="rowSelectedEdit.strPorcCobre" auto-complete="off" size="mini" disabled></el-input>
            </div>
          </div>
        </el-col>
      </el-row>
      <div style="margin-top:7px"></div>
      <span slot="footer" class="dialog-footer">
        <el-button type="danger" plain @click="dialogEditarComVisible = false">Cancelar</el-button>
        <el-button v-if="editViewButton" type="primary" icon="edit" @click="EditarLote(rowSelectedEdit)">Guardar</el-button>
      </span>
    </el-dialog>

    <!--DETALLE LOTE COMERCIAL-->
    <el-dialog  title="DETALLE LOTE" top="4%" size="large" :visible.sync="dialogDetalleVisible" @close="dialogDetalleVisible=false">
      <div style="background:#EEEEEE; width:100%;height:40px;">
        <table cellpadding="0" cellspacing="1" style="margin-bottom:10px; margin-left:30px;" class="hx">
          <tr>
            <td class="texto_labelDialogLeft" style="color:red;font-size:13px;">LOTE:</td>
            <td style="padding-top:3px;padding-left:5px;"><el-input v-model="rowSelectedEdit.strLote" readonly auto-complete="off" size="small"></el-input></td>
            <td class="texto_labelDialogRight" style="font-size:13px;">Sub Lote:</td>
            <td style="padding-top:3px;padding-left:5px;"><el-input v-model="rowSelectedEdit.strSubLote" readonly auto-complete="off" size="small"></el-input></td>
            <td class="texto_labelDialogRight" style="font-size:13px;">Fecha Recepción:</td>
            <td style="padding-top:3px;padding-left:5px;">
              <el-input :value="rowSelectedEdit.dtmFechaRecepcion" readonly auto-complete="off" size="small"></el-input>
            </td>
            <td class="texto_labelDialogRight" style="font-size:13px;">Estado:</td>
            <td style="padding-top:3px;padding-left:5px;">
              <el-select v-model="rowSelectedEdit.strEstadoLote" clearable disabled size="small">
                <el-option
                  v-for="item in dataEstado"
                  :key="item.id_estado"
                  :label="item.name"
                  :value="item.id_estado">
                </el-option>
              </el-select>
            </td>
          </tr>
        </table>
      </div>

      <el-row style="padding:5px 2%">
        <el-col :span="10">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#30476ccc;" align="left">
              <span>Datos Recepción</span>
            </div>
            <div class="containerForm">
              <el-row>
                <el-col :span="16">
                  <span>Procedencia Mineral:</span>
                  <el-input v-model="rowSelectedEdit.strProcedenciaSt" auto-complete="off" size="mini" readonly></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Procedencia:</span>
                  <el-input v-model="rowSelectedEdit.strProcedenciaLg" auto-complete="off" size="mini" readonly></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Ruc:</span>
                  <el-input v-model="rowSelectedEdit.strClienteRuc" auto-complete="off" size="mini" readonly></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Proveedor Mineral:</span>
                  <el-input v-model="rowSelectedEdit.strClienteRazonS" auto-complete="off" size="mini" readonly></el-input>
                </el-col>
                <el-col :span="8" style="padding-left:10px">
                  <span>Material:</span>
                  <el-input v-model="rowSelectedEdit.strMaterial" auto-complete="off" size="mini" readonly></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Nro Sacos:</span>
                  <el-input v-model="rowSelectedEdit.intNroSacos" auto-complete="off" size="mini" readonly></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Peso TMH:</span>
                  <el-input v-model="rowSelectedEdit.fltPesoTmh" auto-complete="off" size="mini" readonly></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Dueño Mineral:</span>
                  <el-input v-model="rowSelectedEdit.strDuenioMineral" auto-complete="off" size="mini" readonly></el-input>
                </el-col>
              </el-row>
              <div style="padding:5px 0px">
                <span>Observaciones:</span>
                <el-input placeholder="Observaciones" v-model="rowSelectedEdit.strObservacion"
                  auto-complete="off" size="mini" readonly></el-input>
              </div>
            </div>
          </div>
        </el-col>
        <el-col :span="7" style="padding-left:1%">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#1957b3b0;" align="left">
              <span>Transportista</span>
            </div>
            <div class="containerForm">
              <span>Nombre:</span>
              <el-input type="textarea" readonly v-model="rowSelectedEdit.strNombreTransportista" auto-complete="off" size="mini"></el-input>
              <br><div style="margin-top:5px"></div>
              <span>Nro. Placa:</span>
              <el-input readonly v-model="rowSelectedEdit.strNroPlaca" auto-complete="off" size="mini"></el-input>
              <br><div style="margin-top:5px"></div>
              <span>Guia Transportista:</span>
              <el-input readonly v-model="rowSelectedEdit.strGuiaTransport" auto-complete="off" size="mini"></el-input>
            </div>
          </div>

        </el-col>
        <el-col :span="7" style="padding-left:1%">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#e5dfd4;" align="left">
              <span style="color:#30476c">Acopiador</span>
            </div>
            <div class="containerForm">
              <span>Nombre:</span>
              <el-input readonly v-model="rowSelectedEdit.strNombreAcopiador" auto-complete="off" size="mini"></el-input>
            </div>
          </div>
          <div class="cardForm" style="margin-top:7px">
            <div class="cardForm_Header" style="background:#30476ccc;" align="left">
              <span>Guias de Remisión</span>
            </div>
            <div class="containerForm">
              <el-row>
                <el-col :span="12">
                  <span>Código Concesión:</span>
                  <el-input v-model="rowSelectedEdit.strCodConcesion" readonly auto-complete="off" size="mini"></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Nombre Concesión:</span>
                  <el-input v-model="rowSelectedEdit.strNombreConcesion" readonly auto-complete="off" size="mini"></el-input>
                </el-col>
                <el-col :span="12" style="padding-left:10px">
                  <span>Guia Remitente:</span>
                  <el-input v-model="rowSelectedEdit.strGuiaRemitente" readonly auto-complete="off" size="mini"></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Código Compromiso:</span>
                  <el-input v-model="rowSelectedEdit.strCodCompromiso" readonly auto-complete="off" size="mini"></el-input>
                </el-col>
              </el-row>
            </div>
          </div>
        </el-col>
      </el-row>

      <div class="cardForm_Header" style="background:#eeeeee;" align="left">
        <span style="color:#30476c">Datos Laboratorio</span>
      </div>
      <table cellpadding="0" cellspacing="1" style="margin-left:30px;">
        <tr>
          <td class="texto_labelDialogLeft" style="font-size:13px;">H2O(%) Comercial:</td>
          <td style="padding-top:3px;padding-left:20px;"><el-input v-model="rowSelectedEdit.strH2OCom" auto-complete="off" size="mini" readonly></el-input></td>
          <td class="texto_labelDialogRight" style="font-size:13px;">CHECK H2O:</td>
          <td style="padding-top:3px;padding-left:20px;"><i class="fa fa-check" style="color:red" v-if="checkedH2O"></i></td>
          <td class="texto_labelDialogRight" style="font-size:13px;">P. SECO TM Comercial:</td>
          <td style="padding-top:3px;padding-left:20px;"><el-input :value="rowSelectedEdit.strPSecoCom" auto-complete="off" size="mini" readonly></el-input></td>
        </tr>
      </table>

      <el-row style="padding:5px 2%">
        <el-col :span="9">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#30476ccc;" align="left">
              <span>Leyes</span>
            </div>
            <div class="containerForm">
              <el-row>
                <el-col :span="12">
                  <div style="margin-top:3px"></div>
                  <span>Ley Certificado:</span>
                  <el-input v-model="rowSelectedEdit.strLeyCertificado" readonly auto-complete="off" size="mini"></el-input>

                  <div style="background:#efebcd;width:100%;height:25px;padding-top:5px;margin-top:10px;border-radius:10px;" align="left">
                    <span>Au</span>
                  </div>
                  <div style="margin-top:5px"></div>
                  <span>Ley Au Oz/tc:</span>
                  <el-input v-model="rowSelectedEdit.strLeyAuOzTc" readonly auto-complete="off" size="mini"
                    @change="changeLeyAuOzTc(rowSelectedEdit.strLeyAuOzTc)">
                  </el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Ley Au REE:</span>
                  <el-input v-model="rowSelectedEdit.strLeyAuREE" readonly auto-complete="off" size="mini"></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Ley Au Gr/Tm:</span>
                  <el-input :value="getNumberFloat(rowSelectedEdit.strLeyAuGrTm)" readonly auto-complete="off" size="mini" readonly></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Ley Au Comercial</span>
                  <el-input v-model="rowSelectedEdit.strLeyAuComercial" readonly auto-complete="off" size="mini"></el-input>
                </el-col>
                <el-col :span="12" style="padding-left:10px">
                  <div style="margin-top:3px"></div>
                  <span>Ley Dirimencia:</span>
                  <el-input v-model="rowSelectedEdit.strLeyDirimencia" readonly auto-complete="off" size="mini"></el-input>

                  <div style="background:#d4d4d4;width:100%;height:25px;padding-top:5px;margin-top:10px;border-radius:10px;" align="left">
                    <span>Ag</span>
                  </div>
                  <div style="margin-top:5px"></div>
                  <span>Ley Ag Oz/tc:</span>
                  <el-input v-model="rowSelectedEdit.strLeyAgOzTc" auto-complete="off" size="mini" readonly></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Ley Ag REE:</span>
                  <el-input v-model="rowSelectedEdit.strLeyAgREE" auto-complete="off" size="mini" readonly></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Ley Ag Comercial</span>
                  <el-input v-model="rowSelectedEdit.strLeyAgComercial" auto-complete="off" size="mini" readonly></el-input>
                </el-col>
              </el-row>
            </div>
          </div>
        </el-col>
        <el-col :span="9" style="padding-left:1%">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#1957b3b0;" align="left">
              <span>Recuperación</span>
            </div>
            <div class="containerForm">
              <el-row>
                <el-col :span="12">
                  <div style="background:#efebcd;width:100%;height:25px;padding-top:5px;border-radius:10px;" align="left">
                    <span>Au</span>
                  </div>
                  <div style="margin-top:5px"></div>
                  <span>RCP Ref (%):</span>
                  <el-input v-model="rowSelectedEdit.strPorcRCPRef12hrs" auto-complete="off" size="mini" readonly></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>RCP Au 48hrs (%):</span>
                  <el-input v-model="rowSelectedEdit.strPorcRCPAu30hrs" auto-complete="off" size="mini" readonly></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>RCP Au 72hrs (%):</span>
                  <el-input v-model="rowSelectedEdit.strPorcRCPAu70hrs" auto-complete="off" size="mini" readonly></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>REE % RCP Au 72hrs:</span>
                  <el-input v-model="rowSelectedEdit.strPorcRCPReeAu72hrs" auto-complete="off" size="mini" readonly></el-input>
                </el-col>
                <el-col :span="12" style="padding-left:10px">
                  <div style="background:#d4d4d4;width:100%;height:25px;padding-top:5px;border-radius:10px;" align="left">
                    <span>Ag</span>
                  </div>
                  <div style="margin-top:5px"></div>
                  <span>RCP Ag:</span>
                  <el-input v-model="rowSelectedEdit.strPorcRCPAg30hrs" auto-complete="off" size="mini" readonly></el-input>
                </el-col>
              </el-row>
            </div>
          </div>
        </el-col>
        <el-col :span="6" style="padding-left:1%">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#e5dfd4;" align="left">
              <span style="color:#30476c">Consumos</span>
            </div>
            <div class="containerForm">
              <span>NaCN (Kg/TM):</span>
              <el-input v-model="rowSelectedEdit.strNaCNKgTM" auto-complete="off" size="mini" readonly></el-input>
              <br><div style="margin-top:5px"></div>
              <span>NaOH (Kg/TM):</span>
              <el-input v-model="rowSelectedEdit.strNaOHKgTM" auto-complete="off" size="mini" readonly></el-input>
              <br><div style="margin-top:5px"></div>
              <span>Cobre (%):</span>
              <el-input v-model="rowSelectedEdit.strPorcCobre" auto-complete="off" size="mini" readonly></el-input>
            </div>
          </div>
        </el-col>
      </el-row>
      <div style="margin-top:7px"></div>
      <span slot="footer" class="dialog-footer">
        <el-button type="danger" plain @click="dialogDetalleVisible = false">Cerrar</el-button>
      </span>
    </el-dialog>

    <transition name="modal" v-if="showModal">
      <div class="modal-mask">
        <div class="modal-wrapper">
          <div class="modal-container" align="left">
            <div class="modal-header">
              <slot name="header">
                <!-- <el-tag type="danger">Advertencia</el-tag> -->
                <span style="color:red;font-weight:bold">Advertencia</span>
                <hr>
              </slot>
            </div>
            <div class="" style="margin:5px 0px;font-size:12px">
              <span>Ley Comercial Incorrecta, fuera de intervalo</span>
            </div>
            <div class="">
              <slot name="">
                <el-button @click="showModal = false" size="small" type="primary" plain>OK</el-button>
              </slot>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>   

<script>
  import ComercialComponent from '@/components/comercial/comercial.component'
  export default ComercialComponent
</script>
<style>

</style>
