<template>
  <div>
    <div class="slider">
      <div class="slider-wrap">
        <div class="single-slide" id="slide-1"></div>
        <div class="single-slide" id="slide-2"></div>
        <div class="single-slide" id="slide-3"></div>
        <div class="single-slide" id="slide-4"></div>
        <div class="single-slide" id="slide-5"></div>
      </div>
    </div>
    <div class="wrapper">
      <el-form class="login" :label-position="labelPosition"  :model="formLabelAlign">
        <div class="container ">
          <img src="../../images/hsec4.png" alt="">
        </div>
        <input type="text" v-model="formLabelAlign.name" style="height: 25px;!important;" placeholder="Username" autofocus/>
        <i class="fa fa-user"></i>
        <input type="password" v-model="formLabelAlign.region" style="height: 25px;!important;"  placeholder="Password" />
        <i class="fa fa-key"></i>
        <a href="#">Forgot your password?</a>
        <el-button @click='navegacion'>
          <i class="spinner"></i>
          <span class="state">Log in</span>
        </el-button>
      </el-form>
    </div>
    <div class="footer">
      <span class="footertext">©2017 Antapaccay</span>
    </div>
  </div>
</template>


<script>
  import Login from '@/components/login/login.component'
  export default Login
</script>
<style>
</style>
