<template>
  <div>
    <el-card class="box-card" style="margin-top:5px;">
      <div slot="header" class="clearfix" align="center">
        <span>LEYES REFERENCIALES: BALANZA</span>
      </div>
      <div align="center">
        <table cellpadding="0" cellspacing="1">
          <tr>
            <td class="texto_labelDialogLeft" style="font-size:13px;">Mes:</td>
            <td style="padding-top:3px;padding-left:10px;">
              <el-date-picker
                v-model="fechaSearch"
                type="month"
                size="small"
                format="MMMM / yyyy"
                placeholder="Seleccione Mes"
                :editable = "false">
              </el-date-picker>
            </td>
            <td class="texto_labelDialogRight" style="font-size:13px;">Codigo:</td>
            <td style="padding-top:3px;padding-left:10px;">
              <el-input
                placeholder="*"
                size="small"
                v-model="FormSearch.strDescripcion"
                @keyup.enter.native="SearchLeyesReferenciales()">
              </el-input>
            </td>
            <td class="texto_labelDialogRight" style="font-size:13px;">Tipo Mineral:</td>
            <td style="padding-top:3px;padding-left:10px;">
              <el-input
                placeholder="*"
                size="small"
                v-model="FormSearch.strTipoMineral"
                @keyup.enter.native="SearchLeyesReferenciales()">
              </el-input>
            </td>
            <td class="texto_labelDialogRight" style="font-size:13px;">Zona:</td>
            <td style="padding-top:3px;padding-left:10px;">
              <el-input
                placeholder="*"
                size="small"
                v-model="FormSearch.strZona"
                @keyup.enter.native="SearchLeyesReferenciales()">
              </el-input>
            </td>
            <td style="padding-top:3px;padding-left:20px;">
              <el-button size="small" type="primary" icon="search" @click="SearchLeyesReferenciales()">Buscar</el-button>
            </td>
          </tr>
        </table>
      </div>
      <el-button size="small" type="primary" @click="handleAgregar()" v-if="viewAccessEscritura"><i class="fa fa-plus"></i> Agregar</el-button>
      <el-table
        :data="gridData"
        border
        highlight-current-row
        v-loading="loadingGetData"
        :max-height="sizeScreen"
        element-loading-text="Cargando leyes referenciales..."
        style="width: 100%; font-size: 10px;margin-top:8px">
        <el-table-column label="Item" align="center" width="80">
          <template scope="scope">
            <span style="color:red;font-size:11px"><b>{{ scope.row.strCorrelativo}}</b></span>
          </template>
        </el-table-column>
        <el-table-column label="Fecha Recepcion" width="100" align="center">
          <template scope="scope">
            <span>{{ getDateString(scope.row.dtmFechaRecepcion) }}</span>
          </template>
        </el-table-column>
        <el-table-column prop="strDescripcion" label="Código" width="200"></el-table-column>
        <el-table-column prop="strTipoMineral" label="Tipo Mineral" align="center"></el-table-column>
        <el-table-column prop="strZona" label="Procedencia" align="center"></el-table-column>
        <el-table-column prop="strAcopiador" label="Responsable" align="center"></el-table-column>
        <el-table-column prop="strPruebaMetalurgica" label="Prueba Metalurgica" align="center"></el-table-column>
        <el-table-column prop="strLeyAuOzTc" label="Ley Au Oz/Tc" align="center"></el-table-column>
        <el-table-column prop="strLeyAgOzTc" label="Ley Ag Oz/Tc" align="center"></el-table-column>
        <el-table-column label="OPERACIONES" fixed="right" width="110" align="center" v-if="viewAccessEscritura">
          <template scope="scope">
            <el-button icon="edit" size="mini" type="success"
              @click="handleEdit(scope.$index, scope.row)">Actualizar</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-row type="flex" class="row-bg" style="margin-bottom:5px">
        <el-col :span="11">
          <el-pagination layout="prev, pager, next" :total="totalRegistros" :page-size="RegistersForPage" :current-page.sync="pagina" @current-change="cambioPagina()">
          </el-pagination>
        </el-col>
        <el-col :span="11" style="margin-top:7px">
          <span style="font-size:14px;">Total de Registros: <b>{{countGridData}}</b></span>
        </el-col>
      </el-row>
      <!-- <download-excel :data="CompleteData" :fields = "json_fields" :meta = "json_meta" :name = "titleExcel" v-if="viewAccessEscritura">
      </download-excel> -->
    </el-card>

    <!--AGREGAR LEY REFERENCIAL-->
    <el-dialog  title="AGREGAR LEY REFERENCIAL" size="tiny" :visible.sync="dialogAgregarVisible" @close="dialogAgregarVisible=false">
      <div style="background:#EEEEEE; width:100%;height:50px;">
        <table cellpadding="0" cellspacing="1" style="margin-bottom:10px; margin-left:20px;" class="hx">
          <tr>
            <td class="texto_labelDialogLeft" style="color:red">Item:</td>
            <td style="padding-top:10px;padding-left:20px;">
              <el-input size="small" readonly v-model="FormAgregar.strCorrelativo"></el-input>
            </td>
          </tr>
        </table>
      </div>
      <el-form :model="FormAgregar" label-width="150px" label-position="left" style="padding:10px 20px">
        <el-form-item label="Fecha Recepcion:" class="marginFormItem">
          <el-date-picker
            v-model="fechaAgregar"
            size="small"
            format="dd/MM/yyyy"
            placeholder="*">
          </el-date-picker>
        </el-form-item>
        <el-form-item label="Código ó Nombre Muestra:" class="marginFormItem">
          <el-input
            placeholder="*"
            size="small"
            v-model="FormAgregar.strDescripcion">
          </el-input>
        </el-form-item>
        <el-form-item label="Tipo Mineral:" class="marginFormItem">
          <el-select v-model="FormAgregar.strTipoMineral" clearable filterable size="small">
            <el-option
              v-for="item in TipoMineral"
              :key="item.id"
              :label="item.name"
              :value="item.name">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="Procedencia:" class="marginFormItem">
          <el-input
            placeholder="*"
            size="small"
            v-model="FormAgregar.strZona">
          </el-input>
        </el-form-item>
        <el-form-item label="Responsable:" class="marginFormItem">
          <el-input
            placeholder="*"
            size="small"
            v-model="FormAgregar.strAcopiador">
          </el-input>
        </el-form-item>
      </el-form>
      <br>
      <span slot="footer" class="dialog-footer">
        <el-button type="danger" plain @click="dialogAgregarVisible = false">Cancelar</el-button>
        <el-button type="primary" @click="AgregarLeyReferencial(FormAgregar)"><i class="fa fa-plus"></i> Agregar</el-button>
      </span>
    </el-dialog>

    <!--EDITAR LEY REFERENCIAL-->
    <el-dialog  title="ACTUALIZAR LEY REFERENCIAL" size="tiny" :visible.sync="dialogEditarVisible" @close="dialogEditarVisible=false">
      <div style="background:#EEEEEE; width:100%;height:50px;">
        <table cellpadding="0" cellspacing="1" style="margin-bottom:10px; margin-left:20px;" class="hx">
          <tr>
            <td class="texto_labelDialogLeft" style="color:red">Item:</td>
            <td style="padding-top:10px;padding-left:20px;">
              <el-input placeholder="*" size="small" v-model="rowSelectedEdit.strCorrelativo" readonly></el-input>
            </td>
          </tr>
        </table>
      </div>
      <el-form :model="rowSelectedEdit" label-width="150px" label-position="left" style="padding:10px 20px">
        <el-form-item label="Fecha Recepcion" class="marginFormItem">
          <el-date-picker
            v-model="fechaEditar"
            size="small"
            format="dd/MM/yyyy"
            placeholder="*">
          </el-date-picker>
        </el-form-item>
        <el-form-item label="Código" class="marginFormItem">
          <el-input
            placeholder="*"
            size="small"
            v-model="rowSelectedEdit.strDescripcion">
          </el-input>
        </el-form-item>
        <el-form-item label="Tipo Mineral" class="marginFormItem">
          <el-input
            placeholder="*"
            size="small"
            v-model="rowSelectedEdit.strTipoMineral">
          </el-input>
        </el-form-item>
        <el-form-item label="Procedencia" class="marginFormItem">
          <el-input
            placeholder="*"
            size="small"
            v-model="rowSelectedEdit.strZona">
          </el-input>
        </el-form-item>
        <el-form-item label="Responsable" class="marginFormItem">
          <el-input
            placeholder="*"
            size="small"
            v-model="rowSelectedEdit.strAcopiador">
          </el-input>
        </el-form-item>
      </el-form>

      <br>
      <span slot="footer" class="dialog-footer">
        <el-button type="danger" plain @click="dialogEditarVisible = false">Cancelar</el-button>
        <el-button type="primary" icon="edit" @click="ActualizarLeyReferencial(rowSelectedEdit)">Guardar</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
  import LeyReferencialBalComponent from '@/components/leyesReferenciales/leyReferencial_bal/leyReferencialBal.component'
  export default LeyReferencialBalComponent
</script>
<style>
</style>
