<template>
  <div>
    <ol  style="margin-left: -1.5rem;background: linear-gradient(rgb(229, 241, 247) 0%, rgb(255, 255, 255) 100%);    margin-bottom: 0rem !important;">
        <quickaccessmenu v-on:ValidarItem="BuscarReporte()" v-on:backPage="backPage($event)"  v-on:reloadpage="reloadpage($event)"></quickaccessmenu>
        </ol>
    <el-card class="box-card" style="margin-top:5px;">
      <div slot="header" class="headercard">
        <span>CONTROL CUOTAS</span>
      </div>
      <div >
        <table cellpadding="0" cellspacing="1">
          <tr>
            <td class="texto_labelDialogLeft" style="font-size:13px;">Mes:</td>
            <td style="padding-top:3px;padding-left:20px;">
              <el-date-picker
                v-model="fechaSearch"
                type="month"
                size="mini"
                format="MMMM / yyyy"
                placeholder="Seleccione Mes"
                :editable = "false">
              </el-date-picker>
            </td>
            <td class="texto_labelDialogRight" style="font-size:13px;">Acopiador:</td>
            <td style="padding-top:3px;padding-left:20px;">
              <el-input v-model="FormSearch.strAcopiador" @keyup.enter.native="BuscarReporte()" size="mini" auto-complete="off" placeholder="*"></el-input>
            </td>
            <!-- <td style="padding-top:3px;padding-left:20px;">
              <el-button size="small" type="primary" icon="search" @click="BuscarReporte()">Cargar Reporte</el-button>
            </td> -->
            <!-- <td style="padding-top:3px;padding-left:20px;">
              <el-button size="small" type="danger" @click="LimpiarConsulta()"><i class="fa fa-paint-brush"></i> Limpiar</el-button>
            </td> -->
          </tr>
        </table>
      </div>
      <div class="headercard" >
        <buttons-accions v-on:Limpiar="clickactive('B')" v-on:Buscar="clickactive('A')" v-on:AscItem="AscItem" v-on:DscItem="DscItem" v-on:siguiente="siguiente()" v-on:anterior="anterior()" v-on:EliminarItem="EliminarItem()" ></buttons-accions>
      </div>
      <el-table
      ref="missionTable"
        :data="gridData"
        stripe  :default-sort = "{prop: 'date', order: 'descending'}"
        border
        :max-height="sizeScreen"
        class="ExcelTable2007"
        highlight-current-row
        v-loading="loadingGetData"
        element-loading-text="Cargando Cuotas..."
        style="width:100%;font-size:10px;margin:10px 0px">
        <el-table-column label="Acopiador" min-width="130">
          <template scope="scope">
            <span>{{getNameCompleteAcop(scope.row)}}</span>
          </template>
        </el-table-column>
        <el-table-column label="Cuota TMH Estimada" align="center" min-width="100">
          <template scope="scope">
            <span>{{getNumberFloat(scope.row.fltCuota)}}</span>
          </template>
        </el-table-column>
        <el-table-column label="TMH Actual" align="center" min-width="100">
          <template scope="scope">
            <span>{{getNumberFloat(scope.row.fltCuotaActual)}}</span>
          </template>
        </el-table-column>
        <el-table-column label="Diferencia" align="center" min-width="100">
          <template scope="scope">
            <span>{{getEstadoDiff(scope.row.fltDiffCuota)}}</span>
          </template>
        </el-table-column>
      </el-table>
      <!-- <download-excel :data="gridData" :fields = "json_fields" :meta = "json_meta" :name = "titleExcel" v-if="viewAccessEscritura">
      </download-excel> -->
    </el-card>
  </div>
</template>
<script>
  import ControlCuotasComponent from '@/components/Reportes/ReporteControlCuotas/controlCuotas.component'
  export default ControlCuotasComponent
</script>
<style>

</style>
