<template>
  <div>
    <el-card class="box-card" style="margin-top:5px;">
      <div slot="header" class="clearfix" align="center">
        <span>LEYES REFERENCIALES: LABORATORIO</span>
      </div>
      <div align="center">
        <table cellpadding="0" cellspacing="1">
          <tr>
            <td class="texto_labelDialogLeft" style="font-size:13px;">Mes:</td>
            <td style="padding-top:3px;padding-left:10px;">
              <el-date-picker
                v-model="fechaSearch"
                type="month"
                size="small"
                format="MMMM / yyyy"
                placeholder="Seleccione Mes"
                :editable = "false">
              </el-date-picker>
            </td>
            <td class="texto_labelDialogRight" style="font-size:13px;">Codigo:</td>
            <td style="padding-top:3px;padding-left:10px;">
              <el-input
                placeholder="*"
                size="small"
                v-model="FormSearch.strDescripcion"
                @keyup.enter.native="SearchLeyesReferenciales()">
              </el-input>
            </td>
            <td class="texto_labelDialogRight" style="font-size:13px;">Tipo Mineral:</td>
            <td style="padding-top:3px;padding-left:10px;">
              <el-input
                placeholder="*"
                size="small"
                v-model="FormSearch.strTipoMineral"
                @keyup.enter.native="SearchLeyesReferenciales()">
              </el-input>
            </td>
            <td class="texto_labelDialogRight" style="font-size:13px;">Zona:</td>
            <td style="padding-top:3px;padding-left:10px;">
              <el-input
                placeholder="*"
                size="small"
                v-model="FormSearch.strZona"
                @keyup.enter.native="SearchLeyesReferenciales()">
              </el-input>
            </td>
            <td style="padding-top:3px;padding-left:20px;">
              <el-button size="small" type="primary" icon="search" @click="SearchLeyesReferenciales()">Buscar</el-button>
            </td>
          </tr>
        </table>
      </div>
      <el-table
        :data="gridData"
        border
        highlight-current-row
        v-loading="loadingGetData"
        :max-height="sizeScreen"
        element-loading-text="Cargando leyes referenciales..."
        style="width: 100%; font-size: 10px;margin:5px 0px">
        <el-table-column label="Item" align="center" width="80">
          <template scope="scope">
            <span style="color:red;font-size:11px"><b>{{ scope.row.strCorrelativo}}</b></span>
          </template>
        </el-table-column>
        <el-table-column label="Fecha Recepcion" width="100" align="center">
          <template scope="scope">
            <span>{{ getDateString(scope.row.dtmFechaRecepcion) }}</span>
          </template>
        </el-table-column>
        <el-table-column prop="strDescripcion" label="Código" width="200"></el-table-column>
        <el-table-column prop="strTipoMineral" label="Tipo Mineral" align="center"></el-table-column>
        <el-table-column prop="strPorcRcpLab" label="% RCP LAB" align="center"></el-table-column>
        <el-table-column prop="strLeyAuOzTc" label="Ley Au Oz/Tc" align="center"></el-table-column>
        <el-table-column prop="strLeyAuReeOzTc" label="Ley Au REE Oz/Tc" align="center"></el-table-column>
        <el-table-column prop="strConsumo" label="Consumo" align="center"></el-table-column>
        <el-table-column prop="strLeyAgOzTc" label="Ley Ag Oz/Tc" align="center"></el-table-column>
        <el-table-column prop="strZona" label="Procedencia" align="center"></el-table-column>
        <el-table-column prop="strAcopiador" label="Responsable" align="center"></el-table-column>
        <el-table-column label="OPERACIONES" fixed="right" width="110" align="center" v-if="viewAccessEscritura">
          <template scope="scope">
            <el-button icon="edit" size="mini" type="success"
              @click="handleEdit(scope.$index, scope.row)">Actualizar</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-row type="flex" class="row-bg" style="margin-bottom:5px">
        <el-col :span="11">
          <el-pagination layout="prev, pager, next" :total="totalRegistros" :page-size="RegistersForPage" :current-page.sync="pagina" @current-change="cambioPagina()">
          </el-pagination>
        </el-col>
        <el-col :span="11" style="margin-top:7px">
          <span style="font-size:14px;">Total de Registros: <b>{{countGridData}}</b></span>
        </el-col>
      </el-row>
      <!-- <download-excel :data="CompleteData" :fields = "json_fields" :meta = "json_meta" :name = "titleExcel" v-if="viewAccessEscritura">
      </download-excel> -->
    </el-card>

    <!--EDITAR LEY REFERENCIAL-->
    <el-dialog  title="ACTUALIZAR LEY REFERENCIAL" size="small" :visible.sync="dialogEditarVisible" @close="dialogEditarVisible=false">
      <div style="background:#EEEEEE; width:100%;height:100px;">
        <table cellpadding="0" cellspacing="1" style="margin-bottom:10px;margin-left:20px;" class="hx">
          <tr>
            <td class="texto_labelDialogLeft">Fecha Recepción:</td>
            <td style="padding-top:10px;padding-left:10px;">
              <el-input :value="getDateString(rowSelectedEdit.dtmFechaRecepcion)" readonly auto-complete="off" size="small"></el-input>
            </td>
            <td class="texto_labelDialogRight">Código:</td>
            <td style="padding-top:10px;padding-left:10px;">
              <el-input v-model="rowSelectedEdit.strDescripcion" readonly auto-complete="off" size="small"></el-input>
            </td>
          </tr>
          <tr>
            <td class="texto_labelDialogLeft">Tipo Mineral:</td>
            <td style="padding-top:10px;padding-left:10px;">
              <el-input v-model="rowSelectedEdit.strTipoMineral" readonly auto-complete="off" size="small"></el-input>
            </td>
            <td class="texto_labelDialogRight">Procedencia:</td>
            <td style="padding-top:10px;padding-left:10px;">
              <el-input v-model="rowSelectedEdit.strZona" readonly auto-complete="off" size="small"></el-input>
            </td>
          </tr>
        </table>
      </div>

      <el-row style="padding:1% 2%">
        <el-col :span="15">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#30476ccc;" align="center">
              <span>Au</span>
            </div>
            <div class="containerForm">
              <el-row>
                <el-col :span="12">
                  <span>Ley Au Oz/tc:</span>
                  <el-input v-model="rowSelectedEdit.strLeyAuOzTc" type="number" auto-complete="off" size="small"></el-input>
                  <br><br>
                  <span>Ley Au REE Oz/Tc:</span>
                  <el-input v-model="rowSelectedEdit.strLeyAuReeOzTc" type="number" auto-complete="off" size="small"></el-input>
                </el-col>
                <el-col :span="12" style="padding-left:10px">
                  <span>RCP Lab (%):</span>
                  <el-input v-model="rowSelectedEdit.strPorcRcpLab" auto-complete="off" size="small"></el-input>
                  <br><br>
                </el-col>
              </el-row>
            </div>
          </div>
        </el-col>
        <el-col :span="9" style="padding-left:1%">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#1957b3b0;" align="center">
              <span>Ag</span>
            </div>
            <div class="containerForm">
              <span>Ley Ag Oz/tc:</span>
              <el-input v-model="rowSelectedEdit.strLeyAgOzTc" type="number" auto-complete="off" size="small"></el-input>
            </div>
          </div>
          <div class="cardForm" style="margin-top:10px">
            <div class="cardForm_Header" style="background:#e5dfd4;" align="center">
              <span style="color:#30476c">Consumos</span>
            </div>
            <div class="containerForm">
              <span>Consumo:</span>
              <el-input v-model="rowSelectedEdit.strConsumo" auto-complete="off" size="small"></el-input>
            </div>
          </div>
        </el-col>
      </el-row>
      <span slot="footer" class="dialog-footer">
        <el-button type="danger" plain @click="dialogEditarVisible = false">Cancelar</el-button>
        <el-button type="primary" icon="edit" @click="ActualizarLeyReferencial(rowSelectedEdit)">Guardar</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
  import LeyReferencialLabComponent from '@/components/leyesReferenciales/leyReferencial_Lab/leyReferencialLab.component'
  export default LeyReferencialLabComponent
</script>
<style>
</style>
