<template>
  <div class="" >
    <ol  style="margin-left: -1.5rem;background: linear-gradient(rgb(229, 241, 247) 0%, rgb(255, 255, 255) 100%);    margin-bottom: 0rem !important;">
        <quickaccessmenu v-on:ValidarItem="loadingGastosAdmPorMes()" v-on:guardarTodo="guardarTodo($event)" v-on:backPage="backPage($event)"  v-on:reloadpage="reloadpage($event)"></quickaccessmenu>
        </ol>
    <el-card class="box-card" >
      <div slot="header" class="headercard"  >
        <span class="labelheadercard">Gastos Administrativos</span>
        <!-- <el-button class="buttonfilter btn btn-outline-secondary orange" style="margin-top: -3px;" @click="loadingGastosAdmPorMes()">
            <img class="imagenfilter" src="../../images/buscari.png" style="margin-left: 0px;width: 15px;height: 16px;" alt="" >
        </el-button> -->
        <el-button class="buttonfilter btn btn-outline-secondary orange" style="margin-top: -3px;" @click="handleAgregar()">
            <img class="imagenfilter" src="../../images/nuevo.png" style="margin-left: 0px;width: 15px;height: 16px;" alt="" >
        </el-button>
        <el-button class="buttonfilter btn btn-outline-secondary orange" style="margin-top: -3px;" @click="handleEdit2()">
            <img class="imagenfilter" src="../../images/btn_editar.png" style="margin-left: 0px;width: 15px;height: 16px;" alt="" >
        </el-button>
      </div>
      <div class="row bodycard">
        <div class="container">
          <div class="row" >
            <div class="col-sm-3">
              <div class="form-group row " style="margin-top: 1px;">
                  <label class="el-form-item__label col-md-3" >Mes</label>
                  <div class="col-md-7 grupolabel">
                    <div class="input-group mb-3" >
                      <el-date-picker
                        v-model="fechaSearch"
                        type="month"
                        size="small"
                        format="MMMM / yyyy"
                        placeholder="Seleccione Mes"
                        :editable = "false">
                      </el-date-picker>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <div align="right"
            style="background:#EEEEEE;padding-top:5px;padding-bottom:5px;font-size:13px">
            <span style="font-size:14px;">Total de Lotes: <b>{{countGridData}}</b></span>
          </div>
          <div class="headercard" >
            <buttons-accions v-on:Limpiar="clickactive('B')" v-on:Buscar="clickactive('A')" v-on:AscItem="AscItem" v-on:DscItem="DscItem" v-on:siguiente="siguiente()" v-on:anterior="anterior()" v-on:EliminarItem="EliminarItem()" ></buttons-accions>
          </div> 
          <el-table
          ref="missionTable"
            :data="gridData"
            stripe  :default-sort = "{prop: 'date', order: 'descending'}"
            border
            highlight-current-row
            :max-height="sizeScreen"
            @row-click="seleccionarRow"
            v-loading="loadingGetData"
            element-loading-text="Cargando Gastos Administrativos..."
            style="width:100%;font-size:10px;margin:5px 0px">
            <el-table-column prop="strZona" label="Zona" align="center" width="110"></el-table-column>
            <el-table-column prop="strAcopiador" label="Acopiador" align="center" min-width="150"></el-table-column>
            <el-table-column prop="strProveedor" label="Proveedor" align="center" min-width="200"></el-table-column>
            <el-table-column prop="strAnio" label="Año" align="center" width="60"></el-table-column>
            <el-table-column label="ENE" align="center" width="60">
              <template scope="scope">
                <el-row>
                  <el-col :span="20">
                    <span>{{(scope.row.enero==null)?'-':scope.row.enero}}</span>
                  </el-col>
                  <el-col :span="4" v-if="(scope.row.enero==null)?false:true">
                    <el-tooltip class="item" effect="light" content="Duplicar al mes Sig." placement="top">
                      <i class="fa fa-copy" style="font-size:13px;color:#2f67c0;cursor:pointer"></i>
                    </el-tooltip>
                  </el-col>
                </el-row>
              </template>
            </el-table-column>
            <el-table-column label="FEB" align="center" width="60">
              <template scope="scope">
                <el-row>
                  <el-col :span="20">
                    <span>{{(scope.row.febrero==null)?'-':scope.row.febrero}}</span>
                  </el-col>
                  <el-col :span="4" v-if="(scope.row.febrero==null)?false:true">
                    <el-tooltip class="item" effect="light" content="Duplicar al mes Sig." placement="top">
                      <i class="fa fa-copy" style="font-size:13px;color:#2f67c0;cursor:pointer"></i>
                    </el-tooltip>
                  </el-col>
                </el-row>
              </template>
            </el-table-column>
            <el-table-column label="MAR" align="center" width="60">
              <template scope="scope">
                <el-row>
                  <el-col :span="20">
                    <span>{{(scope.row.marzo==null)?'-':scope.row.marzo}}</span>
                  </el-col>
                  <el-col :span="4" v-if="(scope.row.marzo==null)?false:true">
                    <el-tooltip class="item" effect="light" content="Duplicar al mes Sig." placement="top">
                      <i class="fa fa-copy" style="font-size:13px;color:#2f67c0;cursor:pointer"></i>
                    </el-tooltip>
                  </el-col>
                </el-row>
              </template>
            </el-table-column>
            <el-table-column label="ABR" align="center" width="60">
              <template scope="scope">
                <el-row>
                  <el-col :span="20">
                    <span>{{(scope.row.abril==null)?'-':scope.row.abril}}</span>
                  </el-col>
                  <el-col :span="4" v-if="(scope.row.abril==null)?false:true">
                    <el-tooltip class="item" effect="light" content="Duplicar al mes Sig." placement="top">
                      <i class="fa fa-copy" style="font-size:13px;color:#2f67c0;cursor:pointer"></i>
                    </el-tooltip>
                  </el-col>
                </el-row>
              </template>
            </el-table-column>
            <el-table-column label="MAY" align="center" width="60">
              <template scope="scope">
                <el-row>
                  <el-col :span="20">
                    <span>{{(scope.row.mayo==null)?'-':scope.row.mayo}}</span>
                  </el-col>
                  <el-col :span="4" v-if="(scope.row.mayo==null)?false:true">
                    <el-tooltip class="item" effect="light" content="Duplicar al mes Sig." placement="top">
                      <i class="fa fa-copy" style="font-size:13px;color:#2f67c0;cursor:pointer"></i>
                    </el-tooltip>
                  </el-col>
                </el-row>
              </template>
            </el-table-column>
            <el-table-column label="JUN" align="center" width="60">
              <template scope="scope">
                <el-row>
                  <el-col :span="20">
                    <span>{{(scope.row.junio==null)?'-':scope.row.junio}}</span>
                  </el-col>
                  <el-col :span="4" v-if="(scope.row.junio==null)?false:true">
                    <el-tooltip class="item" effect="light" content="Duplicar al mes Sig." placement="top">
                      <i class="fa fa-copy" style="font-size:13px;color:#2f67c0;cursor:pointer" @click="Duplicar(scope.row, scope.row.junio, 'junio')"></i>
                    </el-tooltip>
                  </el-col>
                </el-row>
              </template>
            </el-table-column>
            <el-table-column label="JUL" align="center" width="60">
              <template scope="scope">
                <el-row>
                  <el-col :span="20">
                    <span>{{(scope.row.julio==null)?'-':scope.row.julio}}</span>
                  </el-col>
                  <el-col :span="4" v-if="(scope.row.julio==null)?false:true">
                    <el-tooltip class="item" effect="light" content="Duplicar al mes Sig." placement="top">
                      <i class="fa fa-copy" style="font-size:13px;color:#2f67c0;cursor:pointer" @click="Duplicar(scope.row, scope.row.julio, 'julio')"></i>
                    </el-tooltip>
                  </el-col>
                </el-row>
              </template>
            </el-table-column>
            <el-table-column label="AGO" align="center" width="60">
              <template scope="scope">
                <el-row>
                  <el-col :span="20">
                    <span>{{(scope.row.agosto==null)?'-':scope.row.agosto}}</span>
                  </el-col>
                  <el-col :span="4" v-if="(scope.row.agosto==null)?false:true">
                    <el-tooltip class="item" effect="light" content="Duplicar al mes Sig." placement="top">
                      <i class="fa fa-copy" style="font-size:13px;color:#2f67c0;cursor:pointer" @click="Duplicar(scope.row, scope.row.agosto, 'agosto')"></i>
                    </el-tooltip>
                  </el-col>
                </el-row>
              </template>
            </el-table-column>
            <el-table-column label="SEP" align="center" width="60">
              <template scope="scope">
                <el-row>
                  <el-col :span="20">
                    <span>{{(scope.row.septiembre==null)?'-':scope.row.septiembre}}</span>
                  </el-col>
                  <el-col :span="4" v-if="(scope.row.septiembre==null)?false:true">
                    <el-tooltip class="item" effect="light" content="Duplicar al mes Sig." placement="top">
                      <i class="fa fa-copy" style="font-size:13px;color:#2f67c0;cursor:pointer" @click="Duplicar(scope.row, scope.row.septiembre, 'septiembre')"></i>
                    </el-tooltip>
                  </el-col>
                </el-row>
              </template>
            </el-table-column>
            <el-table-column label="OCT" align="center" width="60">
              <template scope="scope">
                <el-row>
                  <el-col :span="20">
                    <span>{{(scope.row.octubre==null)?'-':scope.row.octubre}}</span>
                  </el-col>
                  <el-col :span="4" v-if="(scope.row.octubre==null)?false:true">
                    <el-tooltip class="item" effect="light" content="Duplicar al mes Sig." placement="top">
                      <i class="fa fa-copy" style="font-size:13px;color:#2f67c0;cursor:pointer" @click="Duplicar(scope.row, scope.row.octubre, 'octubre')"></i>
                    </el-tooltip>
                  </el-col>
                </el-row>
              </template>
            </el-table-column>
            <el-table-column label="NOV" align="center" width="60">
              <template scope="scope">
                <el-row>
                  <el-col :span="20">
                    <span>{{(scope.row.noviembre==null)?'-':scope.row.noviembre}}</span>
                  </el-col>
                  <el-col :span="4" v-if="(scope.row.noviembre==null)?false:true">
                    <el-tooltip class="item" effect="light" content="Duplicar al mes Sig." placement="top">
                      <i class="fa fa-copy" style="font-size:13px;color:#2f67c0;cursor:pointer" @click="Duplicar(scope.row, scope.row.noviembre, 'noviembre')"></i>
                    </el-tooltip>
                  </el-col>
                </el-row>
              </template>
            </el-table-column>
            <el-table-column label="DIC" align="center" width="60">
              <template scope="scope">
                <el-row>
                  <el-col :span="20">
                    <span>{{(scope.row.diciembre==null)?'-':scope.row.diciembre}}</span>
                  </el-col>
                  <el-col :span="4" v-if="(scope.row.diciembre==null)?false:true">
                    <el-tooltip class="item" effect="light" content="Duplicar al mes Sig." placement="top">
                      <i class="fa fa-copy" style="font-size:13px;color:#2f67c0;cursor:pointer" @click="Duplicar(scope.row, scope.row.diciembre, 'diciembre')"></i>
                    </el-tooltip>
                  </el-col>
                </el-row>
              </template>
            </el-table-column>
            <!-- <el-table-column label="Operaciones" fixed="right" align="center" width="90">
              <template scope="scope">
                <el-button icon="edit" size="mini" plain
                  @click="handleEdit(scope.$index, scope.row)">Editar</el-button>
              </template>
            </el-table-column> -->
          </el-table>
          <el-row type="flex" class="row-bg" style="margin-bottom:5px">
            <el-col :span="3">
              <el-pagination layout="prev, pager, next" :total="totalRegistros" :page-size="RegistersForPage" :current-page.sync="pagina" @current-change="cambioPagina()">
              </el-pagination>
            </el-col>
          </el-row>
        </div>
      </div>
    </el-card>
    
    <!--AGREGAR GASTO ADMINISTRATIVO-->
    <el-dialog  title="Agregar Gasto Administrativo" size="tiny" :visible.sync="dialogAgregarVisible">
      <el-form  :model="FormAgregar" label-width="120px" label-position="left" style="padding:10px 20px">
        <el-form-item label="Zona:">
          <el-select v-model="FormAgregar.strZona" allow-create filterable placeholder="Seleccione Zona" size="small"
            @change="changeZonaAdd()" clearable>
            <el-option
              v-for="item in DataZonas"
              :key="item.intIdZona"
              :label="item.strZona"
              :value="item.strZona">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="Acopiador:">
          <el-select v-model="FormAgregar.strAcopiador" filterable placeholder="Seleccione Acopiador" size="small" clearable>
            <el-option
              v-for="item in DataAcopiador"
              :key="item.strAcopiador"
              :label="item.strAcopiador"
              :value="item.strAcopiador">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="Proveedor:">
          <el-select v-model="FormAgregar.strProveedor" allow-create filterable placeholder="Seleccione Proveedor" size="small" clearable>
            <el-option
              v-for="item in DataProveedor"
              :key="item.strRucProveedor"
              :label="item.strProveedor"
              :value="item.strProveedor">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="Gasto">
          <el-input type="number" placeholder="Gasto" v-model="FormAgregar.fltGasto" auto-complete="off" size="small"></el-input>
        </el-form-item>
        <el-form-item label="Mes / Año:">
          <el-date-picker
            v-model="fechaAddCuota"
            type="month"
            size="small"
            format="MMMM / yyyy"
            placeholder="Seleccione Mes"
            :editable = "false">
          </el-date-picker>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button class="buttonfilter btn btn-outline-secondary orange" style="width: 30px;height: 30px;" @click="AgregarGastoAdm(FormAgregar)">
          <img class="imagenfilter" src="../../images/check.png" style="width: 12px;height: 13px;" alt="" >
        </el-button>
        <el-button class="buttonfilter btn btn-outline-secondary orange" style="margin-left: 0px;width: 30px;height: 30px;"  @click="dialogAgregarVisible = false">
          <img class="imagenfilter" src="../../images/close.png" alt=""  style="width: 12px;height: 13px;">
        </el-button>
        <!-- <el-button size="small" @click="dialogAgregarVisible = false">Cancelar</el-button>
        <el-button type="primary" size="small" @click="AgregarGastoAdm(FormAgregar)">Agregar</el-button> -->
      </span>
    </el-dialog>

    <!--EDITAR GASTO ADMINISTRATIVO-->
    <el-dialog  title="Editar Gasto Administrativo" size="small" :visible.sync="dialogEditarVisible">
      <table cellpadding="0" cellspacing="1" style="margin:5px 10px;border-collapse: collapse;">
        <tr>
          <td class="texto_labelDialogLeft" style="font-size:13px;padding-left:8px">Zona:</td>
          <td style="padding-top:3px;padding-left:5px;">
            <el-input placeholder="Zona" readonly v-model="rowSelectedEdit.strZona" auto-complete="off" size="mini"></el-input>
          </td>
          <td class="texto_labelDialogLeft" style="font-size:13px;padding-left:8px">Acopiador:</td>
          <td style="padding-top:3px;padding-left:5px;">
            <el-input placeholder="Zona" readonly v-model="rowSelectedEdit.strAcopiador" auto-complete="off" size="mini"></el-input>
          </td>
          <td class="texto_labelDialogLeft" style="font-size:13px;padding-left:8px">Proveedor:</td>
          <td style="padding-top:3px;padding-left:5px;width:250px">
            <el-input placeholder="Zona" readonly v-model="rowSelectedEdit.strProveedor" auto-complete="off" size="mini"></el-input>
          </td>
        </tr>
      </table>
      <div style="padding-top:5px"></div>
      <div style="overflow:auto;font-size:13px">
        <el-row>
          <el-col :span="6" style="padding-left:20px;padding-right:10px;">
            <span>Enero:</span>
            <el-col :span="20">
              <el-input v-model="rowSelectedEdit.enero" :disabled="(rowSelectedEdit.enero==null)?true:false"
                type="number" auto-complete="off" size="mini"></el-input>
            </el-col>
            <el-col :span="3" style="margin-left:3px">
              <el-tooltip class="item" effect="light" content="Guardar" placement="top">
                <el-button type="primary" size="mini" :disabled="(rowSelectedEdit.enero==null)?true:false"
                  @click="EditarGastoAdm(rowSelectedEdit, rowSelectedEdit.enero, 'enero')">
                  <i class="fa fa-save"></i>
                </el-button>
              </el-tooltip>
            </el-col>
          </el-col>
          <el-col :span="6" style="padding-left:10px;padding-right:10px;">
            <span>Febrero:</span>
            <el-col :span="20">
              <el-input v-model="rowSelectedEdit.febrero" :disabled="(rowSelectedEdit.febrero==null)?true:false"
                type="number" auto-complete="off" size="mini"></el-input>
            </el-col>
            <el-col :span="3" style="margin-left:3px">
              <el-tooltip class="item" effect="light" content="Guardar" placement="top">
                <el-button type="primary" size="mini" :disabled="(rowSelectedEdit.febrero==null)?true:false"
                  @click="EditarGastoAdm(rowSelectedEdit, rowSelectedEdit.febrero, 'febrero')">
                  <i class="fa fa-save"></i>
                </el-button>
              </el-tooltip>
            </el-col>
          </el-col>
          <el-col :span="6" style="padding-left:10px;padding-right:10px;">
            <span>Marzo:</span>
            <el-col :span="20">
              <el-input v-model="rowSelectedEdit.marzo" :disabled="(rowSelectedEdit.marzo==null)?true:false"
                type="number" auto-complete="off" size="mini"></el-input>
            </el-col>
            <el-col :span="3" style="margin-left:3px">
              <el-tooltip class="item" effect="light" content="Guardar" placement="top">
                <el-button type="primary" size="mini" :disabled="(rowSelectedEdit.marzo==null)?true:false"
                  @click="EditarGastoAdm(rowSelectedEdit, rowSelectedEdit.marzo, 'marzo')">
                  <i class="fa fa-save"></i>
                </el-button>
              </el-tooltip>
            </el-col>
          </el-col>
          <el-col :span="6" style="padding-left:10px;padding-right:20px;">
            <span>Abril:</span>
            <el-col :span="20">
              <el-input v-model="rowSelectedEdit.abril" :disabled="(rowSelectedEdit.abril==null)?true:false"
                type="number" auto-complete="off" size="mini"></el-input>
            </el-col>
            <el-col :span="3" style="margin-left:3px">
              <el-tooltip class="item" effect="light" content="Guardar" placement="top">
                <el-button type="primary" size="mini" :disabled="(rowSelectedEdit.abril==null)?true:false"
                  @click="EditarGastoAdm(rowSelectedEdit, rowSelectedEdit.abril, 'abril')">
                  <i class="fa fa-save"></i>
                </el-button>
              </el-tooltip>
            </el-col>
          </el-col>
        </el-row>
        <div style="margin-top:5px"></div>
        <el-row>
          <el-col :span="6" style="padding-left:20px;padding-right:10px;">
            <span>Mayo:</span>
            <el-col :span="20">
              <el-input v-model="rowSelectedEdit.mayo" :disabled="(rowSelectedEdit.mayo==null)?true:false"
                type="number" auto-complete="off" size="mini"></el-input>
            </el-col>
            <el-col :span="3" style="margin-left:3px">
              <el-tooltip class="item" effect="light" content="Guardar" placement="top">
                <el-button type="primary" size="mini" :disabled="(rowSelectedEdit.mayo==null)?true:false"
                  @click="EditarGastoAdm(rowSelectedEdit, rowSelectedEdit.mayo, 'mayo')">
                  <i class="fa fa-save"></i>
                </el-button>
              </el-tooltip>
            </el-col>
          </el-col>
          <el-col :span="6" style="padding-left:10px;padding-right:10px;">
            <span>Junio:</span>
            <el-col :span="20">
              <el-input v-model="rowSelectedEdit.junio" :disabled="(rowSelectedEdit.junio==null)?true:false"
                type="number" auto-complete="off" size="mini"></el-input>
            </el-col>
            <el-col :span="3" style="margin-left:3px">
              <el-tooltip class="item" effect="light" content="Guardar" placement="top">
                <el-button type="primary" size="mini" :disabled="(rowSelectedEdit.junio==null)?true:false"
                  @click="EditarGastoAdm(rowSelectedEdit, rowSelectedEdit.junio, 'junio')">
                  <i class="fa fa-save"></i>
                </el-button>
              </el-tooltip>
            </el-col>
          </el-col>
          <el-col :span="6" style="padding-left:10px;padding-right:10px;">
            <span>Julio:</span>
            <el-col :span="20">
              <el-input v-model="rowSelectedEdit.julio" :disabled="(rowSelectedEdit.julio==null)?true:false"
                type="number" auto-complete="off" size="mini"></el-input>
            </el-col>
            <el-col :span="3" style="margin-left:3px">
              <el-tooltip class="item" effect="light" content="Guardar" placement="top">
                <el-button type="primary" size="mini" :disabled="(rowSelectedEdit.julio==null)?true:false"
                  @click="EditarGastoAdm(rowSelectedEdit, rowSelectedEdit.julio, 'julio')">
                  <i class="fa fa-save"></i>
                </el-button>
              </el-tooltip>
            </el-col>
          </el-col>
          <el-col :span="6" style="padding-left:10px;padding-right:20px;">
            <span>Agosto:</span>
            <el-col :span="20">
              <el-input v-model="rowSelectedEdit.agosto" :disabled="(rowSelectedEdit.agosto==null)?true:false"
                type="number" auto-complete="off" size="mini"></el-input>
            </el-col>
            <el-col :span="3" style="margin-left:3px">
              <el-tooltip class="item" effect="light" content="Guardar" placement="top">
                <el-button type="primary" size="mini" :disabled="(rowSelectedEdit.agosto==null)?true:false"
                  @click="EditarGastoAdm(rowSelectedEdit, rowSelectedEdit.agosto, 'agosto')">
                  <i class="fa fa-save"></i>
                </el-button>
              </el-tooltip>
            </el-col>
          </el-col>
        </el-row>
        <div style="margin-top:5px"></div>
        <el-row>
          <el-col :span="6" style="padding-left:20px;padding-right:10px;">
            <span>Septiembre:</span>
            <el-col :span="20">
              <el-input v-model="rowSelectedEdit.septiembre" :disabled="(rowSelectedEdit.septiembre==null)?true:false"
                type="number" auto-complete="off" size="mini"></el-input>
            </el-col>
            <el-col :span="3" style="margin-left:3px">
              <el-tooltip class="item" effect="light" content="Guardar" placement="top">
                <el-button type="primary" size="mini" :disabled="(rowSelectedEdit.septiembre==null)?true:false"
                  @click="EditarGastoAdm(rowSelectedEdit, rowSelectedEdit.septiembre, 'septiembre')">
                  <i class="fa fa-save"></i>
                </el-button>
              </el-tooltip>
            </el-col>
          </el-col>
          <el-col :span="6" style="padding-left:10px;padding-right:10px;">
            <span>Octubre:</span>
            <el-col :span="20">
              <el-input v-model="rowSelectedEdit.octubre" :disabled="(rowSelectedEdit.octubre==null)?true:false"
                type="number" auto-complete="off" size="mini"></el-input>
            </el-col>
            <el-col :span="3" style="margin-left:3px">
              <el-tooltip class="item" effect="light" content="Guardar" placement="top">
                <el-button type="primary" size="mini" :disabled="(rowSelectedEdit.octubre==null)?true:false"
                  @click="EditarGastoAdm(rowSelectedEdit, rowSelectedEdit.octubre, 'octubre')">
                  <i class="fa fa-save"></i>
                </el-button>
              </el-tooltip>
            </el-col>
          </el-col>
          <el-col :span="6" style="padding-left:10px;padding-right:10px;">
            <span>Noviembre:</span>
            <el-col :span="20">
              <el-input v-model="rowSelectedEdit.noviembre" :disabled="(rowSelectedEdit.noviembre==null)?true:false"
                type="number" auto-complete="off" size="mini"></el-input>
            </el-col>
            <el-col :span="3" style="margin-left:3px">
              <el-tooltip class="item" effect="light" content="Guardar" placement="top">
                <el-button type="primary" size="mini" :disabled="(rowSelectedEdit.noviembre==null)?true:false"
                  @click="EditarGastoAdm(rowSelectedEdit, rowSelectedEdit.noviembre, 'noviembre')">
                  <i class="fa fa-save"></i>
                </el-button>
              </el-tooltip>
            </el-col>
          </el-col>
          <el-col :span="6" style="padding-left:10px;padding-right:20px;">
            <span>Diciembre:</span>
            <el-col :span="20">
              <el-input v-model="rowSelectedEdit.diciembre" :disabled="(rowSelectedEdit.diciembre==null)?true:false"
                type="number" auto-complete="off" size="mini"></el-input>
            </el-col>
            <el-col :span="3" style="margin-left:3px">
              <el-tooltip class="item" effect="light" content="Guardar" placement="top">
                <el-button type="primary" size="mini" :disabled="(rowSelectedEdit.diciembre==null)?true:false"
                  @click="EditarGastoAdm(rowSelectedEdit, rowSelectedEdit.diciembre, 'diciembre')">
                  <i class="fa fa-save"></i>
                </el-button>
              </el-tooltip>
            </el-col>
          </el-col>
        </el-row>
      </div>

      <br>
      <span slot="footer" class="dialog-footer">
      
        <el-button class="buttonfilter btn btn-outline-secondary orange" style="margin-left: 0px;width: 30px;height: 30px;"  @click="dialogEditarVisible = false">
          <img class="imagenfilter" src="../../images/close.png" alt=""  style="width: 12px;height: 13px;">
        </el-button>
        <!-- <el-button size="small" @click="dialogEditarVisible = false">Cerrar</el-button> -->
        <!-- <el-button type="primary" icon="edit" size="small" @click="EditarGastoAdm(rowSelectedEdit)">Guardar</el-button> -->
      </span>
    </el-dialog>
  </div>
</template>
<script>
  import GastoAdmComponent from '@/components/GastoAdm/gastoAdm.component'
  export default GastoAdmComponent
</script>
<style>

</style>
