<template>
  <div>
    
    <hr>
    <br><br>
    <el-carousel :interval="4000" type="card" height="460px" :autoplay="true">
      <el-carousel-item  key="1">
        <img src="../../images/inicioslide1.jpg" class="imagess"><br>
      </el-carousel-item>
      <el-carousel-item  key="2">
        <img src="../../images/inicioslide2.jpg" class="imagess">
      </el-carousel-item>
      <el-carousel-item  key="3">
        <img src="../../images/inicioslide3.jpg" class="imagess">
      </el-carousel-item>
      <el-carousel-item  key="4">
        <img src="../../images/inicioslide4.jpg" class="imagess">
      </el-carousel-item>
    </el-carousel>
  </div>
</template>
<script>
  import InicioComponent from '@/components/inicio/inicio.component'
  export default InicioComponent
</script>
<style>
  .el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 200px;
    margin: 0;
  }
  .el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
  }
  .el-carousel__item:nth-child(2n+1) {
    background-color: #d3dce6;
  }
  .imagess{
    width: 100%;
    display: block;
  }
hr {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.el-carousel--card{
  margin-top: -53px !important;
}
</style>
