<template>
  <div class="" >
    <ol  style="margin-left: -1.5rem;background: linear-gradient(rgb(229, 241, 247) 0%, rgb(255, 255, 255) 100%);    margin-bottom: 0rem !important;">
        <quickaccessmenu v-on:guardarTodo="guardarTodo($event)" v-on:backPage="backPage($event)"  v-on:reloadpage="reloadpage($event)"></quickaccessmenu>
        </ol>
    <el-card class="box-card" >
      <div slot="header" class="headercard"  >
        <span class="labelheadercard">Configuración Zonas</span>
        <el-button class="buttonfilter btn btn-outline-secondary orange" style="margin-top: -3px;" @click="handleAgregar()">
            <img class="imagenfilter" src="../../images/nuevo.png" style="margin-left: 0px;width: 15px;height: 16px;" alt="" >
        </el-button>
        <el-button class="buttonfilter btn btn-outline-secondary orange" style="margin-top: -3px;" @click="handleEdit2()">
            <img class="imagenfilter" src="../../images/btn_editar.png" style="margin-left: 0px;width: 15px;height: 16px;" alt="" >
        </el-button>
        <el-button class="buttonfilter btn btn-outline-secondary orange" style="margin-top: -3px;" @click="handleDelete2()">
            <img class="imagenfilter" src="../../images/tacho.png" style="margin-left: 0px;width: 15px;height: 16px;" alt="" >
        </el-button>
      </div>
      <div class="row bodycard">
        <div class="container">
          <div align="right"
            style="background:#EEEEEE;padding-top:5px;padding-bottom:5px;font-size:13px">
            <span style="font-size:14px;">Total de Zonas: <b>{{countGridData}}</b></span>
          </div>
          <div class="headercard" >
            <buttons-accions v-on:Limpiar="clickactive('B')" v-on:Buscar="clickactive('A')" v-on:AscItem="AscItem" v-on:DscItem="DscItem" v-on:siguiente="siguiente()" v-on:anterior="anterior()" v-on:EliminarItem="EliminarItem()" ></buttons-accions>
          </div> 
          <el-table
          ref="missionTable"
            :data="gridData"
            stripe  :default-sort = "{prop: 'date', order: 'descending'}"
            border
            :max-height="sizeScreen"
            highlight-current-row
            class="ExcelTable2007"
            v-loading="loadingGetData"
            @row-click="seleccionarRow"
            element-loading-text="Cargando Zonas..."
            style="width:100%;font-size:10px;margin:10px 0px">
            <el-table-column prop="strCodZona" label="CODIGO" align="center" width="100px"></el-table-column>
            <el-table-column prop="strZona" label="ZONA" align="center"></el-table-column>
            <el-table-column prop="strProcedencia" label="PROCEDENCIA" align="center"></el-table-column>
            <el-table-column prop="strRegion" label="REGIÓN" align="center"></el-table-column>
            <el-table-column prop="strUsuarioModif" label="USUARIO MODIFICA" align="center"></el-table-column>
            <!-- <el-table-column label="OPERACIONES" width="200" align="center" v-if="viewAccessEscritura">
              <template scope="scope">
                <el-button :plain="true" icon="edit" size="small" type="info"
                  @click="handleEdit(scope.$index, scope.row)">Modificar</el-button>
                <el-button icon="delete" size="small" type="danger"
                  @click="handleDelete(scope.$index, scope.row)">Eliminar</el-button>
              </template>
            </el-table-column> -->
          </el-table>
          <el-row type="flex" class="row-bg">
            <el-col :span="3">
              <el-pagination layout="prev, pager, next" :total="totalRegistros" :page-size="RegistersForPage" :current-page.sync="pagina" @current-change="cambioPagina()">
              </el-pagination>
            </el-col>
          </el-row>
        </div>
      </div>
    </el-card>
    
    <!--AGREGAR ZONA-->
    <el-dialog  title="Agregar Zona" size="tiny" :visible.sync="dialogAgregarVisible">
      <el-form  :model="FormAgregar" label-width="120px" style="padding:10px 20px">
        <el-form-item label="Código Zona:">
          <el-input placeholder="Código Zona" v-model="FormAgregar.strCodZona" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="Zona:">
          <el-input placeholder="Zona" v-model="FormAgregar.strZona" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="Procedencia:">
          <el-input placeholder="Procedencia" v-model="FormAgregar.strProcedencia" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="Region:">
          <el-input placeholder="Region" v-model="FormAgregar.strRegion" auto-complete="off"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button class="buttonfilter btn btn-outline-secondary orange" style="width: 30px;height: 30px;" @click="AgregarZona(FormAgregar)">
          <img class="imagenfilter" src="../../images/check.png" style="width: 12px;height: 13px;" alt="" >
        </el-button>
        <el-button class="buttonfilter btn btn-outline-secondary orange" style="margin-left: 0px;width: 30px;height: 30px;"  @click="dialogAgregarVisible = false">
          <img class="imagenfilter" src="../../images/close.png" alt=""  style="width: 12px;height: 13px;">
        </el-button>

        <!-- <el-button @click="dialogAgregarVisible = false">Cancelar</el-button>
        <el-button type="primary" @click="AgregarZona(FormAgregar)">Agregar</el-button> -->
      </span>
    </el-dialog>

    <!--EDITAR ZONA-->
    <el-dialog  title="Editar Zona" size="tiny" :visible.sync="dialogEditarVisible">
      <el-form  :model="rowSelectedEdit" label-width="120px" style="padding:10px 20px">
        <el-form-item label="Código Zona:">
          <el-input placeholder="Código Zona" v-model="rowSelectedEdit.strCodZona" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="Zona:">
          <el-input placeholder="Zona" v-model="rowSelectedEdit.strZona" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="Procedencia:">
          <el-input placeholder="Procedencia" v-model="rowSelectedEdit.strProcedencia" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="Región:">
          <el-input placeholder="Región" v-model="rowSelectedEdit.strRegion" auto-complete="off"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button class="buttonfilter btn btn-outline-secondary orange" style="width: 30px;height: 30px;" @click="EditarZona(rowSelectedEdit)">
          <img class="imagenfilter" src="../../images/check.png" style="width: 12px;height: 13px;" alt="" >
        </el-button>
        <el-button class="buttonfilter btn btn-outline-secondary orange" style="margin-left: 0px;width: 30px;height: 30px;"  @click="dialogEditarVisible = false">
          <img class="imagenfilter" src="../../images/close.png" alt=""  style="width: 12px;height: 13px;">
        </el-button>

        <!-- <el-button @click="dialogEditarVisible = false">Cancelar</el-button>
        <el-button type="primary" @click="EditarZona(rowSelectedEdit)">Guardar</el-button> -->
      </span>
    </el-dialog>
  </div>
</template>
<script>
  import ZonaComponent from '@/components/zona/zona.component'
  export default ZonaComponent
</script>
<style>
</style>
