<template>
  <div class="" >
    <ol  style="margin-left: -1.5rem;background: linear-gradient(rgb(229, 241, 247) 0%, rgb(255, 255, 255) 100%);    margin-bottom: 0rem !important;">
        <quickaccessmenu v-on:guardarTodo="guardarTodo($event)" v-on:backPage="backPage($event)"  v-on:reloadpage="reloadpage($event)"></quickaccessmenu>
        </ol>
    <el-card class="box-card" >
      <div slot="header" class="headercard"  >
        <span class="labelheadercard">Configuración Acopiadores</span>
        <el-button class="buttonfilter btn btn-outline-secondary orange" style="margin-top: -3px;" @click="handleAgregar()">
            <img class="imagenfilter" src="../../images/nuevo.png" style="margin-left: 0px;width: 15px;height: 16px;" alt="" >
        </el-button>
        <el-button class="buttonfilter btn btn-outline-secondary orange" style="margin-top: -3px;" @click="handleEdit2()">
            <img class="imagenfilter" src="../../images/btn_editar.png" style="margin-left: 0px;width: 15px;height: 16px;" alt="" >
        </el-button>
        <el-button class="buttonfilter btn btn-outline-secondary orange" style="margin-top: -3px;" @click="handleDelete2()">
            <img class="imagenfilter" src="../../images/tacho.png" style="margin-left: 0px;width: 15px;height: 16px;" alt="" >
        </el-button>
      </div>
      <div class="row bodycard">
        <div class="container">
          <div align="right"
            style="background:#EEEEEE;padding-top:5px;padding-bottom:5px;font-size:13px">
            <span style="font-size:14px;">Total de Acopiadores: <b>{{countGridData}}</b></span>
          </div>
          <div class="headercard" >
          <buttons-accions v-on:Limpiar="clickactive('B')" v-on:Buscar="clickactive('A')" v-on:AscItem="AscItem" v-on:DscItem="DscItem" v-on:siguiente="siguiente()" v-on:anterior="anterior()" v-on:EliminarItem="EliminarItem()" ></buttons-accions>
        </div> 
          <el-table
          ref="missionTable"
            :data="gridData"
            stripe  :default-sort = "{prop: 'date', order: 'descending'}"
            :max-height="sizeScreen"
            border
            highlight-current-row
            class="ExcelTable2007"
            v-loading="loadingGetData"
            @row-click="seleccionarRow"
            element-loading-text="Cargando Acopiadores..."
            style="width:100%;font-size:10px;margin:5px 0px">
            <el-table-column prop="strDni" label="DNI" width="130" align="center"></el-table-column>
            <el-table-column prop="strNombres" label="NOMBRES"></el-table-column>
            <el-table-column prop="strApellidos" label="APELLIDOS"></el-table-column>
            <el-table-column prop="strUsuarioModif" label="USUARIO MODIFICA" align="center" width="150"></el-table-column>
            <!-- <el-table-column label="OPERACIONES" width="200" align="center" v-if="viewAccessEscritura">
              <template scope="scope">
                <el-button :plain="true" icon="edit" size="small" type="info"
                  @click="handleEdit(scope.$index, scope.row)">Modificar</el-button>
                <el-button icon="delete" size="small" type="danger"
                  @click="handleDelete(scope.$index, scope.row)">Eliminar</el-button>
              </template>
            </el-table-column> -->
          </el-table>
          <el-row type="flex" class="row-bg">
            <el-col :span="3">
              <el-pagination layout="prev, pager, next" :total="totalRegistros" :page-size="RegistersForPage" :current-page.sync="pagina" @current-change="cambioPagina()">
              </el-pagination>
            </el-col>
          </el-row>
        </div>
      </div>
    </el-card>
    
    <!--AGREGAR ACOPIADOR-->
    <el-dialog  title="Agregar Acopiador" size="tiny" :visible.sync="dialogAgregarVisible">
      <el-form  :model="FormAgregar" label-width="120px" style="padding:10px 20px">
        <el-form-item label="DNI:">
          <el-input placeholder="DNI" type="number" v-model="FormAgregar.strDni" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="Nombres:">
          <el-input placeholder="Nombres" v-model="FormAgregar.strNombres" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="Apellidos:">
          <el-input placeholder="Apellidos" v-model="FormAgregar.strApellidos" auto-complete="off"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button class="buttonfilter btn btn-outline-secondary orange" style="width: 30px;height: 30px;" @click="AgregarAcopiador(FormAgregar)">
          <img class="imagenfilter" src="../../images/check.png" style="width: 12px;height: 13px;" alt="" >
        </el-button>
        <el-button class="buttonfilter btn btn-outline-secondary orange" style="margin-left: 0px;width: 30px;height: 30px;"  @click="dialogAgregarVisible = false">
          <img class="imagenfilter" src="../../images/close.png" alt=""  style="width: 12px;height: 13px;">
        </el-button>

        <!-- <el-button @click="dialogAgregarVisible = false">Cancelar</el-button>
        <el-button type="primary" @click="AgregarAcopiador(FormAgregar)">Agregar</el-button> -->
      </span>
    </el-dialog>

    <!--EDITAR ACOPIADOR-->
    <el-dialog  title="Editar Acopiador" size="tiny" :visible.sync="dialogEditarVisible">
      <el-form  :model="rowSelectedEdit" label-width="120px" style="padding:10px 20px">
        <el-form-item label="DNI:">
          <el-input placeholder="DNI" type="number" v-model="rowSelectedEdit.strDni" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="Nombres:">
          <el-input placeholder="Nombres" v-model="rowSelectedEdit.strNombres" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="Apellidos:">
          <el-input placeholder="Apellidos" v-model="rowSelectedEdit.strApellidos" auto-complete="off"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        
        <el-button class="buttonfilter btn btn-outline-secondary orange" style="width: 30px;height: 30px;" @click="EditarAcopiador(rowSelectedEdit)">
          <img class="imagenfilter" src="../../images/check.png" style="width: 12px;height: 13px;" alt="" >
        </el-button>
        <el-button class="buttonfilter btn btn-outline-secondary orange" style="margin-left: 0px;width: 30px;height: 30px;"  @click="dialogEditarVisible = false">
          <img class="imagenfilter" src="../../images/close.png" alt=""  style="width: 12px;height: 13px;">
        </el-button>
        <!-- <el-button @click="dialogEditarVisible = false">Cancelar</el-button>
        <el-button type="primary" icon="edit" @click="EditarAcopiador(rowSelectedEdit)">Guardar</el-button> -->
      </span>
    </el-dialog>
  </div>
</template>
<script>
  import AcopiadorComponent from '@/components/Acopiador/acopiador.component'
  export default AcopiadorComponent
</script>
<style>
</style>
