<template>
  <div>
    <ol  style="margin-left: -1.5rem;background: linear-gradient(rgb(229, 241, 247) 0%, rgb(255, 255, 255) 100%);    margin-bottom: 0rem !important;">
        <quickaccessmenu v-on:ValidarItem="BuscarReporte()" v-on:backPage="backPage($event)"  v-on:reloadpage="reloadpage($event)"></quickaccessmenu>
        </ol>
    <el-tabs type="border-card" @tab-click="handleClick" value="first" style="margin-top:5px;">
      <el-tab-pane label="Resumen" name="first">
        <el-card class="box-card" >
          <div slot="header" class="headercard">
            <span class="labelheadercard">Reporte Margen Resumen</span>
            <!-- <el-button class="buttonfilter btn btn-outline-secondary orange" style="margin-top: -3px;" @click="BuscarReporte()">
                <img class="imagenfilter" src="../../../../images/buscari.png" style="margin-left: 0px;width: 15px;height: 16px;" alt="" >
            </el-button>
            <el-button class="buttonfilter btn btn-outline-secondary orange" style="margin-top: -3px;" @click="LimpiarConsulta()">
                <img class="imagenfilter" src="../../../../images/visualizar.png" style="margin-left: 0px;width: 15px;height: 16px;" alt="" >
            </el-button>
            <el-button class="buttonfilter btn btn-outline-secondary orange" style="margin-top: -3px;" @click="blnfiltroavanzado=!blnfiltroavanzado">
                <img class="imagenfilter" src="../../../../images/filtro.png" style="margin-left: 0px;width: 15px;height: 16px;" alt="" >
            </el-button> -->
          </div>
          <div class="row bodycard">
            <div class="container">
              <div class="row" >
                <div class="col-sm-3">
                  <div class="form-group row " style="margin-top: 1px;">
                      <label class="el-form-item__label col-md-3" >Mes</label>
                      <div class="col-md-7 grupolabel">
                        <div class="input-group mb-3" >
                          <el-date-picker
                            v-model="fechaSearch"
                            type="month"
                            size="mini"
                            format="MMMM / yyyy"
                            placeholder="Seleccione Mes"
                            :editable = "false"
                            @change="changeMonth()">
                          </el-date-picker>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
              <div class="headercard" >
                <buttons-accions v-on:Limpiar="clickactive('B')" v-on:Buscar="clickactive('A')" v-on:AscItem="AscItem" v-on:DscItem="DscItem" v-on:siguiente="siguiente()" v-on:anterior="anterior()" v-on:EliminarItem="EliminarItem()" ></buttons-accions>
              </div>
              <el-table
              ref="missionTable"
                :data="gridData"
                stripe  :default-sort = "{prop: 'date', order: 'descending'}"
                border
                highlight-current-row
                :max-height="sizeScreen"
                v-loading="loadingGetData"
                show-summary
                :summary-method="getSummaries"
                element-loading-text="Cargando lotes..."
                style="width:100%;font-size:10px;margin:10px 0px">
                <el-table-column label="REGIÓN" prop="strRegion"  align="left" width="100"></el-table-column>
                <el-table-column label="PESO TMH"  align="left" width="90">
                  <template scope="scope">
                    <span>{{getNumberFix(scope.row.fltPesoTMHSum, 3)}}</span>
                  </template>
                </el-table-column>
                <el-table-column label="UTILIDAD"  align="left" width="90">
                  <template scope="scope">
                    <span>{{getNumberFix(scope.row.fltUtilidadBruSum, 2)}}</span>
                  </template>
                </el-table-column>
                <el-table-column label="MARGEN"  align="left" width="90">
                  <template scope="scope">
                    <span>{{getPorcentageFix(scope.row.fltMargenBruProm, 2)}}</span>
                  </template>
                </el-table-column>
                <el-table-column label="PRECIO INTER"  align="left" width="105">
                  <template scope="scope">
                    <span>{{getNumberFix(scope.row.fltPrecioInterAu, 2)}}</span>
                  </template>
                </el-table-column>
                <el-table-column label="PROPUESTA AU"  align="left">
                  <el-table-column label="RECUPERACION"  align="left" width="110">
                    <template scope="scope">
                      <span>{{getNumberFix(scope.row.fltRecuperacionProm, 2)}}</span>
                    </template>
                  </el-table-column>
                  <el-table-column label="MAQUILA"  align="left" width="80">
                    <template scope="scope">
                      <span>{{getNumberFix(scope.row.fltMaquilaProm, 2)}}</span>
                    </template>
                  </el-table-column>
                  <el-table-column label="MARGEN PI"  align="left" width="90">
                    <template scope="scope">
                      <span>{{getNumberFix(scope.row.fltMargenPIProm, 2)}}</span>
                    </template>
                  </el-table-column>
                  <el-table-column label="CONSUMO Q"  align="left" width="100">
                    <template scope="scope">
                      <span>{{getNumberFix(scope.row.fltConsumoQProm, 2)}}</span>
                    </template>
                  </el-table-column>
                  <el-table-column label="GASTO ADM."  align="left" width="100">
                    <template scope="scope">
                      <span>{{getNumberFix(scope.row.fltGastoAdmProm, 2)}}</span>
                    </template>
                  </el-table-column>
                  <!-- <el-table-column label="COSTO"  align="left" width="90">
                    <template scope="scope">
                      <span>{{getNumberFix(scope.row.fltCostoTotalSum, 2)}}</span>
                    </template>
                  </el-table-column> -->
                </el-table-column>
                <el-table-column label="INTERNO"  align="left">
                  <el-table-column prop="fltRecIntAuProm" label="RECUP."  align="left" width="90"></el-table-column>
                  <el-table-column prop="fltMaquilaIntAuProm" label="MAQUILA"  align="left" width="90"></el-table-column>
                  <el-table-column prop="fltConsQIntAuProm" label="CONS. Q"  align="left" width="85"></el-table-column>
                  <el-table-column label="GASTO ADM."  align="left" width="100">
                    <template scope="scope">
                      <span>{{getNumberFix(scope.row.fltGastoAdmIntAuProm, 2)}}</span>
                    </template>
                  </el-table-column>
                </el-table-column>
              </el-table>
            </div>
          </div>
        </el-card>
      </el-tab-pane>
      <el-tab-pane label="Detallado" name="second">
        <el-card class="box-card" >
          <div slot="header" class="headercard"  >
            <span class="labelheadercard">Reporte Margen Resumen</span>
            <el-button class="buttonfilter btn btn-outline-secondary orange" style="margin-top: -3px;" @click="BuscarReporteDetallado()">
                <img class="imagenfilter" src="../../../../images/buscari.png" style="margin-left: 0px;width: 15px;height: 16px;" alt="" >
            </el-button>
            <el-button class="buttonfilter btn btn-outline-secondary orange" style="margin-top: -3px;" @click="LimpiarConsulta()">
                <img class="imagenfilter" src="../../../../images/visualizar.png" style="margin-left: 0px;width: 15px;height: 16px;" alt="" >
            </el-button>
            <el-button class="buttonfilter btn btn-outline-secondary orange" style="margin-top: -3px;" @click="blnfiltroavanzado=!blnfiltroavanzado">
                <img class="imagenfilter" src="../../../../images/filtro.png" style="margin-left: 0px;width: 15px;height: 16px;" alt="" >
            </el-button>
          </div>
          <div class="row bodycard">
            <div class="container">
              <div class="row" >
                <div class="col-sm-3">
                  <div class="form-group row " style="margin-top: 1px;">
                      <label class="el-form-item__label col-md-3" >Periodo</label>
                      <div class="col-md-7 grupolabel">
                        <div class="input-group mb-3" >
                          <el-date-picker
                            v-model="fechaSearchDet"
                            type="month"
                            format="MMMM / yyyy"
                            size="mini"
                            placeholder="Seleccione mes"
                            :editable = "false">
                          </el-date-picker>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
              <div class="row" v-if="blnfiltroavanzado" style="margin-top: 2px;">
                <div class="col-sm-3">
                  <div class="form-group row ">
                    <label class="el-form-item__label col-md-3" >Lote</label>
                    <div class="col-md-9 grupolabel">
                        <div class="input-group mb-3" >
                          <el-input v-model="FormSearchDet.strLote" @keyup.enter.native="BuscarReporte()" size="mini" auto-complete="off" placeholder="*"></el-input>
                        </div>
                    </div>           
                  </div> 
                </div>
                <div class="col-sm-3">
                  <div class="form-group row ">
                    <label class="el-form-item__label col-md-3" >Estado</label>
                    <div class="col-md-7 grupolabel">
                        <div class="input-group mb-3" >
                          <el-select v-model="FormSearchDet.strEstadoLote" clearable filterable placeholder="" size="mini">
                            <el-option
                              v-for="item in dataEstado"
                              :key="item.id_estado"
                              :label="item.name"
                              :value="item.id_estado">
                            </el-option>
                          </el-select>
                        </div>
                    </div>           
                  </div> 
                </div>
              </div>
              <div class="row" v-if="blnfiltroavanzado"  style="margin-top: 2px;">
                <div class="col-sm-3">
                  <div class="form-group row ">
                    <label class="el-form-item__label col-md-3" >Región</label>
                    <div class="col-md-9 grupolabel">
                      <div class="input-group mb-3" >
                        <el-input v-model="FormSearchDet.strRegion" size="mini" type="search" @keyup.enter.native="BuscarReporteDetallado()"></el-input>
                      </div>
                    </div>  
                  </div> 
                </div>
                <div class="col-sm-3">
                  <div class="form-group row ">
                    <label class="el-form-item__label col-md-3" >Zona</label>
                    <div class="col-md-7 grupolabel">
                      <div class="input-group mb-3" >
                        <el-select v-model="FormSearchDet.strProcedenciaSt" clearable placeholder="" size="mini" filterable @keyup.enter.native="BuscarReporteDetallado()">
                          <el-option
                            v-for="item in dataZonas"
                            :key="item.strZona"
                            :label="item.strZona"
                            :value="item.strZona">
                          </el-option>
                        </el-select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <el-table
                :data="gridDataDetallado"
                border
                highlight-current-row
                :max-height="sizeScreen"
                v-loading="loadingGetDataDet"
                show-summary
                :summary-method="getSummariesDet"
                element-loading-text="Cargando lotes..."
                style="width:100%;font-size:10px;margin:5px 0px">
                <el-table-column label="LOTE"  align="left" width="95">
                  <template scope="scope">
                    <span style="color:red;font-weight:bold;font-size:11px">{{scope.row.strLote}}</span>
                  </template>
                </el-table-column>
                <el-table-column label="FECHA RECEP."  align="left" width="110">
                  <template scope="scope">
                    <span style="font-weight:bold">{{scope.row.strFechaRecepcion}}</span>
                  </template>
                </el-table-column>
                <el-table-column prop="strProcedenciaSt" label="ZONA"  align="left" width="100"></el-table-column>
                <el-table-column prop="strRegion" label="REGION"  align="left" width="100"></el-table-column>
                <el-table-column label="PESO TMH"  align="left" width="90">
                  <template scope="scope">
                    <span>{{getNumberFix(scope.row.fltPesoTmh, 3)}}</span>
                  </template>
                </el-table-column>
                <el-table-column prop="strPSecoTM" label="P.SECO TM"  align="left" width="90"></el-table-column>
                <el-table-column label="UTILIDAD"  align="left" width="90">
                  <template scope="scope">
                    <span>{{getNumberFix(scope.row.fltUtilidadBru, 2)}}</span>
                  </template>
                </el-table-column>
                <el-table-column label="MARGEN"  align="left" width="90">
                  <template scope="scope">
                    <span>{{getPorcentageFix(scope.row.fltMargenBru, 2)}}</span>
                  </template>
                </el-table-column>
                <el-table-column label="PRECIO INTER"  align="left" width="105">
                  <template scope="scope">
                    <span>{{getNumberFix(scope.row.fltPrecioInterAu, 2)}}</span>
                  </template>
                </el-table-column>
                <el-table-column label="PROPUESTA AU"  align="left">
                  <el-table-column label="RECUPERACION"  align="left" width="110">
                    <template scope="scope">
                      <span>{{getNumberFix(scope.row.fltRecuperacion, 2)}}</span>
                    </template>
                  </el-table-column>
                  <el-table-column label="MAQUILA"  align="left" width="80">
                    <template scope="scope">
                      <span>{{getNumberFix(scope.row.fltMaquila, 2)}}</span>
                    </template>
                  </el-table-column>
                  <el-table-column label="MARGEN PI"  align="left" width="90">
                    <template scope="scope">
                      <span>{{getNumberFix(scope.row.fltMargenPI, 2)}}</span>
                    </template>
                  </el-table-column>
                  <el-table-column label="CONSUMO Q"  align="left" width="100">
                    <template scope="scope">
                      <span>{{getNumberFix(scope.row.fltConsumoQ, 2)}}</span>
                    </template>
                  </el-table-column>
                  <el-table-column label="GASTO ADM."  align="left" width="100">
                    <template scope="scope">
                      <span>{{getNumberFix(scope.row.fltGastoAdm, 2)}}</span>
                    </template>
                  </el-table-column>
                  <el-table-column label="COSTO"  align="left" width="90">
                    <template scope="scope">
                      <span>{{getNumberFix(scope.row.fltCostoTotal, 2)}}</span>
                    </template>
                  </el-table-column>
                </el-table-column>
                <el-table-column label="INTERNO"  align="left">
                  <el-table-column prop="fltRecIntAu" label="RECUP."  align="left" width="90"></el-table-column>
                  <el-table-column prop="fltMaquilaIntAu" label="MAQUILA"  align="left" width="90"></el-table-column>
                  <el-table-column prop="fltConsQIntAu" label="CONS. Q"  align="left" width="85"></el-table-column>
                  <el-table-column label="GASTO ADM."  align="left" width="100">
                    <template scope="scope">
                      <span>{{getNumberFix(scope.row.fltGastoAdmIntAu, 2)}}</span>
                    </template>
                  </el-table-column>
                </el-table-column>
              </el-table>
            </div>
          </div>
        </el-card> 
      </el-tab-pane>
    </el-tabs>
  </div>
</template>
<script>
  import MargenLiquidacionComponent from '@/components/Reportes/ReporteMargenes/MargenLiquidacion/margenLiquidacion.component'
  export default MargenLiquidacionComponent
</script>
<style>

</style>
