 
  @keyframes slider-animation {
    
    0% {
        opacity: 0;
    }
    6% {
        opacity: 1;
    }
    24% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
    }
    .slider-wrap {
        display: flex;
        width: 100%;
        height:100%;
        overflow: hidden; 
        margin: 0;
        left: 0;
        text-align: left;
        font-size: 0;
      }
      .single-slide {
        width: 100%;
          height: 100%;
          position: absolute;
        opacity: 0;
      animation: slider-animation;
      animation-duration: 25s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
        background-size: cover;
        margin: 0;
        left: 0;
        text-align: left;
        font-size: 0;
      }
      
      #slide-1 {background-color: #E5E9F2; background-image: url('../../images/fondo3.jpg');}
      #slide-2 {background-color: #E5E9F2; animation-delay: 5s; background-image: url('../../images/fondo3.jpg');}
      #slide-3 {background-color: #E5E9F2; animation-delay: 10s; background-image: url('../../images/fondo3.jpg');}
      #slide-4 {background-color: #E5E9F2; animation-delay: 15s; background-image: url('../../images/fondo3.jpg');}
      #slide-5 {background-color: #E5E9F2; animation-delay: 20s; background-image: url('../../images/fondo3.jpg');}
      
      .el-input-group__prepend{
        background-color: #3f74a0 !important;
      }
      .el-input-group__prepend i{
        background-color: #3f74a0 !important;
        color: white !important;
      }
        