<template>
  <div>
    <ol  style="margin-left: -1.5rem;background: linear-gradient(rgb(229, 241, 247) 0%, rgb(255, 255, 255) 100%);    margin-bottom: 0rem !important;">
        <quickaccessmenu v-on:ValidarItem="BuscarLotes()" v-on:guardarTodo="guardarTodo($event)" v-on:backPage="backPage($event)"  v-on:reloadpage="reloadpage($event)"></quickaccessmenu>
        </ol>
    <div class="" >
      <el-card class="box-card" style="margin-top:5px;">
        <div slot="header" class="headercard" >
          <span class="labelheadercard">DUPLICAR LOTES</span>
        </div>
        <!-- <div class="row" >
              <div class="col-sm-3" >
                <div class="form-group row " style="margin-top: 1px;">
                    <label class="el-form-item__label col-md-3" >Mes</label>
                    <div class="col-md-7 grupolabel">
                      <div class="input-group mb-3" >
                        <el-date-picker
                          v-model="fechaFin"
                          size="mini"
                          format="dd/MM/yyyy"
                          placeholder="Desde"
                          @keyup.enter.native="BuscarLotes()">
                        </el-date-picker>
                      </div>
                    </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group row " style="margin-top: 1px;">
                    <label class="el-form-item__label col-md-3" >Lote:</label>
                    <div class="col-md-7 grupolabel">
                      <div class="input-group mb-3" >
                         <el-input placeholder="*" v-model="FormSearch.strLote" @keyup.enter.native="BuscarLotes()" auto-complete="off" size="mini"></el-input>
                      </div>
                    </div>
                </div>
              </div>
              
            </div> -->
        <table cellpadding="0" cellspacing="1" style="margin:5px 10px;border-collapse: collapse;">
          <tr>
            <td class="texto_labelDialogLeft" style="font-size:13px;padding-left:8px">Mes:</td>
            <td style="padding-top:3px;padding-left:8px;">
              <el-date-picker
                v-model="fechaSearch"
                type="month"
                size="mini"
                format="MMMM / yyyy"
                placeholder="Seleccione Mes"
                :editable = "false">
              </el-date-picker>
            </td>
            <td class="texto_labelDialogRight" style="font-size:13px;padding-left:15px">Lote:</td>
            <td style="padding-top:3px;padding-left:8px;">
              <el-input placeholder="*" v-model="FormSearch.strLote" @keyup.enter.native="BuscarLotes()" auto-complete="off" size="mini"></el-input>
            </td>
          </tr>
        </table>
        <div  class="headercard" >
          <buttons-accions v-on:LimpiarConsulta="LimpiarConsulta()" v-on:Limpiar="clickactive('B')" v-on:Buscar="clickactive('A')" v-on:AscItem="AscItem" v-on:DscItem="DscItem" v-on:siguiente="siguiente()" v-on:anterior="anterior()" v-on:EliminarItem="EliminarItem()" ></buttons-accions>
        </div> 
        <el-table
          ref="missionTable"
          :data="gridData"
          :max-height="sizeScreen"
          v-loading="loadingGetData"
          element-loading-text="Cargando lotes..."
          highlight-current-row
          stripe  :default-sort = "{prop: 'date', order: 'descending'}"
          style="width:100%;font-size:10px;margin:5px 0px">
          <el-table-column label="LOTE" fixed align="center" width="75">
            <template scope="scope">
              <span style="color:red"><b>{{scope.row.strLote}}</b></span>
            </template>
          </el-table-column>
          <el-table-column label="Fecha Recepción" fixed min-width="100" align="center">
            <template scope="scope">
              <span><b>{{ getDateString(scope.row.dtmFechaRecepcion) }}</b></span>
            </template>
          </el-table-column>
          <el-table-column prop="strProcedenciaSt" label="Procedencia" min-width="110" align="center"></el-table-column>
          <el-table-column prop="strClienteRuc" label="Ruc Proveedor" min-width="90" align="center"></el-table-column>
          <el-table-column prop="strClienteRazonS" label="Proveedor Mineral" min-width="250"></el-table-column>
          <el-table-column prop="strMaterial" label="Material" min-width="65" align="center"></el-table-column>
          <el-table-column prop="intNroSacos" label="N° Sacos" min-width="65" align="center"></el-table-column>
          <el-table-column label="Peso TMH" min-width="70" align="center">
            <template scope="scope">
              <span style="font-size:11px"><b>{{ scope.row.fltPesoTmh }}</b></span>
            </template>
          </el-table-column>
          <el-table-column label="%H2O" width="60" align="center">
            <template scope="scope">
              <span style="font-size:11px">{{scope.row.strPorcH2O}}</span>
            </template>
          </el-table-column>
          <el-table-column label="P.Seco TM" width="75" align="center">
            <template scope="scope">
              <span style="font-size:11px">{{scope.row.strPSecoTM}}</span>
            </template>
          </el-table-column>
          <el-table-column prop="strPorcRCPRef12hrs" label="% RCP Ref" width="80" align="center"></el-table-column>
          <el-table-column prop="strPorcRCPAu30hrs" label="% RCP Au 48hrs" width="100" align="center"></el-table-column>
          <el-table-column prop="strPorcRCPAu70hrs" label="% RCP Au 72hrs" width="100" align="center"></el-table-column>
          <el-table-column label="Ley Au Oz/tc" width="85" align="center">
            <template scope="scope">
              <span style="font-size:11px"><b>{{scope.row.strLeyAuOzTc}}</b></span>
            </template>
          </el-table-column>
          <el-table-column prop="strLeyAuREE" label="Ley Au REE" width="80" align="center"></el-table-column>
          <el-table-column label="Ley Au Comercial" width="110" align="center">
            <template scope="scope">
              <span style="font-size:12px;font-weight:bold;color:blue;">{{getNumberFix(scope.row.strLeyAuComercial, 3)}}</span>
            </template>
          </el-table-column>
          <el-table-column label="Ley Ag (Oz/tc)" width="90" align="center">
            <template scope="scope">
              <span style="font-size:11px"><b>{{scope.row.strLeyAgOzTc}}</b></span>
            </template>
          </el-table-column>
          <el-table-column prop="strLeyAgREE" label="Ley Ag REE" width="80" align="center"></el-table-column>
          <el-table-column label="Ley Ag Comercial" width="110" align="center">
            <template scope="scope">
              <span style="font-size:12px;font-weight:bold;color:blue;">{{getNumberFix(scope.row.strLeyAgComercial, 3)}}</span>
            </template>
          </el-table-column>
          <el-table-column label="Operaciones" fixed="right" align="center" width="180">
            <template scope="scope">
              <el-button size="mini"
                @click="handleDuplicar(scope.$index, scope.row)">Duplicar</el-button>
              <el-button size="mini" type="danger" icon="delete"
                @click="handleDelete(scope.$index, scope.row)">Eliminar</el-button>
            </template>
          </el-table-column>
        </el-table>
        <el-row type="flex" class="row-bg" style="margin-bottom:5px">
          <el-col :span="11">
            <el-pagination layout="prev, pager, next" :total="totalRegistros" :page-size="RegistersForPage" :current-page.sync="pagina" @current-change="cambioPagina()">
            </el-pagination>
          </el-col>
          <el-col :span="8" style="margin-top:7px">
            <span style="font-size:14px;">Total de Lotes: <b>{{countGridData}}</b></span>
          </el-col>
        </el-row>
      </el-card>
    </div>
  </div>
</template>
<script>
  import DuplicarLoteComponent from '@/components/DuplicarLote/duplicarLote.component'
  export default DuplicarLoteComponent
</script>
<style>

</style>
