<template>
  <div>
    <ol  style="margin-left: -1.5rem;background: linear-gradient(rgb(229, 241, 247) 0%, rgb(255, 255, 255) 100%);    margin-bottom: 0rem !important;">
        <quickaccessmenu v-on:ValidarItem="BuscarRumas()" v-on:backPage="backPage($event)"  v-on:reloadpage="reloadpage($event)"></quickaccessmenu>
        </ol>
    <el-card class="box-card" style="margin-top:5px;">
      <div slot="header" class="headercard">
        <span class="labelheadercard">TANQUES</span>
      </div>
      <table cellpadding="0" cellspacing="1" style="margin:5px 10px;border-collapse: collapse;">
        <tr>
          <td class="texto_labelDialogLeft" style="padding-right: 20px">
            <el-button type="primary" size="small" @click="handleAgregar()" v-if="viewAccessEscritura">
              <i class="fa fa-plus"></i> Agregar
            </el-button>
          </td>
          <!-- <td style="border-left:1px solid #eef1f6;margin:0px 10px"><span style="color:#b3b3b3;margin-left:15px;font-size:12px">Búsqueda</span></td> -->
        </tr>
      </table>
      <div class="headercard" >
        <buttons-accions v-on:Limpiar="clickactive('B')" v-on:Buscar="clickactive('A')" v-on:AscItem="AscItem" v-on:DscItem="DscItem" v-on:siguiente="siguiente()" v-on:anterior="anterior()" v-on:EliminarItem="EliminarItem()" ></buttons-accions>
      </div>
      <el-table
        :data="gridData"
        border
        highlight-current-row
        :max-height="sizeScreen"
        v-loading="loadingGetData"
        element-loading-text="Cargando..."
        style="width: 100%; font-size: 10px;margin:10px 0px">
        <el-table-column prop="strNroTanque" label="N° Tanque" align="center" width="85"></el-table-column>
        <el-table-column prop="strCarbonSeco" label="Carbon Seco(Kg)" align="center"></el-table-column>
        <el-table-column prop="strGrAuKgC" label="grAu/Kg C" align="center"></el-table-column>
        <el-table-column prop="strGrAgKgC" label="grAg/Kg C" align="center"></el-table-column>
        <el-table-column prop="strDensPulpa" label="Densidad de pulpa(Kg/m3)" align="center"></el-table-column>
        <el-table-column prop="strVolPulpa" label="Volumen de pulpa(m3)" align="center"></el-table-column>
        <el-table-column prop="strGAum3" label="gAu/m3" align="center"></el-table-column>
        <el-table-column prop="strGAut" label="gAu/t" align="center"></el-table-column>
        <el-table-column prop="strGAgm3" label="gAg/m3" align="center"></el-table-column>
        <el-table-column prop="strGAgt" label="gAg/t" align="center"></el-table-column>
        <el-table-column label="Operaciones" align="center" width="100">
          <template scope="scope">
            <el-button icon="edit" size="mini" type="success" @click="handleEdit(scope.$index, scope.row)">Editar</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-row type="flex" class="row-bg"style="margin-bottom:5px">
        <el-col :span="11">
          <el-pagination layout="prev, pager, next" :total="totalRegistros" :page-size="RegistersForPage" :current-page.sync="pagina" @current-change="cambioPagina()">
          </el-pagination>
        </el-col>
        <el-col :span="11" style="margin-top:7px">
          <span style="font-size:14px;">Total de Lotes: <b>{{countGridData}}</b></span>
        </el-col>
      </el-row>
    </el-card>

    <!--AGREGAR TANQUES-->
    <el-dialog title="Agregar Tanque" size="small" :visible.sync="dialogAgregarVisible">
      <el-form :model="FormAgregar" label-position="left" style="padding:10px 20px;">
        <el-row>
          <el-col :span="12" style="padding-right:10px">
            <el-form-item label-width="110px" label="N° Tanque:" class="marginFormItem">
              <el-input v-model="FormAgregar.strNroTanque" auto-complete="off" size="small"></el-input>
            </el-form-item>
            <el-form-item label-width="110px" label="Carbon Seco:" class="marginFormItem">
              <el-input type="number" v-model="FormAgregar.strCarbonSeco" auto-complete="off" size="small"></el-input>
            </el-form-item>
            <el-form-item label-width="110px" label="gr Au/Kg C:" class="marginFormItem">
              <el-input type="number" v-model="FormAgregar.strGrAuKgC" auto-complete="off" size="small"></el-input>
            </el-form-item>
            <el-form-item label-width="110px" label="gr Ag/Kg C:" class="marginFormItem">
              <el-input type="number" v-model="FormAgregar.strGrAgKgC" auto-complete="off" size="small"></el-input>
            </el-form-item>
            <el-form-item label-width="110px" label="Densidad de pulpa:" class="marginFormItem">
              <el-input  type="number" v-model="FormAgregar.strDensPulpa" auto-complete="off" size="small"></el-input>
            </el-form-item>
            <el-form-item label-width="110px" label="Volumen de pulpa(m3):" class="marginFormItem">
              <el-input type="number" v-model="FormAgregar.strVolPulpa" auto-complete="off" size="small"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12" style="padding-left:10px">
            <el-form-item label-width="85px" label="gAu/m3:" class="marginFormItem">
              <el-input type="number" v-model="FormAgregar.strGAum3" auto-complete="off" size="small"></el-input>
            </el-form-item>
            <el-form-item label-width="85px" label="gAu/t:" class="marginFormItem">
              <el-input type="number" v-model="FormAgregar.strGAut" auto-complete="off" size="small"></el-input>
            </el-form-item>
            <el-form-item label-width="85px" label="gAg/m3:" class="marginFormItem">
              <el-input type="number" v-model="FormAgregar.strGAgm3" auto-complete="off" size="small"></el-input>
            </el-form-item>
            <el-form-item label-width="85px" label="gAg/t:" class="marginFormItem">
              <el-input type="number" v-model="FormAgregar.strGAgt" auto-complete="off" size="small"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogAgregarVisible = false">Cancelar</el-button>
        <el-button type="primary" @click="AgregarTanque(FormAgregar)">Guardar</el-button>
      </span>
    </el-dialog>

    <!--AGREGAR TANQUES-->
    <el-dialog title="Actualizar Tanque" size="small" :visible.sync="dialogEditarVisible">
      <el-form :model="rowSelectedEdit" label-position="left" style="padding:10px 20px;">
        <el-row>
          <el-col :span="12" style="padding-right:10px">
            <el-form-item label-width="110px" label="N° Tanque:" class="marginFormItem">
              <el-input v-model="rowSelectedEdit.strNroTanque" auto-complete="off" size="small"></el-input>
            </el-form-item>
            <el-form-item label-width="110px" label="Carbon Seco:" class="marginFormItem">
              <el-input type="number" v-model="rowSelectedEdit.strCarbonSeco" auto-complete="off" size="small"></el-input>
            </el-form-item>
            <el-form-item label-width="110px" label="gr Au/Kg C:" class="marginFormItem">
              <el-input type="number" v-model="rowSelectedEdit.strGrAuKgC" auto-complete="off" size="small"></el-input>
            </el-form-item>
            <el-form-item label-width="110px" label="gr Ag/Kg C:" class="marginFormItem">
              <el-input type="number" v-model="rowSelectedEdit.strGrAgKgC" auto-complete="off" size="small"></el-input>
            </el-form-item>
            <el-form-item label-width="110px" label="Densidad de pulpa:" class="marginFormItem">
              <el-input  type="number" v-model="rowSelectedEdit.strDensPulpa" auto-complete="off" size="small"></el-input>
            </el-form-item>
            <el-form-item label-width="110px" label="Volumen de pulpa(m3):" class="marginFormItem">
              <el-input type="number" v-model="rowSelectedEdit.strVolPulpa" auto-complete="off" size="small"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12" style="padding-left:10px">
            <el-form-item label-width="85px" label="gAu/m3:" class="marginFormItem">
              <el-input type="number" v-model="rowSelectedEdit.strGAum3" auto-complete="off" size="small"></el-input>
            </el-form-item>
            <el-form-item label-width="85px" label="gAu/t:" class="marginFormItem">
              <el-input type="number" v-model="rowSelectedEdit.strGAut" auto-complete="off" size="small"></el-input>
            </el-form-item>
            <el-form-item label-width="85px" label="gAg/m3:" class="marginFormItem">
              <el-input type="number" v-model="rowSelectedEdit.strGAgm3" auto-complete="off" size="small"></el-input>
            </el-form-item>
            <el-form-item label-width="85px" label="gAg/t:" class="marginFormItem">
              <el-input type="number" v-model="rowSelectedEdit.strGAgt" auto-complete="off" size="small"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogEditarVisible = false">Cancelar</el-button>
        <el-button type="primary" @click="EditarTanque(rowSelectedEdit)">Guardar</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
  import TanquesComponent from '@/components/planta/Tanques/tanques.component'
  export default TanquesComponent
</script>
<style>

</style>
