<template>
  <div>
    <ol  style="margin-left: -1.5rem;background: linear-gradient(rgb(229, 241, 247) 0%, rgb(255, 255, 255) 100%);    margin-bottom: 0rem !important;">
        <quickaccessmenu v-on:ValidarItem="BuscarLotes()" v-on:guardarTodo="guardarTodo($event)" v-on:backPage="backPage($event)"  v-on:reloadpage="reloadpage($event)"></quickaccessmenu>
        </ol>
    <el-card class="box-card" style="margin-top:5px;">
      <div slot="header" class="headercard">
        <span>TRUJILLO</span>
      </div>
      <table cellpadding="0" cellspacing="1" style="margin:5px 10px;border-collapse: collapse;">
        <tr>
          <td class="texto_labelDialogLeft" style="font-size:13px;padding-left:8px">Mes:</td>
          <td style="padding-top:3px;padding-left:8px;">
            <el-date-picker
              v-model="fechaSearch"
              type="month"
              size="mini"
              format="MMMM / yyyy"
              placeholder="Seleccione Mes"
              :editable = "false">
            </el-date-picker>
          </td>
          <td class="texto_labelDialogRight" style="font-size:13px;padding-left:15px">Lote:</td>
          <td style="padding-top:3px;padding-left:8px;">
            <el-input placeholder="*" v-model="FormSearch.strLote" @keyup.enter.native="BuscarLotes()" auto-complete="off" size="mini"></el-input>
          </td>
          <!-- <td class="texto_labelDialogRight">
            <el-button type="primary" icon="search" size="small" @click="BuscarLotes()">Buscar</el-button>
          </td> -->
        </tr>
      </table>
      <div class="headercard" >
        <buttons-accions v-on:Limpiar="clickactive('B')" v-on:Buscar="clickactive('A')" v-on:AscItem="AscItem" v-on:DscItem="DscItem" v-on:siguiente="siguiente()" v-on:anterior="anterior()" v-on:EliminarItem="EliminarItem()" ></buttons-accions>
      </div> 
      <el-table
      ref="missionTable"
        :data="gridData"
        stripe  :default-sort = "{prop: 'date', order: 'descending'}"
        :max-height="sizeScreen"
        border
        highlight-current-row
        v-loading="loadingGetData"
        class="ExcelTable2007"
        element-loading-text="Cargando lotes..."
        style="width:100%;font-size:10px;margin:5px 0px">
        <el-table-column label="LOTE" fixed align="center" width="75">
          <template scope="scope">
            <span style="color:red"><b>{{scope.row.strLote}}</b></span>
          </template>
        </el-table-column>
        <el-table-column label="Fecha Recepción" fixed width="120" align="center">
          <template scope="scope">
            <span><b>{{ scope.row.dtmFechaRecepcion }}</b></span>
          </template>
        </el-table-column>
        <el-table-column label="DATOS RECEPCIÓN" align="center">
          <el-table-column prop="strEstadoLote" label="Estado" width="80" align="center">
            <template scope="scope">
              <el-tooltip placement="top" effect="light">
                <div slot="content">F = FACTURADO<br/>E = ENTREGADO<br/>R = REINTEGRO<br/>RT = RETIRADO</div>
                <span><b>{{scope.row.strEstadoLote}}</b></span>
              </el-tooltip>
            </template>
          </el-table-column>
          <el-table-column prop="strProcedenciaSt" label="Procedencia" width="110" align="center"></el-table-column>
          <el-table-column prop="strClienteRuc" label="Ruc Proveedor" width="120" align="center"></el-table-column>
          <el-table-column prop="strClienteRazonS" label="Proveedor Mineral" width="250"></el-table-column>
          <el-table-column prop="strMaterial" label="Material" width="100" align="center"></el-table-column>
          <el-table-column prop="intNroSacos" label="N° Sacos" width="100" align="center"></el-table-column>
          <el-table-column label="Peso TMH" width="100" align="center">
            <template scope="scope">
              <span style="font-size:11px"><b>{{ scope.row.fltPesoTmh }}</b></span>
            </template>
          </el-table-column>
        </el-table-column>
        <el-table-column label="DATOS LABORATORIO" align="center" style="background:blue">
          <el-table-column label="%H2O" width="60" align="center">
            <template scope="scope">
              <span style="font-size:11px">{{scope.row.strPorcH2O}}</span>
            </template>
          </el-table-column>
          <el-table-column label="Check H2O" width="75" align="center">
            <template scope="scope">
              <i class="fa fa-check" style="color:red" v-if="getCheckEstado(scope.row.strCheckH2O)"></i>
            </template>
          </el-table-column>
          <el-table-column label="P.Seco TM" width="75" align="center">
            <template scope="scope">
              <span style="font-size:11px">{{scope.row.strPSecoTM}}</span>
            </template>
          </el-table-column>
          <el-table-column prop="strPorcRCPRef12hrs" label="% RCP Ref" width="80" align="center"></el-table-column>
          <el-table-column prop="strPorcRCPAu30hrs" label="% RCP Au 48hrs" width="100" align="center"></el-table-column>
          <el-table-column prop="strPorcRCPAu70hrs" label="% RCP Au 72hrs" width="100" align="center"></el-table-column>
          <el-table-column prop="strPorcRCPReeAu72hrs" label="REE % RCP Au 72hrs" width="120" align="center"></el-table-column>
          <el-table-column label="Ley Au Oz/tc" width="85" align="center">
            <template scope="scope">
              <span style="font-size:11px">{{scope.row.strLeyAuOzTc}}</span>
            </template>
          </el-table-column>
          <el-table-column prop="strLeyAuREE" label="Ley Au REE" width="80" align="center"></el-table-column>
          <el-table-column label="Ley Au Comercial" width="110" align="center">
            <template scope="scope">
              <span style="font-size:12px;font-weight:bold;color:blue;">{{getNumberFloat(scope.row.strLeyAuComercial)}}</span>
            </template>
          </el-table-column>
          <el-table-column label="Ley Au Gr/Tm" width="85" align="center">
            <template scope="scope">
              <span>{{ getNumberFloat(scope.row.strLeyAuGrTm) }}</span>
            </template>
          </el-table-column>
          <el-table-column label="Ley Ag (Oz/tc)" width="90" align="center">
            <template scope="scope">
              <span style="font-size:11px">{{scope.row.strLeyAgOzTc}}</span>
            </template>
          </el-table-column>
          <el-table-column prop="strLeyAgREE" label="Ley Ag REE" width="80" align="center"></el-table-column>
          <el-table-column label="Ley Ag Comercial" width="110" align="center">
            <template scope="scope">
              <span style="font-size:12px;font-weight:bold;color:blue;">{{getNumberFloat(scope.row.strLeyAgComercial)}}</span>
            </template>
          </el-table-column>
          <el-table-column prop="strPorcCobre" label="Cobre %" width="70" align="center"></el-table-column>
          <el-table-column prop="strNaOHKgTM" label="NaOH (kg/TM)" width="90" align="center"></el-table-column>
          <el-table-column prop="strNaCNKgTM" label="NaCN (Kg/TM)" width="90" align="center"></el-table-column>
        </el-table-column>
        <el-table-column label="Fecha Retiro" width="100" align="center">
          <template scope="scope">
            <span>{{getDateString(scope.row.strFechaRetiro)}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="strNombreTransportista" label="Nombre Fletero" width="260"></el-table-column>
        <el-table-column prop="strNroPlaca" label="Nro. Placa" width="100" align="center"></el-table-column>
        <el-table-column prop="strGuiaTransport" label="Guia Transport." width="100" align="center"></el-table-column>
        <el-table-column prop="strGuiaRemitente" label="Guia Remitente" width="100" align="center"></el-table-column>
        <el-table-column prop="strCodCompromiso" label="Código Compromiso" width="120" align="center"></el-table-column>
        <el-table-column prop="strCodConcesion" label="Código Concesión" width="110" align="center"></el-table-column>
        <el-table-column prop="strNombreConcesion" label="Nombre Concesión" width="150"></el-table-column>
        <el-table-column prop="strProcedenciaLg" label="Procedencia" width="230"></el-table-column>
        <el-table-column prop="strNombreAcopiador" label="Acopiador" width="160"></el-table-column>
        <el-table-column prop="strObservacion" label="Observaciones" width="220"></el-table-column>
        <el-table-column label="Operaciones" fixed="right" align="center" width="100">
          <template scope="scope">
            <el-button size="mini" type="success"
              @click="handleDetalle(scope.$index, scope.row)">Detalle</el-button>
          </template>
        </el-table-column>
      </el-table>
      <div align="right"
        style="background:#EEEEEE;padding-right:10%;padding-top:5px;padding-bottom:5px;font-size:13px">
        <span>Peso TMH Acumulado:<b style="padding-left:15px;margin-right:20px">{{sumatorioPesoTMH}}</b></span>-
        <span style="margin-left:20px">Peso Seco TM Acumulado:<b style="padding-left:15px;">{{sumatorioPSecoTM}}</b></span>
      </div>
      <el-row type="flex" class="row-bg" style="margin-bottom:5px">
        <el-col :span="11">
          <el-pagination layout="prev, pager, next" :total="totalRegistros" :page-size="RegistersForPage" :current-page.sync="pagina" @current-change="cambioPagina()">
          </el-pagination>
        </el-col>
        <el-col :span="8" style="margin-top:7px">
          <span style="font-size:14px;">Total de Lotes: <b>{{countGridData}}</b></span>
        </el-col>
        <el-col :span="5" align="right" style="margin-top:3px">
          <download-excel :data="CompleteData" :fields = "json_fields" :meta = "json_meta" :name = "titleExcel">
          </download-excel>
        </el-col>
      </el-row>
    </el-card>

    <!-- DETALLE LOTE -->
    <el-dialog  title="DETALLE LOTE" top="4%" size="large" :visible.sync="dialogDetalleVisible" @close="dialogDetalleVisible=false">
      <div style="background:#EEEEEE; width:100%;height:40px;">
        <table cellpadding="0" cellspacing="1" style="margin-bottom:10px; margin-left:30px;" class="hx">
          <tr>
            <td class="texto_labelDialogLeft" style="color:red;font-size:13px;">LOTE:</td>
            <td style="padding-top:3px;padding-left:20px;"><el-input v-model="rowSelectedEdit.strLote" readonly auto-complete="off" size="small"></el-input></td>
            <td class="texto_labelDialogRight" style="font-size:13px;">Fecha Recepción:</td>
            <td style="padding-top:3px;padding-left:20px;">
              <el-input :value="rowSelectedEdit.dtmFechaRecepcion" readonly auto-complete="off" size="small"></el-input>
            </td>
            <td class="texto_labelDialogRight" style="font-size:13px;">Estado:</td>
            <td style="padding-top:3px;padding-left:20px;">
              <el-select v-model="rowSelectedEdit.strEstadoLote" clearable disabled size="small">
                <el-option
                  v-for="item in dataEstado"
                  :key="item.id_estado"
                  :label="item.name"
                  :value="item.id_estado">
                </el-option>
              </el-select>
            </td>
          </tr>
        </table>
      </div>

      <el-row style="padding:5px 2%">
        <el-col :span="10">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#30476ccc;" align="center">
              <span>Datos Recepción</span>
            </div>
            <div class="containerForm">
              <el-row>
                <el-col :span="16">
                  <span>Procedencia Mineral:</span>
                  <el-input v-model="rowSelectedEdit.strProcedenciaSt" auto-complete="off" size="mini" readonly></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Procedencia:</span>
                  <el-input v-model="rowSelectedEdit.strProcedenciaLg" auto-complete="off" size="mini" readonly></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Ruc:</span>
                  <el-input v-model="rowSelectedEdit.strClienteRuc" auto-complete="off" size="mini" readonly></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Proveedor Mineral:</span>
                  <el-input v-model="rowSelectedEdit.strClienteRazonS" auto-complete="off" size="mini" readonly></el-input>
                </el-col>
                <el-col :span="8" style="padding-left:10px">
                  <span>Material:</span>
                  <el-input v-model="rowSelectedEdit.strMaterial" auto-complete="off" size="mini" readonly></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Nro Sacos:</span>
                  <el-input v-model="rowSelectedEdit.intNroSacos" auto-complete="off" size="mini" readonly></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Peso TMH:</span>
                  <el-input v-model="rowSelectedEdit.fltPesoTmh" auto-complete="off" size="mini" readonly></el-input>
                </el-col>
              </el-row>
              <div style="padding:5px 0px">
                <span>Observaciones:</span>
                <el-input placeholder="Observaciones" v-model="rowSelectedEdit.strObservacion"
                  auto-complete="off" size="mini" readonly></el-input>
              </div>
            </div>
          </div>
        </el-col>
        <el-col :span="7" style="padding-left:1%">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#1957b3b0;" align="center">
              <span>Transportista</span>
            </div>
            <div class="containerForm">
              <span>Nombre:</span>
              <el-input type="textarea" readonly v-model="rowSelectedEdit.strNombreTransportista" auto-complete="off" size="mini"></el-input>
              <br><div style="margin-top:5px"></div>
              <span>Nro. Placa:</span>
              <el-input readonly v-model="rowSelectedEdit.strNroPlaca" auto-complete="off" size="mini"></el-input>
              <br><div style="margin-top:5px"></div>
              <span>Guia Transportista:</span>
              <el-input readonly v-model="rowSelectedEdit.strGuiaTransport" auto-complete="off" size="mini"></el-input>
            </div>
          </div>

        </el-col>
        <el-col :span="7" style="padding-left:1%">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#e5dfd4;" align="center">
              <span style="color:#30476c">Acopiador</span>
            </div>
            <div class="containerForm">
              <span>Nombre:</span>
              <el-input readonly v-model="rowSelectedEdit.strNombreAcopiador" auto-complete="off" size="mini"></el-input>
            </div>
          </div>
          <div class="cardForm" style="margin-top:7px">
            <div class="cardForm_Header" style="background:#30476ccc;" align="center">
              <span>Guias de Remisión</span>
            </div>
            <div class="containerForm">
              <el-row>
                <el-col :span="12">
                  <span>Código Concesión:</span>
                  <el-input v-model="rowSelectedEdit.strCodConcesion" readonly auto-complete="off" size="mini"></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Nombre Concesión:</span>
                  <el-input v-model="rowSelectedEdit.strNombreConcesion" readonly auto-complete="off" size="mini"></el-input>
                </el-col>
                <el-col :span="12" style="padding-left:10px">
                  <span>Guia Remitente:</span>
                  <el-input v-model="rowSelectedEdit.strGuiaRemitente" readonly auto-complete="off" size="mini"></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Código Compromiso:</span>
                  <el-input v-model="rowSelectedEdit.strCodCompromiso" readonly auto-complete="off" size="mini"></el-input>
                </el-col>
              </el-row>
            </div>
          </div>
        </el-col>
      </el-row>

      <div class="cardForm_Header" style="background:#eeeeee;" align="center">
        <span style="color:#30476c">Datos Laboratorio</span>
      </div>
      <table cellpadding="0" cellspacing="1" style="margin-left:30px;">
        <tr>
          <td class="texto_labelDialogLeft" style="font-size:13px;">H2O(%):</td>
          <td style="padding-top:3px;padding-left:20px;"><el-input v-model="rowSelectedEdit.strPorcH2O" auto-complete="off" size="mini" readonly></el-input></td>
          <td class="texto_labelDialogRight" style="font-size:13px;">CHECK H2O:</td>
          <td style="padding-top:3px;padding-left:20px;"><i class="fa fa-check" style="color:red" v-if="checkedH2O"></i></td>
          <td class="texto_labelDialogRight" style="font-size:13px;">P. SECO TM:</td>
          <td style="padding-top:3px;padding-left:20px;"><el-input :value="getNumberFloat(rowSelectedEdit.strPSecoTM)" auto-complete="off" size="mini" readonly></el-input></td>
        </tr>
      </table>

      <el-row style="padding:5px 2%">
        <el-col :span="9">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#30476ccc;" align="center">
              <span>Leyes</span>
            </div>
            <div class="containerForm">
              <el-row>
                <el-col :span="12">
                  <div style="margin-top:3px"></div>
                  <span>Ley Certificado:</span>
                  <el-input v-model="rowSelectedEdit.strLeyCertificado" readonly auto-complete="off" size="mini"></el-input>

                  <div style="background:#efebcd;width:100%;height:25px;padding-top:5px;margin-top:10px;border-radius:10px;" align="center">
                    <span>Au</span>
                  </div>
                  <div style="margin-top:5px"></div>
                  <span>Ley Au Oz/tc:</span>
                  <el-input v-model="rowSelectedEdit.strLeyAuOzTc" readonly auto-complete="off" size="mini"
                    @change="changeLeyAuOzTc(rowSelectedEdit.strLeyAuOzTc)">
                  </el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Ley Au REE:</span>
                  <el-input v-model="rowSelectedEdit.strLeyAuREE" readonly auto-complete="off" size="mini"></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Ley Au Gr/Tm:</span>
                  <el-input :value="getNumberFloat(rowSelectedEdit.strLeyAuGrTm)" readonly auto-complete="off" size="mini" readonly></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Ley Au Comercial</span>
                  <el-input v-model="rowSelectedEdit.strLeyAuComercial" readonly auto-complete="off" size="mini"></el-input>
                </el-col>
                <el-col :span="12" style="padding-left:10px">
                  <div style="margin-top:3px"></div>
                  <span>Ley Dirimencia:</span>
                  <el-input v-model="rowSelectedEdit.strLeyDirimencia" readonly auto-complete="off" size="mini"></el-input>

                  <div style="background:#d4d4d4;width:100%;height:25px;padding-top:5px;margin-top:10px;border-radius:10px;" align="center">
                    <span>Ag</span>
                  </div>
                  <div style="margin-top:5px"></div>
                  <span>Ley Ag Oz/tc:</span>
                  <el-input v-model="rowSelectedEdit.strLeyAgOzTc" auto-complete="off" size="mini" readonly></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Ley Ag REE:</span>
                  <el-input v-model="rowSelectedEdit.strLeyAgREE" auto-complete="off" size="mini" readonly></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Ley Ag Comercial</span>
                  <el-input v-model="rowSelectedEdit.strLeyAgComercial" auto-complete="off" size="mini" readonly></el-input>
                </el-col>
              </el-row>
            </div>
          </div>
        </el-col>
        <el-col :span="9" style="padding-left:1%">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#1957b3b0;" align="center">
              <span>Recuperación</span>
            </div>
            <div class="containerForm">
              <el-row>
                <el-col :span="12">
                  <div style="background:#efebcd;width:100%;height:25px;padding-top:5px;border-radius:10px;" align="center">
                    <span>Au</span>
                  </div>
                  <div style="margin-top:5px"></div>
                  <span>RCP Ref (%):</span>
                  <el-input v-model="rowSelectedEdit.strPorcRCPRef12hrs" auto-complete="off" size="mini" readonly></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>RCP Au 48hrs (%):</span>
                  <el-input v-model="rowSelectedEdit.strPorcRCPAu30hrs" auto-complete="off" size="mini" readonly></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>RCP Au 72hrs (%):</span>
                  <el-input v-model="rowSelectedEdit.strPorcRCPAu70hrs" auto-complete="off" size="mini" readonly></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>REE % RCP Au 72hrs:</span>
                  <el-input v-model="rowSelectedEdit.strPorcRCPReeAu72hrs" auto-complete="off" size="mini" readonly></el-input>
                </el-col>
                <el-col :span="12" style="padding-left:10px">
                  <div style="background:#d4d4d4;width:100%;height:25px;padding-top:5px;border-radius:10px;" align="center">
                    <span>Ag</span>
                  </div>
                  <div style="margin-top:5px"></div>
                  <span>RCP Ag:</span>
                  <el-input v-model="rowSelectedEdit.strPorcRCPAg30hrs" auto-complete="off" size="mini" readonly></el-input>
                </el-col>
              </el-row>
            </div>
          </div>
        </el-col>
        <el-col :span="6" style="padding-left:1%">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#e5dfd4;" align="center">
              <span style="color:#30476c">Consumos</span>
            </div>
            <div class="containerForm">
              <span>NaCN (Kg/TM):</span>
              <el-input v-model="rowSelectedEdit.strNaCNKgTM" auto-complete="off" size="mini" readonly></el-input>
              <br><div style="margin-top:5px"></div>
              <span>NaOH (Kg/TM):</span>
              <el-input v-model="rowSelectedEdit.strNaOHKgTM" auto-complete="off" size="mini" readonly></el-input>
              <br><div style="margin-top:5px"></div>
              <span>Cobre (%):</span>
              <el-input v-model="rowSelectedEdit.strPorcCobre" auto-complete="off" size="mini" readonly></el-input>
            </div>
          </div>
        </el-col>
      </el-row>

      <div style="margin-top:7px"></div>
      <span slot="footer" class="dialog-footer">
        <el-button type="danger" plain @click="dialogDetalleVisible = false">Cerrar</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
  import TrujilloComponent from '@/components/Trujillo/trujillo.component'
  export default TrujilloComponent
</script>
<style>

</style>
