<template>
  <div>
   <ol  style="margin-left: -1.5rem;background: linear-gradient(rgb(229, 241, 247) 0%, rgb(255, 255, 255) 100%);    margin-bottom: 0rem !important;">
        <quickaccessmenu v-on:ValidarItem="BuscarReporte()" v-on:backPage="backPage($event)"  v-on:reloadpage="reloadpage($event)"></quickaccessmenu>
        </ol>
    <el-tabs type="border-card" @tab-click="handleClick" value="first" style="margin-top:5px;">
      <el-tab-pane label="Resumen" name="first">
        <el-card class="box-card" >
          <div slot="header" class="headercard"  >
            <span class="labelheadercard">Reporte Acopio - Resumen</span>
            <!-- <el-button class="buttonfilter btn btn-outline-secondary orange" style="margin-top: -3px;" @click="BuscarReporte()">
                <img class="imagenfilter" src="../../../images/buscari.png" style="margin-left: 0px;width: 15px;height: 16px;" alt="" >
            </el-button> -->
            <!-- <el-button class="buttonfilter btn btn-outline-secondary orange" style="margin-top: -3px;" @click="LimpiarConsulta()">
                <img class="imagenfilter" src="../../../images/visualizar.png" style="margin-left: 0px;width: 15px;height: 16px;" alt="" >
            </el-button>
            <el-button class="buttonfilter btn btn-outline-secondary orange" style="margin-top: -3px;" @click="blnfiltroavanzado=!blnfiltroavanzado">
                <img class="imagenfilter" src="../../../images/filtro.png" style="margin-left: 0px;width: 15px;height: 16px;" alt="" >
            </el-button> -->
          </div>
          <div class="row bodycard">
            <div class="container">
              <div class="row" >
                <div class="col-sm-3">
                  <div class="form-group row " style="margin-top: 1px;">
                      <label class="el-form-item__label col-md-3" >Periodo</label>
                      <div class="col-md-7 grupolabel">
                        <div class="input-group mb-3" >
                          <el-date-picker
                            v-model="fechaSearch"
                            type="month"
                            size="mini"
                            format="MMMM / yyyy"
                            placeholder="Seleccione Mes"
                            :editable = "false"
                            @change="changeMonth()">
                          </el-date-picker>
                        </div>
                      </div>
                      <el-button v-if="!blnperiodo" class="buttonfilter btn btn-outline-secondary orange" style="margin-top: 3px;" @click="blnperiodo=!blnperiodo">
                          <img class="imagenfilter" style="width: 12px;height: 15px;" src="../../../images/Botones_Rango.png" alt="" >
                      </el-button>
                      <el-button v-if="blnperiodo" class="buttonfilter btn btn-outline-secondary orange" style="margin-top: 3px;" @click="blnperiodo=!blnperiodo">
                          <img class="imagenfilter" style="width: 12px;height: 15px;" src="../../../images/Botones_Rango.png" alt="" >
                      </el-button>
                  </div>
                </div>
                <div class="col-sm-3" v-if="blnperiodo">
                  <div class="form-group row " style="margin-top: 1px;">
                      <label class="el-form-item__label col-md-3" >Desde</label>
                      <div class="col-md-7 grupolabel">
                        <div class="input-group mb-3" >
                          <el-date-picker
                            v-model="fechaInicio"
                            size="mini"
                            format="dd/MM/yyyy"
                            placeholder="Desde"
                            @keyup.enter.native="BuscarReporte()">
                          </el-date-picker>
                        </div>
                      </div>
                  </div>
                </div>
                <div class="col-sm-3" v-if="blnperiodo">
                  <div class="form-group row " style="margin-top: 1px;">
                      <label class="el-form-item__label col-md-3" >Hasta</label>
                      <div class="col-md-7 grupolabel">
                        <div class="input-group mb-3" >
                          <el-date-picker
                            v-model="fechaFin"
                            size="mini"
                            format="dd/MM/yyyy"
                            placeholder="Desde"
                            @keyup.enter.native="BuscarReporte()">
                          </el-date-picker>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
              <div class="row" v-if="blnfiltroavanzado" style="margin-top: 2px;">
                <div class="col-sm-3">
                  <div class="form-group row ">
                    <label class="el-form-item__label col-md-3" >Proveedor</label>
                    <div class="col-md-9 grupolabel">
                        <div class="input-group mb-3" >
                          <el-input v-model="FormSearch.strProveedor" @keyup.enter.native="BuscarReporte()" size="mini" auto-complete="off" placeholder="*"></el-input>
                        </div>
                    </div>           
                  </div> 
                </div>
                <div class="col-sm-3">
                  <div class="form-group row ">
                    <label class="el-form-item__label col-md-3" >Estado</label>
                    <div class="col-md-7 grupolabel">
                        <div class="input-group mb-3" >
                          <el-select v-model="FormSearch.strEstadoLote" clearable filterable placeholder="" size="mini">
                            <el-option
                              v-for="item in dataEstado"
                              :key="item.id_estado"
                              :label="item.name"
                              :value="item.id_estado">
                            </el-option>
                          </el-select>
                        </div>
                    </div>           
                  </div> 
                </div>
              </div>
              <div class="row" v-if="blnfiltroavanzado"  style="margin-top: 2px;">
                <div class="col-sm-3">
                  <div class="form-group row ">
                    <label class="el-form-item__label col-md-3" >Acopiador</label>
                    <div class="col-md-9 grupolabel">
                      <div class="input-group mb-3" >
                        <el-input placeholder="*" type="search" v-model="FormSearch.strAcopiador" auto-complete="off" size="mini" @keyup.enter.native="BuscarLotes()"></el-input>
                      </div>
                    </div>  
                  </div> 
                </div>
                <div class="col-sm-3">
                  <div class="form-group row ">
                    <label class="el-form-item__label col-md-3" >Zona</label>
                    <div class="col-md-7 grupolabel">
                      <div class="input-group mb-3" >
                        <el-select v-model="FormSearch.strProcedencia" style="font-size:13px" allow-create clearable placeholder="" size="mini" filterable>
                          <el-option style="font-size:13px"
                            v-for="item in dataZonas"
                            :key="item.strZona"
                            :label="item.strZona"
                            :value="item.strZona">
                          </el-option>
                        </el-select>
                      </div>
                    </div>
                  </div>
                </div>
              </div> 
              <div align="right"
                style="background:#EEEEEE;padding-top:5px;padding-bottom:5px;font-size:13px">
                <download-excel :data="gridData" :fields = "json_fields" :meta = "json_meta" :name = "titleExcel" v-if="viewAccessEscritura">
                </download-excel>
              </div>
              <div class="headercard" >
                <buttons-accions v-on:Limpiar="clickactive('B')" v-on:Buscar="clickactive('A')" v-on:AscItem="AscItem" v-on:DscItem="DscItem" v-on:siguiente="siguiente()" v-on:anterior="anterior()" v-on:EliminarItem="EliminarItem()" ></buttons-accions>
              </div>
              <el-table
              ref="missionTable"
                :data="gridData"
                stripe  :default-sort = "{prop: 'date', order: 'descending'}"
                border
                :max-height="sizeScreen"
                highlight-current-row
                show-summary
                class="ExcelTable2007"
                :summary-method="getSummaries"
                v-loading="loadingGetData"
                element-loading-text="Cargando Acopio..."
                style="width:100%;font-size:10px;margin:10px 0px">
                <el-table-column label="Ver"  align="left" width="60">
                  <template scope="scope">
                    <el-tooltip effect="light" content="Ver" placement="top">
                      <el-button class="buttonfilter btn btn-outline-secondary orange" style="margin-top: 0px;background:#c0d2e8" @click="handleDetalleClick(scope.$index, scope.row)">
                        <img class="imagenfilter" src="../../../images/Boton_Detalle.png" style="margin-left: 0px;width: 15px;height: 16px;" alt="" >
                      </el-button>
                    </el-tooltip>
                  </template>
                </el-table-column>
                <el-table-column prop="strZona" align="left" label="Zona" width="110"></el-table-column>
                <el-table-column prop="strAcopiador" align="left" label="Acopiador" width="140"></el-table-column>
                <el-table-column prop="strProveedor" align="left" label="Proveedor" width="180"></el-table-column>
                <el-table-column label="Peso TMH"  align="left" width="90">
                  <template scope="scope">
                    <span>{{getNumberFloat(scope.row.fltSumPesoTmh)}}</span>
                  </template>
                </el-table-column>
                <el-table-column label="Peso TMS Acum."  align="left" width="110">
                  <template scope="scope">
                    <span>{{getNumberFloat(scope.row.fltSumPSecoTM)}}</span>
                  </template>
                </el-table-column>
                <el-table-column label="Pond. Ley Au Oz/tc"  align="left" width="135">
                  <template scope="scope">
                    <span>{{getPromedioLeyAu(scope.row)}}</span>
                  </template>
                </el-table-column>
                <el-table-column label="Pond. Ley Ag Oz/Tc"  align="left" width="135">
                  <template scope="scope">
                    <span>{{getPromedioLeyAg(scope.row)}}</span>
                  </template>
                </el-table-column>
                <el-table-column label="Prom. Fino(Au/Gr)"  align="left" width="125">
                  <template scope="scope">
                    <span>{{getNumberFloat(scope.row.fltPromFinoAuGr)}}</span>
                  </template>
                </el-table-column>
              </el-table>
              <el-row>
                <el-col :span="12" align="left" style="font-size:13px">
                  <span>Sub Total: </span>
                  <span style="margin-left:20px">NORTE: <b>{{getNumberFix(subTotalNorte, 3)}}</b></span>
                  <span style="margin-left:20px">SUR: <b>{{getNumberFix(subTotalSur, 3)}}</b></span>
                  <span style="margin-left:20px">SECOCHA: <b>{{getNumberFix(subTotalSecocha, 3)}}</b></span>
                </el-col>
              </el-row> 
            </div>
          </div>
        </el-card>

      </el-tab-pane>
      <el-tab-pane label="Detallado" name="second">
        <el-card class="box-card" >
          <div slot="header" class="headercard"  >
            <span class="labelheadercard">Reporte Acopio - Detallado</span>
            <el-button class="buttonfilter btn btn-outline-secondary orange" style="margin-top: -3px;" @click="BuscarReporteDetallado()">
                <img class="imagenfilter" src="../../../images/buscari.png" style="margin-left: 0px;width: 15px;height: 16px;" alt="" >
            </el-button>
            <el-button class="buttonfilter btn btn-outline-secondary orange" style="margin-top: -3px;" @click="LimpiarConsulta()">
                <img class="imagenfilter" src="../../../images/visualizar.png" style="margin-left: 0px;width: 15px;height: 16px;" alt="" >
            </el-button>
            <el-button class="buttonfilter btn btn-outline-secondary orange" style="margin-top: -3px;" @click="blnfiltroavanzado=!blnfiltroavanzado">
                <img class="imagenfilter" src="../../../images/filtro.png" style="margin-left: 0px;width: 15px;height: 16px;" alt="" >
            </el-button>
          </div>
          <div class="row bodycard">
            <div class="container">
              <div class="row" >
                <div class="col-sm-3">
                  <div class="form-group row " style="margin-top: 1px;">
                      <label class="el-form-item__label col-md-3" >Periodo</label>
                      <div class="col-md-7 grupolabel">
                        <div class="input-group mb-3" >
                          <el-date-picker
                            v-model="fechaSearch"
                            type="month"
                            size="mini"
                            format="MMMM / yyyy"
                            placeholder="Seleccione Mes"
                            :editable = "false"
                            @change="changeMonth()">
                          </el-date-picker>
                        </div>
                      </div>
                      <el-button v-if="!blnperiodo" class="buttonfilter btn btn-outline-secondary orange" style="margin-top: 3px;" @click="blnperiodo=!blnperiodo">
                          <img class="imagenfilter" style="width: 12px;height: 15px;" src="../../../images/Botones_Rango.png" alt="" >
                      </el-button>
                      <el-button v-if="blnperiodo" class="buttonfilter btn btn-outline-secondary orange" style="margin-top: 3px;" @click="blnperiodo=!blnperiodo">
                          <img class="imagenfilter" style="width: 12px;height: 15px;" src="../../../images/Botones_Rango.png" alt="" >
                      </el-button>
                  </div>
                </div>
                <div class="col-sm-3" v-if="blnperiodo">
                  <div class="form-group row " style="margin-top: 1px;">
                      <label class="el-form-item__label col-md-3" >Desde</label>
                      <div class="col-md-7 grupolabel">
                        <div class="input-group mb-3" >
                          <el-date-picker
                            v-model="fechaInicio"
                            size="mini"
                            format="dd/MM/yyyy"
                            placeholder="Desde"
                            @keyup.enter.native="BuscarReporteDetallado()">
                          </el-date-picker>
                        </div>
                      </div>
                  </div>
                </div>
                <div class="col-sm-3" v-if="blnperiodo">
                  <div class="form-group row " style="margin-top: 1px;">
                      <label class="el-form-item__label col-md-3" >Hasta</label>
                      <div class="col-md-7 grupolabel">
                        <div class="input-group mb-3" >
                          <el-date-picker
                            v-model="fechaFin"
                            size="mini"
                            format="dd/MM/yyyy"
                            placeholder="Desde"
                            @keyup.enter.native="BuscarReporteDetallado()">
                          </el-date-picker>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
              <div class="row" v-if="blnfiltroavanzado" style="margin-top: 2px;">
                <div class="col-sm-3">
                  <div class="form-group row ">
                    <label class="el-form-item__label col-md-3" >Proveedor</label>
                    <div class="col-md-9 grupolabel">
                        <div class="input-group mb-3" >
                          <el-input v-model="FormSearch.strProveedor" @keyup.enter.native="BuscarReporte()" size="mini" auto-complete="off" placeholder="*"></el-input>
                        </div>
                    </div>           
                  </div> 
                </div>
                <div class="col-sm-3">
                  <div class="form-group row ">
                    <label class="el-form-item__label col-md-3" >Estado</label>
                    <div class="col-md-7 grupolabel">
                        <div class="input-group mb-3" >
                          <el-select v-model="FormSearch.strEstadoLote" clearable filterable placeholder="" size="mini">
                            <el-option
                              v-for="item in dataEstado"
                              :key="item.id_estado"
                              :label="item.name"
                              :value="item.id_estado">
                            </el-option>
                          </el-select>
                        </div>
                    </div>           
                  </div> 
                </div>
              </div>
              <div class="row" v-if="blnfiltroavanzado"  style="margin-top: 2px;">
                <div class="col-sm-3">
                  <div class="form-group row ">
                    <label class="el-form-item__label col-md-3" >Acopiador</label>
                    <div class="col-md-9 grupolabel">
                      <div class="input-group mb-3" >
                        <el-input placeholder="*" type="search" v-model="FormSearch.strAcopiador" auto-complete="off" size="mini" @keyup.enter.native="BuscarReporteDetallado()"></el-input>
                      </div>
                    </div>  
                  </div> 
                </div>
                <div class="col-sm-3">
                  <div class="form-group row ">
                    <label class="el-form-item__label col-md-3" >Zona</label>
                    <div class="col-md-7 grupolabel">
                      <div class="input-group mb-3" >
                        <el-select v-model="FormSearch.strProcedencia" style="font-size:13px" allow-create clearable placeholder="" size="mini" filterable>
                          <el-option style="font-size:13px"
                            v-for="item in dataZonas"
                            :key="item.strZona"
                            :label="item.strZona"
                            :value="item.strZona">
                          </el-option>
                        </el-select>
                      </div>
                    </div>
                  </div>
                </div>
              </div> 
              <div align="right"
                style="background:#EEEEEE;padding-top:5px;padding-bottom:5px;font-size:13px">
                <download-excel :data="gridReporteDetallado" :fields = "json_fieldsDet" :meta = "json_meta" :name = "titleExcelDet">
                </download-excel>
              </div>
              <el-table
                :data="gridReporteDetallado"
                border
                highlight-current-row
                :max-height="sizeScreen"
                v-loading="loadingReporteDetallado"
                show-summary
                :summary-method="getSummReporteDetallado"
                style="width: 100%;font-size:11px;margin:5px 0px">
                <el-table-column label="Lote" width="85">
                  <template scope="scope">
                    <span style="color:red;font-weight:bold;">{{scope.row.strLote}}</span>
                  </template>
                </el-table-column>
                <el-table-column label="Fecha Recep." prop="dtmFechaRecepcion" width="115"  align="left"></el-table-column>
                <el-table-column prop="strZona" label="Zona" width="100"></el-table-column>
                <el-table-column prop="strAcopiador" label="Acopiador" width="130"></el-table-column>
                <el-table-column prop="strProveedor" label="Proveedor" width="140"></el-table-column>
                <el-table-column prop="fltPesoTmh" label="Peso TMH" width="100"  align="left"></el-table-column>
                <el-table-column label="TMS" width="70"  align="left">
                  <template scope="scope">
                    <span>{{getNumberFloat(scope.row.fltPSecoTM)}}</span>
                  </template>
                </el-table-column>
                <el-table-column prop="fltLeyAuOz" label="Ley Au Oz" width="100"  align="left"></el-table-column>
                <el-table-column prop="fltLeyAgOz" label="Ley Ag Oz" width="100"  align="left"></el-table-column>
                <el-table-column label="Fino Au Gr" width="100"  align="left">
                  <template scope="scope">
                    <span>{{getNumberFloat(scope.row.fltFinoAuGr)}}</span>
                  </template>
                </el-table-column>
              </el-table>
            </div>
          </div>
        </el-card>
      </el-tab-pane>
    </el-tabs>

    <el-dialog  title="DETALLE" size="large" :visible.sync="dialogDetalleVisible" @close="dialogDetalleVisible=false">
      <div style="padding:5px 10px">
        <el-table
          :data="gridDataDetalle"
          border
          highlight-current-row
          max-height="350"
          v-loading="loadingDetalleData"
          show-summary
          :summary-method="getSummDetalle"
          style="width: 100%; font-size: 11px;">
          <el-table-column label="Lote" width="70"  align="left">
            <template scope="scope">
              <span style="color:red;font-weight:bold;">{{scope.row.strLote}}</span>
            </template>
          </el-table-column>
          <el-table-column label="Fecha Recep." width="95"  align="left">
            <template scope="scope">
              <span>{{ getDateString(scope.row.dtmFechaRecepcion) }}</span>
            </template>
          </el-table-column>
          <el-table-column prop="strEstadoLote" label="Estado" width="75"  align="left"></el-table-column>
          <el-table-column prop="strZona" label="Zona" width="100"></el-table-column>
          <el-table-column prop="strAcopiador" label="Acopiador" width="130"></el-table-column>
          <el-table-column prop="strProveedor" label="Proveedor" width="180"></el-table-column>
          <el-table-column prop="fltPesoTmh" label="Peso TMH" width="80"  align="left"></el-table-column>
          <el-table-column label="TMS" width="70"  align="left">
            <template scope="scope">
              <span>{{getNumberFloat(scope.row.fltPSecoTM)}}</span>
            </template>
          </el-table-column>
          <el-table-column prop="fltLeyAuOz" label="Ley Au Oz" width="80"  align="left"></el-table-column>
          <el-table-column prop="fltLeyAgOz" label="Ley Ag Oz" width="80"  align="left"></el-table-column>
          <el-table-column label="Fino Au Gr" width="80"  align="left">
            <template scope="scope">
              <span>{{getNumberFloat(scope.row.fltFinoAuGr)}}</span>
            </template>
          </el-table-column>
        </el-table>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogDetalleVisible = false">Cerrar</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
  import ReporteAcopioMineralComponent from '@/components/Reportes/ReporteAcopioMineral/reporteAcopioMineral.component'
  export default ReporteAcopioMineralComponent
</script>
<style>

</style>
