<template>
  <div>
    {{getInfo(intIdLote, strLote, data, accesoEscritura)}}
    <div class="">
      <el-tabs type="border-card" v-model="activeName" @tab-click="handleTabClick">
        <el-tab-pane label="Reintegro" name="first">
          <el-row style="padding:5px 2%">
            <el-col :span="14" style="padding-right:0.5%">
              <div class="cardForm">
                <div class="cardForm_Header" style="background:#30476ccc;" align="center">
                  <span style="font-size:13px">DATOS LIQUIDACIÓN</span>
                </div>
                <div class="containerForm">
                  <table cellpadding="0" cellspacing="1" style="margin-bottom:10px;margin-top:3px" class="hx">
                    <tr>
                      <th colspan="4" style="background:#608bcb5e;height:25px;border-bottom:3px solid #0000003b">Datos Generales</th>
                      <th style="width:10px"></th>
                      <th colspan="2" style="background:#7c7b7b33;height:25px;border-bottom:3px solid #0000003b;margin-left:10px;color:#c05d5dfc">Humedad Liq.</th>
                    </tr>
                    <div style="margin-top:3px"></div>
                    <tr>
                      <td class="texto_labelDialogLeft" style="padding-right:15px"><b>LOTE:</b></td>
                      <td ><b style="color:red">{{rowReintegro.strLote}}</b></td>
                      <td class="texto_labelDialogRight" style="padding-right:15px"><b>Procedencia:</b></td>
                      <td >{{rowReintegro.strProcedenciaSt}}</td>
                      <td></td>
                      <td class="texto_labelDialogLeft" style="padding-right:15px"><b>H2O Liq(%):</b></td>
                      <td align="right">{{rowReintegro.strLeyAuMargen}}</td>
                    </tr>
                    <tr>
                      <td class="texto_labelDialogLeft" style="padding-right:15px"><b>Fecha Recepción:</b></td>
                      <td>{{getDateString(rowReintegro.dtmFechaRecepcion)}}</td>
                      <td class="texto_labelDialogRight" style="padding-right:15px"><b>Proveedor Mineral:</b></td>
                      <td>{{rowReintegro.strClienteRazonS}}</td>
                      <td></td>
                      <td class="texto_labelDialogLeft" style="padding-right:15px"><b>TMS Liq:</b></td>
                      <td align="right">{{PSecoTMS}}</td>
                    </tr>
                    <tr>
                      <td class="texto_labelDialogLeft" style="padding-right:15px"><b>Peso TMH:</b></td>
                      <td>{{rowReintegro.fltPesoTmh}}</td>
                      <td class="texto_labelDialogRight" style="padding-right:15px"><b>H2O(%):</b></td>
                      <td>{{rowReintegro.strPorcH2O}}</td>
                    </tr>
                    <tr>
                      <td class="texto_labelDialogLeft" style="padding-right:15px"><b>P.Seco TM:</b></td>
                      <td>{{rowReintegro.strPSecoTM}}</td>
                      <td class="texto_labelDialogRight" style="padding-right:15px"><b>Check H2O:</b></td>
                      <td><i class="fa fa-check" style="color:red" v-if="getCheckEstado(rowReintegro.strCheckH2O)"></i></td>
                    </tr>
                    <div style="margin-top:10px"></div>
                    <tr>
                      <td>
                        <el-checkbox v-model="checkedCalculoEsp" @change="changeCostoTotal()" disabled>Calculo Especial</el-checkbox>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </el-col>
            <el-col :span="10" style="padding-left:0.5%">
              <div class="cardForm">
                <div class="cardForm_Header" style="background:#1957b3b0;" align="center">
                  <span style="font-size:13px">CERTIFICADO</span>
                </div>
                <div class="containerForm">
                  <el-row style="padding-bottom:5px">
                    <el-col :span="7" style="padding-right:5px;">
                      <span>Tipo Ley:</span>
                      <el-select v-model="rowCertificado.tipoLey" size="mini" :disabled="!viewAccessEscritura"
                        @change="checkTipoLey = !checkTipoLey" placeholder="Seleccione Tipo">
                        <el-option
                          v-for="item in DataTipoLey"
                          :key="item.id"
                          :label="item.name"
                          :value="item.id">
                        </el-option>
                      </el-select>
                    </el-col>
                    <el-col :span="7" style="padding-left:5px;padding-right:5px;">
                      <span>Laboratorio:</span>
                      <el-select v-model="rowCertificado.intIdLaboratorio" filterable clearable size="mini" placeholder="Seleccione laboratorio"
                        :disabled="!viewAccessEscritura">
                        <el-option
                          v-for="item in dataLaboratorios"
                          :key="item.intIdLaboratorio"
                          :label="item.strNombre"
                          :value="item.intIdLaboratorio">
                        </el-option>
                      </el-select>
                    </el-col>
                    <el-col :span="10" style="padding-left:5px">
                      <span>Fecha:</span>
                      <el-date-picker
                        v-model="fechaCertificado"
                        size="mini"
                        format="dd/MM/yyyy"
                        placeholder="Seleccione fecha"
                        :editable = "true"
                        :disabled="!viewAccessEscritura">
                      </el-date-picker>
                    </el-col>
                  </el-row>
                  <el-row v-if="checkTipoLey">
                    <el-col :span="12" style="padding-right:5px">
                      <div style="background:#efebcd;width:100%;height:25px;padding-top:5px;border-radius:10px;" align="center">
                        <span>Au</span>
                      </div>
                      <table cellpadding="0" cellspacing="1" style="margin-bottom:5px;" class="hx">
                        <tr>
                          <td class="texto_labelDialogLeft" style="padding-right:5px;">Ley Au Certificado:</td>
                          <td>
                            <el-input v-model="rowCertificado.strLeyAuCertif" auto-complete="off" type="number" size="mini"
                              @change="changeLeyCertificado()" :disabled="!viewAccessEscritura"></el-input>
                          </td>
                        </tr>
                        <tr style="padding-top:5px">
                          <td class="texto_labelDialogLeft" style="padding-right:5px">Ley Com. Ant:</td>
                          <td style="width:100px">
                            <el-input :value="rowCertificado.strLeyComAnt" auto-complete="off" size="mini" disabled></el-input>
                          </td>
                        </tr>
                        <tr style="padding-top:5px">
                          <td class="texto_labelDialogLeft" style="padding-right:5px">Diferencia:</td>
                          <td style="width:100px">
                            <el-input :value="rowCertificado.strDiffCertif" auto-complete="off" size="mini" disabled></el-input>
                          </td>
                        </tr>
                        <tr style="padding-top:5px">
                          <td class="texto_labelDialogLeft" style="padding-right:5px">Promedio:</td>
                          <td style="width:100px">
                            <el-input :value="rowCertificado.strPromCertif" auto-complete="off" size="mini" disabled></el-input>
                          </td>
                        </tr>
                        <tr style="padding-top:5px">
                          <td class="texto_labelDialogLeft" style="padding-right:5px"><b>Ley Au Reintegro:</b></td>
                          <td style="width:100px">
                            <el-input :value="rowCertificado.strLeyAuReintegro" auto-complete="off" size="mini" disabled></el-input>
                          </td>
                        </tr>
                      </table>
                      <div class="" align="center" v-if="showErrorCetif">
                        <span style="font-size:11px;color:red"><i class="fa fa-times-circle"></i> Ley AU certificado menor a ley anterior</span>
                      </div>
                    </el-col>
                    <el-col :span="12" style="padding-left:5px">
                      <div style="background:#d4d4d4;width:100%;height:25px;padding-top:5px;border-radius:10px;" align="center">
                        <span>Ag</span>
                      </div>
                      <table cellpadding="0" cellspacing="1" style="margin-bottom:5px;" class="hx">
                        <tr>
                          <td class="texto_labelDialogLeft" style="padding-right:5px;">Ley Ag Certificado:</td>
                          <td>
                            <el-input v-model="rowCertificado.strLeyAgCertif" auto-complete="off" type="number" size="mini"
                              @change="changeLeyAgCertificado()" :disabled="!viewAccessEscritura"></el-input>
                          </td>
                        </tr>
                        <tr style="padding-top:5px">
                          <td class="texto_labelDialogLeft" style="padding-right:5px">Ley Com. Ant:</td>
                          <td style="width:100px">
                            <el-input :value="rowCertificado.strLeyAgComAnt" auto-complete="off" size="mini" disabled></el-input>
                          </td>
                        </tr>
                        <tr style="padding-top:5px">
                          <td class="texto_labelDialogLeft" style="padding-right:5px">Diferencia:</td>
                          <td style="width:100px">
                            <el-input :value="rowCertificado.strDiffAgCertif" auto-complete="off" size="mini" disabled></el-input>
                          </td>
                        </tr>
                        <tr style="padding-top:5px">
                          <td class="texto_labelDialogLeft" style="padding-right:5px">Promedio:</td>
                          <td style="width:100px">
                            <el-input :value="rowCertificado.strPromAgCertif" auto-complete="off" size="mini" disabled></el-input>
                          </td>
                        </tr>
                        <tr style="padding-top:5px">
                          <td class="texto_labelDialogLeft" style="padding-right:5px"><b>Ley Ag Reintegro:</b></td>
                          <td style="width:100px">
                            <el-input :value="rowCertificado.strLeyAgReintegro" auto-complete="off" size="mini" disabled></el-input>
                          </td>
                        </tr>
                      </table>
                      <div class="" align="center" v-if="showErrorCetifAG">
                        <span style="font-size:11px;color:red"><i class="fa fa-times-circle"></i> Ley AG certificado menor a ley anterior</span>
                      </div>
                    </el-col>
                  </el-row>
                  <el-row v-if="!checkTipoLey">
                    <el-col :span="12" style="padding-right:5px">
                      <div style="background:#efebcd;width:100%;height:25px;padding-top:5px;border-radius:10px;" align="center">
                        <span>Au</span>
                      </div>
                      <table cellpadding="0" cellspacing="1" style="margin-bottom:5px;" class="hx">
                        <tr>
                          <td class="texto_labelDialogLeft" style="padding-right:5px;">Ley Au Dirimencia:</td>
                          <td>
                            <el-input v-model="rowCertificado.strLeyAuDirimencia" auto-complete="off" type="number" size="mini"
                              @change="changeLeyAuDirimencia()" :disabled="!viewAccessEscritura"></el-input>
                          </td>
                        </tr>
                        <tr style="padding-top:5px">
                          <td class="texto_labelDialogLeft" style="padding-right:5px">Ley Com. Ant:</td>
                          <td style="width:100px">
                            <el-input :value="rowCertificado.strLeyComAnt" auto-complete="off" size="mini" disabled></el-input>
                          </td>
                        </tr>
                        <tr style="padding-top:5px">
                          <td class="texto_labelDialogLeft" style="padding-right:5px"><b>Ley Au Reintegro:</b></td>
                          <td style="width:100px">
                            <el-input :value="rowCertificado.strLeyAuReintegro" auto-complete="off" size="mini" disabled></el-input>
                          </td>
                        </tr>
                      </table>
                      <div class="" align="center" v-if="showErrorDirimAU">
                        <span style="font-size:11px;color:red"><i class="fa fa-times-circle"></i> Ley AU dirimencia menor a ley anterior</span>
                      </div>
                    </el-col>
                    <el-col :span="12" style="padding-left:5px">
                      <div style="background:#d4d4d4;width:100%;height:25px;padding-top:5px;border-radius:10px;" align="center">
                        <span>Ag</span>
                      </div>
                      <table cellpadding="0" cellspacing="1" style="margin-bottom:5px;" class="hx">
                        <tr>
                          <td class="texto_labelDialogLeft" style="padding-right:5px;">Ley Ag Dirimencia:</td>
                          <td>
                            <el-input v-model="rowCertificado.strLeyAgDirimencia" auto-complete="off" type="number" size="mini"
                              @change="changeLeyAgDirimencia()" :disabled="!viewAccessEscritura"></el-input>
                          </td>
                        </tr>
                        <tr style="padding-top:5px">
                          <td class="texto_labelDialogLeft" style="padding-right:5px">Ley Com. Ant:</td>
                          <td style="width:100px">
                            <el-input :value="rowCertificado.strLeyAgComAnt" auto-complete="off" size="mini" disabled></el-input>
                          </td>
                        </tr>
                        <tr style="padding-top:5px">
                          <td class="texto_labelDialogLeft" style="padding-right:5px"><b>Ley Ag Reintegro:</b></td>
                          <td style="width:100px">
                            <el-input :value="rowCertificado.strLeyAgReintegro" auto-complete="off" size="mini" disabled></el-input>
                          </td>
                        </tr>
                      </table>
                      <div class="" align="center" v-if="showErrorDirimAG">
                        <span style="font-size:11px;color:red"><i class="fa fa-times-circle"></i> Ley AG dirimencia menor a ley anterior</span>
                      </div>
                    </el-col>
                  </el-row>
                </div>
              </div>
            </el-col>
          </el-row>
          <el-row style="padding:5px 2%">
            <el-col :span="7">
              <div class="cardForm">
                <div class="cardForm_Header" style="background:#1957b3b0;" align="center">
                  <span style="font-size:13px">Leyes</span>
                </div>
                <div class="containerForm">
                  <el-row>
                    <el-col :span="12">
                      <div style="background:#efebcd;width:100%;height:25px;padding-top:5px;border-radius:10px;" align="center">
                        <span>Au</span>
                      </div>
                      <div style="margin-top:5px"></div>
                      <span>Ley Au Comercial</span>
                      <el-input :value="rowReintegro.strLeyAuComercial" disabled auto-complete="off" size="mini"></el-input>
                      <br><div style="margin-top:5px"></div>
                      <span>Ley Au Liquidación</span>
                      <el-input :value="LeyesLiq.LeyAuLiqPrev" disabled auto-complete="off" size="mini"></el-input>
                      <br><div style="margin-top:5px"></div>
                      <span>Ley Au Reintegro</span>
                      <el-input type="number" @change="changeCostoTotal()" v-model="rowReintegro.strLeyAuLiq"
                        :disabled="(userDec.strSuperAdmin=='true')?false:true" auto-complete="off" size="mini">
                      </el-input>
                    </el-col>
                    <el-col :span="12" style="padding-left:10px">
                      <div style="background:#d4d4d4;width:100%;height:25px;padding-top:5px;border-radius:10px;" align="center">
                        <span>Ag</span>
                      </div>
                      <div style="margin-top:5px"></div>
                      <span>Ley Ag Comercial</span>
                      <el-input :value="rowReintegro.strLeyAgComercial" disabled size="mini"></el-input>
                      <br><div style="margin-top:5px"></div>
                      <span>Ley Ag Liquidación</span>
                      <el-input :value="LeyesLiq.LeyAgLiqPrev" disabled size="mini"></el-input>
                      <br><div style="margin-top:5px"></div>
                      <span>Ley Ag Reintegro</span>
                      <el-input type="number" v-model="rowReintegro.strLeyAgLiq"
                        :disabled="(userDec.strSuperAdmin=='true')?false:true" auto-complete="off" size="mini">
                      </el-input>
                    </el-col>
                  </el-row>
                </div>
              </div>
            </el-col>
            <el-col :span="8" style="padding-left:1%">
              <div class="cardForm">
                <div class="cardForm_Header" style="background:#30476ccc;" align="center">
                  <span style="font-size:13px">Parametros de Liquidacion AU</span>
                </div>
                <div class="containerForm">
                  <el-row>
                    <el-col :span="12">
                      <span>% Recuperación:</span>
                      <el-input disabled :value="rowReintegro.strPorcRecup" @change="changeCostoTotal()" size="mini"></el-input>

                      <br><div style="margin-top:5px"></div>
                      <span>Precio Au:</span>
                      <el-input disabled :value="rowReintegro.strPrecioAu" @change="changeCostoTotal()" size="mini"></el-input>

                      <br><div style="margin-top:5px"></div>
                      <span>Margen PI:</span>
                      <el-input type="number" :disabled="!viewAccessEscritura" v-model="rowReintegro.strMargenPI" @change="changeCostoTotal()" auto-complete="off" size="mini"></el-input>
                    </el-col>
                    <el-col :span="12" style="padding-left:10px">
                      <span>Maquila:</span>
                      <el-input type="number" :disabled="!viewAccessEscritura" v-model="rowReintegro.strMaquila" @change="changeCostoTotal()" auto-complete="off" size="mini"></el-input>

                      <br><div style="margin-top:5px"></div>
                      <span>Consumo Q:</span>
                      <el-input type="number" :disabled="!viewAccessEscritura" v-model="rowReintegro.strConsumoQ" @change="changeCostoTotal()" auto-complete="off" size="mini"></el-input>

                      <br><div style="margin-top:5px"></div>
                      <span>Gastos Adm.:</span>
                      <el-input type="number" :disabled="!viewAccessEscritura" v-model="rowReintegro.strGastAdm" @change="changeCostoTotal()" auto-complete="off" size="mini"></el-input>
                    </el-col>
                  </el-row>
                </div>
              </div>
            </el-col>
            <el-col :span="5" style="padding-left:1%">
              <div class="cardForm">
                <div class="cardForm_Header" style="background:#1957b3b0;" align="center">
                  <span style="font-size:13px">Parametros de Liquidación AG</span>
                </div>
                <div class="containerForm">
                  <span>Rec Ag:</span>
                  <el-input disabled v-model="rowReintegro.strRecAg" @change="changeCostoTotal()" auto-complete="off" size="mini"></el-input>

                  <br><div style="margin-top:5px"></div>
                  <span>Precio Ag:</span>
                  <el-input disabled v-model="rowReintegro.strPrecioAg" @change="changeCostoTotal()" auto-complete="off" size="mini"></el-input>

                  <br><div style="margin-top:5px"></div>
                  <span>Margen Ag:</span>
                  <el-input type="number" :disabled="!viewAccessEscritura" v-model="rowReintegro.strMargenAg" @change="changeCostoTotal()" auto-complete="off" size="mini"></el-input>
                </div>
              </div>
            </el-col>
            <el-col :span="4" style="padding-left:1%">
              <div class="cardForm">
                <div class="cardForm_Header" style="background:#e5dfd4;" align="center">
                  <span style="color:#30476c;font-size:13px">Costo Total</span>
                </div>
                <div class="containerForm" style="height:50px" align="center">
                  <span style="color:red"><b>{{rowReintegro.fltCostoTotal}}</b></span>
                </div>
              </div>
            </el-col>
          </el-row>
        </el-tab-pane>

        <!-- ||=============================================||
             ||        REINTEGRO PROPUESTA AU               ||
             ||=============================================|| -->
        <el-tab-pane label="Propuesta Au" name="second">
          <div style="margin:10px 10px;" align="center">
            <table cellpadding="0" cellspacing="1" style="margin-bottom:10px; margin-left:30px;">
              <tr>
                <td class="texto_labelDialogLeft" style="font-size:13px;">Fecha Propuesta:</td>
                <td style="padding-top:3px;padding-left:20px;">
                  <el-date-picker
                    v-model="fechaNegociacionAu"
                    size="mini"
                    format="dd/MM/yyyy"
                    placeholder="Fecha Negociacion Mes"
                    :editable = "false"
                    readonly>
                  </el-date-picker>
                </td>
                <td class="texto_labelDialogRight" style="font-size:13px;">Proveedor:</td>
                <td style="padding-top:3px;padding-left:20px;width:400px">
                  <el-input :value="rowReintegro.strClienteRazonS" readonly auto-complete="off" size="mini"></el-input>
                </td>
              </tr>
            </table>
          </div>
          <div style="margin:5px;overflow: auto;" align="center">
            <table cellpadding="0" cellspacing="1" style="border-collapse: collapse;font-size:12px">
              <tr>
                <th class="tdLiqProp thLiq">{{dataPropuestaAU[1].Lote}}</th>
                <th class="tdLiqProp thLiq">{{dataPropuestaAU[1].FechaRec}}</th>
                <th class="tdLiqProp thLiq">{{dataPropuestaAU[1].TMH}}</th>
                <th class="tdLiqProp thLiq">{{dataPropuestaAU[1].PorcH2O}}</th>
                <th class="tdLiqProp thLiq">{{dataPropuestaAU[1].TMS}}</th>
                <th class="tdLiqProp thLiq">{{dataPropuestaAU[1].LeyOz}}</th>
                <th class="tdLiqProp thLiq">{{dataPropuestaAU[1].PorcRecup}}</th>
                <th class="tdLiqProp thLiq">{{dataPropuestaAU[1].PrecioInt}}</th>
                <th class="tdLiqProp thLiq">{{dataPropuestaAU[1].Maquila}}</th>
                <th class="tdLiqProp thLiq" v-if="ShowConsumo">{{dataPropuestaAU[1].ConsumoKgTm}}</th>
                <th class="tdLiqProp thLiq">{{dataPropuestaAU[1].CostoTM}}</th>
                <th class="tdLiqProp thLiq">{{dataPropuestaAU[1].CostoIntegro}}</th>
              </tr>
              <tr>
                <td class="tdLiqProp" align="right" style="font-size:14px;background:#fff0a8;"><b>{{dataPropuestaAU[2].Lote}}</b></td>
                <td class="tdLiqProp" align="right">{{dataPropuestaAU[2].FechaRec}}</td>
                <td class="tdLiqProp" align="right">{{dataPropuestaAU[2].TMH}}</td>
                <td class="tdLiqProp" align="right" style="width:100px">
                  <el-input placeholder="%H2O" v-model="dataPropuestaAU[2].PorcH2O" auto-complete="off" size="mini"></el-input>
                </td>
                <td class="tdLiqProp" align="right">{{dataPropuestaAU[2].TMS}}</td>
                <td class="tdLiqProp" align="right" style="width:100px">
                  <el-input placeholder="Ley Au" v-model="dataPropuestaAU[2].LeyOz" auto-complete="off" size="mini"></el-input>
                </td>
                <td class="tdLiqProp" align="right" style="width:100px">
                  <el-input placeholder="%H2O" v-model="dataPropuestaAU[2].PorcRecup" auto-complete="off" size="mini"></el-input>
                </td>
                <td class="tdLiqProp" align="right">{{dataPropuestaAU[2].PrecioInt}}</td>
                <td class="tdLiqProp" align="right" style="width:100px">
                  <el-input placeholder="%H2O" v-model="dataPropuestaAU[2].Maquila" auto-complete="off" size="mini"></el-input>
                </td>
                <td class="tdLiqProp" align="right" v-if="ShowConsumo">{{dataPropuestaAU[2].ConsumoKgTm}}</td>
                <td class="tdLiqProp" align="right">{{dataPropuestaAU[2].CostoTM}}</td>
                <td class="tdLiqProp" align="right">{{dataPropuestaAU[2].CostoIntegro}}</td>
              </tr>
              <tr style="height:10px">
              </tr>
              <tr v-if="ShowCostoAMineral">
                <td class="">{{dataPropuestaAU[4].Lote}}</td>
                <td class="">{{dataPropuestaAU[4].FechaRec}}</td>
                <td class="">{{dataPropuestaAU[4].TMH}}</td>
                <td class="">{{dataPropuestaAU[4].PorcH4O}}</td>
                <td class="">{{dataPropuestaAU[4].TMS}}</td>
                <td class="">{{dataPropuestaAU[4].LeyOz}}</td>
                <td class="">{{dataPropuestaAU[4].PorcRecup}}</td>
                <td class="">{{dataPropuestaAU[4].PrecioInt}}</td>
                <td class="">{{dataPropuestaAU[4].Maquila}}</td>
                <td class="" v-if="ShowConsumo">{{dataPropuestaAU[4].ConsumoKgTm}}</td>
                <td class="tdLiqProp"><b>{{dataPropuestaAU[4].CostoTM}}</b></td>
                <td class="tdLiqProp" align="right">
                  {{dataPropuestaAU[4].CostoIntegro}}
                  <!-- <input type="text" style="text-align:right;width:90px;font-size:12px"
                    auto-complete="off" v-model="dataPropuestaAU[4].CostoIntegro" @change="changeVerCostoAnalisis()"> -->
                </td>
              </tr>
              <tr style="height:10px">
              </tr>
              <tr>
                <td class="">{{dataPropuestaAU[6].Lote}}</td>
                <td class="">{{dataPropuestaAU[6].FechaRec}}</td>
                <td class="">{{dataPropuestaAU[6].TMH}}</td>
                <td class="">{{dataPropuestaAU[6].PorcH4O}}</td>
                <td class="">{{dataPropuestaAU[6].TMS}}</td>
                <td class="">{{dataPropuestaAU[6].LeyOz}}</td>
                <td class="">{{dataPropuestaAU[6].PorcRecup}}</td>
                <td class="">{{dataPropuestaAU[6].PrecioInt}}</td>
                <td class="">{{dataPropuestaAU[6].Maquila}}</td>
                <td class="" v-if="ShowConsumo">{{dataPropuestaAU[6].ConsumoKgTm}}</td>
                <td class="tdLiqProp"><b>{{dataPropuestaAU[6].CostoTM}}</b></td>
                <td class="tdLiqProp" align="right">{{dataPropuestaAU[6].CostoIntegro}}</td>
              </tr>
              <tr>
                <td class="">{{dataPropuestaAU[7].Lote}}</td>
                <td class="">{{dataPropuestaAU[7].FechaRec}}</td>
                <td class="">{{dataPropuestaAU[7].TMH}}</td>
                <td class="">{{dataPropuestaAU[7].PorcH4O}}</td>
                <td class="">{{dataPropuestaAU[7].TMS}}</td>
                <td class="">{{dataPropuestaAU[7].LeyOz}}</td>
                <td class="">{{dataPropuestaAU[7].PorcRecup}}</td>
                <td class="">{{dataPropuestaAU[7].PrecioInt}}</td>
                <td class="">{{dataPropuestaAU[7].Maquila}}</td>
                <td class="" v-if="ShowConsumo">{{dataPropuestaAU[7].ConsumoKgTm}}</td>
                <td class="tdLiqProp"><b>{{dataPropuestaAU[7].CostoTM}}</b></td>
                <td class="tdLiqProp" align="right">{{dataPropuestaAU[7].CostoIntegro}}</td>
              </tr>
              <tr>
                <td class="">{{dataPropuestaAU[8].Lote}}</td>
                <td class="">{{dataPropuestaAU[8].FechaRec}}</td>
                <td class="">{{dataPropuestaAU[8].TMH}}</td>
                <td class="">{{dataPropuestaAU[8].PorcH4O}}</td>
                <td class="">{{dataPropuestaAU[8].TMS}}</td>
                <td class="">{{dataPropuestaAU[8].LeyOz}}</td>
                <td class="">{{dataPropuestaAU[8].PorcRecup}}</td>
                <td class="">{{dataPropuestaAU[8].PrecioInt}}</td>
                <td class="">{{dataPropuestaAU[8].Maquila}}</td>
                <td class="" v-if="ShowConsumo">{{dataPropuestaAU[8].ConsumoKgTm}}</td>
                <td class="tdLiqProp"><b>{{dataPropuestaAU[8].CostoTM}}</b></td>
                <td class="tdLiqProp" align="right">{{dataPropuestaAU[8].CostoIntegro}}</td>
              </tr>
            </table>
          </div>
          <div >

          </div>
          <el-row style="margin:5px 10px">
            <el-col :span="6">
              <el-button type="primary" size="small" :disabled="disableExpPdfPropuesta" @click="ExportarPropuestaAuPDF()">Exportar PDF</el-button>
              <span style="color:red;font-size:12px" v-if="disableExpPdfPropuesta">Guarde los cambios para Exportar en PDF.</span>
            </el-col>
            <el-col :span="12" align="center" style="font-size:12px">
              <!-- <el-checkbox v-model="ShowCostoAMineral" @change="changeVerCostoAnalisis()">Ver Costo de Analisis Mineral</el-checkbox> -->
              <el-checkbox v-model="ShowConsumo" style="padding-left:15px">Ver Consumos</el-checkbox>
              <el-checkbox v-model="ShowLeyMaquilaTM" style="padding-left:15px" @change="changeLeyMaquilaTM()">Ver Ley, Maquila (TM)</el-checkbox>
              <span style="margin-left:25px"></span>
              <el-select v-model="TipoConsumo" placeholder="Select" size="mini" @change="changeTipoConsumo()">
                <el-option
                  v-for="item in DataTipoConsumo"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id">
                </el-option>
              </el-select>
            </el-col>
          </el-row>
        </el-tab-pane>

        <!-- ||=============================================||
             ||                PROPUESTA AG                 ||
             ||=============================================|| -->
        <el-tab-pane label="Propuesta Ag" name="third">
          <div style="margin:10px 10px;" align="center">
            <table cellpadding="0" cellspacing="1" style="margin-bottom:10px; margin-left:30px;">
              <tr>
                <td class="texto_labelDialogLeft" style="font-size:13px;">Fecha Negociación:</td>
                <td style="padding-top:3px;padding-left:20px;">
                  <el-date-picker
                    v-model="fechaNegociacionAg"
                    size="mini"
                    format="dd/MM/yyyy"
                    readonly
                    placeholder="Fecha Negociacion Mes"
                    :editable = "false">
                  </el-date-picker>
                </td>
                <td class="texto_labelDialogRight" style="font-size:13px;">Proveedor:</td>
                <td style="padding-top:3px;padding-left:20px;width:400px">
                  <el-input :value="rowReintegro.strClienteRazonS" readonly auto-complete="off" size="mini"></el-input>
                </td>
              </tr>
            </table>
          </div>
          <div style="margin:5px;overflow: auto;" align="center">
            <table cellpadding="0" cellspacing="1" style="border-collapse: collapse;font-size:12px">
              <tr>
                <th class="tdLiqProp thLiq">{{dataPropuestaAG[1].Lote}}</th>
                <th class="tdLiqProp thLiq">{{dataPropuestaAG[1].FechaRec}}</th>
                <th class="tdLiqProp thLiq">{{dataPropuestaAG[1].TMH}}</th>
                <th class="tdLiqProp thLiq">{{dataPropuestaAG[1].PorcH2O}}</th>
                <th class="tdLiqProp thLiq">{{dataPropuestaAG[1].TMS}}</th>
                <th class="tdLiqProp thLiq">{{dataPropuestaAG[1].LeyOz}}</th>
                <th class="tdLiqProp thLiq">{{dataPropuestaAG[1].PorcRecup}}</th>
                <th class="tdLiqProp thLiq">{{dataPropuestaAG[1].PrecioInt}}</th>
                <th class="tdLiqProp thLiq">{{dataPropuestaAG[1].CostoTM}}</th>
                <th class="tdLiqProp thLiq">{{dataPropuestaAG[1].CostoIntegro}}</th>
              </tr>
              <tr>
                <td class="tdLiqProp" align="right" style="font-size:14px;background:#fff0a8;"><b>{{dataPropuestaAG[2].Lote}}</b></td>
                <td class="tdLiqProp" align="right">{{dataPropuestaAG[2].FechaRec}}</td>
                <td class="tdLiqProp" align="right">{{dataPropuestaAG[2].TMH}}</td>
                <td class="tdLiqProp" align="right" style="width:100px">
                  <el-input placeholder="%H2O" v-model="dataPropuestaAG[2].PorcH2O" auto-complete="off" size="mini"></el-input>
                </td>
                <td class="tdLiqProp" align="right">{{dataPropuestaAG[2].TMS}}</td>
                <td class="tdLiqProp" align="right" style="width:120px">
                  <el-input placeholder="%H2O" v-model="dataPropuestaAG[2].LeyOz" auto-complete="off" size="mini"></el-input>
                </td>
                <td class="tdLiqProp" align="right" style="width:100px">
                  <el-input placeholder="%H2O" v-model="dataPropuestaAG[2].PorcRecup" auto-complete="off" size="mini"></el-input>
                </td>
                <td class="tdLiqProp" align="right">{{dataPropuestaAG[2].PrecioInt}}</td>
                <td class="tdLiqProp" align="right">{{dataPropuestaAG[2].CostoTM}}</td>
                <td class="tdLiqProp" align="right">{{dataPropuestaAG[2].CostoIntegro}}</td>
              </tr>
              <tr style="height:10px">
              </tr>
              <tr>
                <td class="">{{dataPropuestaAG[4].Lote}}</td>
                <td class="">{{dataPropuestaAG[4].FechaRec}}</td>
                <td class="">{{dataPropuestaAG[4].TMH}}</td>
                <td class="">{{dataPropuestaAG[4].PorcH4O}}</td>
                <td class="">{{dataPropuestaAG[4].TMS}}</td>
                <td class="">{{dataPropuestaAG[4].LeyOz}}</td>
                <td class="">{{dataPropuestaAG[4].PorcRecup}}</td>
                <td class="">{{dataPropuestaAG[4].PrecioInt}}</td>
                <td class="tdLiqProp"><b>{{dataPropuestaAG[4].CostoTM}}</b></td>
                <td class="tdLiqProp" align="right">{{dataPropuestaAG[4].CostoIntegro}}</td>
              </tr>
              <tr style="height:10px">
              </tr>
              <tr>
                <td class="">{{dataPropuestaAG[6].Lote}}</td>
                <td class="">{{dataPropuestaAG[6].FechaRec}}</td>
                <td class="">{{dataPropuestaAG[6].TMH}}</td>
                <td class="">{{dataPropuestaAG[6].PorcH4O}}</td>
                <td class="">{{dataPropuestaAG[6].TMS}}</td>
                <td class="">{{dataPropuestaAG[6].LeyOz}}</td>
                <td class="">{{dataPropuestaAG[6].PorcRecup}}</td>
                <td class="">{{dataPropuestaAG[6].PrecioInt}}</td>
                <td class="tdLiqProp"><b>{{dataPropuestaAG[6].CostoTM}}</b></td>
                <td class="tdLiqProp" align="right">{{dataPropuestaAG[6].CostoIntegro}}</td>
              </tr>
              <tr>
                <td class="">{{dataPropuestaAG[7].Lote}}</td>
                <td class="">{{dataPropuestaAG[7].FechaRec}}</td>
                <td class="">{{dataPropuestaAG[7].TMH}}</td>
                <td class="">{{dataPropuestaAG[7].PorcH4O}}</td>
                <td class="">{{dataPropuestaAG[7].TMS}}</td>
                <td class="">{{dataPropuestaAG[7].LeyOz}}</td>
                <td class="">{{dataPropuestaAG[7].PorcRecup}}</td>
                <td class="">{{dataPropuestaAG[7].PrecioInt}}</td>
                <td class="tdLiqProp"><b>{{dataPropuestaAG[7].CostoTM}}</b></td>
                <td class="tdLiqProp" align="right">{{dataPropuestaAG[7].CostoIntegro}}</td>
              </tr>
              <tr>
                <td class="">{{dataPropuestaAG[8].Lote}}</td>
                <td class="">{{dataPropuestaAG[8].FechaRec}}</td>
                <td class="">{{dataPropuestaAG[8].TMH}}</td>
                <td class="">{{dataPropuestaAG[8].PorcH4O}}</td>
                <td class="">{{dataPropuestaAG[8].TMS}}</td>
                <td class="">{{dataPropuestaAG[8].LeyOz}}</td>
                <td class="">{{dataPropuestaAG[8].PorcRecup}}</td>
                <td class="">{{dataPropuestaAG[8].PrecioInt}}</td>
                <td class="tdLiqProp"><b>{{dataPropuestaAG[8].CostoTM}}</b></td>
                <td class="tdLiqProp" align="right">{{dataPropuestaAG[8].CostoIntegro}}</td>
              </tr>
            </table>
          </div>
          <el-row style="margin:5px 10px">
            <el-col :span="8">
              <el-button type="primary" size="small" :disabled="disableExpPdfPropuesta" @click="ExportarPropuestaAgPDF()">Exportar PDF</el-button>
              <span style="color:red;font-size:12px" v-if="disableExpPdfPropuesta">Guarde los cambios para Exportar en PDF.</span>
            </el-col>
            <el-col :span="12" style="font-size:12px">
              <el-checkbox v-model="ShowLeyTMAG" style="padding-left:15px" @change="changeLeyTMAG()">Ver Ley (TM)</el-checkbox>
            </el-col>
          </el-row>
        </el-tab-pane>

        <!-- ||=============================================||
             ||                   MARGEN                    ||
             ||=============================================|| -->
        <el-tab-pane label="Margen" name="fourth">
          <div class="" align="center">
            <table cellpadding="0" cellspacing="1" style="font-size:13px;margin:5px 50px" id="table">
              <tr>
                <td style="padding: 5px 10px;">Fecha de Liquidación:</td>
                <td style="padding: 5px 10px;">
                  <el-date-picker
                    v-model="fechaLiqMargen"
                    size="mini"
                    format="dd/MM/yyyy"
                    placeholder="Seleccione fecha"
                    :editable = "false"
                    readonly>
                  </el-date-picker>
                </td>
                <td style="padding: 5px 10px;">Factor de Conversión:</td>
                <td style="padding: 5px 10px;">
                  <el-input placeholder="*" v-model="dataMargen[0].TMH" readonly auto-complete="off" size="mini"
                    @change="()=>{changeLiqIntAu();changeMargenAg();}">
                  </el-input>
                </td>
              </tr>
            </table>
          </div>

          <div style="margin:10px;overflow: auto;" align="center">
            <table cellpadding="0" cellspacing="1" style="border-collapse: collapse;font-size:11px">
              <!-- <tr style="font-weight:bold;font-size:12px">
                <td colspan="10"></td>
                <td style="border:1px solid black;padding: 2px 7px;" align="center">
                  <span v-bind:style="{ color: colorMsgMargen }">{{dataMargen[0].Margen}}</span>
                </td>
                <td style="border:1px solid black;padding: 2px 7px;" align="center">
                  <span v-bind:style="{ color: colorMsgMaquila }">{{dataMargen[0].Maquila}}</span>
                </td>
                <td style="border:1px solid black;padding: 2px 7px;" align="center">
                  <span v-bind:style="{ color: colorMsgConsQ }">{{dataMargen[0].ConsQ}}</span>
                </td>
              </tr> -->
              <tr>
                <th class="tdLiq" style="background:#fff0a8;font-weight:bold;font-size:15px;">{{dataMargen[1].Lote}}</th>
                <th class="tdLiq thLiq">{{dataMargen[1].FechaRec}}</th>
                <th class="tdLiq thLiq">{{dataMargen[1].Zona}}</th>
                <th class="tdLiq thLiq">{{dataMargen[1].Proveedor}}</th>
                <th class="tdLiq thLiq">{{dataMargen[1].TMH}}</th>
                <th class="tdLiq thLiq">{{dataMargen[1].PorcH2O}}</th>
                <th class="tdLiq thLiq">{{dataMargen[1].TMS}}</th>
                <th class="tdLiq thLiq">{{dataMargen[1].REC}}</th>
                <th class="tdLiq thLiq">{{dataMargen[1].LeyOz}}</th>
                <th class="tdLiq thLiq">{{dataMargen[1].Inter}}</th>
                <th class="tdLiq thLiq">{{dataMargen[1].Margen}}</th>
                <th class="tdLiq thLiq">{{dataMargen[1].Maquila}}</th>
                <th class="tdLiq thLiq">{{dataMargen[1].ConsQ}}</th>
                <th class="tdLiq thLiq">{{dataMargen[1].GastAdm}}</th>
                <th class="tdLiq thLiq">{{dataMargen[1].PrecioxTMS}})</th>
                <th class="tdLiq" style="background:#fff0a8;font-weight:bold;">{{dataMargen[1].Importe}}</th>
              </tr>
              <tr>
                <td class="tdLiq">{{dataMargen[2].Lote}}</td>
                <td class="tdLiq">{{dataMargen[2].FechaRec}}</td>
                <td class="tdLiq">{{dataMargen[2].Zona}}</td>
                <td class="tdLiq">{{dataMargen[2].Proveedor}}</td>
                <td class="tdLiq">{{dataMargen[2].TMH}}</td>
                <td class="tdLiq">{{dataMargen[2].PorcH2O}}</td>
                <td class="tdLiq" style="background:#e8f0ff;">{{dataMargen[2].TMS,2}}</td>
                <!-- <td class="tdLiq" style="width:80px;border:1px solid black;padding:1px">{{dataMargen[2].REC}}</td> -->
                <td class="tdLiq" style="width:50px">{{dataMargen[2].REC}}</td>
                <td class="tdLiq" style="background:#fff0a8;font-weight:bold;">{{dataMargen[2].LeyOz}}</td>
                <td class="tdLiq">{{dataMargen[2].Inter}}</td>
                <!-- <td class="tdLiq">{{dataMargen[2].Margen}}</td> -->
                <td style="width:80px;border:1px solid black;padding:1px">
                  <el-input :disabled="(!guardarViewButton||!viewAccessEscritura)" v-model="dataMargen[2].Margen" auto-complete="off" size="mini" @change="changePropAu()"></el-input>
                </td>
                <!-- <td class="tdLiq">{{dataMargen[2].Maquila}}</td> -->
                <td style="width:80px;border:1px solid black;padding:1px">
                  <el-input :disabled="(!guardarViewButton||!viewAccessEscritura)" v-model="dataMargen[2].Maquila" auto-complete="off" size="mini" @change="changePropAu()"></el-input>
                </td>
                <td class="tdLiq">{{dataMargen[2].ConsQ}}</td>
                <!-- <td class="tdLiq">{{dataMargen[2].GastAdm}}</td> -->
                <td style="width:80px;border:1px solid black;padding:1px">
                  <el-input :disabled="(!guardarViewButton||!viewAccessEscritura)" v-model="dataMargen[2].GastAdm" auto-complete="off" size="mini" @change="changePropAu()"></el-input>
                </td>
                <td class="tdLiq">{{dataMargen[2].PrecioxTMS}}</td>
                <td class="tdLiq" style="background:#fff0a8;font-weight:bold;">{{dataMargen[2].Importe}}</td>
              </tr>
              <tr>
                <td class="tdLiq">{{dataMargen[3].Lote}}</td>
                <td class="tdLiq">{{dataMargen[3].FechaRec}}</td>
                <td class="tdLiq">{{dataMargen[3].Zona}}</td>
                <td class="tdLiq">{{dataMargen[3].Proveedor}}</td>
                <td class="tdLiq">{{dataMargen[3].TMH}}</td>
                <td class="tdLiq">{{dataMargen[3].PorcH2O}}</td>
                <td class="tdLiq" style="background:#e8f0ff;">{{dataMargen[3].TMS}}</td>
                <td class="tdLiq">{{dataMargen[3].REC}}</td>
                <td class="tdLiq" style="background:#fff0a8;font-weight:bold;">{{dataMargen[3].LeyOz}}</td>
                <td class="tdLiq">{{dataMargen[3].Inter}}</td>
                <td class="tdLiq">{{dataMargen[3].Margen}}</td>
                <td class="tdLiq">{{dataMargen[3].Maquila}}</td>
                <td class="tdLiq">{{dataMargen[3].ConsQ}}</td>
                <td class="tdLiq">{{dataMargen[3].GastAdm}}</td>
                <td class="tdLiq">{{dataMargen[3].PrecioxTMS}}</td>
                <td class="tdLiq" style="background:#fff0a8;font-weight:bold;">{{dataMargen[3].Importe}}</td>
              </tr>
              <tr style="height:10px">
              </tr>
              <tr>
                <td class="tdLiq">{{dataMargen[5].Lote}}</td>
                <td class="tdLiq">{{dataMargen[5].FechaRec}}</td>
                <td class="tdLiq">{{dataMargen[5].Zona}}</td>
                <td class="tdLiq">{{dataMargen[5].Proveedor}}</td>
                <td class="tdLiq">{{dataMargen[5].TMH}}</td>
                <td class="tdLiq">{{dataMargen[5].PorcH2O, 2}}</td>
                <td class="tdLiq" style="background:#e8f0ff;">{{dataMargen[5].TMS, 2}}</td>
                <td class="tdLiq">{{dataMargen[5].REC}}</td>
                <td class="tdLiq" style="background:#fff0a8;font-weight:bold;">{{dataMargen[5].LeyOz}}</td>
                <td class="tdLiq">{{dataMargen[5].Inter}}</td>
                <td class="tdLiq">{{dataMargen[5].Margen}}</td>
                <td class="tdLiq">{{dataMargen[5].Maquila}}</td>
                <td class="tdLiq">{{dataMargen[5].ConsQ}}</td>
                <td class="tdLiq">{{dataMargen[5].GastAdm}}</td>
                <td class="tdLiq">{{dataMargen[5].PrecioxTMS}}</td>
                <td class="tdLiq" style="background:#fff0a8;font-weight:bold;">{{dataMargen[5].Importe}}</td>
              </tr>
              <tr>
                <td class="tdLiq">{{dataMargen[6].Lote}}</td>
                <td class="tdLiq">{{dataMargen[6].FechaRec}}</td>
                <td class="tdLiq">{{dataMargen[6].Zona}}</td>
                <td class="tdLiq">{{dataMargen[6].Proveedor}}</td>
                <td class="tdLiq">{{dataMargen[6].TMH}}</td>
                <td class="tdLiq">{{dataMargen[6].PorcH2O}}</td>
                <td class="tdLiq" style="background:#e8f0ff;">{{dataMargen[6].TMS}}</td>
                <td class="tdLiq">{{dataMargen[6].REC}}</td>
                <td class="tdLiq" style="background:#fff0a8;font-weight:bold;">{{dataMargen[6].LeyOz}}</td>
                <td class="tdLiq">{{dataMargen[6].Inter}}</td>
                <td class="tdLiq">{{dataMargen[6].Margen}}</td>
                <td class="tdLiq">{{dataMargen[6].Maquila}}</td>
                <td class="tdLiq">{{dataMargen[6].ConsQ}}</td>
                <td class="tdLiq">{{dataMargen[6].GastAdm}}</td>
                <td class="tdLiq">{{dataMargen[6].PrecioxTMS}}</td>
                <td class="tdLiq" style="background:#fff0a8;font-weight:bold;">{{dataMargen[6].Importe}}</td>
              </tr>
              <tr style="height:10px">
              </tr>
              <tr>
                <td class="">{{dataMargen[8].Lote}}</td>
                <td class="">{{dataMargen[8].FechaRec}}</td>
                <th class="tdLiq">{{dataMargen[8].Zona}}</th>
                <td class="">{{dataMargen[8].Proveedor}}</td>
                <td class="">{{dataMargen[8].TMH}}</td>
                <th class="tdLiq">{{dataMargen[8].PorcH2O}}</th>
                <td class="">{{dataMargen[8].TMS}}</td>
                <td class="">{{dataMargen[8].REC}}</td>
                <td class="">{{dataMargen[8].LeyOz}}</td>
                <th class="tdLiq">{{dataMargen[8].Inter}}</th>
                <td class="">{{dataMargen[8].Margen}}</td>
                <td class="">{{dataMargen[8].Maquila}}</td>
                <td class="">{{dataMargen[8].ConsQ}}</td>
                <th class="tdLiq">{{dataMargen[8].GastAdm}}</th>
                <td class="">{{dataMargen[8].PrecioxTMS}}</td>
                <td class="">{{dataMargen[8].Importe}}</td>
              </tr>
              <tr>
                <td class="">{{dataMargen[9].Lote}}</td>
                <td class="tdLiq">{{dataMargen[9].FechaRec}}</td>
                <td class="tdLiq">{{dataMargen[9].Zona}}</td>
                <td class="">{{dataMargen[9].Proveedor}}</td>
                <td class="tdLiq">{{dataMargen[9].TMH}}</td>
                <td class="tdLiq">{{dataMargen[9].PorcH2O}}</td>
                <td class="">{{dataMargen[9].TMS}}</td>
                <td class="">{{dataMargen[9].REC}}</td>
                <td class="tdLiq">{{dataMargen[9].LeyOz}}</td>
                <td class="tdLiq">{{dataMargen[9].Inter}}</td>
                <td class="">{{dataMargen[9].Margen}}</td>
                <td class="">{{dataMargen[9].Maquila}}</td>
                <td class="tdLiq">{{dataMargen[9].ConsQ}}</td>
                <td class="tdLiq" style="background:#fff0a8;font-weight:bold;">{{dataMargen[9].GastAdm}}</td>
                <td class="">{{dataMargen[9].PrecioxTMS}}</td>
                <td class="">{{dataMargen[9].Importe}}</td>
              </tr>
              <tr>
                <td class="">{{dataMargen[10].Lote}}</td>
                <td class="tdLiq">{{dataMargen[10].FechaRec}}</td>
                <td class="tdLiq" style="background:#fff0a8;font-weight:bold;">{{dataMargen[10].Zona}}</td>
                <td class="">{{dataMargen[10].Proveedor}}</td>
                <td class="tdLiq">{{dataMargen[10].TMH}}</td>
                <td class="tdLiq">{{dataMargen[10].PorcH2O}}</td>
                <td class="">{{dataMargen[10].TMS}}</td>
                <td class="">{{dataMargen[10].REC}}</td>
                <td class="tdLiq">{{dataMargen[10].LeyOz}}</td>
                <td class="tdLiq">{{dataMargen[10].Inter}}</td>
                <td class="">{{dataMargen[10].Margen}}</td>
                <td class="">{{dataMargen[10].Maquila}}</td>
                <td class="tdLiq">{{dataMargen[10].ConsQ}}</td>
                <td class="tdLiq" style="background:#fff0a8;font-weight:bold;">{{dataMargen[10].GastAdm}}</td>
                <td class="">{{dataMargen[10].PrecioxTMS}}</td>
                <td class="">{{dataMargen[10].Importe}}</td>
              </tr>
            </table>
          </div>
          <div style="margin:5px 10px">
            <el-row>
              <el-col :span="12">
                <el-button type="primary" :disabled="disableExpPdfMargen" size="small" @click="ExportarMargenPDF()">Exportar PDF</el-button>
                <span style="color:red;font-size:12px" v-if="disableExpPdfMargen">Guarde los cambios para Exportar en PDF.</span>
              </el-col>
            </el-row>
          </div>
        </el-tab-pane>

        <!-- ||=============================================||
             ||                 NOTA DEBITO                 ||
             ||=============================================|| -->
        <el-tab-pane label="Nota de Debito" name="seventh">
          <el-row style="margin:10px 2%">
            <el-col :span="8">
              <div class="cardForm">
                <div class="cardForm_Header" style="background:#30476ccc;" align="center">
                  <span>Nota de Debito</span>
                </div>
                <div class="containerForm">
                  <table cellpadding="0" cellspacing="1" style="margin-bottom:10px; margin-left:30px;" class="hx">
                    <tr>
                      <td class="texto_labelDialogLeft" style="font-size:13px;">Electrónica:</td>
                      <td style="padding-top:3px;padding-left:10px;">
                        <el-checkbox v-model="checkedFacElect" @change="changeNroFactura()"></el-checkbox>
                      </td>
                      <td style="padding-top:3px;padding-left:10px;" align="center">
                        <span><b>N° Generado: "{{NroFacGenerado}}"</b></span>
                      </td>
                    </tr>
                    <tr>
                      <td class="texto_labelDialogLeft" style="font-size:13px;">N° Nota Debito:</td>
                      <td></td>
                      <td style="padding-top:3px;padding-left:10px;">
                        <el-input auto-complete="off" size="small" v-model="rowReintegro.strNroFactura"
                           type="text" :maxlength="12" @change="changeNroFactura()" @blur="handleBlur()">
                        </el-input>
                      </td>
                    </tr>
                    <tr>
                      <td class="texto_labelDialogLeft" style="font-size:13px;">Fecha emisión:</td>
                      <td></td>
                      <td style="padding-top:3px;padding-left:10px;">
                        <el-date-picker
                          v-model="fechaNotaDebito"
                          size="small"
                          format="dd/MM/yyyy"
                          placeholder="Seleccione fecha"
                          :editable = "true">
                        </el-date-picker>
                      </td>
                    </tr>
                  </table>
                  <div align="center" v-if="viewAccessEscritura">
                    <el-button type="success" size="small" @click="GuardarNotaDebito(rowReintegro.strNroFactura)">Guardar Nota Debito</el-button>
                  </div>
                </div>
              </div>
            </el-col>
          </el-row>
        </el-tab-pane>
      </el-tabs>
      <div align="right" style="margin:8px 20px;">
        <el-button type="danger" @click="CerrarReintegro()" plain>Cancelar</el-button>
        <el-button type="primary" v-if="(guardarViewButton && viewAccessEscritura)" @click="ActualizarReintegro(rowReintegro)"><i class="fa fa-save"></i> Guardar</el-button>
      </div>
    </div>
  </div>
</template>
<script>
  import ReintegrosComponent from '@/components/liquidacion/Reintegros/reintegros.component'
  export default ReintegrosComponent
</script>
<style>

</style>
