<template>
  <div>
    <h3>Reporte Prueba</h3>
  </div>
</template>
<script>
  import ReportePruebaComponent from '@/components/Reportes/Reporte_Prueba/reportePrueba.component'
  export default ReportePruebaComponent
</script>
<style>

</style>
