<template>
  <div>
    <ol  style="margin-left: -1.5rem;background: linear-gradient(rgb(229, 241, 247) 0%, rgb(255, 255, 255) 100%);    margin-bottom: 0rem !important;">
        <quickaccessmenu v-on:ValidarItem="BuscarLotes()" v-on:guardarTodo="guardarTodo($event)" v-on:backPage="backPage($event)"  v-on:reloadpage="reloadpage($event)"></quickaccessmenu>
        </ol>
    <el-card class="box-card" style="margin-top:5px;">
      <div slot="header" class="headercard" >
        <span>SECOCHA</span>
      </div>
      <el-form :model="FormSearch" label-width="70px" label-position="left" style="margin-left:1%">
        <el-row>
          <el-col :span="3">
            <el-form-item label="Mes:" class="marginFormItem">
              <!-- <span><b>{{mesActual.toUpperCase()}}</b></span> -->
              <el-date-picker
                v-model="fechaSearch"
                type="month"
                size="small"
                format="MMMM / yyyy"
                placeholder="Seleccione Mes"
                :editable = "false">
              </el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :offset="3" :span="5" >
            <el-form-item label="Lote:" class="marginFormItem">
              <el-input placeholder="*" v-model="FormSearch.strLote" @keyup.enter.native="BuscarLotes()" auto-complete="off" size="small"></el-input>
            </el-form-item>
          </el-col>
          <!-- <el-col :span="4" style="margin-left:2%">
            <el-button type="primary" icon="search" @click="BuscarLotes()">Buscar</el-button>
          </el-col> -->
        </el-row>
      </el-form>
      <div class="headercard" >
        <buttons-accions v-on:Limpiar="clickactive('B')" v-on:Buscar="clickactive('A')" v-on:AscItem="AscItem" v-on:DscItem="DscItem" v-on:siguiente="siguiente()" v-on:anterior="anterior()" v-on:EliminarItem="EliminarItem()" ></buttons-accions>
      </div> 
      <el-table
        ref="missionTable"
        :data="gridData"
        border
        stripe  :default-sort = "{prop: 'date', order: 'descending'}"
        :max-height="sizeScreen"
        highlight-current-row
        v-loading="loadingGetData"
        class="ExcelTable2007"
        element-loading-text="Cargando lotes..."
        style="width:100%;font-size:10px;margin:5px 0px">
        <el-table-column label="LOTE" align="center" width="75">
          <template scope="scope">
            <span style="color:red"><b>{{scope.row.strLote}}</b></span>
          </template>
        </el-table-column>
        <el-table-column label="Fecha Recepción" width="120" align="center">
          <template scope="scope">
            <span><b>{{ getDateString(scope.row.dtmFechaRecepcion) }}</b></span>
          </template>
        </el-table-column>
        <el-table-column prop="strProcedenciaSt" label="Procedencia Mineral" width="140"></el-table-column>
        <el-table-column prop="strClienteRuc" label="Ruc" width="100" align="center"></el-table-column>
        <el-table-column prop="strClienteRazonS" label="Proveedor Mineral" width="250"></el-table-column>
        <el-table-column prop="strMaterial" label="Material" width="80" align="center"></el-table-column>
        <el-table-column prop="intNroSacos" label="N° Sacos" width="80" align="center"></el-table-column>
        <el-table-column prop="fltPesoTmh" label="Peso TMH" width="100" align="center"></el-table-column>

        <el-table-column label="Fecha y Hora de Ingreso Muestra LQ" width="250" align="center">
          <template scope="scope">
            <span>{{ getDateTime(scope.row.dtmFechaHoraMuestreo) }}</span>
          </template>
        </el-table-column>
        <el-table-column prop="strLeyAuComercial" label="Ley Au Comercial" width="120" align="center"></el-table-column>

      </el-table>
      <el-row type="flex" class="row-bg" style="margin-bottom:5px">
        <el-col :span="11">
          <el-pagination layout="prev, pager, next" :total="totalRegistros" :page-size="RegistersForPage" :current-page.sync="pagina" @current-change="cambioPagina()">
          </el-pagination>
        </el-col>
        <el-col :span="11" style="margin-top:7px">
          <span style="font-size:14px;">Total de Lotes: <b>{{countGridData}}</b></span>
        </el-col>
      </el-row>
    </el-card>
    <br>
  </div>
</template>
<script>
  import SecochaComponent from '@/components/Secocha/secocha.component'
  export default SecochaComponent
</script>
<style>

</style>
