<template>
  <div>
    <ol  style="margin-left: -1.5rem;background: linear-gradient(rgb(229, 241, 247) 0%, rgb(255, 255, 255) 100%);    margin-bottom: 0rem !important;">
        <quickaccessmenu v-on:ValidarItem="BuscarVentas()" v-on:guardarTodo="guardarTodo($event)" v-on:backPage="backPage($event)"  v-on:reloadpage="reloadpage($event)"></quickaccessmenu>
        </ol>
    <el-card class="box-card" style="margin-top:5px;">
      <div slot="header" class="headercard">
        <span>VENTAS</span>
      </div>
      <div >
        <table cellpadding="0" cellspacing="1">
          <tr>
            <td class="texto_labelDialogLeft" style="font-size:13px;">Mes:</td>
            <td style="padding-top:3px;padding-left:20px;">
              <el-date-picker
                v-model="fechaSearch"
                type="month"
                size="mini"
                format="MMMM / yyyy"
                placeholder="Seleccione Mes"
                :editable = "false"
                @change="changeMonth()">
              </el-date-picker>
            </td>
            <!-- <td class="texto_labelDialogRight" style="font-size:13px;">Desde:</td>
            <td style="padding-top:3px;padding-left:20px;">
              <el-date-picker
                v-model="fechaInicio"
                size="mini"
                format="dd/MM/yyyy"
                placeholder="Desde"
                @keyup.enter.native="BuscarVentas()">
              </el-date-picker>
            </td>
            <td class="texto_labelDialogRight" style="font-size:13px;">Hasta:</td>
            <td style="padding-top:3px;padding-left:20px;">
              <el-date-picker
                v-model="fechaFin"
                size="mini"
                format="dd/MM/yyyy"
                placeholder="hasta"
                @keyup.enter.native="BuscarVentas()">
              </el-date-picker>
            </td> -->
            <!-- <td style="padding-top:3px;padding-left:20px;">
              <el-button size="small" type="primary" icon="search" @click="BuscarVentas()">Cargar Ventas</el-button>
            </td> -->
            <td style="padding-top:3px;padding-left:30px;" v-if="viewAccessEscritura">
              <el-button size="small" type="success" @click="handleAgregar()">Agregar Venta</el-button>
            </td>
          </tr>
        </table>
      </div>
      <div class="headercard" >
        <buttons-accions v-on:Limpiar="clickactive('B')" v-on:Buscar="clickactive('A')" v-on:AscItem="AscItem" v-on:DscItem="DscItem" v-on:siguiente="siguiente()" v-on:anterior="anterior()" v-on:EliminarItem="EliminarItem()" ></buttons-accions>
      </div> 
      <el-table
      ref="missionTable"
        :data="gridData"
        stripe  :default-sort = "{prop: 'date', order: 'descending'}"
        border
        :max-height="sizeScreen"
        v-loading="loadingGetData"
        class="ExcelTable2007"
        element-loading-text="Cargando Ventas..."
        style="width:100%;font-size:10px;margin:5px 0px">
        <el-table-column type="expand">
          <template scope="scope">
            <el-table
              :data="scope.row.lstDetVentas"
              border
              style="width: 100%; font-size: 11px;">
              <el-table-column prop="strOperacion" label="Campaña"></el-table-column>
              <el-table-column label="Peso">
                <template scope="scope">
                  <span>{{ getNumberFloat(scope.row.fltPeso, 2) }}</span>
                </template>
              </el-table-column>
              <el-table-column label="Ley">
                <template scope="scope">
                  <span>{{ getNumberFloat(scope.row.strLeyOro, 2) }}</span>
                </template>
              </el-table-column>
              <el-table-column label="Gr Oro">
                <template scope="scope">
                  <span>{{ getNumberFloat(scope.row.strGrOro, 2) }}</span>
                </template>
              </el-table-column>
              <el-table-column label="Klg Oro">
                <template scope="scope">
                  <span>{{ getNumberFloat(scope.row.fltKlgOro, 2) }}</span>
                </template>
              </el-table-column>
            </el-table>
          </template>
        </el-table-column>
        <el-table-column prop="strOperacion" label="Operacion"></el-table-column>
        <el-table-column prop="strMes" label="Mes"></el-table-column>
        <el-table-column prop="strAnio" label="Año"></el-table-column>
        <el-table-column label="Fecha">
          <template scope="scope">
            <span>{{ getDateString(scope.row.dtmFecha) }}</span>
          </template>
        </el-table-column>
        <el-table-column prop="strNroDoc" label="N° Doc"></el-table-column>
        <el-table-column prop="strImpFac" label="Imp Fac"></el-table-column>
        <el-table-column prop="strNroDocND" label="N° Doc ND"></el-table-column>
        <el-table-column prop="strImpND" label="Imp ND"></el-table-column>
        <el-table-column prop="fltTotal" label="Total"></el-table-column>
        <el-table-column prop="strKgVenta" label="Kg"></el-table-column>
        <el-table-column prop="strPenVenta" label="Periodo Exp."></el-table-column>
        <el-table-column prop="fltDolares" label="US$"></el-table-column>
        <el-table-column prop="fltKgProducidos" label="Periodo Cont."></el-table-column>
        <el-table-column prop="fltValorUS" label="ValorUS"></el-table-column>
        <el-table-column label="Operaciones" width="90" align="center" v-if="viewAccessEscritura">
          <template scope="scope">
            <el-button icon="edit" size="mini" type="success"
              @click="handleEditVenta(scope.$index, scope.row)">Editar</el-button>
          </template>
        </el-table-column>
      </el-table>
    </el-card>

    <!--AGREGAR VENTA-->
    <el-dialog  title="AGREGAR VENTA" size="small" :visible.sync="DialogAgregarVisible" @close="DialogAgregarVisible=false">
      <div style="background:#EEEEEE; width:100%;height:50px;padding:5px 15px;font-size:13px">
        <el-row>
          <el-col :span="8">
            <span>MES:</span><br>
            <el-date-picker
              v-model="fechaMonthAdd"
              type="month"
              size="mini"
              format="MMMM / yyyy"
              placeholder="Mes"
              :editable = "false">
            </el-date-picker>
          </el-col>
          <el-col :span="8" style="padding-left:10px">
            <span>FECHA:</span><br>
            <el-date-picker
              v-model="fechaAdd"
              size="mini"
              format="dd/MM/yyyy"
              placeholder="Fecha"
              :editable = "false">
            </el-date-picker>
          </el-col>
          <el-col :span="8" style="padding-left:10px">
            <span>OPERACIÓN:</span><br>
            <el-input placeholder="Nro. Operación" v-model="FormAgregar.strOperacion" auto-complete="off" size="mini"></el-input>
          </el-col>
        </el-row>
      </div>
      <div class="" style="margin:5px 15px">
        <el-row style="font-size:13px">
          <el-col :span="8">
            <span>N° DOC:</span>
            <el-input placeholder="*" v-model="FormAgregar.strNroDoc" auto-complete="off" size="mini"></el-input>
            <br><div style="margin-top:5px"></div>
            <span>N° DOC ND:</span>
            <el-input placeholder="*" v-model="FormAgregar.strNroDocND" auto-complete="off" size="mini"></el-input>
          </el-col>
          <el-col :span="8" style="padding-left:10px">
            <span>IMP.FAC:</span>
            <el-input  type="number" v-model="FormAgregar.strImpFac" auto-complete="off" size="mini" @change="changeTotal()"></el-input>
            <br><div style="margin-top:5px"></div>
            <span>IMP.ND:</span>
            <el-input type="number" v-model="FormAgregar.strImpND" auto-complete="off" size="mini" @change="changeTotal()"></el-input>
          </el-col>
          <el-col :span="8" style="padding-left:10px">
            <span>TOTAL:</span>
            <el-input disabled v-model="FormAgregar.fltTotal" auto-complete="off" size="mini"></el-input>
          </el-col>
        </el-row>
        <br>
        <el-row style="font-size:13px">
          <el-col :span="8">
            <span>Periodo Exp:</span><br>
            <el-input placeholder="*" v-model="FormAgregar.strPenVenta" auto-complete="off" size="mini"></el-input>
            <br><div style="margin-top:5px"></div>
            <span>Periodo Cont.:</span>
            <el-input placeholder="*" v-model="FormAgregar.fltKgProducidos" auto-complete="off" size="mini"></el-input>
          </el-col>
          <el-col :span="8" style="padding-left:10px">
            <span>Kg:</span><br>
            <el-input placeholder="*" v-model="FormAgregar.strKgVenta" auto-complete="off" size="mini"></el-input>
            <br><div style="margin-top:5px"></div>
            <span>USD$:</span>
            <el-input placeholder="*" v-model="FormAgregar.fltValorUS" auto-complete="off" size="mini"></el-input>
          </el-col>
          <el-col :span="8" style="padding-left:10px">
            <span>US$:</span><br>
            <el-input placeholder="*" v-model="FormAgregar.fltDolares" auto-complete="off" size="mini"></el-input>
          </el-col>
        </el-row>
      </div>
      <div align="center" style="margin:10px 10px">
        <el-button size="small" type="primary" @click="handleAddCamp()"><i class="fa fa-plus"></i> Agregar Campaña</el-button>
        <el-table
          :data="gridDataAdd"
          border
          style="width:100%; font-size:10px;margin-top:5px">
          <!-- <el-table-column prop="strPro" label="PRO"></el-table-column> -->
          <el-table-column prop="strPeriodo" label="Periodo"></el-table-column>
          <el-table-column prop="strOperacion" label="Campaña"></el-table-column>
          <el-table-column prop="fltPeso" label="Peso"></el-table-column>
          <el-table-column prop="strLeyOro" label="Ley Oro"></el-table-column>
          <el-table-column label="Gr Oro">
            <template scope="scope">
              <span>{{scope.row.strGrOro}}</span>
            </template>
          </el-table-column>
          <el-table-column label="Klg Oro">
            <template scope="scope">
              <span>{{scope.row.fltKlgOro}}</span>
            </template>
          </el-table-column>
          <el-table-column label="Operaciones" align="center" width="100">
            <template scope="scope">
              <el-tooltip class="item" effect="dark" content="Editar" placement="top">
                <el-button icon="edit" size="small" @click="handleEditCamp(scope.$index, scope.row)"></el-button>
              </el-tooltip>
              <el-tooltip class="item" effect="dark" content="Eliminar" placement="top">
                <el-button icon="delete" size="small" type="danger" @click="handleDeleteCamp(scope.$index, scope.row)"></el-button>
              </el-tooltip>
            </template>
          </el-table-column>
        </el-table>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button type="danger" size="small" plain @click="DialogAgregarVisible = false">Cancelar</el-button>
        <el-button type="primary" size="small" @click="AgregarVenta(FormAgregar)"><i class="fa fa-plus"></i> Agregar</el-button>
      </span>
    </el-dialog>

    <!-- EDITAR VENTA -->
    <el-dialog  title="EDITAR VENTA" size="small" :visible.sync="DialogEditarVisible" @close="DialogEditarVisible=false">
      <div style="background:#EEEEEE; width:100%;height:50px;padding:5px 15px;font-size:13px">
        <el-row>
          <el-col :span="8">
            <span>MES:</span><br>
            <el-input placeholder="Nro. Operación" disabled :value="rowSelectedEdit.strMes+' / '+rowSelectedEdit.strAnio" auto-complete="off" size="mini"></el-input>
          </el-col>
          <el-col :span="8" style="padding-left:10px">
            <span>FECHA:</span><br>
            <el-date-picker
              v-model="fechaEdit"
              size="mini"
              format="dd/MM/yyyy"
              placeholder="Fecha"
              :editable = "false">
            </el-date-picker>
          </el-col>
          <el-col :span="8" style="padding-left:10px">
            <span>OPERACIÓN:</span><br>
            <el-input placeholder="Nro. Operación" v-model="rowSelectedEdit.strOperacion" auto-complete="off" size="mini"></el-input>
          </el-col>
        </el-row>
      </div>
      <div class="" style="margin:5px 15px">
        <el-row style="font-size:13px">
          <el-col :span="8">
            <span>N° DOC:</span>
            <el-input placeholder="*" v-model="rowSelectedEdit.strNroDoc" auto-complete="off" size="mini"></el-input>
            <br><div style="margin-top:5px"></div>
            <span>N° DOC ND:</span>
            <el-input placeholder="*" v-model="rowSelectedEdit.strNroDocND" auto-complete="off" size="mini"></el-input>
          </el-col>
          <el-col :span="8" style="padding-left:10px">
            <span>IMP.FAC:</span>
            <el-input  type="number" v-model="rowSelectedEdit.strImpFac" auto-complete="off" size="mini" @change="changeTotal()"></el-input>
            <br><div style="margin-top:5px"></div>
            <span>IMP.ND:</span>
            <el-input type="number" v-model="rowSelectedEdit.strImpND" auto-complete="off" size="mini" @change="changeTotal()"></el-input>
          </el-col>
          <el-col :span="8" style="padding-left:10px">
            <span>TOTAL:</span>
            <el-input disabled v-model="rowSelectedEdit.fltTotal" auto-complete="off" size="mini"></el-input>
          </el-col>
        </el-row>
        <br>
        <el-row style="font-size:13px">
          <el-col :span="8">
            <span>Periodo Exp:</span><br>
            <el-input placeholder="*" v-model="rowSelectedEdit.strPenVenta" auto-complete="off" size="mini"></el-input>
            <br><div style="margin-top:5px"></div>
            <span>Periodo Cont.:</span>
            <el-input placeholder="*" v-model="rowSelectedEdit.fltKgProducidos" auto-complete="off" size="mini"></el-input>
          </el-col>
          <el-col :span="8" style="padding-left:10px">
            <span>Kg:</span><br>
            <el-input placeholder="*" v-model="rowSelectedEdit.strKgVenta" auto-complete="off" size="mini"></el-input>
            <br><div style="margin-top:5px"></div>
            <span>USD$:</span>
            <el-input placeholder="*" v-model="rowSelectedEdit.fltValorUS" auto-complete="off" size="mini"></el-input>
          </el-col>
          <el-col :span="8" style="padding-left:10px">
            <span>US$:</span><br>
            <el-input placeholder="*" v-model="rowSelectedEdit.fltDolares" auto-complete="off" size="mini"></el-input>
          </el-col>
        </el-row>
      </div>
      <div align="center" style="margin:10px 10px">
        <el-button size="small" type="primary" @click="handleAddCampEdit()"><i class="fa fa-plus"></i> Agregar Campaña</el-button>
        <el-table
          :data="gridDataEdit"
          border
          style="width:100%; font-size:10px;margin-top:5px">
          <!-- <el-table-column prop="strPro" label="PRO"></el-table-column> -->
          <el-table-column prop="strPeriodo" label="Periodo"></el-table-column>
          <el-table-column prop="strOperacion" label="Campaña"></el-table-column>
          <el-table-column prop="fltPeso" label="Peso"></el-table-column>
          <el-table-column prop="strLeyOro" label="Ley Oro"></el-table-column>
          <el-table-column label="Gr Oro">
            <template scope="scope">
              <span>{{getNumberFloat(scope.row.strGrOro, 2)}}</span>
            </template>
          </el-table-column>
          <el-table-column label="Klg Oro">
            <template scope="scope">
              <span>{{getNumberFloat(scope.row.fltKlgOro, 2)}}</span>
            </template>
          </el-table-column>
          <el-table-column label="Operaciones" align="center" width="100">
            <template scope="scope">
              <el-tooltip class="item" effect="dark" content="Editar" placement="top">
                <el-button icon="edit" size="small" @click="handleEditCampEdit(scope.$index, scope.row)"></el-button>
              </el-tooltip>
              <el-tooltip class="item" effect="dark" content="Eliminar" placement="top">
                <el-button icon="delete" size="small" type="danger" @click="handleDeleteCampEdit(scope.$index, scope.row)"></el-button>
              </el-tooltip>
            </template>
          </el-table-column>
        </el-table>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button type="danger" size="small" plain @click="DialogEditarVisible = false">Cancelar</el-button>
        <el-button type="primary" size="small" icon="edit">Guardar</el-button>
      </span>
    </el-dialog>

    <!--AGREGAR CAMPAÑA-->
    <el-dialog  title="Agregar Campaña" size="mini" :visible.sync="DialogAgregarCampVisible" @close="DialogAgregarCampVisible=false">
      <el-form :model="FormAddCamp" label-width="100px" label-position="left" style="margin:1% 3%;">
        <el-form-item label="Periodo:" class="marginFormItem">
          <el-input v-model="FormAddCamp.strPeriodo" auto-complete="off" size="small"></el-input>
        </el-form-item>
        <el-form-item label="Campaña:" class="marginFormItem">
          <el-input v-model="FormAddCamp.strOperacion" placeholder="N° Campaña" auto-complete="off" size="small"></el-input>
        </el-form-item>
        <el-form-item label="Peso:" class="marginFormItem">
          <el-input type="number" v-model="FormAddCamp.fltPeso" @change="changeGrOro()" auto-complete="off" size="small"></el-input>
        </el-form-item>
        <el-form-item label="Ley Oro:" class="marginFormItem">
          <el-input type="number" v-model="FormAddCamp.strLeyOro" @change="changeGrOro()" auto-complete="off" size="small"></el-input>
        </el-form-item>
        <el-form-item label="Gr. Oro:" class="marginFormItem">
          <el-input :value="getNumberFloat(FormAddCamp.strGrOro, 2)" disabled auto-complete="off" size="small"></el-input>
        </el-form-item>
        <el-form-item label="Klg Oro:" class="marginFormItem">
          <el-input :value="getNumberFloat(FormAddCamp.fltKlgOro, 2)" disabled auto-complete="off" size="small"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button type="danger" size="small" plain @click="DialogAgregarCampVisible = false">Cancelar</el-button>
        <el-button type="primary" size="small" @click="AgregarCampania(FormAddCamp)">Agregar</el-button>
      </span>
    </el-dialog>

    <!--EDITAR CAMPAÑA-->
    <el-dialog  title="Editar Campaña" size="mini" :visible.sync="DialogEditarCampVisible" @close="DialogEditarCampVisible=false">
      <el-form :model="rowEditCamp" label-width="120px" label-position="left" style="margin:1% 3%">
        <el-form-item label="Periodo:" class="marginFormItem">
          <el-input v-model="rowEditCamp.strPeriodo" auto-complete="off" size="small"></el-input>
        </el-form-item>
        <el-form-item label="Campaña:" class="marginFormItem">
          <el-input v-model="rowEditCamp.strOperacion" placeholder="N° Campaña" auto-complete="off" size="small"></el-input>
        </el-form-item>
        <el-form-item label="Peso:" class="marginFormItem">
          <el-input type="number" v-model="rowEditCamp.fltPeso" @change="changeGrOroEdit()" auto-complete="off" size="small"></el-input>
        </el-form-item>
        <el-form-item label="Ley Oro:" class="marginFormItem">
          <el-input type="number" v-model="rowEditCamp.strLeyOro" @change="changeGrOroEdit()" auto-complete="off" size="small"></el-input>
        </el-form-item>
        <el-form-item label="Gr. Oro:" class="marginFormItem">
          <el-input :value="getNumberFloat(rowEditCamp.strGrOro, 2)" disabled auto-complete="off" size="small"></el-input>
        </el-form-item>
        <el-form-item label="Klg Oro:" class="marginFormItem">
          <el-input :value="getNumberFloat(rowEditCamp.fltKlgOro, 2)" disabled auto-complete="off" size="small"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button type="danger" size="small" plain @click="DialogEditarCampVisible = false">Cancelar</el-button>
        <el-button type="primary" size="small" icon="edit" @click="DialogEditarCampVisible = false">Editar</el-button>
      </span>
    </el-dialog>

    <!--AGREGAR CAMPAÑA EN EDITAR VENTA-->
    <el-dialog  title="Agregar Campaña E" size="mini" :visible.sync="DialogAgregarCampEditVisible" @close="DialogAgregarCampEditVisible=false">
      <el-form :model="FormAddCamp" label-width="100px" label-position="left" style="margin:1% 3%;">
        <el-form-item label="Periodo:" class="marginFormItem">
          <el-input v-model="FormAddCampEdit.strPeriodo" auto-complete="off" size="small"></el-input>
        </el-form-item>
        <el-form-item label="Campaña:" class="marginFormItem">
          <el-input v-model="FormAddCampEdit.strOperacion" placeholder="N° Campaña" auto-complete="off" size="small"></el-input>
        </el-form-item>
        <el-form-item label="Peso:" class="marginFormItem">
          <el-input type="number" v-model="FormAddCampEdit.fltPeso" @change="changeGrOroAddEdit()" auto-complete="off" size="small"></el-input>
        </el-form-item>
        <el-form-item label="Ley Oro:" class="marginFormItem">
          <el-input type="number" v-model="FormAddCampEdit.strLeyOro" @change="changeGrOroAddEdit()" auto-complete="off" size="small"></el-input>
        </el-form-item>
        <el-form-item label="Gr. Oro:" class="marginFormItem">
          <el-input :value="getNumberFloat(FormAddCampEdit.strGrOro, 2)" disabled auto-complete="off" size="small"></el-input>
        </el-form-item>
        <el-form-item label="Klg Oro:" class="marginFormItem">
          <el-input :value="getNumberFloat(FormAddCampEdit.fltKlgOro, 2)" disabled auto-complete="off" size="small"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button type="danger" size="small" plain @click="DialogAgregarCampEditVisible = false">Cancelar</el-button>
        <el-button type="primary" size="small" @click="AgregarCampaniaEdit(FormAddCampEdit)">Agregar</el-button>
      </span>
    </el-dialog>

    <!--EDITAR CAMPAÑA EN EDITAR VENTA-->
    <el-dialog  title="Editar Campaña E" size="mini" :visible.sync="DialogEditarCampEditVisible" @close="DialogEditarCampEditVisible=false">
      <el-form :model="rowEditCampEdit" label-width="120px" label-position="left" style="margin:1% 3%">
        <el-form-item label="Periodo:" class="marginFormItem">
          <el-input v-model="rowEditCampEdit.strPeriodo" auto-complete="off" size="small"></el-input>
        </el-form-item>
        <el-form-item label="Campaña:" class="marginFormItem">
          <el-input v-model="rowEditCampEdit.strOperacion" placeholder="N° Campaña" auto-complete="off" size="small"></el-input>
        </el-form-item>
        <el-form-item label="Peso:" class="marginFormItem">
          <el-input type="number" v-model="rowEditCampEdit.fltPeso" @change="changeGrOroEditEnEdit()" auto-complete="off" size="small"></el-input>
        </el-form-item>
        <el-form-item label="Ley Oro:" class="marginFormItem">
          <el-input type="number" v-model="rowEditCampEdit.strLeyOro" @change="changeGrOroEditEnEdit()" auto-complete="off" size="small"></el-input>
        </el-form-item>
        <el-form-item label="Gr. Oro:" class="marginFormItem">
          <el-input :value="getNumberFloat(rowEditCampEdit.strGrOro, 2)" disabled auto-complete="off" size="small"></el-input>
        </el-form-item>
        <el-form-item label="Klg Oro:" class="marginFormItem">
          <el-input :value="getNumberFloat(rowEditCampEdit.fltKlgOro, 2)" disabled auto-complete="off" size="small"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button type="danger" size="small" plain @click="DialogEditarCampEditVisible = false">Cancelar</el-button>
        <el-button type="primary" size="small" icon="edit" @click="DialogEditarCampEditVisible = false">Editar</el-button>
      </span>
    </el-dialog>

  </div>
</template>
<script>
  import VentasComponent from '@/components/ventas/ventas.component'
  export default VentasComponent
</script>
<style>

</style>
