<template>
  <div id="app">
    <el-row style="box-shadow: rgb(53, 83, 105) 0px 1px 2px; z-index: 3;">
      <el-col :span="24">
       <top-menu v-on:CollapseTopMenu="clickCollapse($event)"></top-menu>
      </el-col>
    </el-row>
    <el-row class="main-container">
      <div class="side-container">
        <div class="grid-content bg-purple">
          <el-menu class="el-menu-vertical-demo" style="background: rgba(236, 245, 250, 0.8);overflow-y:auto; weight:100%; height:100%;"
            @open="handleOpen" @close="handleClose" :collapse="isCollapse">           
            <!-- <el-menu-item
              v-for="item in accesosBarMenu"
              @click="linkRoute(item.strEnlace)"
              :index="item.strEnlace"
              :key="item.strIndex">
              <span slot="title" > {{item.strNombre}}</span>
              <i class="fa fa-caret-right" style="width:10px"></i>
              <img src="../../images/folder-cerrado.png" style="width:17px; height:15px; cursor: pointer;" @click="linkRoute('/menu/inicio')"/> 
              
            </el-menu-item> -->
            <el-submenu index="1">
              <template slot="title">
                <i class="fa fa-caret-right" style="width:10px"></i>
                <img  class="el-folder" /> 
                <span slot="title">Recepción Mineral</span>
              </template>
                <el-submenu index="1-1">
                  <template slot="title">
                    <i class="fa fa-caret-right" style="width:10px"></i>
                    <img  class="el-folder"/> 
                    <span slot="title">Balanza</span>
                  </template>
                    <el-menu-item index="1-1-1" style="padding-left: 55px !important;" @click="linkRoute('/menu/duplicar_lote')">
                      <span slot="title">RB01 - Crear lotes de mineral</span>
                      <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                    </el-menu-item>
                    <el-menu-item index="1-1-2" style="padding-left: 55px !important;"
                     @click="linkRoute('/menu/balanza')">
                      <span slot="title">RB02 - Modificar Lotes de Mineral</span>
                      <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                    </el-menu-item>
                    <el-menu-item index="1-1-3" style="padding-left: 55px !important;" @click="linkRoute('/menu/balanza')">
                      <span slot="title">RB04 - Visualizar Lotes de Mineral</span>
                      <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                    </el-menu-item>
                    <el-menu-item index="1-1-4" style="padding-left: 55px !important;">
                      <span slot="title">RB10 - Actualizar Datos de Mineral</span>
                      <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                    </el-menu-item>
                </el-submenu>
              <el-submenu index="1-2">
                <template slot="title">
                  <i class="fa fa-caret-right" style="width:10px"></i>
                  <img  class="el-folder"/> 
                  <span slot="title">Chancado y Molienda</span>
                </template>
                    <el-menu-item index="1-2-1" style="padding-left: 55px !important;">
                      <span slot="title">RC01 - Ingreso datos</span>
                      <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                    </el-menu-item>
                    <el-menu-item index="1-2-2" style="padding-left: 55px !important;">
                      <span slot="title">RC02 - Modificar datos</span>
                      <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                    </el-menu-item>
                    <el-menu-item index="1-2-3" style="padding-left: 55px !important;">
                      <span slot="title">RC04 - Visualizar datos</span>
                      <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                    </el-menu-item>
              </el-submenu>
              <el-submenu index="1-3">
                <template slot="title">
                  <i class="fa fa-caret-right" style="width:10px"></i>
                  <img  class="el-folder"/> 
                  <span slot="title">Muestreo</span>
                </template>
                 <el-menu-item index="1-3-1" style="padding-left: 55px !important;">
                      <span slot="title">RM01 - Ingreso lotes de mineral</span>
                      <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                    </el-menu-item>
                    <el-menu-item index="1-3-2" style="padding-left: 55px !important;">
                      <span slot="title">RM02 - Modificar lotes de mineral</span>
                      <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                    </el-menu-item>
                    <el-menu-item index="1-3-3" style="padding-left: 55px !important;">
                      <span slot="title">RM04 - Visualizar lotes de mineral</span>
                      <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                    </el-menu-item>
              </el-submenu>
              <el-submenu index="1-4">
                <template slot="title">
                  <i class="fa fa-caret-right" style="width:10px"></i>
                  <img  class="el-folder"/> 
                  <span slot="title">Armado de Rumas</span>
                </template>
                   <el-menu-item index="1-4-1" style="padding-left: 55px !important;">
                      <span slot="title">RA01 - Crear Ruma de Mineral</span>
                      <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                    </el-menu-item>
                    <el-menu-item index="1-4-2" style="padding-left: 55px !important;">
                      <span slot="title">RA02 - Modificar Ruma de Mineral</span>
                      <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                    </el-menu-item>
                    <el-menu-item index="1-4-3" style="padding-left: 55px !important;">
                      <span slot="title">RA04 - Visualizar Ruma de Mineral</span>
                      <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                    </el-menu-item>
              </el-submenu>
              <el-submenu index="1-5">
                <template slot="title">
                  <i class="fa fa-caret-right" style="width:10px"></i>
                  <img  class="el-folder"/> 
                  <span slot="title">Reportes</span>
                </template>
                    <el-menu-item index="1-5-1" style="padding-left: 55px !important;">
                      <span slot="title">RP71 - Estado de los Minerales</span>
                      <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                    </el-menu-item>
                    <el-menu-item index="1-5-2" style="padding-left: 55px !important;" @click="linkRoute('/menu/reporte_mineral')">
                      <span slot="title">RP72 - Reporte de Mineral</span>
                      <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                    </el-menu-item>
              </el-submenu>
            </el-submenu>
            <el-submenu index="2">
              <template slot="title">
                <i class="fa fa-caret-right" style="width:10px"></i>
                <img  class="el-folder"/> 
                <span slot="title">Laboratorio</span>
              </template>
              <el-submenu index="2-1">
                <template slot="title">
                  <i class="fa fa-caret-right" style="width:10px"></i>
                  <img  class="el-folder"/> 
                  <span slot="title">Laboratorio Quimico</span>
                </template>
                    <el-menu-item index="2-1-1" style="padding-left: 55px !important;">
                      <span slot="title">DL11 - Recepción de la Muestra</span>
                      <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                    </el-menu-item>
                    <el-menu-item index="2-1-2" style="padding-left: 55px !important;">
                      <span slot="title">DL01 - Ingreso Pruebas Laboratorio</span>
                      <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                    </el-menu-item>
                    <el-menu-item index="2-1-3" style="padding-left: 55px !important;">
                      <span slot="title">DL02 - Modificar Pruebas Laboratorio</span>
                      <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                    </el-menu-item>
                    <el-menu-item index="2-1-4" style="padding-left: 55px !important;" @click="linkRoute('/menu/laboratorio')">
                      <span slot="title">DL04 - Visualizar Pruebas Laboratorio</span>
                      <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                    </el-menu-item>
              </el-submenu>
              <el-submenu index="2-2">
                <template slot="title">
                  <i class="fa fa-caret-right" style="width:10px"></i>
                  <img  class="el-folder"/> 
                  <span slot="title">Laboratorio Metalurgico</span>
                </template>
                    <el-menu-item index="2-2-1" style="padding-left: 55px !important;">
                      <span slot="title">DM01 - Ingreso Pruebas Metalurgicas</span>
                      <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                    </el-menu-item>
                    <el-menu-item index="2-2-2" style="padding-left: 55px !important;">
                      <span slot="title">DM02 - Modificar Pruebas Metalurgicas</span>
                      <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                    </el-menu-item>
                    <el-menu-item index="2-2-3" style="padding-left: 55px !important;">
                      <span slot="title">DM04 - Visualizar Pruebas Metalurgicas</span>
                      <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                    </el-menu-item>
              </el-submenu>
            </el-submenu>
            <el-submenu index="3">
              <template slot="title">
                <i class="fa fa-caret-right" style="width:10px"></i>
                <img  class="el-folder"/> 
                <span slot="title">Control Interno</span>
              </template>
              <el-submenu index="3-1">
                <template slot="title">
                  <i class="fa fa-caret-right" style="width:10px"></i>
                  <img  class="el-folder"/> 
                  <span slot="title">Datos</span>
                </template>
                    <el-menu-item index="3-1-1" style="padding-left: 55px !important;">
                      <span slot="title">OC01 - Ingreso de leyes AU - AG</span>
                      <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                    </el-menu-item>
                    <el-menu-item index="3-1-2" style="padding-left: 55px !important;">
                      <span slot="title">OC02 - Modificar leyes AU - AG</span>
                      <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                    </el-menu-item>
                    <el-menu-item index="3-1-3" style="padding-left: 55px !important;">
                      <span slot="title">OC04 - Visualizar leyes AU - AG</span>
                      <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                    </el-menu-item>
              </el-submenu>
              <el-submenu index="3-2">
                <template slot="title">
                  <i class="fa fa-caret-right" style="width:10px"></i>
                  <img  class="el-folder"/> 
                  <span slot="title">Reportes</span>
                </template>
                    <el-menu-item index="3-2-1" style="padding-left: 55px !important;">
                      <span slot="title">RI71 - Estado de los Minerales</span>
                      <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                    </el-menu-item>
                    <el-menu-item index="3-2-2" style="padding-left: 55px !important;">
                      <span slot="title">RI72 - Reporte de Lotes</span>
                      <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                    </el-menu-item>
              </el-submenu>
            </el-submenu>
            <el-submenu index="4">
              <template slot="title">
                <i class="fa fa-caret-right" style="width:10px"></i>
                <img  class="el-folder"/> 
                <span slot="title">Comercial</span>
              </template>
              <el-submenu index="4-1">
                <template slot="title">
                  <i class="fa fa-caret-right" style="width:10px"></i>
                  <img  class="el-folder"/> 
                  <span slot="title">Datos</span>
                </template>
                    <el-menu-item index="4-1-1" style="padding-left: 55px !important;">
                      <span slot="title">MD01 - Ingreso datos Comerciales</span>
                      <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                    </el-menu-item>
                    <el-menu-item index="4-1-2" style="padding-left: 55px !important;">
                      <span slot="title">MD02 - Modificación de Datos Comerciales</span>
                      <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                    </el-menu-item>
                    <el-menu-item index="4-1-3" style="padding-left: 55px !important;" @click="linkRoute('/menu/comercial')">
                      <span slot="title">MD04 - Visualiación de Datos Comerciales</span>
                      <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                    </el-menu-item>
                    <el-menu-item index="4-1-4" style="padding-left: 55px !important;" @click="linkRoute('/menu/ley_ref_comercial')">
                      <span slot="title">MD10 - Visualización Leyes Refencialesonales</span>
                      <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                    </el-menu-item>
                    <el-menu-item index="4-1-5" style="padding-left: 55px !important;" >
                      <span slot="title">MD11 - Precios Internacionales</span>
                      <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                    </el-menu-item>
              </el-submenu>
              <el-submenu index="4-2">
              <template slot="title">
                <i class="fa fa-caret-right" style="width:10px"></i>
                <img  class="el-folder"/> 
                <span slot="title">Adelantos</span>
              </template>
                    <el-menu-item index="4-2-1" style="padding-left: 55px !important;">
                      <span slot="title">MA01 - Solicitud de Adelanto</span>
                      <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                    </el-menu-item>
                    <el-menu-item index="4-2-2" style="padding-left: 55px !important;">
                      <span slot="title">MA02 - Modificación Adelanto</span>
                      <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                    </el-menu-item>
                    <el-menu-item index="4-2-3" style="padding-left: 55px !important;">
                      <span slot="title">MA04 - Visualiación de Adelanto</span>
                      <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                    </el-menu-item>
            </el-submenu>
              <el-submenu index="4-3">
                <template slot="title">
                  <i class="fa fa-caret-right" style="width:10px"></i>
                  <img  class="el-folder"/> 
                  <span slot="title">Liquidación</span>
                </template>
                    <el-menu-item index="4-3-1" style="padding-left: 55px !important;" @click="linkRoute('/menu/liquidacion')">
                      <span slot="title">ML01 - Ingreso datos Comerciales</span>
                      <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                    </el-menu-item>
                    <el-menu-item index="4-3-2" style="padding-left: 55px !important;" @click="linkRoute('/menu/liquidacion')">
                      <span slot="title">ML02 - Modificación de datos comerciales</span>
                      <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                    </el-menu-item>
                    <el-menu-item index="4-3-3" style="padding-left: 55px !important;" @click="linkRoute('/menu/liquidacion')">
                      <span slot="title">ML04 - Visualiación de datos comerciales</span>
                      <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                    </el-menu-item>
              </el-submenu>
                <el-submenu index="4-4">
                <template slot="title">
                  <i class="fa fa-caret-right" style="width:10px"></i>
                  <img  class="el-folder"/> 
                  <span slot="title">Reportes</span>
                </template>
                    <el-menu-item index="4-4-1" style="padding-left: 55px !important;" @click="linkRoute('/menu/reporte_margen')">
                      <span slot="title">RM70 - Reporte del Margen Minerales</span>
                      <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                    </el-menu-item>
                    <el-menu-item index="4-4-2" style="padding-left: 55px !important;">
                      <span slot="title">RM71 - Estado de los Minerales</span>
                      <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                    </el-menu-item>
                    <el-menu-item index="4-4-3" style="padding-left: 55px !important;" @click="linkRoute('/menu/reporte_mineral')">
                      <span slot="title">RM72 - Reporte de Mineral</span>
                      <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                    </el-menu-item>
                    <el-menu-item index="4-4-4" style="padding-left: 55px !important;">
                      <span slot="title">RM73 - Reporte de Adelantos</span>
                      <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                    </el-menu-item>
              </el-submenu>
            </el-submenu>
            <el-submenu index="5">
              <template slot="title">
                <i class="fa fa-caret-right" style="width:10px"></i>
                <img  class="el-folder"/> 
                <span slot="title">Acopio</span>
              </template>
                <el-submenu index="5-1">
                <template slot="title">
                  <i class="fa fa-caret-right" style="width:10px"></i>
                  <img  class="el-folder"/> 
                  <span slot="title">Acopio</span>
                </template>
                    <el-menu-item index="5-1-1" style="padding-left: 55px !important;" @click="linkRoute('/menu/cuotas')">
                      <span slot="title">AA11 - Ingreso Cuota Mensual</span>
                      <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                    </el-menu-item>
                    <el-menu-item index="5-1-2" style="padding-left: 55px !important;" @click="linkRoute('/menu/cuotas')">
                      <span slot="title">AA12 - Modificar Cuota Mensual</span>
                      <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                    </el-menu-item>
                    <el-menu-item index="5-1-3" style="padding-left: 55px !important;" @click="linkRoute('/menu/cuotas')">
                      <span slot="title">AA14 - Visualizar Cuota Mensual</span>
                      <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                    </el-menu-item>
                     <el-menu-item index="5-1-4" style="padding-left: 55px !important;" @click="linkRoute('/menu/gasto_administrativo')">
                      <span slot="title">AA21 - Ingreso de Gastos de Acopio</span>
                      <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                    </el-menu-item>
                    <el-menu-item index="5-1-5" style="padding-left: 55px !important;" @click="linkRoute('/menu/gasto_administrativo')">
                      <span slot="title">AA22 - Modificar de Gastos de Acopio</span>
                      <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                    </el-menu-item>
                    <el-menu-item index="5-1-6" style="padding-left: 55px !important;" @click="linkRoute('/menu/gasto_administrativo')">
                      <span slot="title">AA24 - Visualizar de Gastos de Acopio</span>
                      <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                    </el-menu-item>
              </el-submenu>
                <el-submenu index="5-2">
                <template slot="title">
                  <i class="fa fa-caret-right" style="width:10px"></i>
                  <img  class="el-folder"/> 
                  <span slot="title">Reportes</span>
                </template>
                   <el-menu-item index="5-2-1" style="padding-left: 55px !important;" @click="linkRoute('/menu/reporte_acopio')">
                      <span slot="title">RA71 - Reporte Mineral</span>
                      <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                    </el-menu-item>
                    <el-menu-item index="5-2-2" style="padding-left: 55px !important;" @click="linkRoute('/menu/control_cuotas')">
                      <span slot="title">RA72 - Reporte Control Cuota</span>
                      <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                    </el-menu-item>
              </el-submenu>
            </el-submenu>
            <el-submenu index="6">
              <template slot="title">
                <i class="fa fa-caret-right" style="width:10px"></i>
                <img  class="el-folder"/> 
                <span slot="title">Contabilidad</span>
              </template>
                <el-submenu index="6-1">
                <template slot="title">
                  <i class="fa fa-caret-right" style="width:10px"></i>
                  <img  class="el-folder"/> 
                  <span slot="title">Contabilidad</span>
                </template>
                    <el-menu-item index="6-1-1" style="padding-left: 55px !important;">
                      <span slot="title">CC11 - Generar Asiento Contable</span>
                      <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                    </el-menu-item>
                    <el-menu-item index="6-1-2" style="padding-left: 55px !important;">
                      <span slot="title">CC12 - Control de Inventarios Mineral</span>
                      <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                    </el-menu-item>
                    <el-menu-item index="6-1-3" style="padding-left: 55px !important;">
                      <span slot="title">CC13 - Visualización Entrega de Adelantos</span>
                      <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                    </el-menu-item>
                    <el-menu-item index="6-1-4" style="padding-left: 55px !important;" @click="linkRoute('/menu/cierre_inventario')">
                      <span slot="title">CC21 - Cierre Periodo</span>
                      <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                    </el-menu-item>
              </el-submenu>
              <el-submenu index="6-2">
                <template slot="title">
                  <i class="fa fa-caret-right" style="width:10px"></i>
                  <img  class="el-folder"/> 
                  <span slot="title">Ventas</span>
                </template>
                    <el-menu-item index="6-2-1" style="padding-left: 55px !important;" @click="linkRoute('/menu/ventas')">
                      <span slot="title">CV01 - Ingreso Datos</span>
                      <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                    </el-menu-item>
                    <el-menu-item index="6-2-2" style="padding-left: 55px !important;" @click="linkRoute('/menu/ventas')">
                      <span slot="title">CV02 - Modificar Datos</span>
                      <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                    </el-menu-item>
                    <el-menu-item index="6-2-3" style="padding-left: 55px !important;" @click="linkRoute('/menu/ventas')">
                      <span slot="title">CV04 - Visualizar Datos</span>
                      <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                    </el-menu-item>
              </el-submenu>
                <el-submenu index="6-3">
                <template slot="title">
                  <i class="fa fa-caret-right" style="width:10px"></i>
                  <img  class="el-folder"/> 
                  <span slot="title">Reportes</span>
                </template>
                    <el-menu-item index="6-3-1" style="padding-left: 55px !important;">
                      <span slot="title">RC71 - Kardex de Minerales</span>
                      <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                    </el-menu-item>
                    <el-menu-item index="6-3-2" style="padding-left: 55px !important;">
                      <span slot="title">RC72 - Balance de Minerales</span>
                      <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                    </el-menu-item>
                    <el-menu-item index="6-3-3" style="padding-left: 55px !important;">
                      <span slot="title">RC73 - Reporte de Adelantos</span>
                      <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                    </el-menu-item>
              </el-submenu>
            </el-submenu>
            <el-submenu index="7">
              <template slot="title">
                <i class="fa fa-caret-right" style="width:10px"></i>
                <img  class="el-folder"/> 
                <span slot="title">Maestro de Datos</span>
              </template>
                <el-submenu index="7-1">
                <template slot="title">
                  <i class="fa fa-caret-right" style="width:10px"></i>
                  <img  class="el-folder"/> 
                  <span slot="title">Maestros</span>
                </template>
                  <el-submenu index="7-1-1">
                  <template slot="title">
                    <i class="fa fa-caret-right" style="width:10px"></i>
                    <img  class="el-folder"/> 
                    <span slot="title">Proveedor</span>
                  </template>
                    <el-menu-item index="7-1-1-1" style="padding-left: 55px !important;" @click="linkRoute('/menu/proveedor')">
                        <span slot="title">PD01 - Crear Proveedor </span>
                        <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                      </el-menu-item>
                      <el-menu-item index="7-1-1-2" style="padding-left: 55px !important;" @click="linkRoute('/menu/proveedor')">
                        <span slot="title">PD02 - Modificar Proveedor</span>
                        <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                      </el-menu-item>
                      <el-menu-item index="7-1-1-3" style="padding-left: 55px !important;" @click="linkRoute('/menu/proveedor')">
                        <span slot="title">PD04 - Visualización Proveedor</span>
                        <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                      </el-menu-item>
                  </el-submenu>
                  <el-submenu index="7-1-2">
                  <template slot="title">
                    <i class="fa fa-caret-right" style="width:10px"></i>
                    <img  class="el-folder"/> 
                    <span slot="title">Laboratorio</span>
                  </template>
                    <el-menu-item index="7-1-2-1" style="padding-left: 55px !important;" @click="linkRoute('/menu/registrar_laboratorio')">
                        <span slot="title">PD01 - Crear Labotario</span>
                        <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                      </el-menu-item>
                      <el-menu-item index="7-1-2-2" style="padding-left: 55px !important;" @click="linkRoute('/menu/registrar_laboratorio')">
                        <span slot="title">PD02 - Modificar Laboratorio</span>
                        <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                      </el-menu-item>
                      <el-menu-item index="7-1-2-3" style="padding-left: 55px !important;" @click="linkRoute('/menu/registrar_laboratorio')">
                        <span slot="title">PD04 - Visualización Laboratorio</span>
                        <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                      </el-menu-item>
                  </el-submenu>
                </el-submenu>
                <el-submenu index="7-2">
                  <template slot="title">
                    <i class="fa fa-caret-right" style="width:10px"></i>
                    <img  class="el-folder"/> 
                    <span slot="title">Mineral Propio</span>
                  </template>
                    <el-menu-item index="7-2-1" style="padding-left: 55px !important;">
                      <span slot="title">MX01 - Ingreso de datos</span>
                      <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                    </el-menu-item>
                    <el-menu-item index="7-2-2" style="padding-left: 55px !important;">
                      <span slot="title">MX02 - Modificar Datos</span>
                      <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                    </el-menu-item>
                    <el-menu-item index="7-2-3" style="padding-left: 55px !important;">
                      <span slot="title">MX04 - Visualizarr Datos</span>
                      <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                    </el-menu-item>
                </el-submenu>
                <el-submenu index="7-3">
                  <template slot="title">
                    <i class="fa fa-caret-right" style="width:10px"></i>
                    <img  class="el-folder"/> 
                    <span slot="title">Mineral Comprado</span>
                  </template>
                    <el-submenu index="7-3-1">
                      <template slot="title">
                        <i class="fa fa-caret-right" style="width:10px"></i>
                        <img  class="el-folder"/> 
                        <span slot="title">Parametros</span>
                      </template>
                        <el-menu-item index="7-3-1-1" style="padding-left: 75px !important;" @click="linkRoute('/menu/parametros')">
                          <span slot="title">PX01 - Crear Parametros</span>
                          <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                        </el-menu-item>
                        <el-menu-item index="7-3-1-2" style="padding-left: 75px !important;" @click="linkRoute('/menu/parametros')">
                          <span slot="title">PX02 - Modificar Parametros</span>
                          <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                        </el-menu-item>
                        <el-menu-item index="7-3-1-3" style="padding-left: 75px !important;" @click="linkRoute('/menu/parametros')">
                          <span slot="title">PX04 - Visualización Parametros</span>
                          <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                        </el-menu-item>
                        <el-menu-item index="7-3-1-4" style="padding-left: 75px !important;">
                          <span slot="title">PX11 - Ingreso Factor Ajuste</span>
                          <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                        </el-menu-item>
                        <el-menu-item index="7-3-1-5" style="padding-left: 75px !important;">
                          <span slot="title">PX12 - Mantenimiento Factor Ajuste</span>
                          <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                        </el-menu-item>
                        <el-menu-item index="7-3-1-6" style="padding-left: 75px !important;">
                          <span slot="title">PX14 - Visualizar Factor Ajuste</span>
                          <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                        </el-menu-item>
                    </el-submenu>
                    <el-submenu index="7-3-2">
                      <template slot="title">
                        <i class="fa fa-caret-right" style="width:10px"></i>
                        <img  class="el-folder"/> 
                        <span slot="title">Acopio</span>
                      </template>
                        <el-menu-item index="7-3-2-1" style="padding-left: 75px !important;" @click="linkRoute('/menu/acopiador')">
                          <span slot="title">AX01 - Crear Acopiadores</span>
                          <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                        </el-menu-item>
                        <el-menu-item index="7-3-2-2" style="padding-left: 75px !important;" @click="linkRoute('/menu/acopiador')">
                          <span slot="title">AX02 - Modificar Acopiadores</span>
                          <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                        </el-menu-item>
                        <el-menu-item index="7-3-2-3" style="padding-left: 75px !important;" @click="linkRoute('/menu/acopiador')">
                          <span slot="title">AX04 - Visualizar Acopiadores</span>
                          <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                        </el-menu-item>
                        <el-menu-item index="7-3-2-4" style="padding-left: 75px !important;" @click="linkRoute('/menu/zona')">
                          <span slot="title">AX21 - Crear Zonas</span>
                          <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                        </el-menu-item>
                        <el-menu-item index="7-3-2-5" style="padding-left: 75px !important;" @click="linkRoute('/menu/zona')">
                          <span slot="title">AX22 - Modificar Zonas</span>
                          <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                        </el-menu-item>
                        <el-menu-item index="7-3-2-6" style="padding-left: 75px !important;" @click="linkRoute('/menu/zona')">
                          <span slot="title">AX24 - Visualizar Zonas</span>
                          <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                        </el-menu-item>
                        <el-menu-item index="7-3-2-7" style="padding-left: 75px !important;" @click="linkRoute('/menu/persona')">
                          <span slot="title">Persona</span>
                          <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
                        </el-menu-item>   
                    </el-submenu>
                </el-submenu>
            </el-submenu>

            <el-submenu index="8">
              <template slot="title">
                <i class="fa fa-caret-right" style="width:10px"></i>
                <img  class="el-folder" /> 
                <span slot="title">Prueba Persona</span>
              </template>
              <el-menu-item index="8-1" style="padding-left: 55px !important;" @click="linkRoute('/menu/persona')">
                      <span slot="title">Persona</span>
                      <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;"/> 
              </el-menu-item>
              </el-submenu>

            <!-- <el-submenu index="1_0" v-if="verDatosGenerales">
              <template slot="title">
                <i class="fa fa-caret-right" style="width:10px"></i>
                <img  class="el-folder" @click="linkRoute('/menu/inicio')"/> 
                <span slot="title">Ingreso Datos</span>
              </template>
              <el-menu-item
                v-for="(item, index) in accesosGeneral"
                @click="linkRoute(item.strEnlace)"
                :index="item.strIndex"
                :key="item.strIndex">
                <span slot="title"> {{item.strNombre}}</span>
                <img src="../../images/sheet.png"  style="width:17px; height:15px; cursor: pointer;" @click="linkRoute('/menu/inicio')"/> 
              </el-menu-item>
            </el-submenu>
            <el-submenu index="2_0" v-if="verConsultas">
              <template slot="title">
                <i class="fa fa-caret-right" style="width:10px"></i>
                <img   class="el-folder" @click="linkRoute('/menu/inicio')"/> 
                <span slot="title">Consultas</span>
                
              </template>
              <el-menu-item
                v-for="(item, index) in accesosConsultas"
                @click="linkRoute(item.strEnlace)"
                :index="item.strIndex"
                :key="item.strIndex">
                <span slot="title"> {{item.strNombre}}</span>
                
                <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;" @click="linkRoute('/menu/inicio')"/> 
              </el-menu-item>
            </el-submenu>

            <el-submenu index="3_0" v-if="verIngDatos">
              <template slot="title">
                
                <i class="fa fa-caret-right" style="width:10px"></i>
                <img class="el-folder" @click="linkRoute('/menu/inicio')"/> 
                <span slot="title">Liquidación</span>
              </template>
              <el-menu-item
                v-for="(item, index) in accesosIngDatos"
                @click="linkRoute(item.strEnlace)"
                :index="item.strIndex"
                :key="item.strIndex">
                <span slot="title"> {{item.strNombre}}</span>
                
                <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;" @click="linkRoute('/menu/inicio')"/> 
              </el-menu-item>

              <el-submenu index="3_1" v-if="verIDAcopio">
                <template slot="title">
                  <i class="fa fa-info-circle" style="width:20px"></i>
                  <span slot="title">Acopio</span>
                </template>
                <el-menu-item
                  v-for="(item, index) in accesosIDSubAcopio"
                  @click="linkRoute(item.strEnlace)"
                  :index="item.strIndex"
                  :key="item.strIndex">
                  <span slot="title"> {{item.strNombre}}</span>
                  
                      <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;" @click="linkRoute('/menu/inicio')"/> 
                </el-menu-item>
              </el-submenu>
            </el-submenu>
             <el-submenu index="10_0" v-if="verReportes" >
              <template slot="title">
                 <i class="fa fa-caret-right" style="width:10px"></i>
                <img class="el-folder" @click="linkRoute('/menu/inicio')"/> 
                <span slot="title">Reportes</span>
               
              </template>
              <el-menu-item
                v-for="(item, index) in accesosReportes"
                @click="linkRoute(item.strEnlace)"
                :index="item.strIndex"
                :key="item.strIndex">
                <span slot="title"> {{item.strNombre}}</span>
                
                    <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;" @click="linkRoute('/menu/inicio')"/> 
              </el-menu-item>

              <el-submenu index="10_1" v-if="verRepAcopio">
                <template slot="title">
                  <i class="fa fa-area-chart" style="width:20px"></i>
                  <span slot="title">Reportes Acopio</span>
                </template>
                <el-menu-item
                  v-for="(item, index) in accesosRepAcopio"
                  @click="linkRoute(item.strEnlace)"
                  :index="item.strIndex"
                  :key="item.strIndex">
                  <span slot="title"> {{item.strNombre}}</span>
                  
                      <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;" @click="linkRoute('/menu/inicio')"/> 
                </el-menu-item>
              </el-submenu>
              <el-submenu index="10_2" v-if="verRepMargen">
                <template slot="title">
                  <i class="fa fa-line-chart" style="width:20px"></i>
                  <span slot="title">Reportes Margen</span>
                </template>
                <el-menu-item
                  v-for="(item, index) in accesosRepMargen"
                  @click="linkRoute(item.strEnlace)"
                  :index="item.strIndex"
                  :key="item.strIndex">
                  <span slot="title"> {{item.strNombre}}</span>
                  
                  <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;" @click="linkRoute('/menu/inicio')"/> 
                </el-menu-item>
              </el-submenu>
              <el-submenu index="10_3" v-if="verRepPlanta">
                <template slot="title">
                  <i class="fa fa-area-chart" style="width:20px"></i>
                  <span slot="title">Reportes Planta</span>
                </template>
                <el-menu-item
                  v-for="(item, index) in accesosRepPlanta"
                  @click="linkRoute(item.strEnlace)"
                  :index="item.strIndex"
                  :key="item.strIndex">
                  <span slot="title"> {{item.strNombre}}</span>
                  
                      <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;" @click="linkRoute('/menu/inicio')"/> 
                </el-menu-item>
              </el-submenu>
            </el-submenu>
            <el-submenu index="4_0" v-if="verConfig">
              <template slot="title">
                 <i class="fa fa-caret-right" style="width:10px"></i>
                <img class="el-folder" @click="linkRoute('/menu/inicio')"/> 
                <span slot="title">Parametros</span>
                
              </template>
              <el-menu-item
                v-for="(item, index) in accesosConfig"
                @click="linkRoute(item.strEnlace)"
                :index="item.strIndex"
                :key="item.strIndex">
                <span slot="title"> {{item.strNombre}}</span>
                
                    <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;" @click="linkRoute('/menu/inicio')"/> 
              </el-menu-item>
            </el-submenu>

            <el-submenu index="5_0" v-if="verPlanta">
              <template slot="title">
                 <i class="fa fa-caret-right" style="width:10px"></i>
                <img class="el-folder" @click="linkRoute('/menu/inicio')"/> 
                <span slot="title">Planta</span>
               
              </template>
              <el-menu-item
                v-for="(item, index) in accesosPlanta"
                @click="linkRoute(item.strEnlace)"
                :index="item.strIndex"
                :key="item.strIndex">
                <span slot="title"> {{item.strNombre}}</span>
                    <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;" @click="linkRoute('/menu/inicio')"/> 
              </el-menu-item>

              <el-submenu index="5_1" v-if="verRecepcionPL">
                <template slot="title">
                  <i class="fa fa-pencil-square-o" style="width:20px"></i>
                  <span slot="title">Recepción</span>
                </template>
                <el-menu-item
                  v-for="(item, index) in accesosRecepcionPL"
                  @click="linkRoute(item.strEnlace)"
                  :index="item.strIndex"
                  :key="item.strIndex">
                  <span slot="title"> {{item.strNombre}}</span>
                      <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;" @click="linkRoute('/menu/inicio')"/> 
                </el-menu-item>
              </el-submenu>
              <el-submenu index="5_2" v-if="verLixiviacionPL">
                <template slot="title">
                  <i class="fa fa-pencil-square-o" style="width:20px"></i>
                  <span slot="title">Lixiviación</span>
                </template>
                <el-menu-item
                  v-for="(item, index) in accesosLixiviacionPL"
                  @click="linkRoute(item.strEnlace)"
                  :index="item.strIndex"
                  :key="item.strIndex">
                  <span slot="title"> {{item.strNombre}}</span>
                      <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;" @click="linkRoute('/menu/inicio')"/> 
                </el-menu-item>
              </el-submenu>
            </el-submenu>
           
            <el-submenu index="6_0" v-if="verProcesoCierre">
              <template slot="title">
                <i class="fa fa-caret-right" style="width:10px"></i>
                <img class="el-folder" @click="linkRoute('/menu/inicio')"/> 
                <span slot="title">Cierre Periodo</span>
                
              </template>
              <el-menu-item
                v-for="(item, index) in accesosProcesoCierre"
                @click="linkRoute(item.strEnlace)"
                :index="item.strIndex"
                :key="item.strIndex">
                <span slot="title"> {{item.strNombre}}</span>
                    <img src="../../images/sheet.png" style="width:17px; height:15px; cursor: pointer;" @click="linkRoute('/menu/inicio')"/> 
              </el-menu-item>
            </el-submenu> -->
          </el-menu>
        </div>
      </div>
      <el-col :span="dimensionContent" style="padding: 0px 1%; overflow-y:auto; weight:100%; height:100%; background:#ffffff;">
        <ol  style="margin-left: -1.5rem;background: linear-gradient(rgb(229, 241, 247) 0%, rgb(255, 255, 255) 100%);    margin-bottom: 0rem !important;">
          
        </ol>
        <router-view></router-view>
      </el-col>
    </el-row>
  </div>
</template>
<script>
  import BarmenuComponent from '@/components/barmenu/barmenu.component'
  export default BarmenuComponent
</script>
<style>


</style>
