<template>
  <div>
    <ol  style="margin-left: -1.5rem;background: linear-gradient(rgb(229, 241, 247) 0%, rgb(255, 255, 255) 100%);    margin-bottom: 0rem !important;">
        <quickaccessmenu v-on:guardarTodo="guardarTodo($event)" v-on:backPage="backPage($event)"  v-on:reloadpage="reloadpage($event)"></quickaccessmenu>
        </ol>
    <el-card class="box-card" style="margin-top:5px;">
        <div slot="header" class="headercard"  >
          <span class="labelheadercard">Parametros liquidación</span>
        </div>

      <!--||=============================================||
          ||               PARAMETROS ZONA               ||
          ||=============================================|| -->
      <el-tabs type="border-card" v-model="activeName" @tab-click="handleTabClick">
        <el-tab-pane label="Por Zona" name="first">
          <el-card class="box-card">
            <div slot="header" class="headercard">
                <span class="labelheadercard" >Por Zona
                  <el-button class="buttonfilter btn btn-outline-secondary orange" style="margin-top: -3px;" @click="handleAgregarPZona()">
                      <img class="imagenfilter" src="../../images/nuevo.png" style="margin-left: 0px;width: 15px;height: 16px;" alt="" >
                  </el-button>
                  <el-button class="buttonfilter btn btn-outline-secondary orange" style="margin-top: -3px;" @click="handleEditZona2()">
                      <img class="imagenfilter" src="../../images/btn_editar.png" style="margin-left: 0px;width: 15px;height: 16px;" alt="" >
                  </el-button>
                </span>
            </div>
            <!-- <el-button type="primary" size="small" v-if="viewAccessEscritura" @click="handleAgregarPZona()"><i class="fa fa-plus"></i> Agregar</el-button> -->
            <div class="headercard" >
              <buttons-accions v-on:Limpiar="clickactive('B')" v-on:Buscar="clickactive('A')" v-on:AscItem="AscItem" v-on:DscItem="DscItem" v-on:siguiente="siguiente()" v-on:anterior="anterior()" v-on:EliminarItem="EliminarItem()" ></buttons-accions>
            </div> 
            <el-table
            ref="missionTable"
              :data="gridDataZona"
              stripe  :default-sort = "{prop: 'date', order: 'descending'}"
              border
              :max-height="sizeScreen"
              @row-click="seleccionarRow"
              highlight-current-row
              v-loading="loadingGetData"
              class="ExcelTable2007"
              element-loading-text="Cargando Zonas..."
              style="width:100%;font-size:10px;margin:10px 0px">
              <el-table-column prop="strZona" label="Zona" width="110"></el-table-column>
              <el-table-column label="AU" align="center">
                <el-table-column prop="fltRecComMax" label="Rec Com" align="center"></el-table-column>
                <el-table-column prop="fltMargenMax" label="Margen" align="center"></el-table-column>
                <el-table-column prop="fltMaquilaMax" label="Maquila" align="center"></el-table-column>
                <el-table-column prop="fltConsumoMax" label="Consumo" align="center"></el-table-column>
                <el-table-column prop="fltGastAdmMax" label="Gast Adm" align="center"></el-table-column>
                <el-table-column prop="fltGastLabMax" label="Gast Lab" align="center"></el-table-column>
                <el-table-column label="% H2O" align="center">
                  <template scope="scope"><span>{{getPorcentage(scope.row.fltPorcHumedMax)}}</span></template>
                </el-table-column>
                <el-table-column label="Peso" align="center">
                  <template scope="scope"><span>{{getPorcentage(scope.row.fltPesoMax)}}</span></template>
                </el-table-column>
              </el-table-column>
              <el-table-column label="AG" align="center">
                <el-table-column prop="fltRecAgMax" label="Rec Ag" align="center"></el-table-column>
                <el-table-column prop="fltLeyAgMax" label="Ley Ag" align="center"></el-table-column>
                <el-table-column prop="fltLeyAgComMax" label="Ley Ag Com" align="center"></el-table-column>
                <el-table-column prop="fltMargenAgMax" label="Margen Ag" align="center"></el-table-column>
                <el-table-column prop="fltRecAgComMax" label="Rec Ag Com" align="center"></el-table-column>
              </el-table-column>
              <el-table-column label="INTERNO" align="center">
                <el-table-column prop="fltRecIntMax" label="Rec Int" align="center"></el-table-column>
                <el-table-column prop="fltMaquilaIntMax" label="Maquila Int" align="center"></el-table-column>
                <el-table-column prop="fltConsumoIntMax" label="Consumo Int" align="center"></el-table-column>
                <el-table-column prop="fltTmsLiqMax" label="Tmh Int" align="center"></el-table-column>
                <el-table-column prop="fltTmsIntMax" label="Tms Int" align="center"></el-table-column>
              </el-table-column>
              <!-- <el-table-column label="Operaciones" fixed="right" align="center" width="180" v-if="viewAccessEscritura">
                <template scope="scope">
                  <el-button size="mini" icon="edit" @click="handleEditZona(scope.$index, scope.row)">Editar</el-button>
                  <el-button size="mini" type="success" @click="handleDuplicarParam(scope.$index, scope.row)"><i class="fa fa-copy"></i> Duplicar</el-button>
                </template>
              </el-table-column> -->
            </el-table>
          </el-card>
        </el-tab-pane>

        <!--||=============================================||
            ||            PARAMETROS PROVEEDOR             ||
            ||=============================================|| -->
        <el-tab-pane label="Por Proveedor" name="second">
            <el-card class="box-card">
              <div slot="header" class="headercard">
                  <span class="labelheadercard" >Por Proveedor
                    <el-button class="buttonfilter btn btn-outline-secondary orange" style="margin-top: -3px;" @click="handleAgregarPProv()" v-if="viewAccessEscritura">
                        <img class="imagenfilter" src="../../images/nuevo.png" style="margin-left: 0px;width: 15px;height: 16px;" alt="" >
                    </el-button>
                    <el-button class="buttonfilter btn btn-outline-secondary orange" style="margin-top: -3px;" @click="handleEditProv2()">
                        <img class="imagenfilter" src="../../images/btn_editar.png" style="margin-left: 0px;width: 15px;height: 16px;" alt="" >
                    </el-button>
                  </span>
              </div>
              <el-table
                :data="gridDataProveedor"
                border
                @row-click="seleccionarRowProveedor"
                highlight-current-row
                style="width: 100%; font-size: 10px;margin-top:5px">
                <el-table-column prop="strProveedor" label="Proveedor" min-width="250"></el-table-column>
                <el-table-column label="AU" align="center">
                  <el-table-column label="Rec Com" align="center">
                    <template scope="scope"><span>{{scope.row.fltRecComMax}}</span></template>
                  </el-table-column>
                  <el-table-column label="Margen" align="center">
                    <template scope="scope"><span>{{scope.row.fltMargenMax}}</span></template>
                  </el-table-column>
                  <el-table-column label="Maquila" align="center">
                    <template scope="scope"><span>{{scope.row.fltMaquilaMax}}</span></template>
                  </el-table-column>
                  <el-table-column label="Consumo" align="center">
                    <template scope="scope"><span>{{scope.row.fltConsumoMax}}</span></template>
                  </el-table-column>
                  <el-table-column label="Gast Adm" align="center">
                    <template scope="scope"><span>{{scope.row.fltGastAdmMax}}</span></template>
                  </el-table-column>
                  <el-table-column label="Gast Lab" align="center">
                    <template scope="scope"><span>{{scope.row.fltGastLabMax}}</span></template>
                  </el-table-column>
                  <el-table-column label="% H2O" align="center">
                    <template scope="scope"><span>{{getPorcentage(scope.row.fltPorcHumedMax)}}</span></template>
                  </el-table-column>
                  <el-table-column label="Peso" align="center">
                    <template scope="scope"><span>{{getPorcentage(scope.row.fltPesoMax)}}</span></template>
                  </el-table-column>
                </el-table-column>
                <el-table-column label="AG" align="center">
                  <el-table-column label="Rec Ag" align="center">
                    <template scope="scope"><span>{{scope.row.fltRecAgMax}}</span></template>
                  </el-table-column>
                  <el-table-column label="Ley Ag" align="center">
                    <template scope="scope"><span>{{scope.row.fltLeyAgMax}}</span></template>
                  </el-table-column>
                  <el-table-column label="Ley Ag Com" align="center">
                    <template scope="scope"><span>{{scope.row.fltLeyAgComMax}}</span></template>
                  </el-table-column>
                  <el-table-column label="Margen Ag" align="center">
                    <template scope="scope"><span>{{scope.row.fltMargenAgMax}}</span></template>
                  </el-table-column>
                  <el-table-column label="Rec Ag Com" align="center">
                    <template scope="scope"><span>{{scope.row.fltRecAgComMax}}</span></template>
                  </el-table-column>
                </el-table-column>
                <el-table-column label="INTERNO" align="center">
                  <el-table-column label="Rec Int" align="center">
                    <template scope="scope"><span>{{scope.row.fltRecIntMax}}</span></template>
                  </el-table-column>
                  <el-table-column label="Maquila Int" align="center">
                    <template scope="scope"><span>{{scope.row.fltMaquilaIntMax}}</span></template>
                  </el-table-column>
                  <el-table-column label="Consumo Int" align="center">
                    <template scope="scope"><span>{{scope.row.fltConsumoIntMax}}</span></template>
                  </el-table-column>
                  <el-table-column label="Tmh Int" align="center">
                    <template scope="scope"><span>{{scope.row.fltTmsLiqMax}}</span></template>
                  </el-table-column>
                  <el-table-column label="Tms Int" align="center">
                    <template scope="scope"><span>{{scope.row.fltTmsIntMax}}</span></template>
                  </el-table-column>
                </el-table-column>
                <!-- <el-table-column label="Operaciones" fixed="right" align="center" width="180" v-if="viewAccessEscritura">
                  <template scope="scope">
                    <el-button size="mini" icon="edit" @click="handleEditProv(scope.$index, scope.row)">Editar</el-button>
                    <el-button size="mini" type="success" @click="handleDuplicarParamProv(scope.$index, scope.row)"><i class="fa fa-copy"></i> Duplicar</el-button>
                  </template>
                </el-table-column> -->
              </el-table>
            </el-card>
          <!-- <el-button type="primary" size="small" @click="handleAgregarPProv()"><i class="fa fa-plus" v-if="viewAccessEscritura"></i> Agregar</el-button> -->
          
        </el-tab-pane>

        <!--||=============================================||
            ||            PRECIO INTERNACIONAL             ||
            ||=============================================|| -->
        <el-tab-pane label="Precio Internacional" name="third">
          <el-card class="box-card">
            <div slot="header" class="headercard">
                <span class="labelheadercard" >Precio Internacional
                  <el-button class="buttonfilter btn btn-outline-secondary orange" style="margin-top: -3px;" @click="getPrecioInternacional()">
                    <img class="imagenfilter" src="../../images/buscari.png" style="margin-left: 0px;width: 15px;height: 16px;" alt="" >
                  </el-button>
                  <el-button class="buttonfilter btn btn-outline-secondary orange" style="margin-top: -3px;" @click="handleAgregarPI()" v-if="viewAccessEscritura">
                      <img class="imagenfilter" src="../../images/nuevo.png" style="margin-left: 0px;width: 15px;height: 16px;" alt="" >
                  </el-button>
                  <el-button class="buttonfilter btn btn-outline-secondary orange" style="margin-top: -3px;" @click="handleEditPI2()">
                      <img class="imagenfilter" src="../../images/btn_editar.png" style="margin-left: 0px;width: 15px;height: 16px;" alt="" >
                  </el-button>
                </span>
            </div>
            <div class="row bodycard">
              <div class="container">
                <div class="row" >
                  <div class="col-sm-3">
                    <div class="form-group row " style="margin-top: 1px;">
                        <label class="el-form-item__label col-md-3" >Mes</label>
                        <div class="col-md-7 grupolabel">
                          <div class="input-group mb-3" >
                            <el-date-picker
                              v-model="fechaPrecioInter"
                              type="month"
                              size="small"
                              format="MMMM / yyyy"
                              placeholder="Seleccione Mes"
                              :editable = "false">
                            </el-date-picker>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
                <el-table
                  :data="gridDataPrecioInter"
                  border
                  highlight-current-row
                  v-loading="loadingGetDataPI"
                  :max-height="sizeScreen"
                  @row-click="seleccionarRowInternacional"
                  element-loading-text="Cargando precios..."
                  style="width:60%;font-size:11px;margin:5px 0px">
                  <el-table-column label="FECHA" align="center">
                    <template scope="scope">
                      <span>{{ getDateString(scope.row.dtmFecha) }}</span>
                    </template>
                  </el-table-column>
                  <el-table-column label="GOLD" align="center">
                    <el-table-column prop="strGoldAM" label="AM" align="center"></el-table-column>
                    <el-table-column prop="strGoldPM" label="PM" align="center"></el-table-column>
                  </el-table-column>
                  <el-table-column prop="strSilver" label="SILVER" align="center"></el-table-column>
                  <el-table-column label="Operaciones" align="center" width="100" v-if="viewAccessEscritura">
                    <template scope="scope">
                      <el-button icon="edit" size="mini" type="success"
                        @click="handleEditPI(scope.$index, scope.row)">Editar</el-button>
                    </template>
                  </el-table-column>
                </el-table>
              </div>
            </div> 
          </el-card>
        </el-tab-pane>

        <!--||=============================================||
            ||            FACTOR DE CONVERSIÓN             ||
            ||=============================================|| -->
        <el-tab-pane label="Factor Conversión" name="fourth">
          <el-form label-width="140px" label-position="left" style="margin-left:3%">
            <el-row>
              <el-col :span="8">
                <el-form-item label="Factor Conversión:" class="marginFormItem">
                  <el-input type="number" placeholder="*" v-model="Factor_Conversion" auto-complete="off" size="small"></el-input>
                </el-form-item>
                <div class="" align="center">
                  <el-button type="primary" icon="search" v-if="viewAccessEscritura" @click="ActualizarFactorConv(Factor_Conversion)">Actualizar</el-button>
                </div>
              </el-col>
            </el-row>
          </el-form>
        </el-tab-pane>
      </el-tabs>
    </el-card>


    <!--||=============================================||
        ||         AGREGAR PARAMETROS POR ZONA         ||
        ||=============================================|| -->
    <el-dialog  title="AGREGAR PARAMETRO" size="large" :visible.sync="dialogAgregarPZonaVisible" @close="dialogAgregarPZonaVisible=false">
      <div style="background:#EEEEEE; width:100%;height:40px;">
        <table cellpadding="0" cellspacing="1" style="margin-bottom:10px; margin-left:30px;" class="hx">
          <tr>
            <td class="texto_labelDialogRight" style="font-size:13px;">Zona:</td>
            <td style="padding-top:3px;padding-left:20px;">
              <el-select v-model="FormAgregarPZona.intIdZona" filterable placeholder="Seleccione Zona" size="small">
                <el-option
                  v-for="item in dataZonas"
                  :key="item.intIdZona"
                  :label="item.strZona"
                  :value="item.intIdZona">
                </el-option>
              </el-select>
            </td>
          </tr>
        </table>
      </div>

      <el-row style="padding:5px 2%">
        <el-col :span="8">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#30476ccc;" align="center">
              <span>AU</span>
            </div>
            <div class="containerForm">
              <el-row>
                <el-col :span="4" :offset="6" style="padding-right:2px" align="center">
                  <span style="color:green"><b>Valor</b></span>
                </el-col>
                <el-col :span="4" style="padding-right:2px" align="center">
                  <span style="color:red"><b>Interv.</b></span>
                </el-col>
                <el-col :span="4" :offset="6" style="padding-right:2px" align="center">
                  <span style="color:green"><b>Valor</b></span>
                </el-col>
              </el-row>
              <el-row style="margin-top:5px">
                <el-col :span="6">
                  <span>Rec.Com:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="FormAgregarPZona.fltRecComMax" auto-complete="off" size="mini"></el-input>
                </el-col>
                <el-col :span="6" :offset="4" style="padding-left:10px">
                  <span>Margen:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="FormAgregarPZona.fltMargenMax" auto-complete="off" size="mini"></el-input>
                </el-col>
              </el-row>
              <el-row style="margin-top:5px">
                <el-col :span="6">
                  <span>Maquila:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="FormAgregarPZona.fltMaquilaMax" auto-complete="off" size="mini"></el-input>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="FormAgregarPZona.fltMaquilaMin" auto-complete="off" size="mini"></el-input>
                </el-col>
                <el-col :span="6" style="padding-left:10px">
                  <span>Consumo:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="FormAgregarPZona.fltConsumoMax" auto-complete="off" size="mini"></el-input>
                </el-col>
              </el-row>
              <el-row style="margin-top:5px">
                <el-col :span="6">
                  <span>Gast. Adm:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="FormAgregarPZona.fltGastAdmMax" auto-complete="off" size="mini"></el-input>
                </el-col>
                <el-col :span="6" :offset="4" style="padding-left:10px">
                  <span>Gast. Lab:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="FormAgregarPZona.fltGastLabMax" auto-complete="off" size="mini"></el-input>
                </el-col>
              </el-row>
              <el-row style="margin-top:5px">
                <el-col :span="6">
                  <span>% H2O:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="FormAgregarPZona.fltPorcHumedMax" auto-complete="off" size="mini"></el-input>
                </el-col>
                <el-col :span="6" :offset="4" style="padding-left:10px">
                  <span>Peso:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="FormAgregarPZona.fltPesoMax" auto-complete="off" size="mini"></el-input>
                </el-col>
              </el-row>
            </div>
          </div>
        </el-col>
        <el-col :span="8" style="padding-left:1%">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#1957b3b0;" align="center">
              <span>AG</span>
            </div>
            <div class="containerForm">
              <el-row>
                <el-col :span="4" :offset="6"  style="padding-left:2px" align="center">
                  <span style="color:green"><b>Valor</b></span>
                </el-col>
                <el-col :span="4" :offset="6" style="padding-left:2px" align="center">
                  <span style="color:green"><b>Valor</b></span>
                </el-col>
              </el-row>
              <el-row style="margin-top:5px">
                <el-col :span="6">
                  <span>Rec.Ag:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="FormAgregarPZona.fltRecAgMax" auto-complete="off" size="mini"></el-input>
                </el-col>
                <el-col :span="6" style="padding-left:10px">
                  <span>Ley Ag Com:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="FormAgregarPZona.fltLeyAgComMax" auto-complete="off" size="mini"></el-input>
                </el-col>
              </el-row>
              <el-row style="margin-top:5px">
                <el-col :span="6">
                  <span>Ley Ag:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="FormAgregarPZona.fltLeyAgMax" auto-complete="off" size="mini"></el-input>
                </el-col>
                <el-col :span="6" style="padding-left:10px">
                  <span>Rec Ag Com:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="FormAgregarPZona.fltRecAgComMax" auto-complete="off" size="mini"></el-input>
                </el-col>
              </el-row>
              <el-row style="margin-top:5px">
                <el-col :span="6">
                  <span>Margen Ag:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="FormAgregarPZona.fltMargenAgMax" auto-complete="off" size="mini"></el-input>
                </el-col>
              </el-row>
            </div>
          </div>
        </el-col>
        <el-col :span="8" style="padding-left:1%">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#e5dfd4;" align="center">
              <span style="color:#30476c">INTERNO</span>
            </div>
            <div class="containerForm">
              <el-row>
                <el-col :span="4" :offset="6" style="padding-right:2px" align="center">
                  <span style="color:green"><b>Valor</b></span>
                </el-col>
                <el-col :span="4" :offset="6" style="padding-right:2px" align="center">
                  <span style="color:green"><b>Valor</b></span>
                </el-col>
              </el-row>
              <el-row style="margin-top:5px">
                <el-col :span="6">
                  <span>Rec. Int:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="FormAgregarPZona.fltRecIntMax" auto-complete="off" size="mini"></el-input>
                </el-col>
                <el-col :span="6" style="padding-left:10px">
                  <span>Tmh Int:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="FormAgregarPZona.fltTmsLiqMax" auto-complete="off" size="mini"></el-input>
                </el-col>
              </el-row>
              <el-row style="margin-top:5px">
                <el-col :span="6">
                  <span>Maquila Int:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="FormAgregarPZona.fltMaquilaIntMax" auto-complete="off" size="mini"></el-input>
                </el-col>
                <el-col :span="6" style="padding-left:10px">
                  <span>Tms Int:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="FormAgregarPZona.fltTmsIntMax" auto-complete="off" size="mini"></el-input>
                </el-col>
              </el-row>
              <el-row style="margin-top:5px">
                <el-col :span="6">
                  <span>Consumo Int:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="FormAgregarPZona.fltConsumoIntMax" auto-complete="off" size="mini"></el-input>
                </el-col>
              </el-row>
            </div>
          </div>
        </el-col>
      </el-row>
      <div style="margin-top:7px"></div>
      <span slot="footer" class="dialog-footer">
        <el-button type="danger" plain @click="dialogAgregarPZonaVisible = false">Cancelar</el-button>
        <el-button type="primary" @click="AgregarParametroPZona(FormAgregarPZona)">Agregar</el-button>
      </span>
    </el-dialog>

    <!--||=============================================||
        ||       ACTUALIZAR PARAMETROS POR ZONA        ||
        ||=============================================|| -->
    <el-dialog  title="ACTUALIZAR PARAMETRO" size="large" :visible.sync="dialogEditarPZonaVisible" @close="dialogEditarPZonaVisible=false">
      <div style="background:#EEEEEE; width:100%;height:40px;">
        <table cellpadding="0" cellspacing="1" style="margin-bottom:10px; margin-left:30px;" class="hx">
          <tr>
            <td class="texto_labelDialogRight" style="font-size:13px;">Zona:</td>
            <td style="padding-top:3px;padding-left:20px;">
              <el-select v-model="rowEditZona.intIdZona" filterable placeholder="Seleccione Zona" size="small">
                <el-option
                  v-for="item in dataZonas"
                  :key="item.intIdZona"
                  :label="item.strZona"
                  :value="item.intIdZona">
                </el-option>
              </el-select>
            </td>
          </tr>
        </table>
      </div>

      <el-row style="padding:5px 2%">
        <el-col :span="8">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#30476ccc;" align="center">
              <span>AU</span>
            </div>
            <div class="containerForm">
              <el-row>
                <el-col :span="4" :offset="6" style="padding-right:2px" align="center">
                  <span style="color:green"><b>Valor</b></span>
                </el-col>
                <el-col :span="4" style="padding-right:2px" align="center">
                  <span style="color:red"><b>Interv.</b></span>
                </el-col>
                <el-col :span="4" :offset="6" style="padding-right:2px" align="center">
                  <span style="color:green"><b>Valor</b></span>
                </el-col>
              </el-row>
              <el-row style="margin-top:5px">
                <el-col :span="6">
                  <span>Rec.Com:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="rowEditZona.fltRecComMax" auto-complete="off" size="mini"></el-input>
                </el-col>
                <el-col :span="6" :offset="4" style="padding-left:10px">
                  <span>Margen:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="rowEditZona.fltMargenMax" auto-complete="off" size="mini"></el-input>
                </el-col>
              </el-row>
              <el-row style="margin-top:5px">
                <el-col :span="6">
                  <span>Maquila:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="rowEditZona.fltMaquilaMax" auto-complete="off" size="mini"></el-input>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="rowEditZona.fltMaquilaMin" auto-complete="off" size="mini"></el-input>
                </el-col>
                <el-col :span="6" style="padding-left:10px">
                  <span>Consumo:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="rowEditZona.fltConsumoMax" auto-complete="off" size="mini"></el-input>
                </el-col>
              </el-row>
              <el-row style="margin-top:5px">
                <el-col :span="6">
                  <span>Gast. Adm:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="rowEditZona.fltGastAdmMax" auto-complete="off" size="mini"></el-input>
                </el-col>
                <el-col :span="6" :offset="4" style="padding-left:10px">
                  <span>Gast. Lab:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="rowEditZona.fltGastLabMax" auto-complete="off" size="mini"></el-input>
                </el-col>
              </el-row>
              <el-row style="margin-top:5px">
                <el-col :span="6">
                  <span>% H2O:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="rowEditZona.fltPorcHumedMax" auto-complete="off" size="mini"></el-input>
                </el-col>
                <el-col :span="6" :offset="4" style="padding-left:10px">
                  <span>Peso:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="rowEditZona.fltPesoMax" auto-complete="off" size="mini"></el-input>
                </el-col>
              </el-row>
            </div>
          </div>
        </el-col>
        <el-col :span="8" style="padding-left:1%">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#1957b3b0;" align="center">
              <span>AG</span>
            </div>
            <div class="containerForm">
              <el-row>
                <el-col :span="4" :offset="6"  style="padding-left:2px" align="center">
                  <span style="color:green"><b>Valor</b></span>
                </el-col>
                <el-col :span="4" :offset="6" style="padding-left:2px" align="center">
                  <span style="color:green"><b>Valor</b></span>
                </el-col>
              </el-row>
              <el-row style="margin-top:5px">
                <el-col :span="6">
                  <span>Rec.Ag:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="rowEditZona.fltRecAgMax" auto-complete="off" size="mini"></el-input>
                </el-col>
                <el-col :span="6" style="padding-left:10px">
                  <span>Ley Ag Com:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="rowEditZona.fltLeyAgComMax" auto-complete="off" size="mini"></el-input>
                </el-col>
              </el-row>
              <el-row style="margin-top:5px">
                <el-col :span="6">
                  <span>Ley Ag:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="rowEditZona.fltLeyAgMax" auto-complete="off" size="mini"></el-input>
                </el-col>
                <el-col :span="6" style="padding-left:10px">
                  <span>Rec Ag Com:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="rowEditZona.fltRecAgComMax" auto-complete="off" size="mini"></el-input>
                </el-col>
              </el-row>
              <el-row style="margin-top:5px">
                <el-col :span="6">
                  <span>Margen Ag:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="rowEditZona.fltMargenAgMax" auto-complete="off" size="mini"></el-input>
                </el-col>
              </el-row>
            </div>
          </div>
        </el-col>
        <el-col :span="8" style="padding-left:1%">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#e5dfd4;" align="center">
              <span style="color:#30476c">INTERNO</span>
            </div>
            <div class="containerForm">
              <el-row>
                <el-col :span="4" :offset="6" style="padding-right:2px" align="center">
                  <span style="color:green"><b>Valor</b></span>
                </el-col>
                <el-col :span="4" :offset="6" style="padding-right:2px" align="center">
                  <span style="color:green"><b>Valor</b></span>
                </el-col>
              </el-row>
              <el-row style="margin-top:5px">
                <el-col :span="6">
                  <span>Rec. Int:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="rowEditZona.fltRecIntMax" auto-complete="off" size="mini"></el-input>
                </el-col>
                <el-col :span="6" style="padding-left:10px">
                  <span>Tmh Int:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="rowEditZona.fltTmsLiqMax" auto-complete="off" size="mini"></el-input>
                </el-col>
              </el-row>
              <el-row style="margin-top:5px">
                <el-col :span="6">
                  <span>Maquila Int:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="rowEditZona.fltMaquilaIntMax" auto-complete="off" size="mini"></el-input>
                </el-col>
                <el-col :span="6" style="padding-left:10px">
                  <span>Tms Int:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="rowEditZona.fltTmsIntMax" auto-complete="off" size="mini"></el-input>
                </el-col>
              </el-row>
              <el-row style="margin-top:5px">
                <el-col :span="6">
                  <span>Consumo Int:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="rowEditZona.fltConsumoIntMax" auto-complete="off" size="mini"></el-input>
                </el-col>
              </el-row>
            </div>
          </div>
        </el-col>
      </el-row>
      <div style="margin-top:7px"></div>
      <span slot="footer" class="dialog-footer">
        <el-button type="danger" plain @click="dialogEditarPZonaVisible = false">Cancelar</el-button>
        <el-button type="primary" icon="edit" @click="EditarParametroPZona(rowEditZona)">Guardar</el-button>
      </span>
    </el-dialog>

    <!-- AGREGAR PRECIO INTERNACIONAL -->
    <el-dialog  title="AGREGAR PRECIO INTERNACIONAL" size="tiny" :visible.sync="dialogAgregarPIVisible" @close="dialogAgregarPIVisible=false">
      <el-form  :model="FormAgregarPI" label-width="120px" style="padding:10px 20px">
        <el-form-item label="Fecha:" class="marginFormItem">
          <el-date-picker
            v-model="fechaAgregarPI"
            size="small"
            format="dd/MM/yyyy"
            placeholder="Seleccione fecha"
            :editable = "true">
          </el-date-picker>
        </el-form-item>
        <el-form-item label="Gold AM:" class="marginFormItem">
          <el-input placeholder="Gold AM" size="small" v-model="FormAgregarPI.strGoldAM" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="Gold PM:" class="marginFormItem">
          <el-input placeholder="Gold PM" size="small" v-model="FormAgregarPI.strGoldPM" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="Silver:" class="marginFormItem">
          <el-input placeholder="Silver" size="small" v-model="FormAgregarPI.strSilver" auto-complete="off"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button type="danger" size="small" plain @click="dialogAgregarPIVisible = false">Cancelar</el-button>
        <el-button type="primary" size="small" icon="edit" @click="GuardarPrecioInter(FormAgregarPI)">Guardar</el-button>
      </span>
    </el-dialog>

    <!-- EDITAR PRECIO INTERNACIONAL -->
    <el-dialog  title="EDITAR PRECIO INTERNACIONAL" size="tiny" :visible.sync="dialogEditarPIVisible" @close="dialogEditarPIVisible=false">
      <el-form  :model="FormAgregarPI" label-width="120px" style="padding:10px 20px">
        <el-form-item label="Fecha:" class="marginFormItem">
          <el-date-picker
            v-model="fechaEditarPI"
            size="small"
            format="dd/MM/yyyy"
            placeholder="Seleccione fecha"
            :editable = "true">
          </el-date-picker>
        </el-form-item>
        <el-form-item label="Gold AM:" class="marginFormItem">
          <el-input placeholder="Gold AM" size="small" v-model="rowEditPI.strGoldAM" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="Gold PM:" class="marginFormItem">
          <el-input placeholder="Gold PM" size="small" v-model="rowEditPI.strGoldPM" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="Silver:" class="marginFormItem">
          <el-input placeholder="Silver" size="small" v-model="rowEditPI.strSilver" auto-complete="off"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button type="danger" size="small" plain @click="dialogEditarPIVisible = false">Cancelar</el-button>
        <el-button type="primary" size="small" icon="edit" @click="EditarPrecioInter(rowEditPI)">Guardar</el-button>
      </span>
    </el-dialog>

    <!--||=============================================||
        ||      AGREGAR PARAMETROS POR PROVEEDOR       ||
        ||=============================================|| -->
    <el-dialog  title="AGREGAR PARAMETRO" size="large" :visible.sync="dialogAgregarPProVisible" @close="dialogAgregarPProVisible=false">
      <div style="background:#EEEEEE; width:100%;height:40px;">
        <table cellpadding="0" cellspacing="1" style="margin-bottom:10px; margin-left:30px;" class="hx">
          <tr>
            <td class="texto_labelDialogRight" style="font-size:13px;">Proveedor:</td>
            <td style="padding-top:3px;padding-left:20px;">
              <el-select v-model="FormAgregarPProv.intIdProveedor" filterable clearable placeholder="Seleccione Proveedor" size="small">
                <el-option
                  v-for="item in dataProveedores"
                  :key="item.intIdProveedor"
                  :label="item.strRazonS"
                  :value="item.intIdProveedor">
                </el-option>
              </el-select>
            </td>
          </tr>
        </table>
      </div>

      <el-row style="padding:5px 2%">
        <el-col :span="8">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#30476ccc;" align="center">
              <span>AU</span>
            </div>
            <div class="containerForm">
              <el-row>
                <el-col :span="4" :offset="6" style="padding-right:2px" align="center">
                  <span style="color:green"><b>Valor</b></span>
                </el-col>
                <el-col :span="4" style="padding-right:2px" align="center">
                  <span style="color:red"><b>Interv.</b></span>
                </el-col>
                <el-col :span="4" :offset="6" style="padding-right:2px" align="center">
                  <span style="color:green"><b>Valor</b></span>
                </el-col>
              </el-row>
              <el-row style="margin-top:5px">
                <el-col :span="6">
                  <span>Rec.Com:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="FormAgregarPProv.fltRecComMax" auto-complete="off" size="mini"></el-input>
                </el-col>
                <el-col :span="6" :offset="4" style="padding-left:10px">
                  <span>Margen:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="FormAgregarPProv.fltMargenMax" auto-complete="off" size="mini"></el-input>
                </el-col>
              </el-row>
              <el-row style="margin-top:5px">
                <el-col :span="6">
                  <span>Maquila:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="FormAgregarPProv.fltMaquilaMax" auto-complete="off" size="mini"></el-input>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="FormAgregarPProv.fltMaquilaMin" auto-complete="off" size="mini"></el-input>
                </el-col>
                <el-col :span="6" style="padding-left:10px">
                  <span>Consumo:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="FormAgregarPProv.fltConsumoMax" auto-complete="off" size="mini"></el-input>
                </el-col>
              </el-row>
              <el-row style="margin-top:5px">
                <el-col :span="6">
                  <span>Gast. Adm:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="FormAgregarPProv.fltGastAdmMax" auto-complete="off" size="mini"></el-input>
                </el-col>
                <el-col :span="6" :offset="4" style="padding-left:10px">
                  <span>Gast. Lab:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="FormAgregarPProv.fltGastLabMax" auto-complete="off" size="mini"></el-input>
                </el-col>
              </el-row>
              <el-row style="margin-top:5px">
                <el-col :span="6">
                  <span>% H2O:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="FormAgregarPProv.fltPorcHumedMax" auto-complete="off" size="mini"></el-input>
                </el-col>
                <el-col :span="6" :offset="4" style="padding-left:10px">
                  <span>Peso:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="FormAgregarPProv.fltPesoMax" auto-complete="off" size="mini"></el-input>
                </el-col>
              </el-row>
            </div>
          </div>
        </el-col>
        <el-col :span="8" style="padding-left:1%">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#1957b3b0;" align="center">
              <span>AG</span>
            </div>
            <div class="containerForm">
              <el-row>
                <el-col :span="4" :offset="6"  style="padding-left:2px" align="center">
                  <span style="color:green"><b>Valor</b></span>
                </el-col>
                <el-col :span="4" :offset="6" style="padding-left:2px" align="center">
                  <span style="color:green"><b>Valor</b></span>
                </el-col>
              </el-row>
              <el-row style="margin-top:5px">
                <el-col :span="6">
                  <span>Rec.Ag:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="FormAgregarPProv.fltRecAgMax" auto-complete="off" size="mini"></el-input>
                </el-col>
                <el-col :span="6" style="padding-left:10px">
                  <span>Ley Ag Com:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="FormAgregarPProv.fltLeyAgComMax" auto-complete="off" size="mini"></el-input>
                </el-col>
              </el-row>
              <el-row style="margin-top:5px">
                <el-col :span="6">
                  <span>Ley Ag:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="FormAgregarPProv.fltLeyAgMax" auto-complete="off" size="mini"></el-input>
                </el-col>
                <el-col :span="6" style="padding-left:10px">
                  <span>Rec Ag Com:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="FormAgregarPProv.fltRecAgComMax" auto-complete="off" size="mini"></el-input>
                </el-col>
              </el-row>
              <el-row style="margin-top:5px">
                <el-col :span="6">
                  <span>Margen Ag:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="FormAgregarPProv.fltMargenAgMax" auto-complete="off" size="mini"></el-input>
                </el-col>
              </el-row>
            </div>
          </div>
        </el-col>
        <el-col :span="8" style="padding-left:1%">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#e5dfd4;" align="center">
              <span style="color:#30476c">INTERNO</span>
            </div>
            <div class="containerForm">
              <el-row>
                <el-col :span="4" :offset="6" style="padding-right:2px" align="center">
                  <span style="color:green"><b>Valor</b></span>
                </el-col>
                <el-col :span="4" :offset="6" style="padding-right:2px" align="center">
                  <span style="color:green"><b>Valor</b></span>
                </el-col>
              </el-row>
              <el-row style="margin-top:5px">
                <el-col :span="6">
                  <span>Rec. Int:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="FormAgregarPProv.fltRecIntMax" auto-complete="off" size="mini"></el-input>
                </el-col>
                <el-col :span="6" style="padding-left:10px">
                  <span>Tmh Int:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="FormAgregarPProv.fltTmsLiqMax" auto-complete="off" size="mini"></el-input>
                </el-col>
              </el-row>
              <el-row style="margin-top:5px">
                <el-col :span="6">
                  <span>Maquila Int:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="FormAgregarPProv.fltMaquilaIntMax" auto-complete="off" size="mini"></el-input>
                </el-col>
                <el-col :span="6" style="padding-left:10px">
                  <span>Tms Int:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="FormAgregarPProv.fltTmsIntMax" auto-complete="off" size="mini"></el-input>
                </el-col>
              </el-row>
              <el-row style="margin-top:5px">
                <el-col :span="6">
                  <span>Consumo Int:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="FormAgregarPProv.fltConsumoIntMax" auto-complete="off" size="mini"></el-input>
                </el-col>
              </el-row>
            </div>
          </div>
        </el-col>
      </el-row>
      <div style="margin-top:7px"></div>
      <span slot="footer" class="dialog-footer">
        <el-button type="danger" plain @click="dialogAgregarPProVisible = false">Cancelar</el-button>
        <el-button type="primary" @click="AgregarParametroPProv(FormAgregarPProv)">Agregar</el-button>
      </span>
    </el-dialog>

    <!--||=============================================||
        ||      EDITAR PARAMETROS POR PROVEEDOR        ||
        ||=============================================|| -->
    <el-dialog  title="EDITAR PARAMETRO" size="large" :visible.sync="dialogEditarPProVisible" @close="dialogEditarPProVisible=false">
      <div style="background:#EEEEEE; width:100%;height:40px;">
        <table cellpadding="0" cellspacing="1" style="margin-bottom:10px; margin-left:30px;" class="hx">
          <tr>
            <td class="texto_labelDialogRight" style="font-size:13px;">Proveedor:</td>
            <td style="padding-top:3px;padding-left:20px;">
              <el-select v-model="rowEditProveedor.intIdProveedor" filterable clearable placeholder="Seleccione Proveedor" size="small">
                <el-option
                  v-for="item in dataProveedores"
                  :key="item.intIdProveedor"
                  :label="item.strRazonS"
                  :value="item.intIdProveedor">
                </el-option>
              </el-select>
            </td>
          </tr>
        </table>
      </div>

      <el-row style="padding:5px 2%">
        <el-col :span="8">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#30476ccc;" align="center">
              <span>AU</span>
            </div>
            <div class="containerForm">
              <el-row>
                <el-col :span="4" :offset="6" style="padding-right:2px" align="center">
                  <span style="color:green"><b>Valor</b></span>
                </el-col>
                <el-col :span="4" style="padding-right:2px" align="center">
                  <span style="color:red"><b>Interv.</b></span>
                </el-col>
                <el-col :span="4" :offset="6" style="padding-right:2px" align="center">
                  <span style="color:green"><b>Valor</b></span>
                </el-col>
              </el-row>
              <el-row style="margin-top:5px">
                <el-col :span="6">
                  <span>Rec.Com:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="rowEditProveedor.fltRecComMax" auto-complete="off" size="mini"></el-input>
                </el-col>
                <el-col :span="6" :offset="4" style="padding-left:10px">
                  <span>Margen:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="rowEditProveedor.fltMargenMax" auto-complete="off" size="mini"></el-input>
                </el-col>
              </el-row>
              <el-row style="margin-top:5px">
                <el-col :span="6">
                  <span>Maquila:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="rowEditProveedor.fltMaquilaMax" auto-complete="off" size="mini"></el-input>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="rowEditProveedor.fltMaquilaMin" auto-complete="off" size="mini"></el-input>
                </el-col>
                <el-col :span="6" style="padding-left:10px">
                  <span>Consumo:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="rowEditProveedor.fltConsumoMax" auto-complete="off" size="mini"></el-input>
                </el-col>
              </el-row>
              <el-row style="margin-top:5px">
                <el-col :span="6">
                  <span>Gast. Adm:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="rowEditProveedor.fltGastAdmMax" auto-complete="off" size="mini"></el-input>
                </el-col>
                <el-col :span="6" :offset="4" style="padding-left:10px">
                  <span>Gast. Lab:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="rowEditProveedor.fltGastLabMax" auto-complete="off" size="mini"></el-input>
                </el-col>
              </el-row>
              <el-row style="margin-top:5px">
                <el-col :span="6">
                  <span>% H2O:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="rowEditProveedor.fltPorcHumedMax" auto-complete="off" size="mini"></el-input>
                </el-col>
                <el-col :span="6" :offset="4" style="padding-left:10px">
                  <span>Peso:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="rowEditProveedor.fltPesoMax" auto-complete="off" size="mini"></el-input>
                </el-col>
              </el-row>
            </div>
          </div>
        </el-col>
        <el-col :span="8" style="padding-left:1%">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#1957b3b0;" align="center">
              <span>AG</span>
            </div>
            <div class="containerForm">
              <el-row>
                <el-col :span="4" :offset="6"  style="padding-left:2px" align="center">
                  <span style="color:green"><b>Valor</b></span>
                </el-col>
                <el-col :span="4" :offset="6" style="padding-left:2px" align="center">
                  <span style="color:green"><b>Valor</b></span>
                </el-col>
              </el-row>
              <el-row style="margin-top:5px">
                <el-col :span="6">
                  <span>Rec.Ag:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="rowEditProveedor.fltRecAgMax" auto-complete="off" size="mini"></el-input>
                </el-col>
                <el-col :span="6" style="padding-left:10px">
                  <span>Ley Ag Com:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="rowEditProveedor.fltLeyAgComMax" auto-complete="off" size="mini"></el-input>
                </el-col>
              </el-row>
              <el-row style="margin-top:5px">
                <el-col :span="6">
                  <span>Ley Ag:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="rowEditProveedor.fltLeyAgMax" auto-complete="off" size="mini"></el-input>
                </el-col>
                <el-col :span="6" style="padding-left:10px">
                  <span>Rec Ag Com:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="rowEditProveedor.fltRecAgComMax" auto-complete="off" size="mini"></el-input>
                </el-col>
              </el-row>
              <el-row style="margin-top:5px">
                <el-col :span="6">
                  <span>Margen Ag:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="rowEditProveedor.fltMargenAgMax" auto-complete="off" size="mini"></el-input>
                </el-col>
              </el-row>
            </div>
          </div>
        </el-col>
        <el-col :span="8" style="padding-left:1%">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#e5dfd4;" align="center">
              <span style="color:#30476c">INTERNO</span>
            </div>
            <div class="containerForm">
              <el-row>
                <el-col :span="4" :offset="6" style="padding-right:2px" align="center">
                  <span style="color:green"><b>Valor</b></span>
                </el-col>
                <el-col :span="4" :offset="6" style="padding-right:2px" align="center">
                  <span style="color:green"><b>Valor</b></span>
                </el-col>
              </el-row>
              <el-row style="margin-top:5px">
                <el-col :span="6">
                  <span>Rec. Int:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="rowEditProveedor.fltRecIntMax" auto-complete="off" size="mini"></el-input>
                </el-col>
                <el-col :span="6" style="padding-left:10px">
                  <span>Tmh Int:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="rowEditProveedor.fltTmsLiqMax" auto-complete="off" size="mini"></el-input>
                </el-col>
              </el-row>
              <el-row style="margin-top:5px">
                <el-col :span="6">
                  <span>Maquila Int:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="rowEditProveedor.fltMaquilaIntMax" auto-complete="off" size="mini"></el-input>
                </el-col>
                <el-col :span="6" style="padding-left:10px">
                  <span>Tms Int:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="rowEditProveedor.fltTmsIntMax" auto-complete="off" size="mini"></el-input>
                </el-col>
              </el-row>
              <el-row style="margin-top:5px">
                <el-col :span="6">
                  <span>Consumo Int:</span>
                </el-col>
                <el-col :span="4" style="padding-left:2px">
                  <el-input v-model="rowEditProveedor.fltConsumoIntMax" auto-complete="off" size="mini"></el-input>
                </el-col>
              </el-row>
            </div>
          </div>
        </el-col>
      </el-row>
      <div style="margin-top:7px"></div>
      <span slot="footer" class="dialog-footer">
        <el-button type="danger" plain @click="dialogEditarPProVisible = false">Cancelar</el-button>
        <el-button type="primary" @click="EditarParametroPProv(rowEditProveedor)">Guardar</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
  import ParametrosComponent from '@/components/Parametros/parametros.component'
  export default ParametrosComponent
</script>
<style>

</style>
