<template>
  <div>
    <ol  style="margin-left: -1.5rem;background: linear-gradient(rgb(229, 241, 247) 0%, rgb(255, 255, 255) 100%);    margin-bottom: 0rem !important;">
        <quickaccessmenu v-on:ValidarItem="BuscarLotes()" v-on:guardarTodo="guardarTodo($event)" v-on:backPage="backPage($event)"  v-on:reloadpage="reloadpage($event)"></quickaccessmenu>
        </ol>
    <div class="" >
      <el-card class="box-card" >
        <div slot="header" class="headercard"  >
          <span class="labelheadercard">Balanza</span>
          <!-- <el-button class="buttonfilter btn btn-outline-secondary orange" style="margin-top: -3px;" @click="BuscarLotes()">
              <img class="imagenfilter" src="../../images/buscari.png" style="margin-left: 0px;width: 15px;height: 16px;" alt="" >
          </el-button> -->
          <!-- <el-button class="buttonfilter btn btn-outline-secondary orange" style="margin-top: -3px;" @click="LimpiarConsulta()">
              <img class="imagenfilter" src="../../images/visualizar.png" style="margin-left: 0px;width: 15px;height: 16px;" alt="" >
          </el-button> -->
          <!-- <el-button class="buttonfilter btn btn-outline-secondary orange" style="margin-top: -3px;" @click="blnfiltroavanzado=!blnfiltroavanzado">
              <img class="imagenfilter" src="../../images/filtro.png" style="margin-left: 0px;width: 15px;height: 16px;" alt="" >
          </el-button> -->
        </div>
        <div class="row bodycard">
          <div class="container">
            <div class="row" >
              <div class="col-sm-3">
                <div class="form-group row " style="margin-top: 1px;">
                    <label class="el-form-item__label col-md-3" >Periodo</label>
                    <div class="col-md-7 grupolabel">
                      <div class="input-group mb-3" >
                        <el-date-picker
                          v-model="fechaSearch"
                          type="month"
                          size="mini"
                          format="MMMM / yyyy"
                          placeholder="Seleccione Mes"
                          :editable = "true"
                          @change="changeMonth()">
                        </el-date-picker>
                      </div>
                    </div>
                    <el-button v-if="!blnperiodo" class="buttonfilter btn btn-outline-secondary orange" style="margin-top: 3px;" @click="blnperiodo=!blnperiodo">
                        <img class="imagenfilter" src="../../images/collapse_derecha.png" alt="" >
                    </el-button>
                    <el-button v-if="blnperiodo" class="buttonfilter btn btn-outline-secondary orange" style="margin-top: 3px;" @click="blnperiodo=!blnperiodo">
                        <img class="imagenfilter" src="../../images/collapse_left.png" alt="" >
                    </el-button>
                </div>
              </div>
              <div class="col-sm-3" v-if="blnperiodo">
                <div class="form-group row " style="margin-top: 1px;">
                    <label class="el-form-item__label col-md-3" >Desde</label>
                    <div class="col-md-7 grupolabel">
                      <div class="input-group mb-3" >
                        <el-date-picker
                          v-model="fechaInicio"
                          size="mini"
                          format="dd/MM/yyyy"
                          placeholder="Desde"
                          @keyup.enter.native="BuscarLotes()">
                        </el-date-picker>
                      </div>
                    </div>
                </div>
              </div>
              <div class="col-sm-3" v-if="blnperiodo">
                <div class="form-group row " style="margin-top: 1px;">
                    <label class="el-form-item__label col-md-3" >Hasta</label>
                    <div class="col-md-7 grupolabel">
                      <div class="input-group mb-3" >
                        <el-date-picker
                          v-model="fechaFin"
                          size="mini"
                          format="dd/MM/yyyy"
                          placeholder="Desde"
                          @keyup.enter.native="BuscarLotes()">
                        </el-date-picker>
                      </div>
                    </div>
                </div>
              </div>
              
            </div>
            <div class="row" v-if="blnfiltroavanzado" style="margin-top: 2px;">
              <div class="col-sm-3">
                <div class="form-group row ">
                  <label class="el-form-item__label col-md-3" >Lote</label>
                  <div class="col-md-7 grupolabel">
                      <div class="input-group mb-3" >
                        <el-input placeholder="*" type="search" v-model="FormSearch.strLote" @keyup.enter.native="BuscarLotes()" auto-complete="off" size="mini"></el-input>
                      </div>
                  </div>           
                </div> 
              </div>
            </div>
            <div class="row" v-if="blnfiltroavanzado"  style="margin-top: 2px;">
              <div class="col-sm-3">
                <div class="form-group row ">
                  <label class="el-form-item__label col-md-3" >Acopiador</label>
                  <div class="col-md-9 grupolabel">
                    <div class="input-group mb-3" >
                      <el-input placeholder="*" type="search" v-model="FormSearch.strAcopiador" auto-complete="off" size="mini" @keyup.enter.native="BuscarLotes()"></el-input>
                    </div>
                  </div>  
                </div> 
              </div>
              <div class="col-sm-3">
                <div class="form-group row ">
                  <label class="el-form-item__label col-md-3" >Zona</label>
                  <div class="col-md-5 grupolabel">
                    <div class="input-group mb-3" >
                      <el-select v-model="FormSearch.strProcedencia" style="font-size:13px" allow-create clearable placeholder="" size="mini" filterable>
                        <el-option style="font-size:13px"
                          v-for="item in dataZonas"
                          :key="item.strZona"
                          :label="item.strZona"
                          :value="item.strZona">
                        </el-option>
                      </el-select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div slot="header" class="headercard" style="margin-top: -4px;">
                <buttons-accions v-on:LimpiarConsulta="LimpiarConsulta()" v-on:Limpiar="clickactive('B')" v-on:Buscar="clickactive('A')" v-on:AscItem="AscItem" v-on:DscItem="DscItem" v-on:siguiente="siguiente()" v-on:anterior="anterior()" v-on:EliminarItem="EliminarItem()" ></buttons-accions>
            </div>  
            <el-table
              :data="gridData"
              ref="missionTable"
              show-summary
              :summary-method="getSummaries"
              highlight-current-row
              stripe  :default-sort = "{prop: 'date', order: 'descending'}"
              :max-height="sizeScreen"
              @row-click="selectRow"
              v-loading="loadingGetData"
              class="ExcelTable2007"
              element-loading-text="Cargando lotes..."
              style="width:100%;font-size:10px;margin:5px 0px">
              <el-table-column label="LOTE"  align="left" width="85">
                <template scope="scope">
                  <span class="letraTabla" style="color:#7ad44c"><b>{{scope.row.strLote}}</b></span>
                </template>
              </el-table-column>
            
              <el-table-column label="Fecha Recibida" width="110" align="left">
                <template scope="scope">
                  <span class="letraTabla"><b>{{ getDateString(scope.row.dtmFechaRecepcion) }}</b></span>
                </template>
              </el-table-column>
              <el-table-column label="Hora Ingreso" width="100" align="left">
                <template scope="scope">
                  <span class="letraTabla">{{ scope.row.strHoraIngreso }}</span>
                </template>
              </el-table-column>
              <el-table-column  label="Procedencia" width="220" align="left">
                <template scope="scope">
                  <span class="letraTabla">{{ scope.row.strProcedenciaLg }}</span>
                </template>
              </el-table-column>
              <el-table-column  label="Proveedor Mineral"  align="left" width="260">
                <template scope="scope">
                  <span class="letraTabla">{{ scope.row.strClienteRazonS }}</span>
                </template>
              </el-table-column>
              <el-table-column  label="Material" width="90"  align="left">
                <template scope="scope">
                  <span class="letraTabla">{{ scope.row.strMaterial }}</span>
                </template>
              </el-table-column>
              <el-table-column  label="N° Sacos" width="85" align="left">
                <template scope="scope">
                  <span class="letraTabla">{{ scope.row.intNroSacos }}</span>
                </template>
              </el-table-column>
              <el-table-column label="Peso TMH" prop="fltPesoTmh" width="90" align="left">
                <template scope="scope">
                  <span><b>{{ parseFloat(scope.row.fltPesoTmh).toFixed(2) }}</b></span>
                </template>
              </el-table-column>
              <!-- <el-table-column label="Operaciones" fixed="right" align="left" width="100">
                <template scope="scope">
                  <el-button icon="edit" size="mini" type="success"
                    @click="handleEdit(scope.$index, scope.row)">{{nameButton}}</el-button>
                </template>
              </el-table-column> -->
              <!-- <el-table-column prop="strProcedenciaSt" label="Procedencia Mineral" width="140"></el-table-column>
              <el-table-column prop="strClienteRuc" label="Ruc" width="120" align="left"></el-table-column>
              <el-table-column prop="strNombreConcesion" label="Nombre Concesion" width="140"></el-table-column>
              <el-table-column prop="strGuiaRemitente" label="Guia Remitente" width="120" align="left"></el-table-column>
              <el-table-column prop="strCodCompromiso" label="Código Compromiso" width="140" align="left"></el-table-column>
              <el-table-column prop="strCodConcesion" label="Código Concesión" width="130" align="left"></el-table-column>
              <el-table-column prop="fltPesoTmhHistorico" label="TMH Historico" width="120" align="left" v-if="(userDec.strSuperAdmin=='true')?true:false">
                <template scope="scope">
                  <span style="color:#121578;"><b>{{ scope.row.fltPesoTmhHistorico }}</b></span>
                </template>
              </el-table-column>
              <el-table-column prop="strHoraSalida" label="Hora Salida" width="120" align="left"></el-table-column>
              <el-table-column prop="strTiempoDescarga" label="Tiempo Descarga" width="125" align="left"></el-table-column>
              <el-table-column prop="strDuenioMineral" label="Dueño Mineral" width="140"></el-table-column>
             
              <el-table-column label="Turno Muestreo" width="130" align="left">
                <template scope="scope">
                  <span>{{ getDateString(scope.row.strFechaMuestreo) }}</span>
                </template>
              </el-table-column>
              <el-table-column label="Fecha Retiro" width="100" align="left">
                <template scope="scope">
                  <span>{{ getDateString(scope.row.strFechaRetiro) }}</span>
                </template>
              </el-table-column>
              <el-table-column prop="strNombreTransportista" label="Nombre Fletero" width="250"></el-table-column>
              <el-table-column prop="strNroPlaca" label="Nro. Placa" width="100" align="left"></el-table-column>
              <el-table-column prop="strGuiaTransport" label="Guia Transportista" width="130" align="left"></el-table-column>
              <el-table-column prop="strNombreAcopiador" label="Acopiador" width="130"></el-table-column>
              <el-table-column prop="strUsuarioCrea" label="Balancero" width="100" align="left"></el-table-column>
              <el-table-column label="Turno" width="100" align="left">
                <template scope="scope">
                  <span>{{scope.row.strTurnoRegistro.toUpperCase()}}</span>
                </template>
              </el-table-column>
              <el-table-column prop="strObservacion" label="Observaciones" width="140"></el-table-column>
              <el-table-column label="Operaciones" fixed="right" align="left" width="100">
                <template scope="scope">
                  <el-button icon="edit" size="mini" type="success"
                    @click="handleEdit(scope.$index, scope.row)">{{nameButton}}</el-button>
                </template>
              </el-table-column> -->
            </el-table>
            <el-row type="flex" class="row-bg" style="margin-bottom:5px">
              <el-col :span="6">
                <el-pagination layout="prev, pager, next" :total="totalRegistros" :page-size="RegistersForPage" :current-page.sync="pagina" @current-change="cambioPagina()">
                </el-pagination>
              </el-col>
              <!-- <el-col :span="8" style="margin-top:7px">
                <span style="font-size:14px;">Total de Lotes: <b>{{countGridData}}</b></span>
              </el-col> -->
              <el-col :span="5" align="right" style="margin-top:3px">
                <!-- <download-excel :data="CompleteData" :fields = "json_fields" :meta = "json_meta" :name = "titleExcel" v-if="viewAccessEscritura">
                </download-excel> -->
              </el-col>
            </el-row>
            <div class="row">
              <div class="col-sm-12">
                <el-tabs type="border-card">
                  <el-tab-pane>
                    <span slot="label"><i class="el-icon-date"></i> Generales</span>
                    <div class="container">
                       <div class="row" style="margin-top: -13px;">                        
                        <div class="col-sm-5">
                          <div class="form-group row " style="margin-top: 1px;">
                              <label class="el-form-item__label col-md-3" >Lote</label>
                              <div class="col-md-5 grupolabel">
                                <div class="input-group mb-3" >
                                  <el-input v-model="rowSelectedEdit.strLote" readonly auto-complete="off" size="small"></el-input>
                                </div>
                              </div>
                          </div>
                        </div>
                        <div class="col-sm-5">
                          <div class="form-group row " style="margin-top: 1px;">
                              <label class="el-form-item__label col-md-4" >Sub Lote</label>
                              <div class="col-md-5 grupolabel">
                                <div class="input-group mb-3" >
                                  <el-input v-model="rowSelectedEdit.strSubLote" readonly auto-complete="off" size="small"></el-input>
                                </div>
                              </div>
                          </div>
                        </div>
                      </div>
                      <div class="row" style="margin-top: -13px;">
                        <div class="col-sm-5">
                          <div class="form-group row " style="margin-top: 1px;">
                              <label class="el-form-item__label col-md-3" >Dueño Mineral</label>
                              <div class="col-md-5 grupolabel">
                                <div class="input-group mb-3" >
                                  <el-input placeholder="Dueño mineral" v-model="rowSelectedEdit.strDuenioMineral" auto-complete="off" size="mini"></el-input>
                                </div>
                              </div>
                          </div>
                        </div>
                        <div class="col-sm-5">
                          <div class="form-group row " style="margin-top: 1px;">
                              <label class="el-form-item__label col-md-4" >Fecha Retiro Lote</label>
                              <div class="col-md-5 grupolabel">
                                <div class="input-group mb-3" >
                                  <el-date-picker
                              v-model="fechaRetiroEdit"
                              type="date"
                              format="dd/MM/yyyy"
                              placeholder="*"
                              size="mini"
                              :editable = "false">
                            </el-date-picker>
                                </div>
                              </div>
                          </div>
                        </div>
           
                      </div>
                      <div class="row" style="margin-top: -13px;">                        
                        <div class="col-sm-5">
                          <div class="form-group row " style="margin-top: 1px;">
                              <label class="el-form-item__label col-md-3" >Turno Muestreo</label>
                              <div class="col-md-5 grupolabel">
                                <div class="input-group mb-3" >
                                  <el-date-picker
                                    v-model="fechaMuestreoEdit"
                                    type="date"
                                    format="dd/MM/yyyy"
                                    placeholder="*"
                                    size="mini"
                                    :editable = "false">
                                  </el-date-picker>
                                </div>
                              </div>
                          </div>
                        </div>
                        <div class="col-sm-5">
                          <div class="form-group row " style="margin-top: 1px;">
                              <label class="el-form-item__label col-md-4" >Fecha Recepción</label>
                              <div class="col-md-5 grupolabel">
                                <div class="input-group mb-3" >
                                  <el-date-picker
                                    v-model="fechaRecepcionEdit"
                                    type="date"
                                    format="dd/MM/yyyy"
                                    placeholder="*"
                                    size="small"
                                    :editable = "false">
                                  </el-date-picker>
                                </div>
                              </div>
                          </div>
                        </div>
                      </div>
                      <div class="row" style="margin-top: -13px;">                        
                        <div class="col-sm-5">
                          <div class="form-group row " style="margin-top: 1px;">
                              <label class="el-form-item__label col-md-3" >Turno</label>
                              <div class="col-md-5 grupolabel">
                                <div class="input-group mb-3" >
                                  <el-radio-group v-model="rowSelectedEdit.strTurnoRegistro">
                                    <el-radio label="Dia">Dia</el-radio>
                                    <el-radio label="Noche">Noche</el-radio>
                                  </el-radio-group>
                                </div>
                              </div>
                          </div>
                        </div>
                      </div>
                       
                    </div> 
                  </el-tab-pane>
                  <el-tab-pane label="Zona">
                    
                    <div class="contanier">
                      <div class="row" style="margin-right: 0px;margin-left: 0px;margin-top: -13px;">
                        <div class="col-sm-5">
                          <div class="form-group row " style="margin-top: 1px;">
                              <label class="el-form-item__label col-md-3" >Procedencia</label>
                              <div class="col-md-8 grupolabel">
                                <div class="input-group mb-3" >
                                  <el-input v-model="rowSelectedEdit.strProcedenciaLg" auto-complete="off" size="mini"></el-input>
                                </div>
                              </div>
                          </div>
                        </div>
                        <div class="col-sm-5">
                          <div class="form-group row " style="margin-top: 1px;">
                              <label class="el-form-item__label col-md-4" >Procedencia Mineral</label>
                              <div class="col-md-5 grupolabel">
                                <div class="input-group mb-3" >
                                  <el-input v-model="rowSelectedEdit.strProcedenciaSt" auto-complete="off" size="mini"></el-input>
                                </div>
                              </div>
                          </div>
                        </div>
                      </div>
                      <div class="row"  style="margin-right: 0px;margin-left: 0px;margin-top: -13px;">                        
                        <div class="col-sm-5">
                          <div class="form-group row " style="margin-top: 1px;">
                              <label class="el-form-item__label col-md-3" >Región</label>
                              <div class="col-md-8 grupolabel">
                                <div class="input-group mb-3" >
                                  <el-input v-model="rowSelectedEdit.strRegion" auto-complete="off" size="mini"></el-input>
                                </div>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </el-tab-pane>
                  <el-tab-pane label="Proveedor">
                    <div class="row"  style="margin-right: 0px;margin-left: 0px;margin-top: -13px;">                        
                      <div class="col-sm-5">
                        <div class="form-group row " style="margin-top: 1px;">
                            <label class="el-form-item__label col-md-3" >RUC</label>
                            <div class="col-md-4 grupolabel">
                              <div class="input-group mb-3" >
                                <el-input v-model="rowSelectedEdit.strClienteRuc" auto-complete="off" size="mini"></el-input>
                              </div>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="row"  style="margin-right: 0px;margin-left: 0px;margin-top: -13px;">                        
                      <div class="col-sm-5">
                        <div class="form-group row " style="margin-top: 1px;">
                            <label class="el-form-item__label col-md-3" >Razon Social</label>
                            <div class="col-md-8 grupolabel">
                              <div class="input-group mb-3" >
                                <el-input v-model="rowSelectedEdit.strClienteRazonS" auto-complete="off" size="mini"></el-input>
                              </div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </el-tab-pane>
                  <el-tab-pane label="Guia Remisión">
                    <div class="container">
                      <div class="row" style="margin-top: -13px;">
                        <div class="col-sm-4">
                          <div class="form-group row " style="margin-top: 1px;">
                            <label class="el-form-item__label col-md-5">Código Concesión</label>
                            <div class="col-md-5 grupolabel">
                              <div class="input-group mb-3" >
                                <el-input v-model="rowSelectedEdit.strCodConcesion" auto-complete="off" size="mini"></el-input>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group row " style="margin-top: 1px;">
                            <label class="el-form-item__label col-md-5">Guia Remitente</label>
                            <div class="col-md-4 grupolabel">
                              <div class="input-group mb-3" >
                                <el-input v-model="rowSelectedEdit.strGuiaRemitente" auto-complete="off" size="mini"></el-input>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row" style="margin-top: -13px;">
                        <div class="col-sm-4">
                          <div class="form-group row " style="margin-top: 1px;">
                            <label class="el-form-item__label col-md-5">Nombre Concesión</label>
                            <div class="col-md-6 grupolabel">
                              <div class="input-group mb-3" >
                                <el-input v-model="rowSelectedEdit.strNombreConcesion" auto-complete="off" size="mini"></el-input>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group row " style="margin-top: 1px;">
                            <label class="el-form-item__label col-md-5">Código Compromiso</label>
                            <div class="col-md-4 grupolabel">
                              <div class="input-group mb-3" > 
                                <el-input v-model="rowSelectedEdit.strCodCompromiso" auto-complete="off" size="mini"></el-input>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </el-tab-pane>
                  <el-tab-pane label="Material">
                    <div class="container">
                      <div class="row" style="margin-top: -13px;">
                        <div class="col-sm-3">
                          <div class="form-group row " style="margin-top: 1px;">
                            <label class="el-form-item__label col-md-5">Material</label>
                            <div class="col-md-7 grupolabel">
                              <div class="input-group mb-3" > 
                                <el-select v-model="rowSelectedEdit.strMaterial" clearable filterable placeholder="Seleccione Material" size="mini">
                                  <el-option
                                    v-for="item in dataMaterial"
                                    :key="item.id_material"
                                    :label="item.name"
                                    :value="item.name">
                                  </el-option>
                                </el-select>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-3">
                          <div class="form-group row " style="margin-top: 1px;">
                            <label class="el-form-item__label col-md-5">TMH Historico</label>
                            <div class="col-md-7 grupolabel">
                              <div class="input-group mb-3" > 
                                <el-input placeholder="Peso TMH" disabled v-model="rowSelectedEdit.fltPesoTmhHistorico" auto-complete="off" size="mini"></el-input>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-3">
                          <div class="form-group row " style="margin-top: 1px;">
                            <label class="el-form-item__label col-md-6">Tiempo Descarga</label>
                            <div class="col-md-6 grupolabel">
                              <div class="input-group mb-3" > 
                                <el-input readonly placeholder="Tiempo Descarga" v-model="rowSelectedEdit.strTiempoDescarga" auto-complete="off" size="mini"></el-input>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row" style="margin-top: -13px;">
                        <div class="col-sm-3">
                          <div class="form-group row " style="margin-top: 1px;">
                            <label class="el-form-item__label col-md-5">Nro. Sacos</label>
                            <div class="col-md-7 grupolabel">
                              <div class="input-group mb-3" > 
                                <el-input type="number" v-model="rowSelectedEdit.intNroSacos" auto-complete="off" size="mini"></el-input>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-3">
                          <div class="form-group row " style="margin-top: 1px;">
                            <label class="el-form-item__label col-md-5">Hora Ingreso</label>
                            <div class="col-md-7 grupolabel">
                              <div class="input-group mb-3" > 
                                <el-time-picker
                                  v-model="horaIngresoEdit"
                                  size="mini"
                                  placeholder="Hora Ingreso"
                                  @change="changeHoraEdit()">
                                </el-time-picker>
                              </div>
                            </div>
                          </div>
                        </div>
                        
                      </div>
                      <div class="row" style="margin-top: -13px;">
                        <div class="col-sm-3">
                          <div class="form-group row " style="margin-top: 1px;">
                            <label class="el-form-item__label col-md-5">Peso TMH</label>
                            <div class="col-md-7 grupolabel">
                              <div class="input-group mb-3" > 
                                <el-input placeholder="Peso TMH" v-model="rowSelectedEdit.fltPesoTmh" auto-complete="off" size="mini"></el-input>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-3">
                          <div class="form-group row " style="margin-top: 1px;">
                            <label class="el-form-item__label col-md-5">Hora Salida</label>
                            <div class="col-md-7 grupolabel">
                              <div class="input-group mb-3" > 
                                <el-time-picker
                                  v-model="horaSalidaEdit"
                                  size="mini"
                                  placeholder="Hora Salida"
                                  @change="changeHoraEdit()">
                                </el-time-picker>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </el-tab-pane>
                  <el-tab-pane label="Transportista">
                    <div class="container">
                      <div class="row" style="margin-top: -13px;">
                        <div class="col-sm-3">
                          <div class="form-group row " style="margin-top: 1px;">
                            <label class="el-form-item__label col-md-5">Nombre</label>
                            <div class="col-md-7 grupolabel">
                              <div class="input-group mb-3" > 
                                <el-input placeholder="Nombre del fletero" v-model="rowSelectedEdit.strNombreTransportista" auto-complete="off" size="mini"></el-input>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group row " style="margin-top: 1px;">
                            <label class="el-form-item__label col-md-5">Guia Transportista</label>
                            <div class="col-md-7 grupolabel">
                              <div class="input-group mb-3" > 
                                <el-input placeholder="Guia Transport" v-model="rowSelectedEdit.strGuiaTransport" auto-complete="off" size="mini"></el-input>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>  
                      <div class="row" style="margin-top: -13px;">
                        <div class="col-sm-3">
                          <div class="form-group row " style="margin-top: 1px;">
                            <label class="el-form-item__label col-md-5">Nro. Placa</label>
                            <div class="col-md-7 grupolabel">
                              <div class="input-group mb-3" > 
                                <el-input placeholder="Número Placa" v-model="rowSelectedEdit.strNroPlaca" auto-complete="off" size="mini"></el-input>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div> 
                    </div>
                  </el-tab-pane>
                  <el-tab-pane label="Acopiador">
                    <div class="container">
                      <div class="row" style="margin-top: -13px;">
                        <div class="col-sm-3">
                          <div class="form-group row " style="margin-top: 1px;">
                            <label class="el-form-item__label col-md-3">Nombre</label>
                            <div class="col-md-9 grupolabel">
                              <div class="input-group mb-3" > 
                                <el-input placeholder="Acopiador" v-model="rowSelectedEdit.strNombreAcopiador" auto-complete="off" size="mini"></el-input>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </el-tab-pane>
                  <el-tab-pane label="Observaciones">
                    <div class="container">
                      <div class="row" style="margin-top: -13px;">
                        <div class="col-sm-5">
                          <div class="form-group row " style="margin-top: 1px;">
                            <label class="el-form-item__label col-md-3">Observación</label>
                            <div class="col-md-9 grupolabel">
                              <div class="input-group mb-3" > 
                                <el-input type="textarea" placeholder="Observaciones..." v-model="rowSelectedEdit.strObservacion" auto-complete="off" size="mini"></el-input>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </el-tab-pane>
                </el-tabs>
              </div>
            </div>
          </div>
       </div>
    </el-card>
    </div>
  
    <br>

    <!--ACTUALIZAR LOTE ADMINISTRADOR-->
    <el-dialog  title="ACTUALIZAR LOTE" top="5%" size="large" :visible.sync="dialogEditarVisible" @close="dialogEditarVisible=false">
      <div style="background:#EEEEEE; width:100%;height:40px;">
        <table cellpadding="0" cellspacing="1" style="margin-bottom:10px; margin-left:30px;">
          <tr>
            <td class="texto_labelDialogLeft" style="color:red;font-size:13px">LOTE:</td>
            <td style="padding-top:3px;padding-left:20px;"><el-input v-model="rowSelectedEdit.strLote" auto-complete="off" size="small" readonly></el-input></td>
            <td class="texto_labelDialogRight" style="font-size:13px">Sub Lote:</td>
            <td style="padding-top:3px;padding-left:20px;width:150px"><el-input v-model="rowSelectedEdit.strSubLote" auto-complete="off" size="small"></el-input></td>
            <td class="texto_labelDialogRight" style="font-size:13px">Fecha Recepción:</td>
            <td style="padding-top:3px;padding-left:20px;">
              <el-date-picker
                v-model="fechaRecepcionEdit"
                type="date"
                format="dd/MM/yyyy"
                placeholder="*"
                size="small"
                :editable = "false">
              </el-date-picker>
            </td>
            <td class="texto_labelDialogRight" style="font-size:13px">Turno:</td>
            <td style="padding-top:3px;padding-left:20px;">
              <el-radio-group v-model="rowSelectedEdit.strTurnoRegistro">
                <el-radio label="Dia">Dia</el-radio>
                <el-radio label="Noche">Noche</el-radio>
              </el-radio-group>
            </td>
          </tr>
        </table>
      </div>
      <el-row style="padding:5px 2%">
        <el-col :span="8">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#30476ccc;" align="left">
              <span>Zona</span>
            </div>
            <div class="containerForm">
              <span>Procedencia:</span>
              <el-input v-model="rowSelectedEdit.strProcedenciaLg" auto-complete="off" size="mini"></el-input>
              <br><div style="margin-top:5px"></div>
              <el-row>
                <el-col :span="14">
                  <span>Procedencia Mineral:</span>
                  <el-input v-model="rowSelectedEdit.strProcedenciaSt" auto-complete="off" size="mini"></el-input>
                </el-col>
                <el-col :span="10" style="padding-left:10px">
                  <span>Región:</span>
                  <el-input v-model="rowSelectedEdit.strRegion" auto-complete="off" size="mini"></el-input>
                </el-col>
              </el-row>

            </div>
          </div>
        </el-col>
        <el-col :span="8" style="padding-left:1%">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#1957b3b0;" align="left">
              <span>Proveedor</span>
            </div>
            <div class="containerForm">
              <span>Ruc:</span>
              <el-input v-model="rowSelectedEdit.strClienteRuc" auto-complete="off" size="mini"></el-input>
              <br><div style="margin-top:5px"></div>
              <span>Razon Social:</span>
              <el-input v-model="rowSelectedEdit.strClienteRazonS" auto-complete="off" size="mini"></el-input>
            </div>
          </div>
        </el-col>
        <el-col :span="8" style="padding-left:1%">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#e5dfd4;" align="left">
              <span style="color:#30476c">Guias de Remisión</span>
            </div>
            <div class="containerForm">
              <el-row>
                <el-col :span="12">
                  <span>Código Concesión:</span>
                  <el-input v-model="rowSelectedEdit.strCodConcesion" auto-complete="off" size="mini"></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Nombre Concesión:</span>
                  <el-input v-model="rowSelectedEdit.strNombreConcesion" auto-complete="off" size="mini"></el-input>
                </el-col>
                <el-col :span="12" style="padding-left:10px">
                  <span>Guia Remitente:</span>
                  <el-input v-model="rowSelectedEdit.strGuiaRemitente" auto-complete="off" size="mini"></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Código Compromiso:</span>
                  <el-input v-model="rowSelectedEdit.strCodCompromiso" auto-complete="off" size="mini"></el-input>
                </el-col>
              </el-row>
            </div>
          </div>
        </el-col>
      </el-row>
      <el-row style="padding:5px 2%">
        <el-col :span="10">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#30476ccc;" align="left">
              <span>Material</span>
            </div>
            <div class="containerForm">
              <el-row>
                <el-col :span="12">
                  <span>Material:</span><br>
                  <el-select v-model="rowSelectedEdit.strMaterial" clearable filterable placeholder="Seleccione Material" size="mini">
                    <el-option
                      v-for="item in dataMaterial"
                      :key="item.id_material"
                      :label="item.name"
                      :value="item.name">
                    </el-option>
                  </el-select>
                  <br><div style="margin-top:5px"></div>
                  <span>Nro. Sacos:</span><br>
                  <!-- <el-input-number v-model="rowSelectedEdit.intNroSacos" size="mini" :min="0" :max="1000"></el-input-number> -->
                  <el-input type="number" v-model="rowSelectedEdit.intNroSacos" auto-complete="off" size="mini"></el-input>
                  <br><div style="margin-top:5px"></div>
                  <el-col :span="12" style="padding-right:3px">
                    <span>Peso TMH:</span>
                    <el-input placeholder="Peso TMH" v-model="rowSelectedEdit.fltPesoTmh" auto-complete="off" size="mini"></el-input>
                  </el-col>
                  <el-col :span="12" style="padding-left:3px">
                    <span>TMH Historico:</span>
                    <el-input placeholder="Peso TMH" disabled v-model="rowSelectedEdit.fltPesoTmhHistorico" auto-complete="off" size="mini"></el-input>
                  </el-col>
                </el-col>
                <el-col :span="12" style="padding-left:10px">
                  <span>Hora Ingreso:</span><br>
                  <el-time-picker
                    v-model="horaIngresoEdit"
                    size="mini"
                    placeholder="Hora Ingreso"
                    @change="changeHoraEdit()">
                  </el-time-picker>
                  <br><div style="margin-top:5px"></div>
                  <span>Hora Salida:</span><br>
                  <el-time-picker
                    v-model="horaSalidaEdit"
                    size="mini"
                    placeholder="Hora Salida"
                    @change="changeHoraEdit()">
                  </el-time-picker>
                  <br><div style="margin-top:5px"></div>
                  <span>Tiempo Descarga:</span>
                  <el-input readonly placeholder="Tiempo Descarga" v-model="rowSelectedEdit.strTiempoDescarga" auto-complete="off" size="mini"></el-input>
                </el-col>
              </el-row>
            </div>
          </div>
        </el-col>
        <el-col :span="7" style="padding-left:1%">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#1957b3b0;" align="left">
              <span>Transportista</span>
            </div>
            <div class="containerForm">
              <span>Nombre:</span>
              <el-input placeholder="Nombre del fletero" v-model="rowSelectedEdit.strNombreTransportista" auto-complete="off" size="mini"></el-input>
              <br><div style="margin-top:5px"></div>
              <span>Nro. Placa:</span>
              <el-input placeholder="Número Placa" v-model="rowSelectedEdit.strNroPlaca" auto-complete="off" size="mini"></el-input>
              <br><div style="margin-top:5px"></div>
              <span>Guia Transportista:</span>
              <el-input placeholder="Guia Transport" v-model="rowSelectedEdit.strGuiaTransport" auto-complete="off" size="mini"></el-input>
            </div>
          </div>
        </el-col>
        <el-col :span="7" style="padding-left:1%">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#e5dfd4;" align="left">
              <span style="color:#30476c">Acopiador</span>
            </div>
            <div class="containerForm">
              <span>Nombre:</span>
              <el-input placeholder="Acopiador" v-model="rowSelectedEdit.strNombreAcopiador" auto-complete="off" size="mini"></el-input>
              <br><br>
            </div>
          </div>
        </el-col>
      </el-row>
      <div style="padding:5px 2%">
        <div class="cardForm">
          <div class="cardForm_Header" style="background:#30476ccc;" align="left">
            <span>Datos Generales</span>
          </div>
          <div class="containerForm">
            <table cellpadding="0" cellspacing="1" style="margin-bottom:10px;" class="hx">
              <tr>
                <td class="texto_labelDialogLeft">Dueño Mineral:</td>
                <td style="padding-top:3px;padding-left:20px;"><el-input placeholder="Dueño mineral" v-model="rowSelectedEdit.strDuenioMineral" auto-complete="off" size="mini"></el-input></td>
                <td class="texto_labelDialogRight">Turno Muestreo:</td>
                <td style="padding-top:3px;padding-left:20px;">
                  <!-- <el-radio-group v-model="rowSelectedEdit.strTurnoMuestreo">
                    <el-radio label="Dia" border>Dia</el-radio>
                    <el-radio label="Noche" border>Noche</el-radio>
                  </el-radio-group> -->
                  <el-date-picker
                    v-model="fechaMuestreoEdit"
                    type="date"
                    format="dd/MM/yyyy"
                    placeholder="*"
                    size="mini"
                    :editable = "false">
                  </el-date-picker>
                </td>
                <td class="texto_labelDialogRight">Fecha Retiro Lote:</td>
                <td style="padding-top:3px;padding-left:20px;">
                  <el-date-picker
                    v-model="fechaRetiroEdit"
                    type="date"
                    format="dd/MM/yyyy"
                    placeholder="*"
                    size="mini"
                    :editable = "false">
                  </el-date-picker>
                </td>
              </tr>
            </table>
            <span>Observaciones:</span>
            <el-input type="textarea" placeholder="Observaciones" v-model="rowSelectedEdit.strObservacion" auto-complete="off" size="mini"></el-input>
          </div>
        </div>
      </div>
      <div style="margin-top:7px"></div>
      <span slot="footer" class="dialog-footer">
        <el-button type="danger" plain @click="dialogEditarVisible = false">Cancelar</el-button>
        <el-button type="primary" icon="edit" @click="EditarLote(rowSelectedEdit)">Guardar</el-button>
      </span>
    </el-dialog>

    <!--ACTUALIZAR LOTE BALANZA-->
    <el-dialog  title="ACTUALIZAR LOTE: BALANZA" top="5%" size="large" :visible.sync="dialogEditarBalVisible" @close="dialogEditarBalVisible=false">
      <div style="background:#EEEEEE; width:100%;height:40px;">
        <table cellpadding="0" cellspacing="1" style="margin-bottom:10px; margin-left:30px;">
          <tr>
            <td class="texto_labelDialogLeft" style="color:red;font-size:13px">LOTE:</td>
            <td style="padding-top:3px;padding-left:20px;">
              <el-input v-model="rowSelectedEdit.strLote" auto-complete="off" size="small" readonly></el-input>
            </td>
            <td class="texto_labelDialogRight" style="font-size:13px">Sub Lote:</td>
            <td style="padding-top:3px;padding-left:20px;width:150px"><el-input v-model="rowSelectedEdit.strSubLote" auto-complete="off" size="small"></el-input></td>
            <td class="texto_labelDialogRight" style="font-size:13px">Fecha Recepción:</td>
            <td style="padding-top:3px;padding-left:20px;">
              <el-date-picker
                v-model="fechaRecepcionEdit"
                type="date"
                format="dd/MM/yyyy"
                placeholder="*"
                size="small"
                readonly
                :editable = "false">
              </el-date-picker>
            </td>
            <td class="texto_labelDialogRight" style="font-size:13px">Turno:</td>
            <td style="padding-top:3px;padding-left:20px;">
              <!-- <el-radio-group v-model="rowSelectedEdit.strTurnoRegistro" disabled>
                <el-radio label="Dia">Dia</el-radio>
                <el-radio label="Noche">Noche</el-radio>
              </el-radio-group> -->
              <el-input v-model="rowSelectedEdit.strTurnoRegistro" auto-complete="off" size="small"  readonly></el-input>
            </td>
          </tr>
        </table>
      </div>
      <el-row style="padding:5px 2%">
        <el-col :span="6">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#30476ccc;" align="left">
              <span>Zona</span>
            </div>
            <div class="containerForm">
              <span>Procedencia:</span>
              <el-input v-model="rowSelectedEdit.strProcedenciaLg" disabled auto-complete="off" size="mini"></el-input>
              <br><div style="margin-top:5px"></div>
              <el-row>
                <el-col :span="14">
                  <span>Procedencia Mineral:</span>
                  <el-input v-model="rowSelectedEdit.strProcedenciaSt" disabled auto-complete="off" size="mini"></el-input>
                </el-col>
                <el-col :span="10" style="padding-left:10px">
                  <span>Región:</span>
                  <el-input v-model="rowSelectedEdit.strRegion" disabled auto-complete="off" size="mini"></el-input>
                </el-col>
              </el-row>
            </div>
          </div>
        </el-col>
        <el-col :span="8" style="padding-left:1%">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#1957b3b0;" align="left">
              <span>Proveedor</span>
            </div>
            <div class="containerForm">
              <span>Ruc:</span>
              <el-input v-model="rowSelectedEdit.strClienteRuc" disabled auto-complete="off" size="mini"></el-input>
              <br><div style="margin-top:5px"></div>
              <span>Razon Social:</span>
              <el-input v-model="rowSelectedEdit.strClienteRazonS" disabled auto-complete="off" size="mini"></el-input>
            </div>
          </div>
        </el-col>
        <el-col :span="10" style="padding-left:1%">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#e5dfd4;" align="left">
              <span style="color:#30476c">Guias de Remisión</span>
            </div>
            <div class="containerForm">
              <el-row>
                <el-col :span="12">
                  <span>Código Concesión:</span>
                  <el-input v-model="rowSelectedEdit.strCodConcesion" auto-complete="off" size="mini"></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Nombre Concesión:</span>
                  <el-input v-model="rowSelectedEdit.strNombreConcesion" auto-complete="off" size="mini"></el-input>
                </el-col>
                <el-col :span="12" style="padding-left:10px">
                  <span>Guia Remitente:</span>
                  <el-input v-model="rowSelectedEdit.strGuiaRemitente" disabled auto-complete="off" size="mini"></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Código Compromiso:</span>
                  <el-input v-model="rowSelectedEdit.strCodCompromiso" auto-complete="off" size="mini"></el-input>
                </el-col>
              </el-row>
            </div>
          </div>
        </el-col>
      </el-row>
      <el-row style="padding:5px 2%">
        <el-col :span="10">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#30476ccc;" align="left">
              <span>Material</span>
            </div>
            <div class="containerForm">
              <el-row>
                <el-col :span="12">
                  <span>Material:</span>
                  <el-input disabled v-model="rowSelectedEdit.strMaterial" auto-complete="off" size="mini"></el-input>
                  <!-- <el-select v-model="rowSelectedEdit.strMaterial" disabled filterable size="mini">
                    <el-option
                      v-for="item in dataMaterial"
                      :key="item.id_material"
                      :label="item.name"
                      :value="item.name">
                    </el-option>
                  </el-select> -->
                  <br><div style="margin-top:5px"></div>
                  <span>Nro. Sacos:</span><br>
                  <!-- <el-input-number disabled v-model="rowSelectedEdit.intNroSacos" size="mini" :min="0" :max="1000"></el-input-number> -->
                  <el-input disabled v-model="rowSelectedEdit.intNroSacos" auto-complete="off" size="mini"></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Peso TMH:</span>
                  <el-input disabled v-model="rowSelectedEdit.fltPesoTmh" auto-complete="off" size="mini"></el-input>
                </el-col>
                <el-col :span="12" style="padding-left:10px">
                  <span>Hora Ingreso:</span>
                  <el-time-picker
                    v-model="rowSelectedEdit.horaIngresoEdit"
                    size="mini"
                    disabled
                    @change="changeHoraEdit()">
                  </el-time-picker>
                  <br><div style="margin-top:5px"></div>
                  <span>Hora Salida:</span>
                  <el-time-picker
                    v-model="rowSelectedEdit.horaSalidaEdit"
                    size="mini"
                    disabled
                    @change="changeHoraEdit()">
                  </el-time-picker>
                  <br><div style="margin-top:5px"></div>
                  <span>Tiempo Descarga:</span>
                  <el-input disabled v-model="rowSelectedEdit.strTiempoDescarga" auto-complete="off" size="mini"></el-input>
                </el-col>
              </el-row>
            </div>
          </div>
        </el-col>
        <el-col :span="7" style="padding-left:1%">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#1957b3b0;" align="left">
              <span>Transportista</span>
            </div>
            <div class="containerForm">
              <span>Nombre:</span>
              <el-input disabled v-model="rowSelectedEdit.strNombreTransportista" auto-complete="off" size="mini"></el-input>
              <br><div style="margin-top:5px"></div>
              <span>Nro. Placa:</span>
              <el-input disabled v-model="rowSelectedEdit.strNroPlaca" auto-complete="off" size="mini"></el-input>
              <br><div style="margin-top:5px"></div>
              <span>Guia Transportista:</span>
              <el-input disabled v-model="rowSelectedEdit.strGuiaTransport" auto-complete="off" size="mini"></el-input>
            </div>
          </div>
        </el-col>
        <el-col :span="7" style="padding-left:1%">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#e5dfd4;" align="left">
              <span style="color:#30476c">Acopiador</span>
            </div>
            <div class="containerForm">
              <span>Nombre:</span>
              <el-input v-model="rowSelectedEdit.strNombreAcopiador" disabled auto-complete="off" size="mini"></el-input>
              <br><br>
            </div>
          </div>
        </el-col>
      </el-row>
      <div style="padding:5px 2%">
        <div class="cardForm">
          <div class="cardForm_Header" style="background:#30476ccc;" align="left">
            <span>Datos Generales</span>
          </div>
          <div class="containerForm">
            <table cellpadding="0" cellspacing="1" style="margin-bottom:10px;" class="hx">
              <tr>
                <td class="texto_labelDialogLeft">Dueño Mineral:</td>
                <td style="padding-top:3px;padding-left:5px;"><el-input placeholder="Dueño mineral" v-model="rowSelectedEdit.strDuenioMineral" auto-complete="off" size="mini"></el-input></td>
                <td class="texto_labelDialogRight">Turno Muestreo:</td>
                <td style="padding-top:3px;padding-left:5px;">
                  <el-radio-group v-model="rowSelectedEdit.strTurnoMuestreo">
                    <el-radio label="Dia" border>Dia</el-radio>
                    <el-radio label="Noche" border>Noche</el-radio>
                  </el-radio-group>
                </td>
                <td class="texto_labelDialogRight">Fecha Muestreo:</td>
                <td style="padding-top:3px;padding-left:5px;">
                  <!-- <el-radio-group v-model="rowSelectedEdit.strTurnoMuestreo">
                    <el-radio label="Dia" border>Dia</el-radio>
                    <el-radio label="Noche" border>Noche</el-radio>
                  </el-radio-group> -->
                  <el-date-picker
                    v-model="fechaMuestreoEdit"
                    type="date"
                    format="dd/MM/yyyy"
                    placeholder="*"
                    size="mini"
                    :editable = "false">
                  </el-date-picker>
                </td>
                <td class="texto_labelDialogRight">Fecha Retiro Lote:</td>
                <td style="padding-top:3px;padding-left:5px;">
                  <el-date-picker
                    v-model="fechaRetiroEdit"
                    type="date"
                    format="dd/MM/yyyy"
                    placeholder="*"
                    size="mini"
                    :editable = "false">
                  </el-date-picker>
                </td>
              </tr>
            </table>
            <span>Observaciones:</span>
            <el-input type="textarea" placeholder="Observaciones..." v-model="rowSelectedEdit.strObservacion" auto-complete="off" size="mini"></el-input>
          </div>
        </div>
      </div>
      <div style="margin-top:7px"></div>
      <span slot="footer" class="dialog-footer">
        <el-button type="danger" plain @click="dialogEditarBalVisible = false">Cancelar</el-button>
        <el-button v-if="editViewButton" type="primary" icon="edit" @click="EditarLote(rowSelectedEdit)">Guardar</el-button>
      </span>
    </el-dialog>

    <!--DETALLE LOTE BALANZA-->
    <el-dialog  title="DETALLE LOTE" top="5%" size="large" :visible.sync="dialogDetalleVisible" @close="dialogDetalleVisible=false">
      <div class="" style="background:#EEEEEE; width:100%;height:40px;">
        <table cellpadding="0" cellspacing="1" style="margin-bottom:10px; margin-left:30px;" class="hx">
          <tr>
            <td class="texto_labelDialogLeft" style="color:red;font-size:13px">LOTE:</td>
            <td style="padding-top:3px;padding-left:20px;"><el-input v-model="rowSelectedEdit.strLote" readonly auto-complete="off" size="small"></el-input></td>
            <td class="texto_labelDialogRight" style="font-size:13px">Sub Lote:</td>
            <td style="padding-top:3px;padding-left:20px;width:150px"><el-input v-model="rowSelectedEdit.strSubLote" readonly auto-complete="off" size="small"></el-input></td>
            <td class="texto_labelDialogRight" style="font-size:13px">Fecha Recepción:</td>
            <td style="padding-top:3px;padding-left:20px;">
              <el-date-picker
                v-model="fechaRecepcionEdit"
                type="date"
                format="dd/MM/yyyy"
                placeholder="*"
                readonly
                size="small"
                :editable = "false">
              </el-date-picker>
            </td>
            <td class="texto_labelDialogRight" style="font-size:13px">Turno:</td>
            <td style="padding-top:3px;padding-left:20px;">
              <el-input v-model="rowSelectedEdit.strTurnoRegistro" readonly auto-complete="off" size="small"></el-input>
            </td>
          </tr>
        </table>
      </div>
      <el-row style="padding:5px 2%">
        <el-col :span="6">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#30476ccc;" align="left">
              <span>Zona</span>
            </div>
            <div class="containerForm">
              <span>Procedencia:</span>
              <el-input v-model="rowSelectedEdit.strProcedenciaLg" readonly auto-complete="off" size="mini"></el-input>
              <br><div style="margin-top:5px"></div>
              <el-row>
                <el-col :span="14">
                  <span>Procedencia Mineral:</span>
                  <el-input v-model="rowSelectedEdit.strProcedenciaSt" readonly auto-complete="off" size="mini"></el-input>
                </el-col>
                <el-col :span="10" style="padding-left:10px">
                  <span>Región:</span>
                  <el-input v-model="rowSelectedEdit.strRegion" readonly auto-complete="off" size="mini"></el-input>
                </el-col>
              </el-row>
            </div>
          </div>
        </el-col>
        <el-col :span="8" style="padding-left:1%">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#1957b3b0;" align="left">
              <span>Proveedor</span>
            </div>
            <div class="containerForm">
              <span>Ruc:</span>
              <el-input v-model="rowSelectedEdit.strClienteRuc" readonly auto-complete="off" size="mini"></el-input>
              <br><div style="margin-top:5px"></div>
              <span>Razon Social:</span>
              <el-input v-model="rowSelectedEdit.strClienteRazonS" readonly auto-complete="off" size="mini"></el-input>
            </div>
          </div>
        </el-col>
        <el-col :span="10" style="padding-left:1%">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#e5dfd4;" align="left">
              <span style="color:#30476c">Guias de Remisión</span>
            </div>
            <div class="containerForm">
              <el-row>
                <el-col :span="12">
                  <span>Código Concesión:</span>
                  <el-input v-model="rowSelectedEdit.strCodConcesion" readonly auto-complete="off" size="mini"></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Nombre Concesión:</span>
                  <el-input v-model="rowSelectedEdit.strNombreConcesion" readonly auto-complete="off" size="mini"></el-input>
                </el-col>
                <el-col :span="12" style="padding-left:10px">
                  <span>Guia Remitente:</span>
                  <el-input v-model="rowSelectedEdit.strGuiaRemitente" readonly auto-complete="off" size="mini"></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Código Compromiso:</span>
                  <el-input v-model="rowSelectedEdit.strCodCompromiso" readonly auto-complete="off" size="mini"></el-input>
                </el-col>
              </el-row>
            </div>
          </div>
        </el-col>
      </el-row>
      <el-row style="padding:5px 2%">
        <el-col :span="10">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#30476ccc;" align="left">
              <span>Material</span>
            </div>
            <div class="containerForm">
              <el-row>
                <el-col :span="12">
                  <span>Material:</span>
                  <el-input placeholder="Material" v-model="rowSelectedEdit.strMaterial" auto-complete="off" size="mini" readonly></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Nro. Sacos:</span><br>
                  <el-input v-model="rowSelectedEdit.intNroSacos" readonly auto-complete="off" size="mini"></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Peso TMH:</span>
                  <el-input placeholder="Peso TMH" v-model="rowSelectedEdit.fltPesoTmh" readonly auto-complete="off" size="mini"></el-input>
                </el-col>
                <el-col :span="12" style="padding-left:10px">
                  <span>Hora Ingreso:</span>
                  <el-time-picker
                    v-model="horaIngresoEdit"
                    size="mini"
                    readonly
                    placeholder="Hora Ingreso"
                    @change="changeHoraEdit()">
                  </el-time-picker>
                  <br><div style="margin-top:5px"></div>
                  <span>Hora Salida:</span>
                  <el-time-picker
                    v-model="horaSalidaEdit"
                    size="mini"
                    readonly
                    placeholder="Hora Salida"
                    @change="changeHoraEdit()">
                  </el-time-picker>
                  <br><div style="margin-top:5px"></div>
                  <span>Tiempo Descarga:</span>
                  <el-input readonly placeholder="Tiempo Descarga" v-model="rowSelectedEdit.strTiempoDescarga" auto-complete="off" size="mini"></el-input>
                </el-col>
              </el-row>
            </div>
          </div>
        </el-col>
        <el-col :span="7" style="padding-left:1%">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#1957b3b0;" align="left">
              <span>Transportista</span>
            </div>
            <div class="containerForm">
              <span>Nombre:</span>
              <el-input readonly v-model="rowSelectedEdit.strNombreTransportista" auto-complete="off" size="mini"></el-input>
              <br><div style="margin-top:5px"></div>
              <span>Nro. Placa:</span>
              <el-input readonly v-model="rowSelectedEdit.strNroPlaca" auto-complete="off" size="mini"></el-input>
              <br><div style="margin-top:5px"></div>
              <span>Guia Transportista:</span>
              <el-input readonly v-model="rowSelectedEdit.strGuiaTransport" auto-complete="off" size="mini"></el-input>
            </div>
          </div>
        </el-col>
        <el-col :span="7" style="padding-left:1%">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#e5dfd4;" align="left">
              <span style="color:#30476c">Acopiador</span>
            </div>
            <div class="containerForm">
              <span>Nombre:</span>
              <el-input readonly v-model="rowSelectedEdit.strNombreAcopiador" auto-complete="off" size="mini"></el-input>
              <br><br>
            </div>
          </div>
        </el-col>
      </el-row>
      <div style="padding:5px 2%">
        <div class="cardForm">
          <div class="cardForm_Header" style="background:#30476ccc;" align="left">
            <span>Datos Generales</span>
          </div>
          <div class="containerForm">
            <table cellpadding="0" cellspacing="1" style="margin-bottom:10px;" class="hx">
              <tr>
                <td class="texto_labelDialogLeft">Dueño Mineral:</td>
                <td style="padding-top:3px;padding-left:20px;">
                  <el-input readonly v-model="rowSelectedEdit.strDuenioMineral" auto-complete="off" size="mini"></el-input>
                </td>
                <td class="texto_labelDialogRight">Turno Muestreo:</td>
                <td style="padding-top:3px;padding-left:20px;">
                  <!-- <el-input readonly v-model="rowSelectedEdit.strTurnoMuestreo" auto-complete="off" size="small"></el-input> -->
                  <el-date-picker
                    v-model="fechaMuestreoEdit"
                    type="date"
                    format="dd/MM/yyyy"
                    placeholder="*"
                    size="mini"
                    readonly
                    :editable = "false">
                  </el-date-picker>
                </td>
                <td class="texto_labelDialogRight">Fecha Retiro Lote:</td>
                <td style="padding-top:3px;padding-left:20px;">
                  <el-date-picker
                    v-model="fechaRetiroEdit"
                    type="date"
                    format="dd/MM/yyyy"
                    placeholder="*"
                    size="mini"
                    readonly
                    :editable = "false">
                  </el-date-picker>
                </td>
              </tr>
            </table>
            <span>Observaciones:</span>
            <el-input type="textarea" readonly v-model="rowSelectedEdit.strObservacion" auto-complete="off" size="mini"></el-input>
          </div>
        </div>
      </div>
      <div style="margin-top:7px"></div>
      <span slot="footer" class="dialog-footer">
        <el-button type="danger" plain @click="dialogDetalleVisible = false">Cerrar</el-button>
      </span>
    </el-dialog>


    <!--ACTUALIZAR LOTE LIQUIDACION-->
    <el-dialog  title="ACTUALIZAR LOTE: LIQUIDACION" top="5%" size="large" :visible.sync="dialogEditarLiqVisible" @close="dialogEditarLiqVisible=false">
      <div style="background:#EEEEEE; width:100%;height:40px;">
        <table cellpadding="0" cellspacing="1" style="margin-bottom:10px; margin-left:30px;">
          <tr>
            <td class="texto_labelDialogLeft" style="color:red;font-size:13px">LOTE:</td>
            <td style="padding-top:3px;padding-left:20px;">
              <el-input v-model="rowSelectedEdit.strLote" auto-complete="off" size="small" readonly></el-input>
            </td>
            <td class="texto_labelDialogRight" style="font-size:13px">Sub Lote:</td>
            <td style="padding-top:3px;padding-left:20px;width:150px"><el-input v-model="rowSelectedEdit.strSubLote" readonly auto-complete="off" size="small"></el-input></td>
            <td class="texto_labelDialogRight" style="font-size:13px">Fecha Recepción:</td>
            <td style="padding-top:3px;padding-left:20px;">
              <el-date-picker
                v-model="fechaRecepcionEdit"
                type="date"
                format="dd/MM/yyyy"
                placeholder="*"
                size="small"
                readonly
                :editable = "false">
              </el-date-picker>
            </td>
            <td class="texto_labelDialogRight" style="font-size:13px">Turno:</td>
            <td style="padding-top:3px;padding-left:20px;">
              <el-input v-model="rowSelectedEdit.strTurnoRegistro" auto-complete="off" size="small"  readonly></el-input>
            </td>
          </tr>
        </table>
      </div>
      <el-row style="padding:5px 2%">
        <el-col :span="6">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#30476ccc;" align="left">
              <span>Zona</span>
            </div>
            <div class="containerForm">
              <span>Procedencia:</span>
              <el-input v-model="rowSelectedEdit.strProcedenciaLg" disabled auto-complete="off" size="mini"></el-input>
              <br><div style="margin-top:5px"></div>
              <el-row>
                <el-col :span="14">
                  <span>Procedencia Mineral:</span>
                  <el-input v-model="rowSelectedEdit.strProcedenciaSt" disabled auto-complete="off" size="mini"></el-input>
                </el-col>
                <el-col :span="10" style="padding-left:10px">
                  <span>Región:</span>
                  <el-input v-model="rowSelectedEdit.strRegion" disabled auto-complete="off" size="mini"></el-input>
                </el-col>
              </el-row>
            </div>
          </div>
        </el-col>
        <el-col :span="8" style="padding-left:1%">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#1957b3b0;" align="left">
              <span>Proveedor</span>
            </div>
            <div class="containerForm">
              <span>Ruc:</span>
              <el-input v-model="rowSelectedEdit.strClienteRuc" auto-complete="off" size="mini"></el-input>
              <br><div style="margin-top:5px"></div>
              <span>Razon Social:</span>
              <el-input v-model="rowSelectedEdit.strClienteRazonS" auto-complete="off" size="mini"></el-input>
            </div>
          </div>
        </el-col>
        <el-col :span="10" style="padding-left:1%">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#e5dfd4;" align="left">
              <span style="color:#30476c">Guias de Remisión</span>
            </div>
            <div class="containerForm">
              <el-row>
                <el-col :span="12">
                  <span>Código Concesión:</span>
                  <el-input v-model="rowSelectedEdit.strCodConcesion" auto-complete="off" size="mini"></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Nombre Concesión:</span>
                  <el-input v-model="rowSelectedEdit.strNombreConcesion" auto-complete="off" size="mini"></el-input>
                </el-col>
                <el-col :span="12" style="padding-left:10px">
                  <span>Guia Remitente:</span>
                  <el-input v-model="rowSelectedEdit.strGuiaRemitente" auto-complete="off" size="mini"></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Código Compromiso:</span>
                  <el-input v-model="rowSelectedEdit.strCodCompromiso" auto-complete="off" size="mini"></el-input>
                </el-col>
              </el-row>
            </div>
          </div>
        </el-col>
      </el-row>
      <el-row style="padding:5px 2%">
        <el-col :span="10">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#30476ccc;" align="left">
              <span>Material</span>
            </div>
            <div class="containerForm">
              <el-row>
                <el-col :span="12">
                  <span>Material:</span>
                  <el-input disabled v-model="rowSelectedEdit.strMaterial" auto-complete="off" size="mini"></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Nro. Sacos:</span><br>
                  <el-input disabled v-model="rowSelectedEdit.intNroSacos" auto-complete="off" size="mini"></el-input>
                  <br><div style="margin-top:5px"></div>
                  <span>Peso TMH:</span>
                  <el-input disabled v-model="rowSelectedEdit.fltPesoTmh" auto-complete="off" size="mini"></el-input>
                </el-col>
                <el-col :span="12" style="padding-left:10px">
                  <span>Hora Ingreso:</span>
                  <el-time-picker
                    v-model="horaIngresoEdit"
                    size="mini"
                    disabled
                    @change="changeHoraEdit()">
                  </el-time-picker>
                  <br><div style="margin-top:5px"></div>
                  <span>Hora Salida:</span>
                  <el-time-picker
                    v-model="horaSalidaEdit"
                    size="mini"
                    disabled
                    @change="changeHoraEdit()">
                  </el-time-picker>
                  <br><div style="margin-top:5px"></div>
                  <span>Tiempo Descarga:</span>
                  <el-input disabled v-model="rowSelectedEdit.strTiempoDescarga" auto-complete="off" size="mini"></el-input>
                </el-col>
              </el-row>
            </div>
          </div>
        </el-col>
        <el-col :span="7" style="padding-left:1%">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#1957b3b0;" align="left">
              <span>Transportista</span>
            </div>
            <div class="containerForm">
              <span>Nombre:</span>
              <el-input v-model="rowSelectedEdit.strNombreTransportista" auto-complete="off" size="mini"></el-input>
              <br><div style="margin-top:5px"></div>
              <span>Nro. Placa:</span>
              <el-input v-model="rowSelectedEdit.strNroPlaca" auto-complete="off" size="mini"></el-input>
              <br><div style="margin-top:5px"></div>
              <span>Guia Transportista:</span>
              <el-input v-model="rowSelectedEdit.strGuiaTransport" auto-complete="off" size="mini"></el-input>
            </div>
          </div>
        </el-col>
        <el-col :span="7" style="padding-left:1%">
          <div class="cardForm">
            <div class="cardForm_Header" style="background:#e5dfd4;" align="left">
              <span style="color:#30476c">Acopiador</span>
            </div>
            <div class="containerForm">
              <span>Nombre:</span>
              <el-input v-model="rowSelectedEdit.strNombreAcopiador" disabled auto-complete="off" size="mini"></el-input>
              <br><br>
            </div>
          </div>
        </el-col>
      </el-row>
      <div style="padding:5px 2%">
        <div class="cardForm">
          <div class="cardForm_Header" style="background:#30476ccc;" align="left">
            <span>Datos Generales</span>
          </div>
          <div class="containerForm">
            <table cellpadding="0" cellspacing="1" style="margin-bottom:10px;" class="hx">
              <tr>
                <td class="texto_labelDialogLeft">Dueño Mineral:</td>
                <td style="padding-top:3px;padding-left:5px;"><el-input placeholder="Dueño mineral" v-model="rowSelectedEdit.strDuenioMineral" auto-complete="off" size="mini"></el-input></td>
                <td class="texto_labelDialogRight">Turno Muestreo:</td>
                <td style="padding-top:3px;padding-left:5px;">
                  <el-radio-group v-model="rowSelectedEdit.strTurnoMuestreo">
                    <el-radio label="Dia" border>Dia</el-radio>
                    <el-radio label="Noche" border>Noche</el-radio>
                  </el-radio-group>
                </td>
                <td class="texto_labelDialogRight">Fecha Muestreo:</td>
                <td style="padding-top:3px;padding-left:5px;">
                  <el-date-picker
                    v-model="fechaMuestreoEdit"
                    type="date"
                    format="dd/MM/yyyy"
                    placeholder="*"
                    size="mini"
                    :editable = "false">
                  </el-date-picker>
                </td>
                <td class="texto_labelDialogRight">Fecha Retiro Lote:</td>
                <td style="padding-top:3px;padding-left:5px;">
                  <el-date-picker
                    v-model="fechaRetiroEdit"
                    type="date"
                    format="dd/MM/yyyy"
                    placeholder="*"
                    size="mini"
                    :editable = "false">
                  </el-date-picker>
                </td>
              </tr>
            </table>
            <span>Observaciones:</span>
            <el-input type="textarea" placeholder="Observaciones..." v-model="rowSelectedEdit.strObservacion" auto-complete="off" size="mini"></el-input>
          </div>
        </div>
      </div>
      <div style="margin-top:7px"></div>
      <span slot="footer" class="dialog-footer">
        <el-button type="danger" plain @click="dialogEditarLiqVisible = false">Cancelar</el-button>
        <el-button v-if="editViewButton" type="primary" icon="edit" @click="EditarLote(rowSelectedEdit)">Guardar</el-button>
      </span>
    </el-dialog>

  </div>
</template>
<script>
  import BalanzaComponent from '@/components/balanza/balanza.component'
  export default BalanzaComponent
</script>
<style>

</style>
