<template>
    <div class="" >
      <ol  style="margin-left: -1.5rem;background: linear-gradient(rgb(229, 241, 247) 0%, rgb(255, 255, 255) 100%);    margin-bottom: 0rem !important;">
        <quickaccessmenu v-on:ValidarItem="BuscarLotes()" v-on:guardarTodo="guardarTodo($event)" v-on:backPage="backPage($event)"  v-on:reloadpage="reloadpage($event)"></quickaccessmenu>
        </ol>
      <el-card class="box-card" >
        <div slot="header" class="headercard"  >
          <span class="labelheadercard">Atención Cliente</span>
          <!-- <el-button class="buttonfilter btn btn-outline-secondary orange" style="margin-top: -3px;" @click="BuscarLotes()">
              <img class="imagenfilter" src="../../images/buscari.png" style="margin-left: 0px;width: 15px;height: 16px;" alt="" >
          </el-button> -->
          <!-- <el-button class="buttonfilter btn btn-outline-secondary orange" style="margin-top: -3px;" @click="LimpiarConsulta()">
              <img class="imagenfilter" src="../../images/visualizar.png" style="margin-left: 0px;width: 15px;height: 16px;" alt="" >
          </el-button> -->
          <!-- <el-button class="buttonfilter btn btn-outline-secondary orange" style="margin-top: -3px;" @click="blnfiltroavanzado=!blnfiltroavanzado">
              <img class="imagenfilter" src="../../images/filtro.png" style="margin-left: 0px;width: 15px;height: 16px;" alt="" >
          </el-button> -->
        </div>
        <div class="row bodycard">
          <div class="container">
            <div class="row" >
              <div class="col-sm-3">
                <div class="form-group row " style="margin-top: 1px;">
                    <label class="el-form-item__label col-md-3" >Periodo</label>
                    <div class="col-md-7 grupolabel">
                      <div class="input-group mb-3" >
                        <el-date-picker
                          v-model="fechaSearch"
                          type="month"
                          size="mini"
                          format="MMMM / yyyy"
                          placeholder="Seleccione Mes"
                          :editable = "false"
                          @change="changeMonth()">
                        </el-date-picker>
                      </div>
                    </div>
                    <el-button v-if="!blnperiodo" class="buttonfilter btn btn-outline-secondary orange" style="margin-top: 3px;" @click="blnperiodo=!blnperiodo">
                        <img class="imagenfilter" src="../../images/collapse_derecha.png" alt="" >
                    </el-button>
                    <el-button v-if="blnperiodo" class="buttonfilter btn btn-outline-secondary orange" style="margin-top: 3px;" @click="blnperiodo=!blnperiodo">
                        <img class="imagenfilter" src="../../images/collapse_left.png" alt="" >
                    </el-button>
                </div>
              </div>
              <div class="col-sm-3" v-if="blnperiodo">
                <div class="form-group row " style="margin-top: 1px;">
                    <label class="el-form-item__label col-md-3" >Desde</label>
                    <div class="col-md-7 grupolabel">
                      <div class="input-group mb-3" >
                        <el-date-picker
                          v-model="fechaInicio"
                          size="mini"
                          format="dd/MM/yyyy"
                          placeholder="Desde"
                          @keyup.enter.native="BuscarLotes()">
                        </el-date-picker>
                      </div>
                    </div>
                </div>
              </div>
              <div class="col-sm-3" v-if="blnperiodo">
                <div class="form-group row " style="margin-top: 1px;">
                    <label class="el-form-item__label col-md-3" >Hasta</label>
                    <div class="col-md-7 grupolabel">
                      <div class="input-group mb-3" >
                        <el-date-picker
                          v-model="fechaFin"
                          size="mini"
                          format="dd/MM/yyyy"
                          placeholder="Desde"
                          @keyup.enter.native="BuscarLotes()">
                        </el-date-picker>
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="row" v-if="blnfiltroavanzado" style="margin-top: 2px;">
              <div class="col-sm-3">
                <div class="form-group row ">
                  <label class="el-form-item__label col-md-3" >Lote</label>
                  <div class="col-md-7 grupolabel">
                      <div class="input-group mb-3" >
                        <el-input placeholder="*" type="search" v-model="FormSearch.strLote" @keyup.enter.native="BuscarLotes()" auto-complete="off" size="mini"></el-input>
                      </div>
                  </div>           
                </div> 
              </div>
            </div>
            <div class="row" v-if="blnfiltroavanzado"  style="margin-top: 2px;">
              <div class="col-sm-3">
                <div class="form-group row ">
                  <label class="el-form-item__label col-md-3" >Acopiador</label>
                  <div class="col-md-9 grupolabel">
                    <div class="input-group mb-3" >
                      <el-input placeholder="*" type="search" v-model="FormSearch.strAcopiador" auto-complete="off" size="mini" @keyup.enter.native="BuscarLotes()"></el-input>
                    </div>
                  </div>  
                </div> 
              </div>
              <div class="col-sm-3">
                <div class="form-group row ">
                  <label class="el-form-item__label col-md-3" >Zona</label>
                  <div class="col-md-5 grupolabel">
                    <div class="input-group mb-3" >
                      <el-select v-model="FormSearch.strProcedencia" style="font-size:13px" allow-create clearable placeholder="" size="mini" filterable>
                        <el-option style="font-size:13px"
                          v-for="item in dataZonas"
                          :key="item.strZona"
                          :label="item.strZona"
                          :value="item.strZona">
                        </el-option>
                      </el-select>
                    </div>
                  </div>
                </div>
              </div>
            </div> 
            <div align="right"
              style="background:#EEEEEE;padding-top:5px;padding-bottom:5px;font-size:13px">
              <span style="font-size:12px;">Total Lotes: <b>{{countGridData}}</b></span>
            </div>
            <div class="headercard" >
              <buttons-accions v-on:Limpiar="clickactive('B')" v-on:Buscar="clickactive('A')" v-on:AscItem="AscItem" v-on:DscItem="DscItem" v-on:siguiente="siguiente()" v-on:anterior="anterior()" v-on:EliminarItem="EliminarItem()" ></buttons-accions>
            </div> 
            <el-table
              :data="gridData"
              border
              highlight-current-row
              :max-height="sizeScreen"
              v-loading="loadingGetData"
              element-loading-text="Cargando lotes..."
              style="width:100%;font-size:10px;margin:5px 0px">
              <el-table-column label="LOTE"  align="center" width="85">
                <template scope="scope">
                  <span style="color:red"><b>{{scope.row.strLote}}</b></span>
                </template>
              </el-table-column>
              <el-table-column label="Fecha Recepción" width="120" align="center">
                <template scope="scope">
                  <span><b>{{ getDateString(scope.row.dtmFechaRecepcion) }}</b></span>
                </template>
              </el-table-column>
              <el-table-column prop="strProcedenciaLg" label="Procedencia" width="230"></el-table-column>
              <el-table-column prop="strProcedenciaSt" label="Procedencia Mineral" width="140"></el-table-column>
              <el-table-column prop="strClienteRazonS" label="Proveedor Mineral" width="250"></el-table-column>
              <el-table-column prop="strClienteRuc" label="Ruc" width="110" align="center"></el-table-column>
              <el-table-column prop="strNombreConcesion" label="Nombre Concesion" width="140"></el-table-column>
              <el-table-column prop="strGuiaRemitente" label="Guia Remitente" width="115" align="center"></el-table-column>
              <el-table-column prop="strCodCompromiso" label="Código Compromiso" width="130" align="center"></el-table-column>
              <el-table-column prop="strCodConcesion" label="Código Concesión" width="130" align="center"></el-table-column>
              <el-table-column prop="strMaterial" label="Material" width="85" align="center"></el-table-column>
              <el-table-column prop="intNroSacos" label="N° Sacos" width="85" align="center"></el-table-column>
              <el-table-column label="Peso TMH" width="90" align="center">
                <template scope="scope">
                  <span><b>{{ scope.row.fltPesoTmh }}</b></span>
                </template>
              </el-table-column>
              <el-table-column prop="strDuenioMineral" label="Dueño Mineral" width="140"></el-table-column>
              <el-table-column prop="strNombreTransportista" label="Nombre Fletero" width="250"></el-table-column>
              <el-table-column prop="strNroPlaca" label="Nro. Placa" width="90" align="center"></el-table-column>
              <el-table-column prop="strGuiaTransport" label="Guia Transportista" width="130" align="center"></el-table-column>
              <el-table-column prop="strNombreAcopiador" label="Acopiador" width="130"></el-table-column>
              <el-table-column prop="strUsuarioCrea" label="Balancero" width="100" align="center"></el-table-column>
              <el-table-column label="Turno" width="80" align="center">
                <template scope="scope">
                  <span>{{scope.row.strTurnoRegistro.toUpperCase()}}</span>
                </template>
              </el-table-column>
              <el-table-column prop="strObservacion" label="Observaciones" width="200"></el-table-column>
              <el-table-column label="Ley Au Comercial" fixed="right" width="130" align="center">
                <template scope="scope">
                  <span style="font-size:12px;font-weight:bold;color:blue;">{{getNumberFix(scope.row.strLeyAuComercial, 3)}}</span>
                </template>
              </el-table-column>
              <el-table-column label="Ley Ag Comercial" fixed="right" width="130" align="center">
                <template scope="scope">
                  <span style="font-size:12px;font-weight:bold;color:blue;">{{getNumberFix(scope.row.strLeyAgComercial, 3)}}</span>
                </template>
              </el-table-column>
              
            </el-table>
            <el-row type="flex" class="row-bg" style="margin-bottom:5px">
              <el-col :span="6">
                <el-pagination layout="prev, pager, next" :total="totalRegistros" :page-size="RegistersForPage" :current-page.sync="pagina" @current-change="cambioPagina()">
                </el-pagination>
              </el-col>
              
            </el-row> 
          </div>
        </div>
      </el-card>
    </div>
</template>

<script>
  import AtencionClienteComponent from '@/components/AtencionCliente/atencionCliente.component'
  export default AtencionClienteComponent
</script>
<style>

</style>
