<template>
  <div id="roles">
    <ol  style="margin-left: -1.5rem;background: linear-gradient(rgb(229, 241, 247) 0%, rgb(255, 255, 255) 100%);    margin-bottom: 0rem !important;">
        <quickaccessmenu v-on:ValidarItem="BuscarLotes()" v-on:guardarTodo="guardarTodo($event)" v-on:backPage="backPage($event)"  v-on:reloadpage="reloadpage($event)"></quickaccessmenu>
        </ol>
    <el-card class="box-card" style="margin-top:5px;">
      <div slot="header" class="headercard">
        <span>CONFIGURACIÓN DE ROLES</span>
      </div>
      <div style="margin-bottom:5px" v-if="viewAccessEscritura">
        <el-button type="primary" @click="handleAgregar()"><i class="fa fa-plus"></i> Agregar Rol</el-button>
      </div>
      <div class="headercard" >
        <buttons-accions v-on:Limpiar="clickactive('B')" v-on:Buscar="clickactive('A')" v-on:AscItem="AscItem" v-on:DscItem="DscItem" v-on:siguiente="siguiente()" v-on:anterior="anterior()" v-on:EliminarItem="EliminarItem()" ></buttons-accions>
      </div> 
      <el-table
      ref="missionTable"
        :data="gridData"
        :max-height="sizeScreen"
        border
        highlight-current-row
        stripe  :default-sort = "{prop: 'date', order: 'descending'}"
        v-loading="loadingGetData"
        element-loading-text="Cargando Roles..."
        style="width:100%;font-size:10px;margin:5px 0px">
        <el-table-column prop="intCodRol" label="CÓDIGO" width="130" align="center"></el-table-column>
        <el-table-column prop="strDescripcion" label="DESCRIPCIÓN"></el-table-column>
        <el-table-column prop="strUsuarioModif" label="USUARIO MODIFICA" align="center"></el-table-column>
        <el-table-column label="FECHA MODIFICACIÓN" align="center">
          <template scope="scope">
            <span>{{ getDateString(scope.row.dtmFechaModif) }}</span>
          </template>
        </el-table-column>
        <el-table-column label="OPERACIONES" with="180" align="center" v-if="viewAccessEscritura">
          <template scope="scope">
            <el-button :plain="true" icon="edit" size="small" type="info"
              @click="handleEdit(scope.$index, scope.row)">Modificar</el-button>
            <el-button icon="delete" size="small" type="danger"
              @click="handleDelete(scope.$index, scope.row)">Eliminar</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-row type="flex" class="row-bg">
        <el-col :span="11">
          <el-pagination layout="prev, pager, next" :total="totalRegistros" :page-size="RegistersForPage" :current-page.sync="pagina" @current-change="cambioPagina()">
          </el-pagination>
        </el-col>
        <el-col :span="11" style="margin-top:7px">
          <span style="font-size:14px;">Total de Registros: <b>{{countGridData}}</b></span>
        </el-col>
      </el-row>
    </el-card>
    <br>

    <!--AGREGAR ROL-->
    <el-dialog  title="Agregar Rol" size="small" :visible.sync="dialogAgregarVisible">
      <el-form  :model="FormAgregar" ref="FormAgregar" class="demo-ruleForm" label-width="120px" style="padding:10px 20px">
        <el-form-item label="Descripción:" prop="strDescripcion">
          <el-input placeholder="Descripción" v-model="FormAgregar.strDescripcion" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="Accesos:" prop="lstAccesos" center-block>
          <el-table
            ref="multipleTable"
            :data="listaAccesos"
            border
            height="350"
            v-loading="loadingGetAccesos"
            element-loading-text="Cargando accesos..."
            style="width: 100%; font-size: 11px;"
            @selection-change="handleSelectionChange">
            <el-table-column type="selection" width="100" align="center"></el-table-column>
            <!-- <el-table-column prop="intCodAcceso" label="CÓDIGO" width="130" align="center"></el-table-column> -->
            <el-table-column prop="strDescripcion" label="DESCRIPCIÓN"></el-table-column>
            <el-table-column label="NIVEL DE ACCESO" align="center">
              <template scope="scope">
                <el-select
                  v-model="scope.row.strTipoAcceso"
                  placeholder="Nivel"
                  size="mini"
                  @change="changeSelectRol(scope.row)">
                  <el-option
                    v-for="item in dataNivelAcceso"
                    :key="item.name"
                    :value="item.name">
                  </el-option>
                </el-select>
              </template>
            </el-table-column>
          </el-table>
        </el-form-item>
      </el-form>

      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogAgregarVisible = false">Cancelar</el-button>
        <el-button type="primary" @click="AgregarRol()">Agregar</el-button>
      </span>
    </el-dialog>

    <!--ACTUALIZAR ROL-->
    <el-dialog  title="Editar Rol" :visible.sync="dialogEditarVisible" @close="dialogEditarVisible=false">
      <el-form :model="rowSelectedEdit" ref="rowSelectedEdit" class="demo-ruleForm" label-width="120px" style="padding:10px 20px">
        <el-form-item label="Descripcion" prop="strDescripcion">
          <el-input placeholder="Descripcion" v-model="rowSelectedEdit.strDescripcion" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="Accesos" prop="lstAccesos" center-block>
          <el-table
            :data="listaAccesosEdit"
            border
            height="350"
            v-loading="loadingGetAccesosEdit"
            element-loading-text="Cargando accesos..."
            style="width: 100%; font-size: 11px;">
            <el-table-column label="ACCESO" width="100" align="center">
              <template scope="scope">
                <!-- <el-checkbox :checked="getCheckEstado(scope.row.check)"></el-checkbox> -->
                <input style="width: 16px;height: 16px;cursor:pointer;" type="checkbox" :checked="getCheckEstado(scope.row)" @change="handleCheckBox(scope.$index, scope.row)">
              </template>
            </el-table-column>
            <!-- <el-table-column prop="intCodAcceso" label="CÓDIGO" width="130" align="center"></el-table-column> -->
            <el-table-column prop="strDescripcion" label="DESCRIPCIÓN"></el-table-column>
            <el-table-column label="NIVEL DE ACCESO" align="center">
              <template scope="scope">
                <el-select
                  v-model="scope.row.strTipoAcceso"
                  placeholder="Nivel"
                  size="mini"
                  @change="changeSelectRolEdit(scope.row)">
                  <el-option
                    v-for="item in dataNivelAcceso"
                    :key="item.name"
                    :value="item.name">
                  </el-option>
                </el-select>
              </template>
            </el-table-column>
          </el-table>

        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogEditarVisible = false">Cancelar</el-button>
        <el-button type="primary" @click="EditarRol()">Guardar</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
  import RolesComponent from '@/components/roles/roles.component'
  export default RolesComponent
</script>
<style>
</style>
