<template>
  <div>
    <ol  style="margin-left: -1.5rem;background: linear-gradient(rgb(229, 241, 247) 0%, rgb(255, 255, 255) 100%);    margin-bottom: 0rem !important;">
        <quickaccessmenu v-on:ValidarItem="BuscarLotes()" v-on:backPage="backPage($event)"  v-on:reloadpage="reloadpage($event)"></quickaccessmenu>
        </ol>
    <el-card class="box-card" style="margin-top:5px;">
      <div slot="header" class="headercard">
        <span class="labelheadercard">MINERAL PROCESADO</span>
      </div>
      <div style="overflow: auto;" align="center">
        <table cellpadding="0" cellspacing="1" style="border-collapse: collapse;">
          <tr>
            <td class="texto_labelDialogLeft" style="font-size:13px;padding-left:8px">Periodo:</td>
            <td style="padding-top:3px;padding-left:8px;">
              <el-date-picker
                v-model="fechaSearch"
                type="month"
                size="mini"
                format="MM/yyyy"
                placeholder="Seccione Periodo"
                :editable = "false">
              </el-date-picker>
            </td>
            <td class="texto_labelDialogRight" style="font-size:13px;">N° Ruma:</td>
            <td style="padding-top:3px;padding-left:8px;">
              <el-input type="search" placeholder="*" v-model="FormSearch.strNroRuma" auto-complete="off" size="mini" @keyup.enter.native="BuscarLotes()"></el-input>
            </td>
            <td class="texto_labelDialogRight" style="font-size:13px;">N° Campaña:</td>
            <td style="padding-top:3px;padding-left:8px;">
              <el-input type="search" placeholder="*" v-model="FormSearch.strNroCampania" auto-complete="off" size="mini" @keyup.enter.native="BuscarLotes()"></el-input>
            </td>

            <!-- <td style="padding-top:2px;padding-left:8px;">
              <el-button size="small" type="primary" icon="search" @click="BuscarLotes()">Buscar</el-button>
            </td> -->
          </tr>
          <tr>
            <td class="texto_labelDialogLeft" style="font-size:13px;padding-left:8px">Lote:</td>
            <td style="padding-top:3px;padding-left:8px;padding-right:10px">
              <el-input type="search" placeholder="*" v-model="FormSearch.strLote" auto-complete="off" size="mini" @keyup.enter.native="BuscarLotes()"></el-input>
            </td>
            <td class="texto_labelDialogRight" style="font-size:13px;">Proveedor:</td>
            <td style="padding-top:3px;padding-left:8px;">
              <el-input type="search" placeholder="*" v-model="FormSearch.strClienteRazonS" auto-complete="off" size="mini" @keyup.enter.native="BuscarLotes()"></el-input>
            </td>
            <td class="texto_labelDialogRight" style="font-size:13px;">Zona:</td>
            <td style="padding-top:3px;padding-left:8px;">
              <el-select v-model="FormSearch.strProcedenciaSt" allow-create clearable placeholder="" size="mini" filterable>
                <el-option
                  v-for="item in dataZonas"
                  :key="item.strZona"
                  :label="item.strZona"
                  :value="item.strZona">
                </el-option>
              </el-select>
            </td>
          </tr>
        </table>
      </div>
      <div class="headercard" >
            <buttons-accions v-on:Limpiar="clickactive('B')" v-on:Buscar="clickactive('A')" v-on:AscItem="AscItem" v-on:DscItem="DscItem" v-on:siguiente="siguiente()" v-on:anterior="anterior()" v-on:EliminarItem="EliminarItem()" ></buttons-accions>
          </div>
      <el-table
      ref="missionTable"
        :data="gridData"
        stripe  :default-sort = "{prop: 'date', order: 'descending'}"
        border
        highlight-current-row
        :max-height="sizeScreen"
        v-loading="loadingGetData"
        element-loading-text="Cargando lotes..."
        style="width: 100%; font-size: 10px;margin:5px 0px">
        <el-table-column label="LOTE" fixed align="center" width="75">
          <template scope="scope">
            <span style="color:red"><b>{{scope.row.strLote}}</b></span>
          </template>
        </el-table-column>
        <el-table-column label="Fecha Recepción" fixed width="100" align="center">
          <template scope="scope">
            <span><b>{{scope.row.dtmFechaRecepcion}}</b></span>
          </template>
        </el-table-column>
        <el-table-column label="DATOS RECEPCIÓN" align="center">
          <el-table-column prop="strProcedenciaSt" label="Zona" width="110" align="center"></el-table-column>
          <el-table-column prop="strClienteRazonS" label="Proveedor Mineral" width="250"></el-table-column>
          <el-table-column prop="strMaterial" label="Material" width="65" align="center"></el-table-column>
          <el-table-column prop="intNroSacos" label="N° Sacos" width="65" align="center"></el-table-column>
          <el-table-column label="Peso TMH" width="70" align="center">
            <template scope="scope">
              <span style="font-size:11px"><b>{{ scope.row.fltPesoTmhHistorico }}</b></span>
            </template>
          </el-table-column>
        </el-table-column>
        <el-table-column label="DATOS LABORATORIO" align="center" style="background:blue">
          <el-table-column label="% H2O" width="75" align="center">
            <template scope="scope">
              <span style="font-size:11px">{{scope.row.strPorcH2O}}</span>
            </template>
          </el-table-column>
          <el-table-column label="P.Seco TM" width="90" align="center">
            <template scope="scope">
              <span style="font-size:11px">{{scope.row.strPSecoHistorico}}</span>
            </template>
          </el-table-column>
          <el-table-column prop="strPorcRCPRef12hrs" label="% RCP Ref" width="80" align="center"></el-table-column>
          <el-table-column prop="strPorcRCPAu30hrs" label="% RCP Au 48hrs" width="100" align="center"></el-table-column>
          <el-table-column prop="strPorcRCPAu70hrs" label="% RCP Au 72hrs" width="100" align="center"></el-table-column>
          <el-table-column prop="strPorcRCPReeAu72hrs" label="REE % RCP Au 72hrs" width="120" align="center"></el-table-column>
          <el-table-column label="Ley Au Oz/tc" width="85" align="center">
            <template scope="scope">
              <span style="font-size:11px"><b>{{scope.row.strLeyAuOzTc}}</b></span>
            </template>
          </el-table-column>
          <el-table-column prop="strLeyAuREE" label="Ley Au REE" width="80" align="center"></el-table-column>
          <el-table-column prop="strLeyAuRemuestreo" label="Ley Au RMI" width="80" align="center"></el-table-column>
          <el-table-column label="Fino (Au/Gr)" width="85" align="center">
            <template scope="scope">
              <span style="font-weight:bold;color:#212c3c;">{{ scope.row.fltFinoAu }}</span>
            </template>
          </el-table-column>
          <el-table-column label="Ley Ag (Oz/tc)" width="90" align="center">
            <template scope="scope">
              <span style="font-size:11px"><b>{{scope.row.strLeyAgOzTc}}</b></span>
            </template>
          </el-table-column>
          <el-table-column prop="strLeyAgREE" label="Ley Ag REE" width="80" align="center"></el-table-column>
          <el-table-column label="Fino (Ag/Gr)" width="85" align="center">
            <template scope="scope">
              <span style="font-weight:bold;color:#212c3c;">{{ scope.row.fltFinoAg }}</span>
            </template>
          </el-table-column>
          <el-table-column prop="strPorcCobre" label="Cobre %" width="70" align="center"></el-table-column>
          <el-table-column prop="strNaOHKgTM" label="NaOH (kg/TM)" width="90" align="center"></el-table-column>
          <el-table-column prop="strNaCNKgTM" label="NaCN (Kg/TM)" width="90" align="center"></el-table-column>
        </el-table-column>
        <el-table-column prop="dtmFecha" label="Fecha Ruma" width="90" align="center"></el-table-column>
        <el-table-column prop="strNroCampania" label="N° Campaña" width="90" align="center"></el-table-column>
        <el-table-column label="N° Ruma" fixed="right" width="90" align="center">
          <template scope="scope">
            <span style="font-weight:bold;">{{ scope.row.strNroRuma }}</span>
          </template>
        </el-table-column>
        <el-table-column label="Periodo" fixed="right" width="90" align="center">
          <template scope="scope">
            <span style="font-weight:bold;">{{ scope.row.strMesContable }}</span>
          </template>
        </el-table-column>

      </el-table>
      <div align="center"
        style="background:#EEEEEE;padding-top:5px;padding-bottom:5px;font-size:13px">
        <span>Total Peso TMH:<b style="padding-left:10px;margin-right:10px">{{sumatorioPesoTMH}}</b></span>-
        <span style="margin-left:10px">Total Peso TMS:<b style="padding-left:10px;margin-right:10px">{{sumatorioPSecoTM}}</b></span>-
        <span style="margin-left:10px">Total Fino(Au/Gr):<b style="padding-left:10px;margin-right:10px">{{sumatorioFinos}}</b></span>-
        <span style="margin-left:10px">Prom. Ley Au(Oz/Tc):<b style="padding-left:10px;margin-right:10px">{{promedioLeyAu}}</b></span>-
        <span style="margin-left:10px">Prom. Ley Ag(Oz/Tc):<b style="padding-left:10px;margin-right:10px">{{promedioLeyAg}}</b></span>
      </div>
      <el-row type="flex" class="row-bg" style="margin-bottom:5px">
        <el-col :span="11">
          <el-pagination layout="prev, pager, next" :total="totalRegistros" :page-size="RegistersForPage" :current-page.sync="pagina" @current-change="cambioPagina()">
          </el-pagination>
        </el-col>
        <el-col :span="8" style="margin-top:7px">
          <span style="font-size:14px;">Total de Lotes: <b>{{countGridData}}</b></span>
        </el-col>
        <el-col :span="5" align="right" style="margin-top:3px">
          <download-excel :data="CompleteData" :fields = "json_fields" :meta = "json_meta" :name = "titleExcel">
          </download-excel>
        </el-col>
      </el-row>
    </el-card>
  </div>
</template>
<script>
  import MineralProcesadoComponent from '@/components/Reportes/ReportesPlanta/MineralProcesado/mineralProcesado.component'
  export default MineralProcesadoComponent
</script>
<style>

</style>
