<template>
  <div>
    <ol  style="margin-left: -1.5rem;background: linear-gradient(rgb(229, 241, 247) 0%, rgb(255, 255, 255) 100%);    margin-bottom: 0rem !important;">
        <quickaccessmenu v-on:ValidarItem="BuscarReporte()" v-on:backPage="backPage($event)"  v-on:reloadpage="reloadpage($event)"></quickaccessmenu>
        </ol>
    <el-card class="box-card" style="margin-top:5px;">
      <div slot="header" class="headercard">
        <span class="labelheadercard">REPORTE ACOPIADOR / MES</span>
      </div>
      <div >
        <table cellpadding="0" cellspacing="1">
          <tr>
            <td class="texto_labelDialogLeft" style="font-size:13px;">Año:</td>
            <td style="padding-top:3px;padding-left:20px;">
              <el-date-picker
                v-model="fechaSearch"
                type="year"
                size="mini"
                placeholder="Seleccione Año"
                :editable = "false">
              </el-date-picker>
            </td>
            <!-- <td style="padding-top:3px;padding-left:20px;">
              <el-button size="small" type="primary" icon="search" @click="BuscarReporte()">Cargar Reporte</el-button>
            </td> -->
          </tr>
        </table>
      </div>
      <div class="headercard" >
        <buttons-accions v-on:Limpiar="clickactive('B')" v-on:Buscar="clickactive('A')" v-on:AscItem="AscItem" v-on:DscItem="DscItem" v-on:siguiente="siguiente()" v-on:anterior="anterior()" v-on:EliminarItem="EliminarItem()" ></buttons-accions>
      </div>
      <el-table
      ref="missionTable"
        :data="gridData"
        stripe  :default-sort = "{prop: 'date', order: 'descending'}"
        border
        :max-height="sizeScreen"
        highlight-current-row
        show-summary
        class="ExcelTable2007"
        :summary-method="getSummaries"
        v-loading="loadingGetData"
        element-loading-text="Cargando Acopiador/ Mes..."
        style="width:100%;font-size:10px;margin:10px 0px">
        <el-table-column prop="strAcopiador" label="ACOPIADOR" min-width="110"></el-table-column>
        <el-table-column prop="strAnio" label="AÑO" align="center" width="65"></el-table-column>
        <el-table-column label="ENERO" align="center" width="80">
          <template scope="scope">
            <span>{{getNumberFix(scope.row.enero, 3)}}</span>
          </template>
        </el-table-column>
        <el-table-column label="FEBRERO" align="center" width="80">
          <template scope="scope">
            <span>{{getNumberFix(scope.row.febrero, 3)}}</span>
          </template>
        </el-table-column>
        <el-table-column label="MARZO" align="center" width="80">
          <template scope="scope">
            <span>{{getNumberFix(scope.row.marzo, 3)}}</span>
          </template>
        </el-table-column>
        <el-table-column label="ABRIL" align="center" width="80">
          <template scope="scope">
            <span>{{getNumberFix(scope.row.abril, 3)}}</span>
          </template>
        </el-table-column>
        <el-table-column label="MAYO" align="center" width="80">
          <template scope="scope">
            <span>{{getNumberFix(scope.row.mayo, 3)}}</span>
          </template>
        </el-table-column>
        <el-table-column label="JUNIO" align="center" width="80">
          <template scope="scope">
            <span>{{getNumberFix(scope.row.junio, 3)}}</span>
          </template>
        </el-table-column>
        <el-table-column label="JULIO" align="center" width="80">
          <template scope="scope">
            <span>{{getNumberFix(scope.row.julio, 3)}}</span>
          </template>
        </el-table-column>
        <el-table-column label="AGOSTO" align="center" width="80">
          <template scope="scope">
            <span>{{getNumberFix(scope.row.agosto, 3)}}</span>
          </template>
        </el-table-column>
        <el-table-column label="SEPTIEMBRE" align="center" width="90">
          <template scope="scope">
            <span>{{getNumberFix(scope.row.septiembre, 3)}}</span>
          </template>
        </el-table-column>
        <el-table-column label="OCTUBRE" align="center" width="80">
          <template scope="scope">
            <span>{{getNumberFix(scope.row.octubre, 3)}}</span>
          </template>
        </el-table-column>
        <el-table-column label="NOVIEMBRE" align="center" width="90">
          <template scope="scope">
            <span>{{getNumberFix(scope.row.noviembre, 3)}}</span>
          </template>
        </el-table-column>
        <el-table-column label="DICIEMBRE" align="center" width="80">
          <template scope="scope">
            <span>{{getNumberFix(scope.row.diciembre, 3)}}</span>
          </template>
        </el-table-column>
      </el-table>
    </el-card>
  </div>
</template>
<script>
  import ReporteAcopiadorMesComponent from '@/components/Reportes/ReporteAcopiadorMes/reporteAcopiadorMes.component'
  export default ReporteAcopiadorMesComponent
</script>
<style>

</style>
