<template>
  <div>
    <ol  style="margin-left: -1.5rem;background: linear-gradient(rgb(229, 241, 247) 0%, rgb(255, 255, 255) 100%);    margin-bottom: 0rem !important;">
        <quickaccessmenu v-on:ValidarItem="BuscarReporte()" v-on:backPage="backPage($event)"  v-on:reloadpage="reloadpage($event)"></quickaccessmenu>
        </ol>
    <el-card class="box-card" style="margin-top:5px">
      <div slot="header" class="headercard">
        <span class="labelheadercard">REPORTE PROVISIONES / TRUJILLO</span>
      </div>
      <div >
        <table cellpadding="0" cellspacing="1">
          <tr>
            <td class="texto_labelDialogLeft" style="font-size:13px;">Mes:</td>
            <td style="padding-top:3px;padding-left:3px;">
              <el-date-picker
                v-model="fechaSearch"
                format="MMMM/yyyy"
                type="month"
                size="mini"
                placeholder="Seleccione mes"
                :editable = "false">
              </el-date-picker>
            </td>
            <!-- <td style="padding-top:3px;padding-left:20px;">
              <el-button size="small" type="primary" icon="search" @click="BuscarReporte()">Cargar Reporte</el-button>
            </td> -->
          </tr>
        </table>
      </div>
      <div class="headercard" >
        <buttons-accions v-on:Limpiar="clickactive('B')" v-on:Buscar="clickactive('A')" v-on:AscItem="AscItem" v-on:DscItem="DscItem" v-on:siguiente="siguiente()" v-on:anterior="anterior()" v-on:EliminarItem="EliminarItem()" ></buttons-accions>
      </div>
      <el-table
      ref="missionTable"
        :data="gridData"
        stripe  :default-sort = "{prop: 'date', order: 'descending'}"
        border
        :max-height="sizeScreen"
        highlight-current-row
        v-loading="loadingGetData"
        element-loading-text="Cargando reporte diario..."
        style="width:100%;font-size:10px;margin:10px 0px">
        <el-table-column label="LOTE" align="center" width="74">
          <template scope="scope">
            <span style="color:red;font-weight:bold;">{{scope.row.strLote}}</span>
          </template>
        </el-table-column>
        <el-table-column label="Fecha Recep." prop="strFechaRecepcion" width="90" align="center"></el-table-column>
        <el-table-column prop="strZona" label="Zona" width="90" align="center"></el-table-column>
        <el-table-column prop="strClienteRuc" label="Ruc Proveedor" width="100" align="center"></el-table-column>
        <el-table-column prop="strClienteRazonS" label="Proveedor Mineral"></el-table-column>
        <el-table-column prop="intNroSacos" label="N° Sacos" width="70" align="center"></el-table-column>
        <el-table-column prop="fltPesoTmh" label="Peso TMH" width="73" align="center"></el-table-column>
        <el-table-column prop="strPSecoCom" label="P.Seco Com" width="80" align="center"></el-table-column>
        <el-table-column prop="strSubLote" label="Observación" width="80" align="center"></el-table-column>
        <el-table-column prop="fltPSecoAS" label="P.Seco Com AS" width="95" align="center"></el-table-column>
        <el-table-column prop="fltPrecioUnitLJ" label="Precio Unitario LJ" width="110" align="center"></el-table-column>
        <el-table-column prop="fltPrecioTotalAS" label="Precio Total AS" width="95" align="center"></el-table-column>
        <el-table-column prop="fltCalculo" label="" width="65" align="center"></el-table-column>
      </el-table>
      <el-row type="flex" class="row-bg" style="margin-bottom:5px">
        <el-col :span="11">
          <el-pagination layout="prev, pager, next" :total="totalRegistros" :page-size="RegistersForPage" :current-page.sync="pagina" @current-change="cambioPagina()">
          </el-pagination>
        </el-col>
        <el-col :span="8" style="margin-top:7px">
          <span style="font-size:14px;">Total de Lotes: <b>{{countGridData}}</b></span>
        </el-col>
        <el-col :span="5" align="right" style="margin-top:3px">
          <download-excel :data="CompleteData" :fields = "json_fields" :meta = "json_meta" :name = "titleExcel">
          </download-excel>
        </el-col>
      </el-row>
    </el-card>
  </div>
</template>
<script>
  import ReporteProvisionesComponent from '@/components/Reportes/ReporteProvisiones/reporteProvisiones.component'
  export default ReporteProvisionesComponent
</script>
<style>

</style>
