<template>
  <div>
    <el-card class="box-card" style="margin-top:5px;">
      <div slot="header" class="clearfix" align="center">
        <span>HABILITAR EDICIÓN (BALANZA, LABORATORIO, COMERCIAL, LIQUIDACIONES)</span>
      </div>
      <table cellpadding="0" cellspacing="1" style="margin:5px 10px;border-collapse: collapse;">
        <tr>
          <td class="texto_labelDialogLeft" style="font-size:13px;padding-left:8px">Mes:</td>
          <td style="padding-top:3px;padding-left:8px;">
            <el-date-picker
              v-model="fechaSearch"
              type="month"
              size="mini"
              format="MMMM / yyyy"
              placeholder="Seleccione Mes"
              :editable = "false">
            </el-date-picker>
          </td>
          <td class="texto_labelDialogRight" style="font-size:13px;padding-left:15px">Lote:</td>
          <td style="padding-top:3px;padding-left:8px;">
            <el-input placeholder="*" v-model="FormSearch.strLote" @keyup.enter.native="BuscarLotes()" auto-complete="off" size="mini"></el-input>
          </td>
          <td class="texto_labelDialogRight">
            <el-button type="primary" icon="search" size="small" @click="BuscarLotes()">Buscar</el-button>
          </td>
        </tr>
      </table>

      <el-table
        :data="gridData"
        :max-height="sizeScreen"
        v-loading="loadingGetData"
        element-loading-text="Cargando lotes..."
        border
        highlight-current-row
        style="width: 100%; font-size: 10px;margin:5px 0px">
        <el-table-column label="LOTE" align="center" width="75">
          <template scope="scope">
            <span style="color:red"><b>{{scope.row.strLote}}</b></span>
          </template>
        </el-table-column>
        <el-table-column label="Fecha Recepción" width="100" align="center">
          <template scope="scope">
            <span><b>{{ getDateString(scope.row.dtmFechaRecepcion) }}</b></span>
          </template>
        </el-table-column>
        <el-table-column prop="strProcedenciaSt" label="Procedencia" min-width="110" align="center"></el-table-column>
        <el-table-column prop="strClienteRuc" label="Ruc Proveedor" min-width="90" align="center"></el-table-column>
        <el-table-column prop="strClienteRazonS" label="Proveedor Mineral" min-width="250"></el-table-column>
        <el-table-column prop="strMaterial" label="Material" min-width="65" align="center"></el-table-column>
        <el-table-column prop="intNroSacos" label="N° Sacos" min-width="65" align="center"></el-table-column>
        <el-table-column label="Peso TMH" min-width="70" align="center">
          <template scope="scope">
            <span style="font-size:11px"><b>{{ scope.row.fltPesoTmh }}</b></span>
          </template>
        </el-table-column>
        <el-table-column label="HABILITAR EDICIÓN" align="center" width="320">
          <template scope="scope">
            <el-button size="mini"
              @click="handleEnableBal(scope.$index, scope.row)">Balanza</el-button>
            <el-button size="mini" type="primary"
              @click="handleEnableLab(scope.$index, scope.row)">Laboratorio</el-button>
            <el-button size="mini"
              @click="handleEnableCom(scope.$index, scope.row)">Comercial</el-button>
            <el-button size="mini" type="success"
              @click="handleEnableLiq(scope.$index, scope.row)">Liquidación</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-row type="flex" class="row-bg" style="margin-bottom:5px">
        <el-col :span="11">
          <el-pagination layout="prev, pager, next" :total="totalRegistros" :page-size="RegistersForPage" :current-page.sync="pagina" @current-change="cambioPagina()">
          </el-pagination>
        </el-col>
        <el-col :span="8" style="margin-top:7px">
          <span style="font-size:14px;">Total de Lotes: <b>{{countGridData}}</b></span>
        </el-col>
      </el-row>
    </el-card>
  </div>
</template>
<script>
  import HabilitarEdicionComponent from '@/components/HabilitarEdicion/habilitarEdicion.component'
  export default HabilitarEdicionComponent
</script>
<style>

</style>
