<template>
  <div>
    <ol  style="margin-left: -1.5rem;background: linear-gradient(rgb(229, 241, 247) 0%, rgb(255, 255, 255) 100%);    margin-bottom: 0rem !important;">
        <quickaccessmenu v-on:ValidarItem="BuscarReporte()" v-on:backPage="backPage($event)"  v-on:reloadpage="reloadpage($event)"></quickaccessmenu>
        </ol>
    <el-tabs type="card" @tab-click="handleClick" value="first" style="margin-top:5px;">
      <!-- REPORTE MINERAL ROBIN -->
      <el-tab-pane label="Resumen" name="first">
        <el-card class="box-card">
          <div slot="header" class="headercard">
            <span class="labelheadercard">RESUMEN - REPORTE MINERAL</span>
          </div>
          <div >
            <table cellpadding="0" cellspacing="1">
              <tr>
                <td class="texto_labelDialogLeft" style="font-size:13px;">Año:</td>
                <td style="padding-top:3px;padding-left:20px;">
                  <el-date-picker
                    v-model="fechaSearch"
                    type="year"
                    size="mini"
                    placeholder="Seleccione Año"
                    :editable = "false">
                  </el-date-picker>
                </td>
                <td class="texto_labelDialogRight" style="font-size:13px;">Zona:</td>
                <td style="padding-top:3px;padding-left:20px;">
                  <!-- <el-input v-model="strZonaRep" type="search" placeholder="Zona" size="mini" @keyup.enter.native="BuscarReporte()"></el-input> -->
                  <el-select v-model="strZonaRep" clearable placeholder="" size="mini" filterable>
                    <el-option
                      v-for="item in dataZonas"
                      :key="item.strZona"
                      :label="item.strZona"
                      :value="item.strZona">
                    </el-option>
                  </el-select>
                </td>
                <!-- <td style="padding-top:3px;padding-left:20px;">
                  <el-button size="small" type="primary" icon="search" @click="BuscarReporte()">Cargar Reporte</el-button>
                </td> -->
              </tr>
            </table>
          </div>
            <div class="headercard" >
              <buttons-accions v-on:Limpiar="clickactive('B')" v-on:Buscar="clickactive('A')" v-on:AscItem="AscItem" v-on:DscItem="DscItem" v-on:siguiente="siguiente()" v-on:anterior="anterior()" v-on:EliminarItem="EliminarItem()" ></buttons-accions>
            </div>
          <el-table
          ref="missionTable"
            :data="gridData"
            stripe  :default-sort = "{prop: 'date', order: 'descending'}"
            border
            :max-height="sizeScreen"
            highlight-current-row
            show-summary
            class="ExcelTable2007"
            :summary-method="getSummaries"
            v-loading="loadingGetData"
            element-loading-text="Cargando reporte..."
            style="width:100%;font-size:10px;margin:10px 0px">
            <el-table-column prop="strZona" label="Zona" width="150"></el-table-column>
            <el-table-column prop="strAnio" label="Año" align="center" width="60"></el-table-column>
            <el-table-column label="ENERO" align="center">
              <el-table-column label="TMH" align="center" width="75">
                <template scope="scope">
                  <span>{{getNumberFix(scope.row.enero, 2)}}</span>
                </template>
              </el-table-column>
              <el-table-column label="Fino" align="center" width="75">
                <template scope="scope">
                  <span>{{getNumberFix(scope.row.eneroActual, 1)}}</span>
                </template>
              </el-table-column>
            </el-table-column>
            <el-table-column label="FEBRERO" align="center">
              <el-table-column label="TMH" align="center" width="75">
                <template scope="scope">
                  <span>{{getNumberFix(scope.row.febrero, 2)}}</span>
                </template>
              </el-table-column>
              <el-table-column label="Fino" align="center" width="75">
                <template scope="scope">
                  <span>{{getNumberFix(scope.row.febreroActual, 1)}}</span>
                </template>
              </el-table-column>
            </el-table-column>
            <el-table-column label="MARZO" align="center">
              <el-table-column label="TMH" align="center" width="75">
                <template scope="scope">
                  <span>{{getNumberFix(scope.row.marzo, 2)}}</span>
                </template>
              </el-table-column>
              <el-table-column label="Fino" align="center" width="75">
                <template scope="scope">
                  <span>{{getNumberFix(scope.row.marzoActual, 1)}}</span>
                </template>
              </el-table-column>
            </el-table-column>
            <el-table-column label="ABRIL" align="center">
              <el-table-column label="TMH" align="center" width="75">
                <template scope="scope">
                  <span>{{getNumberFix(scope.row.abril, 2)}}</span>
                </template>
              </el-table-column>
              <el-table-column label="Fino" align="center" width="75">
                <template scope="scope">
                  <span>{{getNumberFix(scope.row.abrilActual, 1)}}</span>
                </template>
              </el-table-column>
            </el-table-column>
            <el-table-column label="MAYO" align="center">
              <el-table-column label="TMH" align="center" width="75">
                <template scope="scope">
                  <span>{{getNumberFix(scope.row.mayo, 2)}}</span>
                </template>
              </el-table-column>
              <el-table-column label="Fino" align="center" width="75">
                <template scope="scope">
                  <span>{{getNumberFix(scope.row.mayoActual, 1)}}</span>
                </template>
              </el-table-column>
            </el-table-column>
            <el-table-column label="JUNIO" align="center">
              <el-table-column label="TMH" align="center" width="75">
                <template scope="scope">
                  <span>{{getNumberFix(scope.row.junio, 2)}}</span>
                </template>
              </el-table-column>
              <el-table-column label="Fino" align="center" width="75">
                <template scope="scope">
                  <span>{{getNumberFix(scope.row.junioActual, 1)}}</span>
                </template>
              </el-table-column>
            </el-table-column>
            <el-table-column label="JULIO" align="center">
              <el-table-column label="TMH" align="center" width="75">
                <template scope="scope">
                  <span>{{getNumberFix(scope.row.julio, 2)}}</span>
                </template>
              </el-table-column>
              <el-table-column label="Fino" align="center" width="75">
                <template scope="scope">
                  <span>{{getNumberFix(scope.row.julioActual, 1)}}</span>
                </template>
              </el-table-column>
            </el-table-column>
            <el-table-column label="AGOSTO" align="center">
              <el-table-column label="TMH" align="center" width="75">
                <template scope="scope">
                  <span>{{getNumberFix(scope.row.agosto, 2)}}</span>
                </template>
              </el-table-column>
              <el-table-column label="Fino" align="center" width="75">
                <template scope="scope">
                  <span>{{getNumberFix(scope.row.agostoActual, 1)}}</span>
                </template>
              </el-table-column>
            </el-table-column>
            <el-table-column label="SEPTIEMBRE" align="center">
              <el-table-column label="TMH" align="center" width="75">
                <template scope="scope">
                  <span>{{getNumberFix(scope.row.septiembre, 2)}}</span>
                </template>
              </el-table-column>
              <el-table-column label="Fino" align="center" width="75">
                <template scope="scope">
                  <span>{{getNumberFix(scope.row.septiembreActual, 1)}}</span>
                </template>
              </el-table-column>
            </el-table-column>
            <el-table-column label="OCTUBRE" align="center">
              <el-table-column label="TMH" align="center" width="75">
                <template scope="scope">
                  <span>{{getNumberFix(scope.row.octubre, 2)}}</span>
                </template>
              </el-table-column>
              <el-table-column label="Fino" align="center" width="75">
                <template scope="scope">
                  <span>{{getNumberFix(scope.row.octubreActual, 1)}}</span>
                </template>
              </el-table-column>
            </el-table-column>
            <el-table-column label="NOVIEMBRE" align="center">
              <el-table-column label="TMH" align="center" width="75">
                <template scope="scope">
                  <span>{{getNumberFix(scope.row.noviembre, 2)}}</span>
                </template>
              </el-table-column>
              <el-table-column label="Fino" align="center" width="75">
                <template scope="scope">
                  <span>{{getNumberFix(scope.row.noviembreActual, 1)}}</span>
                </template>
              </el-table-column>
            </el-table-column>
            <el-table-column label="DICIEMBRE" align="center">
              <el-table-column label="TMH" align="center" width="75">
                <template scope="scope">
                  <span>{{getNumberFix(scope.row.diciembre, 2)}}</span>
                </template>
              </el-table-column>
              <el-table-column label="Fino" align="center" width="75">
                <template scope="scope">
                  <span>{{getNumberFix(scope.row.diciembreActual, 1)}}</span>
                </template>
              </el-table-column>
            </el-table-column>
          </el-table>
          <el-row>
            <el-col :span="24" align="right" style="padding-right:15px">
              <div style="overflow: auto;">
                <table cellpadding="0" cellspacing="1" style="border-collapse:collapse;font-size:10px;">
                  <tr>
                    <th class="thRepSubTotal" style="border-right:0.5px solid grey;" width="85">{{DataSubTotal[0].strAnio}}</th>
                    <th colspan="2" class="thRepSubTotal" width="81">{{DataSubTotal[0].enero}}</th>
                    <th colspan="2" class="thRepSubTotal" width="81">{{DataSubTotal[0].febrero}}</th>
                    <th colspan="2" class="thRepSubTotal" width="81">{{DataSubTotal[0].marzo}}</th>
                    <th colspan="2" class="thRepSubTotal" width="81">{{DataSubTotal[0].abril}}</th>
                    <th colspan="2" class="thRepSubTotal" width="81">{{DataSubTotal[0].mayo}}</th>
                    <th colspan="2" class="thRepSubTotal" width="81">{{DataSubTotal[0].junio}}</th>
                    <th colspan="2" class="thRepSubTotal" width="81">{{DataSubTotal[0].julio}}</th>
                    <th colspan="2" class="thRepSubTotal" width="81">{{DataSubTotal[0].agosto}}</th>
                    <th colspan="2" class="thRepSubTotal" width="81">{{DataSubTotal[0].septiembre}}</th>
                    <th colspan="2" class="thRepSubTotal" width="81">{{DataSubTotal[0].octubre}}</th>
                    <th colspan="2" class="thRepSubTotal" width="81">{{DataSubTotal[0].noviembre}}</th>
                    <th colspan="2" class="thRepSubTotal" width="81">{{DataSubTotal[0].diciembre}}</th>
                  </tr>
                  <tr>
                    <th class="thRepSubTotal" style="border-right:0.5px solid grey;" width="85"></th>
                    <th class="thRepSubTotal" width="81">TMH</th>
                    <th class="thRepSubTotal" width="81">Fino</th>
                    <th class="thRepSubTotal" width="81">TMH</th>
                    <th class="thRepSubTotal" width="81">Fino</th>
                    <th class="thRepSubTotal" width="81">TMH</th>
                    <th class="thRepSubTotal" width="81">Fino</th>
                    <th class="thRepSubTotal" width="81">TMH</th>
                    <th class="thRepSubTotal" width="81">Fino</th>
                    <th class="thRepSubTotal" width="81">TMH</th>
                    <th class="thRepSubTotal" width="81">Fino</th>
                    <th class="thRepSubTotal" width="81">TMH</th>
                    <th class="thRepSubTotal" width="81">Fino</th>
                    <th class="thRepSubTotal" width="81">TMH</th>
                    <th class="thRepSubTotal" width="81">Fino</th>
                    <th class="thRepSubTotal" width="81">TMH</th>
                    <th class="thRepSubTotal" width="81">Fino</th>
                    <th class="thRepSubTotal" width="81">TMH</th>
                    <th class="thRepSubTotal" width="81">Fino</th>
                    <th class="thRepSubTotal" width="81">TMH</th>
                    <th class="thRepSubTotal" width="81">Fino</th>
                    <th class="thRepSubTotal" width="81">TMH</th>
                    <th class="thRepSubTotal" width="81">Fino</th>
                    <th class="thRepSubTotal" width="81">TMH</th>
                    <th class="thRepSubTotal" width="81">Fino</th>
                  </tr>
                  <tr>
                    <td class="tdRepSubTotal" style="border-right:0.5px solid grey;">{{DataSubTotal[1].strAnio}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[1].enero, 2)}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[1].eneroFino/1000, 1)}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[1].febrero, 2)}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[1].febreroFino/1000, 1)}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[1].marzo, 2)}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[1].marzoFino/1000, 1)}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[1].abril, 2)}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[1].abrilFino/1000, 1)}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[1].mayo, 2)}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[1].mayoFino/1000, 1)}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[1].junio, 2)}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[1].junioFino/1000, 1)}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[1].julio, 2)}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[1].julioFino/1000, 1)}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[1].agosto, 2)}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[1].agostoFino/1000, 1)}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[1].septiembre, 2)}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[1].septiembreFino/1000, 1)}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[1].octubre, 2)}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[1].octubreFino/1000, 1)}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[1].noviembre, 2)}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[1].noviembreFino/1000, 1)}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[1].diciembre, 2)}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[1].diciembreFino/1000, 1)}}</td>
                  </tr>
                  <tr>
                    <td class="tdRepSubTotal" style="border-right:0.5px solid grey;">{{DataSubTotal[2].strAnio}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[2].enero, 2)}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[2].eneroFino/1000, 1)}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[2].febrero, 2)}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[2].febreroFino/1000, 1)}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[2].marzo, 2)}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[2].marzoFino/1000, 1)}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[2].abril, 2)}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[2].abrilFino/1000, 1)}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[2].mayo, 2)}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[2].mayoFino/1000, 1)}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[2].junio, 2)}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[2].junioFino/1000, 1)}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[2].julio, 2)}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[2].julioFino/1000, 1)}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[2].agosto, 2)}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[2].agostoFino/1000, 1)}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[2].septiembre, 2)}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[2].septiembreFino/1000, 1)}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[2].octubre, 2)}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[2].octubreFino/1000, 1)}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[2].noviembre, 2)}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[2].noviembreFino/1000, 1)}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[2].diciembre, 2)}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[2].diciembreFino/1000, 1)}}</td>
                  </tr>
                  <tr>
                    <td class="tdRepSubTotal" style="border-right:0.5px solid grey;">{{DataSubTotal[3].strAnio}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[3].enero, 2)}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[3].eneroFino/1000, 1)}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[3].febrero, 2)}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[3].febreroFino/1000, 1)}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[3].marzo, 2)}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[3].marzoFino/1000, 1)}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[3].abril, 2)}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[3].abrilFino/1000, 1)}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[3].mayo, 2)}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[3].mayoFino/1000, 1)}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[3].junio, 2)}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[3].junioFino/1000, 1)}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[3].julio, 2)}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[3].julioFino/1000, 1)}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[3].agosto, 2)}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[3].agostoFino/1000, 1)}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[3].septiembre, 2)}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[3].septiembreFino/1000, 1)}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[3].octubre, 2)}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[3].octubreFino/1000, 1)}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[3].noviembre, 2)}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[3].noviembreFino/1000, 1)}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[3].diciembre, 2)}}</td>
                    <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[3].diciembreFino/1000, 1)}}</td>
                  </tr>
                </table>
              </div>
            </el-col>
          </el-row>
        </el-card>
      </el-tab-pane>

      <!-- REPORTE DIARIO ROBIN -->
      <el-tab-pane label="Reporte Diario" name="second">
        <el-card class="box-card">
          <div slot="header" class="headercard">
            <span>REPORTE DIARIO</span>
          </div>
          <div style="overflow: auto;">
            <table cellpadding="0" cellspacing="1" style="margin-left:10px;border-collapse: collapse;">
              <tr>
                <td align="center" style="border-top:1px solid #1d90e6;border-left:1px solid #1d90e6;border-right:1px solid #1d90e6;">
                  <span style="font-size:12px;color:#1d90e6"><b>All</b></span>
                </td>
                <td class="texto_labelDialogLeft" style="font-size:13px;padding-left:8px">Mes:</td>
                <td style="padding-top:3px;padding-left:8px;">
                  <el-date-picker
                    v-model="fechaSearchRD"
                    type="month"
                    size="mini"
                    format="MMMM / yyyy"
                    placeholder="Seleccione Mes"
                    :editable = "false"
                    @change="changeMonth()">
                  </el-date-picker>
                </td>
                <td class="texto_labelDialogRight" style="font-size:13px;">Desde:</td>
                <td style="padding-top:3px;padding-left:8px;">
                  <el-date-picker
                    v-model="fechaInicio"
                    size="mini"
                    format="dd/MM/yyyy"
                    placeholder="Desde"
                    @keyup.enter.native="BuscarLotes()">
                  </el-date-picker>
                </td>
                <td class="texto_labelDialogRight" style="font-size:13px;">Hasta:</td>
                <td style="padding-top:3px;padding-left:8px;">
                  <el-date-picker
                    v-model="fechaFin"
                    size="mini"
                    format="dd/MM/yyyy"
                    placeholder="Desde"
                    @keyup.enter.native="BuscarLotes()">
                  </el-date-picker>
                </td>
                <td class="texto_labelDialogRight" style="font-size:13px;">Estado Lote:</td>
                <td style="padding-top:3px;">
                  <el-select v-model="FormSearchRD.strEstadoLote" clearable filterable placeholder="" size="mini">
                    <el-option
                      v-for="item in dataEstado"
                      :key="item.id_estado"
                      :label="item.name"
                      :value="item.id_estado">
                    </el-option>
                  </el-select>
                </td>
                <td style="padding-top:2px;padding-left:8px;">
                  <el-button size="small" type="primary" icon="search" @click="BuscarLotes()">Buscar</el-button>
                </td>
              </tr>
              <tr>
                <td align="center" style="padding:3px 10px;border-bottom:1px solid #1d90e6;border-left:1px solid #1d90e6;border-right:1px solid #1d90e6;">
                  <el-checkbox v-model="checkedSearch"></el-checkbox>
                </td>
                <td class="texto_labelDialogLeft" style="font-size:13px;padding-left:8px">Lote:</td>
                <td style="padding-top:3px;padding-left:8px;padding-right:10px">
                  <el-input placeholder="*" v-model="FormSearchRD.strLote" type="search" auto-complete="off" size="mini" @keyup.enter.native="BuscarLotes()"></el-input>
                </td>
                <td class="texto_labelDialogRight" style="font-size:13px;">Proveedor:</td>
                <td style="padding-top:3px;padding-left:8px;">
                  <el-input placeholder="*" v-model="FormSearchRD.strProveedor" type="search" auto-complete="off" size="mini" @keyup.enter.native="BuscarLotes()"></el-input>
                </td>
                <td class="texto_labelDialogRight" style="font-size:13px;">Zona:</td>
                <td style="padding-top:3px;padding-left:8px;">
                  <el-select v-model="FormSearchRD.strProcedencia" clearable placeholder="" size="mini" filterable>
                    <el-option
                      v-for="item in dataZonas"
                      :key="item.strZona"
                      :label="item.strZona"
                      :value="item.strZona">
                    </el-option>
                  </el-select>
                </td>
                <td class="texto_labelDialogRight" style="font-size:13px;">Acopiador:</td>
                <td style="padding-top:3px;padding-left:8px;">
                  <el-input placeholder="*" v-model="FormSearchRD.strAcopiador" type="search" auto-complete="off" size="mini" @keyup.enter.native="BuscarLotes()"></el-input>
                </td>
                <td style="padding-top:2px;padding-left:8px;">
                  <el-button size="small" type="danger" @click="LimpiarConsulta()"><i class="fa fa-paint-brush"></i> Limpiar</el-button>
                </td>
              </tr>
            </table>
          </div>
          <el-table
            :data="gridDataRepDiario"
            border
            :max-height="sizeScreenRepDiario"
            highlight-current-row
            v-loading="loadingRepDiario"
            element-loading-text="Cargando reporte diario..."
            style="width:100%;font-size:10px;margin:5px 0px">
            <el-table-column label="LOTE" align="center" width="75">
              <template scope="scope">
                <span style="color:red;font-weight:bold;">{{scope.row.strLote}}</span>
              </template>
            </el-table-column>
            <el-table-column label="Fecha Recep." prop="dtmFechaRecepcion" width="95" align="center"></el-table-column>
            <el-table-column prop="strZona" label="Zona" width="110"></el-table-column>
            <el-table-column prop="strAcopiador" label="Acopiador"></el-table-column>
            <el-table-column prop="strProveedor" label="Proveedor"></el-table-column>
            <el-table-column prop="fltPesoTmh" label="Peso TMH" width="80" align="center"></el-table-column>
            <el-table-column label="TMS" width="70" align="center">
              <template scope="scope">
                <span>{{getNumberFix(scope.row.fltPSecoTM, 3)}}</span>
              </template>
            </el-table-column>
            <el-table-column prop="fltLeyAuOz" label="Ley Au Oz" width="80" align="center"></el-table-column>
            <el-table-column prop="fltLeyAgOz" label="Ley Ag Oz" width="80" align="center"></el-table-column>
            <el-table-column label="Fino Au Gr" width="80" align="center">
              <template scope="scope">
                <span>{{getNumberFix(scope.row.fltFinoAuGr, 3)}}</span>
              </template>
            </el-table-column>
          </el-table>
          <div align="right"
            style="background:#EEEEEE;padding-right:10%;padding-top:5px;padding-bottom:5px;font-size:13px">
            <span>Peso TMH Acumulado:<b style="padding-left:15px;margin-right:20px">{{sumatorioPesoTMH}}</b></span>-
            <span style="margin-left:20px">Peso Seco TM Acumulado:<b style="padding-left:15px;">{{sumatorioPSecoTM}}</b></span>
          </div>
          <el-row type="flex" class="row-bg" style="margin-bottom:5px">
            <el-col :span="10">
              <el-pagination layout="prev, pager, next" :total="totalRegistros" :page-size="RegistersForPage" :current-page.sync="pagina" @current-change="cambioPagina()">
              </el-pagination>
            </el-col>
            <el-col :span="8" style="margin-top:7px">
              <span style="font-size:14px;">Total de Lotes: <b>{{countGridData}}</b></span>
            </el-col>
            <el-col :span="6" align="right" style="margin-top:5px">
              <download-excel :data="CompleteData" :fields = "json_fieldsDet" :meta = "json_meta" :name = "titleExcelDet">
              </download-excel>
            </el-col>
          </el-row>
        </el-card>
      </el-tab-pane>
    </el-tabs>
  </div>
</template>
<script>
  import ReporteMineralRobinComponent from '@/components/Reportes/reporteMineralRobin/reporteMineralRobin.component'
  export default ReporteMineralRobinComponent
</script>
<style>

</style>
