<template>
  <div class="" >
    <ol  style="margin-left: -1.5rem;background: linear-gradient(rgb(229, 241, 247) 0%, rgb(255, 255, 255) 100%);    margin-bottom: 0rem !important;">
        <quickaccessmenu v-on:guardarTodo="guardarTodo($event)" v-on:backPage="backPage($event)"  v-on:reloadpage="reloadpage($event)"></quickaccessmenu>
        </ol>
    <el-card class="box-card" >
      <div slot="header" class="headercard"  >
        <span class="labelheadercard">Leyes Comerciales</span>
        <el-button class="buttonfilter btn btn-outline-secondary orange" style="margin-top: -3px;" @click="handleAgregar()">
            <img class="imagenfilter" src="../../images/nuevo.png" style="margin-left: 0px;width: 15px;height: 16px;" alt="" >
        </el-button>
        <el-button class="buttonfilter btn btn-outline-secondary orange" style="margin-top: -3px;" @click="handleEdit2()">
            <img class="imagenfilter" src="../../images/btn_editar.png" style="margin-left: 0px;width: 15px;height: 16px;" alt="" >
        </el-button>
        <el-button class="buttonfilter btn btn-outline-secondary orange" style="margin-top: -3px;" @click="handleDelete2()">
            <img class="imagenfilter" src="../../images/tacho.png" style="margin-left: 0px;width: 15px;height: 16px;" alt="" >
        </el-button>
      </div>
      <div class="row bodycard">
        <div class="container">
          <div class="headercard" >
            <buttons-accions v-on:Limpiar="clickactive('B')" v-on:Buscar="clickactive('A')" v-on:AscItem="AscItem" v-on:DscItem="DscItem" v-on:siguiente="siguiente()" v-on:anterior="anterior()" v-on:EliminarItem="EliminarItem()" ></buttons-accions>
          </div> 
          <el-table
          ref="missionTable"
            :data="gridData"
            border
            highlight-current-row
            stripe  :default-sort = "{prop: 'date', order: 'descending'}"
            v-loading="loadingGetData"
            @row-click="seleccionarRow"
            :max-height="sizeScreen"
            element-loading-text="Cargando leyes referenciales..."
            style="width:100%;font-size:10px;margin:10px 0px">
            <el-table-column prop="strZona" label="ZONA"></el-table-column>
            <el-table-column label="ORO" align="center">
              <el-table-column prop="fltValorAuMenor" label="Ley - [Value]" align="center"></el-table-column>
              <el-table-column prop="fltPuntoAu" label="< Ley <=" align="center"></el-table-column>
              <el-table-column prop="fltValorAuMayor" label="Ley - [Value]" align="center"></el-table-column>
              <el-table-column prop="fltPuntoAuInter" label="< Ley <=" align="center"></el-table-column>
              <el-table-column prop="fltValueAuInter" label="Ley * [Value]" align="center"></el-table-column>
              <el-table-column prop="fltPuntoAuMax" label="< Ley <=" align="center"></el-table-column>
              <el-table-column prop="fltValorAuMax" label="Ley * [Value]" align="center"></el-table-column>
            </el-table-column>
            <el-table-column label="PLATA" align="center">
              <el-table-column prop="fltValorAg" label="Parametro Ag" align="center"></el-table-column>
            </el-table-column>
            <!-- <el-table-column label="OPERACIONES" fixed="right" width="170" align="center" v-if="viewAccessEscritura">
              <template scope="scope">
                <el-button icon="edit" size="mini" @click="handleEdit(scope.$index, scope.row)">Editar</el-button>
                <el-button icon="delete" size="mini" type="danger" @click="handleDelete(scope.$index, scope.row)">Eliminar</el-button>
              </template>
            </el-table-column> -->
          </el-table>
          <el-row type="flex" class="row-bg" style="margin-bottom:5px">
            <el-col :span="3" style="margin-top:7px">
              <span style="font-size:14px;">Total de Registros: <b>{{countGridData}}</b></span>
            </el-col>
          </el-row>
        </div>
      </div>
    </el-card>
    
    <!--AGREGAR LEY COMERCIAL-->
    <el-dialog  title="Agregar Ley Comercial" size="small" :visible.sync="dialogAgregarVisible">
      <el-row style="font-size:13px;margin:5px 20px">
        <div class="" align="center">
          <span>Zona</span><br>
          <el-select v-model="FormAgregar.intIdZona" clearable placeholder="" size="mini" filterable>
            <el-option
              v-for="item in dataZonas"
              :key="item.intIdZona"
              :label="item.strZona"
              :value="item.intIdZona">
            </el-option>
          </el-select>
        </div>
        <el-col :span="16" style="padding-right:10px">
          <div style="background:#efebcd;width:100%;height:25px;padding-top:5px;margin-top:10px;border-radius:10px;" align="center">
            <span><b>Cálculo Ley Au</b></span>
          </div>
          <div align="center">
            <table cellpadding="0" cellspacing="1" style="margin-left:10px;border-collapse:collapse;font-size:13px;">
              <tr>
                <th style="padding:5px 7px;border-bottom:1px solid grey">CASOS</th>
                <th style="padding:5px 7px;border-bottom:1px solid grey">Desde</th>
                <th style="padding:5px 7px;border-bottom:1px solid grey"></th>
                <th style="padding:5px 7px;border-bottom:1px solid grey">Valor</th>
                <th style="padding:5px 7px;border-bottom:1px solid grey"></th>
                <th style="padding:5px 7px;border-bottom:1px solid grey">Hasta</th>
                <th></th>
              </tr>
              <tr style="height:5px"></tr>
              <tr>
                <td style="padding:5px 7px;" align="center">Caso 1:</td>
                <td style="padding:5px 7px;" align="center">0</td>
                <td style="padding:5px 7px;"align="center">{{'<'}}</td>
                <td style="padding:5px 7px;width:90px;"align="center">
                  <el-input v-model="FormAgregar.fltValorAuMenor" type="number" size="mini"></el-input>
                </td>
                <td style="padding:5px 7px;" align="center">{{'<'}}</td>
                <td style="padding:5px 7px;width:100px;" align="center">
                  <el-input v-model="FormAgregar.fltPuntoAu" type="number" size="mini"></el-input>
                </td>
                <td style="background:#f2f2f3;padding:5px 7px;font-size:10px;width:80px"><b>Ley - [Valor]</b></td>
              </tr>
              <tr>
                <td style="padding:5px 7px;" align="center">Caso 2:</td>
                <td style="padding:5px 7px;width:90px;" align="center">
                  <el-input v-model="FormAgregar.fltPuntoAu" type="number" size="mini"></el-input>
                </td>
                <td style="padding:5px 7px;"align="center">{{'<='}}</td>
                <td style="padding:5px 7px;width:100px;"align="center">
                  <el-input v-model="FormAgregar.fltValorAuMayor" type="number" size="mini"></el-input>
                </td>
                <td style="padding:5px 7px;" align="center">{{'<'}}</td>
                <td style="padding:5px 7px;width:90px;" align="center">
                  <el-input v-model="FormAgregar.fltPuntoAuInter" type="number" size="mini"></el-input>
                </td>
                <td style="background:#f2f2f3;padding:5px 7px;font-size:10px;width:80px"><b>Ley - [Valor]</b></td>
              </tr>
              <tr>
                <td style="padding:5px 7px;" align="center">Caso 3:</td>
                <td style="padding:5px 7px;width:90px;" align="center">
                  <el-input v-model="FormAgregar.fltPuntoAuInter" type="number" size="mini"></el-input>
                </td>
                <td style="padding:5px 7px;"align="center">{{'<='}}</td>
                <td style="padding:5px 7px;width:100px;"align="center">
                  <el-input v-model="FormAgregar.fltValueAuInter" type="number" size="mini"></el-input>
                </td>
                <td style="padding:5px 7px;" align="center">{{'<'}}</td>
                <td style="padding:5px 7px;width:90px;" align="center">
                  <el-input v-model="FormAgregar.fltPuntoAuMax" type="number" size="mini"></el-input>
                </td>
                <td style="background:#f2f2f3;padding:5px 7px;font-size:10px;width:80px"><b>Ley * [Valor]</b></td>
              </tr>
              <tr>
                <td style="padding:5px 7px;" align="center">Caso 4:</td>
                <td style="padding:5px 7px;width:90px;" align="center">
                  <el-input v-model="FormAgregar.fltPuntoAuMax" type="number" size="mini"></el-input>
                </td>
                <td style="padding:5px 7px;"align="center">{{'<='}}</td>
                <td style="padding:5px 7px;width:100px;"align="center">
                  <el-input v-model="FormAgregar.fltValorAuMax" type="number" size="mini"></el-input>
                </td>
                <td style="padding:5px 7px;" align="center">{{'<'}}</td>
                <td style="padding:5px 7px;" align="center"><b>&uarr;</b></td>
                <td style="background:#f2f2f3;padding:5px 7px;font-size:10px;width:80px"><b>Ley * [Valor]</b></td>
              </tr>
            </table>
          </div>
        </el-col>
        <el-col :span="8" style="padding-left:10px">
          <div style="background:#d4d4d4;width:100%;height:25px;padding-top:5px;margin-top:10px;border-radius:10px;" align="center">
            <span><b>Calculo Ley Ag</b></span>
          </div>
          <div style="margin-top:5px"></div>
          <span>Parametro Ag:</span>
          <el-input type="number" v-model="FormAgregar.fltValorAg" auto-complete="off" size="mini"></el-input>
        </el-col>
      </el-row>

      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogAgregarVisible = false">Cancelar</el-button>
        <el-button type="primary" @click="AgregarLeyComercial(FormAgregar)">Agregar</el-button>
      </span>
    </el-dialog>

    <!--ACTUALIZAR LEY COMERCIAL-->
    <el-dialog  title="Actualizar Ley Comercial" size="small" :visible.sync="dialogEditarVisible">
      <el-row style="font-size:13px;margin:5px 20px">
        <div class="" align="center">
          <div style="width:200px">
            <span>Zona</span><br>
            <el-input v-model="rowSelectedEdit.strZona" readonly auto-complete="off" size="mini"></el-input>
          </div>
        </div>
        <el-col :span="16" style="padding-right:10px">
          <div style="background:#efebcd;width:100%;height:25px;padding-top:5px;margin-top:10px;border-radius:10px;" align="center">
            <span><b>Cálculo Ley Au</b></span>
          </div>
          <div align="center">
            <table cellpadding="0" cellspacing="1" style="margin-left:10px;border-collapse:collapse;font-size:13px;">
              <tr>
                <th style="padding:5px 7px;border-bottom:1px solid grey">CASOS</th>
                <th style="padding:5px 7px;border-bottom:1px solid grey">Desde</th>
                <th style="padding:5px 7px;border-bottom:1px solid grey"></th>
                <th style="padding:5px 7px;border-bottom:1px solid grey">Valor</th>
                <th style="padding:5px 7px;border-bottom:1px solid grey"></th>
                <th style="padding:5px 7px;border-bottom:1px solid grey">Hasta</th>
                <th></th>
              </tr>
              <tr style="height:5px"></tr>
              <tr>
                <td style="padding:5px 7px;" align="center">Caso 1:</td>
                <td style="padding:5px 7px;" align="center">0</td>
                <td style="padding:5px 7px;"align="center">{{'<'}}</td>
                <td style="padding:5px 7px;width:90px;"align="center">
                  <el-input v-model="rowSelectedEdit.fltValorAuMenor" type="number" size="mini"></el-input>
                </td>
                <td style="padding:5px 7px;" align="center">{{'<'}}</td>
                <td style="padding:5px 7px;width:100px;" align="center">
                  <el-input v-model="rowSelectedEdit.fltPuntoAu" type="number" size="mini"></el-input>
                </td>
                <td style="background:#f2f2f3;padding:5px 7px;font-size:10px;width:80px"><b>Ley - [Valor]</b></td>
              </tr>
              <tr>
                <td style="padding:5px 7px;" align="center">Caso 2:</td>
                <td style="padding:5px 7px;width:90px;" align="center">
                  <el-input v-model="rowSelectedEdit.fltPuntoAu" type="number" size="mini"></el-input>
                </td>
                <td style="padding:5px 7px;"align="center">{{'<='}}</td>
                <td style="padding:5px 7px;width:100px;"align="center">
                  <el-input v-model="rowSelectedEdit.fltValorAuMayor" type="number" size="mini"></el-input>
                </td>
                <td style="padding:5px 7px;" align="center">{{'<'}}</td>
                <td style="padding:5px 7px;width:90px;" align="center">
                  <el-input v-model="rowSelectedEdit.fltPuntoAuInter" type="number" size="mini"></el-input>
                </td>
                <td style="background:#f2f2f3;padding:5px 7px;font-size:10px;width:80px"><b>Ley - [Valor]</b></td>
              </tr>
              <tr>
                <td style="padding:5px 7px;" align="center">Caso 3:</td>
                <td style="padding:5px 7px;width:90px;" align="center">
                  <el-input v-model="rowSelectedEdit.fltPuntoAuInter" type="number" size="mini"></el-input>
                </td>
                <td style="padding:5px 7px;"align="center">{{'<='}}</td>
                <td style="padding:5px 7px;width:100px;"align="center">
                  <el-input v-model="rowSelectedEdit.fltValueAuInter" type="number" size="mini"></el-input>
                </td>
                <td style="padding:5px 7px;" align="center">{{'<'}}</td>
                <td style="padding:5px 7px;width:90px;" align="center">
                  <el-input v-model="rowSelectedEdit.fltPuntoAuMax" type="number" size="mini"></el-input>
                </td>
                <td style="background:#f2f2f3;padding:5px 7px;font-size:10px;width:80px"><b>Ley * [Valor]</b></td>
              </tr>
              <tr>
                <td style="padding:5px 7px;" align="center">Caso 4:</td>
                <td style="padding:5px 7px;width:90px;" align="center">
                  <el-input v-model="rowSelectedEdit.fltPuntoAuMax" type="number" size="mini"></el-input>
                </td>
                <td style="padding:5px 7px;"align="center">{{'<='}}</td>
                <td style="padding:5px 7px;width:100px;"align="center">
                  <el-input v-model="rowSelectedEdit.fltValorAuMax" type="number" size="mini"></el-input>
                </td>
                <td style="padding:5px 7px;" align="center">{{'<'}}</td>
                <td style="padding:5px 7px;" align="center"><b>&uarr;</b></td>
                <td style="background:#f2f2f3;padding:5px 7px;font-size:10px;width:80px"><b>Ley * [Valor]</b></td>
              </tr>
            </table>
          </div>
        </el-col>
        <el-col :span="8" style="padding-left:10px">
          <div style="background:#d4d4d4;width:100%;height:25px;padding-top:5px;margin-top:10px;border-radius:10px;" align="center">
            <span><b>Calculo Ley Ag</b></span>
          </div>
          <div style="margin-top:5px"></div>
          <span>Parametro Ag:</span>
          <el-input type="number" v-model="rowSelectedEdit.fltValorAg" auto-complete="off" size="mini"></el-input>
        </el-col>
      </el-row>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogEditarVisible = false">Cancelar</el-button>
        <el-button type="primary" icon="edit" @click="ActualizarLeyComercial(rowSelectedEdit)">Guardar</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
  import LeyesComercialesComponent from '@/components/LeyesComerciales/leyesComerciales.component'
  export default LeyesComercialesComponent
</script>
<style>

</style>
