<template>
  <div>
    <ol  style="margin-left: -1.5rem;background: linear-gradient(rgb(229, 241, 247) 0%, rgb(255, 255, 255) 100%);    margin-bottom: 0rem !important;">
        <quickaccessmenu v-on:ValidarItem="BuscarRumas()" v-on:backPage="backPage($event)"  v-on:reloadpage="reloadpage($event)"></quickaccessmenu>
        </ol>
    <el-card class="box-card" style="margin-top:5px;">
      <div slot="header" class="headercard">
        <span class="labelheadercard">ARMADO DE RUMAS</span>
      </div>
      <table cellpadding="0" cellspacing="1" style="margin:5px 10px;border-collapse: collapse;">
        <tr>
          <td align="center" style="border-bottom:1px solid #1d90e6;border-left:1px solid #1d90e6;border-top:1px solid #1d90e6;">
            <span style="font-size:12px;color:#1d90e6;padding-left:10px"><b>All</b></span>
          </td>
          <td align="center" style="padding:3px 10px;border-bottom:1px solid #1d90e6;border-top:1px solid #1d90e6;border-right:1px solid #1d90e6;">
            <el-checkbox v-model="checkedSearch"></el-checkbox>
          </td>
          <td class="texto_labelDialogLeft" style="font-size:13px;padding-left:8px">Mes:</td>
          <td style="padding-top:3px;padding-left:5px;">
            <el-date-picker
              v-model="fechaSearch"
              type="month"
              size="mini"
              format="MMMM / yyyy"
              placeholder="Seleccione Mes"
              :editable = "false">
            </el-date-picker>
          </td>
          <td class="texto_labelDialogRight" style="font-size:13px;padding-left:8px">Lote:</td>
          <td style="padding-top:3px;padding-left:5px;">
            <el-input placeholder="Lote" v-model="FormSearch.strLote" type="search" auto-complete="off" size="mini" @keyup.enter.native="BuscarRumas()"></el-input>
          </td>
          <td class="texto_labelDialogRight" style="font-size:13px;padding-left:8px">N° Ruma:</td>
          <td style="padding-top:3px;padding-left:5px;">
            <el-input placeholder="N° Ruma" v-model="FormSearch.strNroRuma" type="search" auto-complete="off" size="mini" @keyup.enter.native="BuscarRumas()"></el-input>
          </td>
          <td class="texto_labelDialogRight" style="font-size:13px;padding-left:8px">Estado:</td>
          <td style="padding-top:3px;padding-left:5px;">
            <!-- <el-input placeholder="Estado" v-model="FormSearch.strEstadoRuma" auto-complete="off" size="small" @keyup.enter.native="BuscarRumas()"></el-input> -->
            <el-select v-model="FormSearch.strEstadoRuma" clearable filterable placeholder="" size="mini" @keyup.enter.native="BuscarRumas()">
              <el-option
                v-for="item in dataEstado"
                :key="item.id"
                :label="item.name"
                :value="item.id">
              </el-option>
            </el-select>
          </td>
          <!-- <td class="texto_labelDialogRight">
            <el-button type="primary" icon="search" size="small" @click="BuscarRumas()">Buscar</el-button>
          </td> -->
        </tr>
      </table>
      <div class="headercard" >
            <buttons-accions v-on:Limpiar="clickactive('B')" v-on:Buscar="clickactive('A')" v-on:AscItem="AscItem" v-on:DscItem="DscItem" v-on:siguiente="siguiente()" v-on:anterior="anterior()" v-on:EliminarItem="EliminarItem()" ></buttons-accions>
          </div>
      <el-table
      ref="missionTable"
        :data="gridData"
        stripe  :default-sort = "{prop: 'date', order: 'descending'}"
        border
        highlight-current-row
        :max-height="sizeScreen"
        v-loading="loadingGetData"
        element-loading-text="Cargando lotes..."
        style="width: 100%; font-size: 10px;margin:10px 0px"
        @selection-change="handleSelectionChange">
        <el-table-column type="selection" width="40" align="center" v-if="viewAccessEscritura"></el-table-column>
        <el-table-column label="LOTE" align="center" width="70">
          <template scope="scope">
            <span style="color:red"><b>{{scope.row.strLote}}</b></span>
          </template>
        </el-table-column>
        <el-table-column label="Fecha Recepción" width="100" align="center">
          <template scope="scope">
            <span><b>{{ getDateString(scope.row.dtmFechaRecepcion) }}</b></span>
          </template>
        </el-table-column>
        <el-table-column prop="strProcedenciaSt" label="Procedencia" width="110"></el-table-column>
        <el-table-column prop="strClienteRazonS" label="Proveedor Mineral" min-width="150"></el-table-column>
        <el-table-column prop="strMaterial" label="Tipo Mineral" width="83" align="center"></el-table-column>
        <el-table-column prop="fltPesoTmh" label="P.Humedo TM" width="93" align="center"></el-table-column>
        <el-table-column prop="strPorcH2O" label="% H2O" width="60" align="center"></el-table-column>
        <el-table-column prop="strPSecoTM" label="P.Seco TM" width="78" align="center"></el-table-column>
        <el-table-column prop="fltFino" label="Fino(Au/Gr)" width="80" align="center"></el-table-column>
        <el-table-column prop="strNroRuma" label="N° Ruma" width="80" align="center"></el-table-column>
        <el-table-column prop="strNroCampania" label="N° Campaña" width="90" align="center"></el-table-column>
        <el-table-column label="Fecha" align="center" width="80">
          <template scope="scope">
            <span>{{ getDateString(scope.row.dtmFecha) }}</span>
          </template>
        </el-table-column>
        <el-table-column label="Periodo Contable" align="center" width="100">
          <template scope="scope">
            <span style="text-transform: uppercase;">{{scope.row.strMesContable}}</span>
          </template>
        </el-table-column>
        <!-- <el-table-column label="Operaciones" width="100" fixed="right" align="center" v-if="viewAccessEscritura">
          <template scope="scope">
            <el-button size="mini" type="primary" icon="edit" @click="EnterGuardarRuma(scope.row)">Guardar</el-button>
          </template>
        </el-table-column> -->
      </el-table>
      <div align="center"
        style="background:#EEEEEE;padding-top:5px;padding-bottom:5px;font-size:13px">
        <span>Total de Lotes: <b style="padding-left:15px;margin-right:20px">{{countGridData}}</b></span>-
        <span style="margin-left:20px">P.Humedo TM Acumulado:<b style="padding-left:15px;margin-right:20px">{{sumatorioPesoTMH}}</b></span>-
        <span style="margin-left:20px">P.Seco TM Acumulado:<b style="padding-left:15px;">{{sumatorioPSecoTM}}</b></span>
      </div>
      <el-row type="flex" class="row-bg"style="margin-bottom:3px">
        <el-col :span="16" v-if="viewAccessEscritura">
          <!-- <span style="font-size:11px;font-weight:bold">N° de Ruma y N° Campaña para Lotes seleccionados</span><br>
          <el-input size="mini" placeholder="N° Ruma" v-model="nroRumaAny" @keyup.enter.native="GuardarRumasAny()" class="input-with-select">
            <el-button slot="append" icon="edit" @click="GuardarRumasAny()">Guardar</el-button>
          </el-input> -->
          <table style="font-size:11px">
            <tr>
              <th colspan="3"><span>N° Ruma y N° Campaña para Lotes seleccionados</span></th>
              <th><span>Periodo</span></th>
            </tr>
            <tr>
              <td style="width:100px">
                <el-input size="mini" placeholder="N° Ruma" v-model="nroRumaAny" @keyup.enter.native="GuardarRumasAny()"></el-input>
              </td>
              <td style="width:150px">
                <el-input size="mini" placeholder="N° Campaña" v-model="nroCampaniaAny" @keyup.enter.native="GuardarRumasAny()"></el-input>
              </td>
              <td>
                <el-date-picker
                  v-model="dateAny"
                  size="mini"
                  format="dd/MM/yyyy"
                  placeholder="Seleccione fecha"
                  :editable = "true">
                </el-date-picker>
              </td>
              <td>
                <el-date-picker
                  v-model="datePeriodoAny"
                  size="mini"
                  type="month"
                  format="MMMM/yyyy"
                  placeholder="Seleccione fecha"
                  :editable = "true">
                </el-date-picker>
              </td>
              <td>
                <el-button type="primary" size="mini" icon="edit" @click="GuardarRumasAny()">Guardar</el-button>
              </td>
            </tr>
          </table>
        </el-col>
        <el-col :span="8" align="right">
          <el-pagination layout="prev, pager, next" :total="totalRegistros" :page-size="RegistersForPage" :current-page.sync="pagina" @current-change="cambioPagina()">
          </el-pagination>
        </el-col>
      </el-row>
    </el-card>
  </div>
</template>
<script>
  import ArmadoRumasComponent from '@/components/planta/armadoRumas/ArmadoRumas.component'
  export default ArmadoRumasComponent
</script>
<style>

</style>
