<template>
  <div id="app">
 <!--<barmenu></barmenu> -->
   <router-view></router-view>
    
  </div>

</template>

<script>
export default {
  name: 'app'
}
</script>

<style>
html {
  height: 100%;
}
.el-select {
    width: 100% !important;
    padding-left: 0px !important;
    height: 22px !important;
}
.el-input__icon+.el-input__inner {
    padding-right: 35px;
    height: 22px !important;
}
.el-button+.el-button {
    margin-left: -1px;
}
.el-select>.el-input {
    display: block;
    height: 22px !important;
}
.boton{
  padding: 3px 3px !important;background: #fff5c4;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #fff5c4), color-stop(100%, #ffee9f));
  background: -webkit-gradient(linear, left top, left bottom, from(#fff5c4), to(#ffee9f));
  background: linear-gradient(to bottom, #fff5c4 0%, #ffee9f 100%);
}
.btn-primary {
    color: #fff;
    font-size: 13px;
    background-color: #498bbb !important;
    border-color: #498bbb !important;
}

.col-md-4 {
    -ms-flex: 0 0 30.333333% !important;
    flex: 0 0 30.333333% !important;
    max-width: 30.333333% !important;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  margin: 0;
}

.el-table th{
  background: rgba(255,255,255,1) !important;
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 16%, rgba(240,244,248,1) 37%, rgba(217,225,236,1) 96%, rgba(217,225,236,1) 100%) !important;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(16%, rgba(255,255,255,1)), color-stop(37%, rgba(240,244,248,1)), color-stop(96%, rgba(217,225,236,1)), color-stop(100%, rgba(217,225,236,1))) !important;
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 16%, rgba(240,244,248,1) 37%, rgba(217,225,236,1) 96%, rgba(217,225,236,1) 100%) !important;
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 16%, rgba(240,244,248,1) 37%, rgba(217,225,236,1) 96%, rgba(217,225,236,1) 100%) !important;
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 16%, rgba(240,244,248,1) 37%, rgba(217,225,236,1) 96%, rgba(217,225,236,1) 100%) !important;
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 16%, rgba(240,244,248,1) 37%, rgba(217,225,236,1) 96%, rgba(217,225,236,1) 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d9e1ec', GradientType=0 ) !important;
}
#app {
  color: #2c3e50;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.bg-purple {
  background: #EFF2F7;
}

.bg-purple2 {
  height: 30px;
}

.grid-content {
  height: 100%;
  display: block;
  z-index: 1;
  box-shadow: 0px 0px 2px #143b58;
  /*width: 220px;*/
}

.main-container {
  display: flex;
  height: calc(100% - 48px);
}

.side-container {
  height: 100%;
  display: flex;
}

.side-toolbar {
  height: 100%;
  width: 48px;
  display: block;
  /*box-shadow: 0px 0px 2px #143b58;*/
  z-index: 2;
  margin: 0;
  padding: 0;
}
.el-carousel__mask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: .24;
    transition: .2s;
}
.el-menu--horizontal.el-menu--dark .el-submenu .el-menu-item.is-active, .el-menu-item.is-active, .router-link {
    color: #000000 !important;
    background-color: #a9c4d4 !important;
}
.hamb-container {
   width: 48px;
  height: 36px;
  position: relative;
}
.el-carousel__container {
  margin-left: -88px !important;
}
.el-carousel__item--card.is-in-stage {
  width: 745px !important;
}

.v-separator {
    content: "";
    display: inline-block;
    width: 0px;
    height: 14px;
    border-right: 1px solid #fafafa;
    border-left: 1px solid #b4b4b4;
    padding: 0;
    margin-bottom: -5px;
}
.el-card__body {
    text-align: center;
    margin-bottom: 0.4% !important;
    padding: 13px !important;
}
.el-tabs--border-card {
    background: #fff;
    border: 1px solid #d1dbe5;
    margin-left: -10px !important;
    margin-right: -10px !important;
}
.el-card {
    cursor: initial !important;
    position: relative;
     width: 99% !important;
}
.el-table th>.cell {
    word-wrap: normal;
    text-overflow: ellipsis;
    line-height: 30px;
    width: 100%;
    box-sizing: border-box;
    line-height: 2 !important;
    background: transparent !important;
}
.el-table_1_column_1{
    background-color: #E4ECF7 !important;
    text-align: center !important;
    border: 1px solid #9EB6CE !important;
    border-width: 0px 1px 1px 0px !important;
    border-bottom: 1px solid #9eb6ce !important;
}
.el-table td, .el-table th.is-leaf {
    border-bottom: 1px solid rgba(158, 182, 206, 0.6784313725490196) !important; 
}
.el-tabs__nav-scroll {
    overflow: hidden;
    height: 25px !important;
    background: #c7d9e9;
}
.el-tabs__item {
    padding: 0 16px;
    height: 25px !important;
    box-sizing: border-box;
    line-height: 25px !important;
    display: inline-block;
    list-style: none;
    font-size: 13px !important;
    color: #8391a5;
    position: relative;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.buttonfilter{
    width: 22px;
    height: 22px;
    cursor: pointer;
    font: 0px/100% Arial, Helvetica, sans-serif;
    margin-left: 0.3rem;
    padding: 0px 0px !important;
}
.container {
    width: 100%;
    display: inline-block;
    color: #737373;
    margin-top: 0px;
    margin-bottom: 0px;
}
.el-table th {
    height: 20px;
    min-width: 0;
    text-overflow: ellipsis;
    vertical-align: middle;
}
.imagenfilter{
  width: 13px;
  height: 13px;
  margin-left: -1px;
  margin-top: 0px;
}
.el-form-item__label {
    text-align: left;
    height: 25px;
    vertical-align: middle;
    float: left;
    font-size: 12px !important;
    color: #48576a;
    line-height: 1;
    padding: 9px 17px 11px 0;
    box-sizing: border-box;
    border-bottom: 1px solid #a2b2bf;
}
.el-input--small .el-input__inner {
    height: 22px;
}
.el-input__inner{
  height: 22px;
  font-size: 12px;
}
.el-button--small {
    padding: 3px 6px;
    font-size: 14px;
    border-radius: 3px;
}
.btn-outline-secondary:focus, .btn-outline-secondary.focus {
    box-shadow: 0 0 1px 1px rgb(251, 229, 40);
}
.el-button:focus, .el-button:hover {
    color: none;
    border-color: none; 
    background: #f78d1d;
    background: #fff5c4;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #fff5c4), color-stop(100%, #ffee9f));
    background: linear-gradient(to bottom, #fff5c4 0%, #ffee9f 100%);
}
.el-button--primary:focus, .el-button--primary:hover {
    border-color: transparent;
}

.el-button--primary:focus, .el-button--primary:hover {
  color: #343638;
  border-color: none; 
     background: #f78d1d;
    background: #fff5c4;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #fff5c4), color-stop(100%, #ffee9f));
    background: linear-gradient(to bottom, #fff5c4 0%, #ffee9f 100%);
}
.el-menu-item, .el-submenu__title {
    height: 29px !important;
    line-height: 30px !important;
}
.el-submenu .el-menu-item {
    height: 25px !important;
    line-height: 25px !important;
    padding: 0 45px !important;
    min-width: 200px !important;
}
.el-dialog__header {
    background: -webkit-linear-gradient(top, rgba(126,151,219,1) 0%, rgba(68,104,187,1) 6%, rgba(30,63,131,1) 62%, rgba(19,45,99,1) 100%);
    background: linear-gradient(to bottom, rgba(126,151,219,1) 0%, rgba(68,104,187,1) 6%, rgba(30,63,131,1) 62%, rgba(19,45,99,1) 100%);
        padding: 4px 15px;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
}
.modal-header{
  background: -webkit-linear-gradient(top, rgba(126,151,219,1) 0%, rgba(68,104,187,1) 6%, rgba(30,63,131,1) 62%, rgba(19,45,99,1) 100%);
  background: linear-gradient(to bottom, rgba(126,151,219,1) 0%, rgba(68,104,187,1) 6%, rgba(30,63,131,1) 62%, rgba(19,45,99,1) 100%);
      padding: 4px 15px;
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.el-dialog__headerbtn {
    float: right;
    background: 0 0;
    border: none;
    outline: 0;
    padding: 0;
    cursor: pointer;
    font-size: 8px;
    line-height: 25px;
}
.headercard {
    text-align: left;
}
.modal-title{
  color: white;
  font-style: normal;
  color: white;
  font-size: 12px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.el-dialog__title {
    color: white;
    font-style: normal;
    color: white;
    font-size: 12px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.el-dialog--tiny {
    width: 28%;
}
.hola{
  background: black;
  width: 2000px
}
.modal-footer{
  padding: 12px 17px 1px;
  text-align: right;
  box-sizing: border-box;
  border-top: 1px solid #e4dfdf;
  margin-left: -15px;
  margin-right: -15px;
}
.modal-sm {
  top:35% !important;
  max-width: 360px  !important;
}
.el-dialog__footer {
    padding: 2px 17px 3px;
    text-align: right;
    box-sizing: border-box;
    border-top: 1px solid #e4dfdf;
}
.el-menu-item, .el-submenu__title {
    font-size: 12px !important;
}
.orange {
    color: #4f3e2c;
    color: #4f3e2c;
    font-size: 12px;
    border: solid 1px #e6e6e8e3;
    background: #f78d1d;
    background: #fff5c4;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #fff5c4), color-stop(100%, #ffee9f));
    background: linear-gradient(to bottom, #fff5c4 0%, #ffee9f 100%);
}
.form-group {
  margin-bottom: 0rem !important;
  margin-left: -6px;
  margin-top: -13px;
}
.box-card{
  margin-left: 10px;background-color: rgb(246, 247, 249);
}
.principal{
  margin-left: 10px;
  margin-right: 17px;
}
.headercard{
  height: 25px;margin-bottom: 0;background-color: #f9f9f9;background: -webkit-gradient(left top, left bottom, color-stop(0%, #d7dff2), color-stop(37%, #cadbed), color-stop(100%, #b5c9e2));background: linear-gradient(to bottom, #d7dff2 0%, #cadbed 37%, #b5c9e2 100%);
}
.labelheadercard{
  font-size: 13px;margin-left: 10px;
}
.bodycard{
  margin-top: -11px;
}
.grupolabel{
  padding-left: 0px;margin-top: 3px;
}
.mb-3{
  margin-top: 1px;
}
.buttongrupolabel{
  height: 25px;margin-top: -2px;
}
.inicio{
  margin-top: -0.2rem;
}
.el-tabs__nav {
    position: relative;
    transition: transform .3s;
    float: left;
    height: 25px !important;
}
.hamb-icon {
  position: absolute;
  background: #48576a;
  width: 20px;
  height: 2px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
}

.hamb-icon:before,
.hamb-icon:after {
  content: '';
  position: absolute;
  background: #48576a;
  width: 20px;
  height: 2px;
  transition: .5s;
  box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
}

.hamb-icon:before {
  top: -6px;
}

.hamb-icon:after {
  top: 6px;
}

.hamb-container.active .hamb-icon {
  background: rgba(0, 0, 0, 0);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0);
}

.hamb-container.active .hamb-icon:before {
  top: 0;
  transform: rotate(45deg);
}

.hamb-container.active .hamb-icon:after {
  top: 0;
  transform: rotate(-45deg);
}

.el-menu-vertical-demo:not(.el-menu--collapse) {
  width: 220px;
  min-height: 400px;
}
.buscadorbar{
  -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #bfcbd9;
    box-sizing: border-box;
    color: #1f2d3d;
    font-size: inherit;
    height: 36px;
    line-height: 1;
    outline: 0;
    padding: 3px 4px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    height: 22px;
    font-size: 12px;
}
.el-menu-item,
.el-submenu__title {
  height: 48px;
  line-height: 48px;
}
.el-loading-mask{
  background-color: rgba(0, 0, 0, 0.8);
}
.el-card__header{
  padding:0 0;
}
.el-table__footer-wrapper tbody td, .el-table__header-wrapper tbody td {
    background-color: #e4f8ef !important;
    color: #fc4a07;
    font-weight: 700;
}
.el-tabs--border-card {
    background: #fff;
    border: 1px solid #d1dbe5;
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.el-pager li.btn-quicknext, .el-pager li.btn-quickprev {
    line-height: 18px;
    color: #97a8be;
}
.el-menu-vertical-demo:not(.el-menu--collapse) {
    width: 220px;
    min-height: 400px;
  }
  
  .el-menu-item,
  .el-submenu__title {
    height: 48px;
    line-height: 48px;
  }
  .el-menu-item span a{
    text-decoration: none;
    color:#48576a;
  }
 .imagenes-costado{
   width: 17px;
   height: 19px;
 }
 .el-folder{
   /* background-image: url("../../images/folder-cerrado.png"); */
   width:17px;
   height:15px; 
   cursor: pointer;
   margin-top: -5px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*background: url("../../images/guardar.png") no-repeat;*/
  content: url("images/folder-cerrado.png") ;
 }

 .el-submenu.is-opened>.el-submenu__title .el-folder{
    content:url("images/folder-abrir.png");
    z-index: 10000;
 }

.el-submenu.is-opened>.el-submenu__title .fa-caret-right{
    transform: rotate(90deg);
 }
 .el-submenu__icon-arrow {
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -7px;
    transition: transform .3s;
    font-size: 12px;
    display: none;
    z-index: 10000;
  }
 .letraTabla{
  font-size: 9px;
}
.el-button--primary {
    color: #4a4949;
    background-color: #c7d9e9;
    border-color: #c7d9e9;
}
.el-table_1_column_1 {
    background-color: #fbfcfd !important;
    text-align: center !important;
    border: 1px solid #9EB6CE !important;
    border-width: 0px 1px 1px 0px !important;
    border-bottom: 1px solid #9eb6ce !important;
}
.el-table td, .el-table th {
    height: 20px;
    min-width: 0;
    text-overflow: ellipsis;
    vertical-align: middle;
}
.el-table__footer-wrapper tbody td, .el-table__header-wrapper tbody td {
    background-color: #e4f8ef !important;
    color: #fc4a07;
    font-weight: 700;
}
.el-pager li.active {
    border-color: #a9c4d4;
    background-color: #a9c4d4;
    color: #ffffff;
    cursor: default;
}
.el-pagination .btn-next, .el-pagination .btn-prev {
    background: center center no-repeat #fff;
    background-size: 16px;
    border: 1px solid #d1dbe5;
    cursor: pointer;
    margin: 0;
    color: #97a8be;
}
.el-pagination button, .el-pagination span {
    display: inline-block;
    font-size: 13px;
    min-width: 28px;
    height: 18px !important;
    line-height: 28px;
    vertical-align: top;
    box-sizing: border-box;
}
.el-pager li {
    padding: 0 4px;
    border-right: 0;
    background: #f6faff;
    font-size: 11px;
    min-width: 28px;
    height: 18px;
    line-height: 17px;
    text-align: center;
}
.el-tabs__nav-next, .el-tabs__nav-prev {
    position: absolute;
    cursor: pointer;
    line-height: 25px;
    font-size: 12px;
    color: #8391a5;
}
.el-input-group--prepend .el-input__inner, .el-input-group__append{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 25px;
}
.el-form-item__content{
    line-height: 25px;
    position: relative;
    font-size: 13px;
}
.el-button--large{
    padding: 11px 19px;
    font-size: 13px;
    border-radius: 4px;
}
.el-table .cell {
    white-space: normal;
    word-break: break-all;
    line-height: 17px;  
    font-size: 9px;
    text-align: left !important;
}
.el-form-item {
    margin-bottom: 1px;
}
.el-input__inner {
    font-size: 12px !important;
    color: #48576a;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #bfcbd9;
    box-sizing: border-box;
    color: #1f2d3d;
    font-size: inherit;
    height: 36px;
    line-height: 1;
    outline: 0;
    padding: 3px 4px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
}
.el-input.is-disabled .el-input__inner {
    background-color: #eef1f6;
    border-color: #d1dbe5;
    color: #1f2d3d;
    cursor: not-allowed;
}
.tdLiqProp{
    border:1px solid black;
    padding: 6px 15px;
}
.thLiq{
    background: #cee0ff;
}
.el-tooltip__popper.is-light{  
    background: #ffffff !important;
    color: #48576a !important;
    border-color:#48576a !important;
}
.el-tooltip__popper {
    /* align-items: center; */
    /* margin-top: 10px !important; */
    padding:3px;
    font-size: 10px !important;
}
.el-table__body tr.current-row>td {
    background: linear-gradient(rgb(255, 245, 196) 0%, rgb(255, 238, 159) 100%);
}
.el-table--striped .el-table__body tr.el-table__row--striped.current-row td {
    background: linear-gradient(rgb(255, 245, 196) 0%, rgb(255, 238, 159) 100%);
}
.el-menu-item{
  padding-left: 55px !important;
}
</style>
