<template>
  <div id='usuario'>
    <ol  style="margin-left: -1.5rem;background: linear-gradient(rgb(229, 241, 247) 0%, rgb(255, 255, 255) 100%);    margin-bottom: 0rem !important;">
        <quickaccessmenu v-on:ValidarItem="ConsultarUsuarios()" v-on:guardarTodo="guardarTodo($event)" v-on:backPage="backPage($event)"  v-on:reloadpage="reloadpage($event)"></quickaccessmenu>
        </ol>
    <el-card class="box-card" style="margin-top:5px;">
      <div slot="header"  class="headercard">
        <span>CONFIGURACI&Oacute;N DE USUARIOS</span>
      </div>
      <!-- <span><b>Búsqueda de Usuarios</b></span> -->
      <!-- <hr> -->
      <div style="overflow: auto;" >
        <table cellpadding="0" cellspacing="1" style="margin-left:10px;border-collapse: collapse;">
          <tr>
            <td class="texto_labelDialogLeft" style="font-size:13px;padding-left:8px">Usuario:</td>
            <td style="padding-left:8px;">
              <el-input
          		  placeholder="Nombre Usuario"
          		  size="mini"
          		  v-model="FormSearch.strUsuario"
          			@keyup.enter.native="ConsultarUsuarios()">
          	  </el-input>
            </td>
            <td class="texto_labelDialogRight" style="font-size:13px;">Rol:</td>
            <td style="padding-left:8px;">
              <el-select v-model="FormSearch.strCargo" size="mini" clearable filterable placeholder="Seleccione Rol">
          			<el-option
          			  v-for="item in dataRoles.Data"
          			  :key="item.intCodRol"
          			  :label="item.strDescripcion"
          			  :value="item.strDescripcion">
          			</el-option>
          		</el-select>
            </td>
            <td class="texto_labelDialogRight" style="font-size:13px;">Estado:</td>
            <td style="padding-left:8px;">
              <el-select v-model="FormSearch.strCodUsuario" size="mini" placeholder="Seleccione Estado">
          			<el-option
          			  v-for="item in DataEstado"
          			  :key="item.id"
          			  :label="item.name"
          			  :value="item.id">
          			</el-option>
          		</el-select>
            </td>
            <td class="texto_labelDialogRight" style="padding-left:8px;">
              <el-button-group>
                <!-- <el-button size="small" type="primary" icon="search" @click="ConsultarUsuarios()">Buscar</el-button> -->
                <el-button size="small" type="danger" @click="LimpiarConsulta()"><i class="fa fa-paint-brush"></i> Limpiar</el-button>
              </el-button-group>
            </td>
          </tr>
          <tr>
            <td class="texto_labelDialogLeft" style="font-size:13px;padding-left:8px">Nombre:</td>
            <td style="padding-top:5px;padding-left:8px;">
              <el-input
          			placeholder="Nombre"
          			size="mini"
          			v-model="FormSearch.strNombres"
          			@keyup.enter.native="ConsultarUsuarios()">
          		</el-input>
            </td>
            <td class="texto_labelDialogRight" style="font-size:13px;">Apellido Paterno:</td>
            <td style="padding-top:5px;padding-left:8px;">
              <el-input
          			placeholder="Apellido Paterno"
          			size="mini"
          			v-model="FormSearch.strApellidoPat"
          			@keyup.enter.native="ConsultarUsuarios()">
          		</el-input>
            </td>
            <td class="texto_labelDialogRight" style="font-size:13px;">Apellido Materno:</td>
            <td style="padding-top:5px;padding-left:8px;">
              <el-input
          			placeholder="Apellido Materno"
          			size="mini"
          			v-model="FormSearch.strApellidoMat"
          			@keyup.enter.native="ConsultarUsuarios()">
          		</el-input>
            </td>
            <td class="texto_labelDialogRight" style="padding-top:5px;padding-left:8px;">
              <el-button size="small" @click="handleAgregar()" type="primary"><i class="fa fa-user-plus"></i> Agregar</el-button>
            </td>
          </tr>
        </table>
      </div>

      <div class="search" align="center" style="margin:5px 0px">
        <el-button-group>
          <!-- <el-button size="small" type="primary" icon="search" @click="ConsultarUsuarios()">Buscar</el-button> -->
          <!-- <el-button size="small" type="danger" @click="LimpiarConsulta()"><i class="fa fa-paint-brush"></i> Limpiar</el-button> -->
        </el-button-group>
      </div>
      <div style="margin-bottom:5px;" v-if="viewAccessEscritura">
        <!-- <el-button size="small" @click="handleAgregar()" type="primary"><i class="fa fa-user-plus"></i> Agregar</el-button> -->
      </div>
      <div class="headercard" >
        <buttons-accions v-on:Limpiar="clickactive('B')" v-on:Buscar="clickactive('A')" v-on:AscItem="AscItem" v-on:DscItem="DscItem" v-on:siguiente="siguiente()" v-on:anterior="anterior()" v-on:EliminarItem="EliminarItem()" ></buttons-accions>
      </div> 
      <el-table
      ref="missionTable"
        :data="gridData"
        :max-height="sizeScreen"
        border
        highlight-current-row
        stripe  :default-sort = "{prop: 'date', order: 'descending'}"
        v-loading="loadingGetData"
        element-loading-text="Cargando Usuario..."
        style="width:100%;font-size:10px;margin:5px 0px">
        <el-table-column prop="strCodUsuario" label="CÓDIGO" width="115" align="center"></el-table-column>
        <el-table-column prop="strNombres" label="NOMBRES" ></el-table-column>
        <el-table-column prop="strApellidoPat" label="APELLIDOS" >
          <template scope="scope">
            <span>{{scope.row.strApellidoPat +' '+scope.row.strApellidoMat}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="strEmail" label="EMAIL" ></el-table-column>
        <el-table-column prop="strUsuario" label="USUARIO" align="center"></el-table-column>
        <el-table-column prop="strCargo" label="ROL" align="center"></el-table-column>
        <el-table-column label="OPERACIONES" width="200" align="center" v-if="viewAccessEscritura">
          <template scope="scope">
            <el-button :plain="true" icon="edit" size="mini" type="info"
              @click="handleEdit(scope.$index, scope.row)">Editar</el-button>
            <el-button v-if="scope.row.chrEstado=='A'" size="mini" type="danger"
              @click="handleDelete(scope.$index, scope.row)"><i class="fa fa-times-circle"></i> Deshabilitar</el-button>
            <el-button v-if="scope.row.chrEstado=='E'" size="mini" type="success"
              @click="handleHabilitar(scope.$index, scope.row)"><i class="fa fa-check-circle"></i> Habilitar</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-row type="flex" class="row-bg">
        <el-col :span="11">
          <el-pagination layout="prev, pager, next" :total="totalRegistros" :page-size="RegistersForPage" :current-page.sync="pagina" @current-change="cambioPagina()">
          </el-pagination>
        </el-col>
        <el-col :span="11" style="margin-top:7px">
          <span style="font-size:14px;">Total de Registros: <b>{{countGridData}}</b></span>
        </el-col>
      </el-row>
    </el-card>
    <br>

    <!--AGREGAR USUARIO-->
    <!--DIALOG - :close-on-click-modal="false" -->
    <el-dialog title="Registrar Usuario" size="small" :visible.sync="dialogAgregarVisible" @close="dialogAgregarVisible=false">
      <el-form :model="FormAgregar" label-position="left" label-width="180px" ref="FormAgregar" style="padding:10px 20px">
        <el-form-item label="Nombre:" prop="strNombres">
          <el-input placeholder="Nombres" v-model="FormAgregar.strNombres" auto-complete="off" size="mini"></el-input>
        </el-form-item>
        <el-form-item label="Apellido Paterno:" prop="strApellidoPat">
          <el-input placeholder="Apellido Paterno" v-model="FormAgregar.strApellidoPat" auto-complete="off" size="mini"></el-input>
        </el-form-item>
        <el-form-item label="Apellido Materno:" prop="strApellidoMat">
          <el-input placeholder="Apellido Materno" v-model="FormAgregar.strApellidoMat" auto-complete="off" size="mini"></el-input>
        </el-form-item>
        <el-form-item label="Email:" prop="strEmail">
          <el-input placeholder="Email" v-model="FormAgregar.strEmail" auto-complete="off" size="mini"></el-input>
        </el-form-item>
        <el-form-item label="Usuario:" prop="strUsuario">
          <el-input placeholder="Usuario" v-model="FormAgregar.strUsuario" auto-complete="off" size="mini"></el-input>
        </el-form-item>
        <el-form-item label="Contraseña:" prop="strPassword">
          <el-input placeholder="Contraseña" type="password" v-model="FormAgregar.strPassword" auto-complete="off" size="mini"></el-input>
        </el-form-item>
        <el-form-item label="Rol:" prop="strCargo">
          <el-select v-model="FormAgregar.strCargo" filterable placeholder="Seleccione Rol">
            <el-option
              v-for="item in dataRoles.Data"
              :key="item.intCodRol"
              :label="item.strDescripcion"
              :value="item.strDescripcion">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="Permisos Adicionales: (Administrador)">
          <el-checkbox v-model="cbSuperAdminAdd"></el-checkbox>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogAgregarVisible = false">Cancelar</el-button>
        <el-button type="primary" @click="AgregarUsuario(FormAgregar)">Agregar</el-button>
      </span>
    </el-dialog>

    <!--EDITAR USUARIO-->
    <el-dialog  title="Editar Usuario" size="small" :visible.sync="dialogEditarVisible">
      <el-form :model="rowSelectedEdit" label-position="left" label-width="180px" style="padding:10px 20px">
        <el-form-item label="Nombre:">
          <el-input placeholder="Nombres" v-model="rowSelectedEdit.strNombres" auto-complete="off" size="mini"></el-input>
        </el-form-item>
        <el-form-item label="Apellido Paterno:">
          <el-input placeholder="Apellido Paterno" v-model="rowSelectedEdit.strApellidoPat" auto-complete="off" size="mini"></el-input>
        </el-form-item>
        <el-form-item label="Apellido Materno:">
          <el-input placeholder="Apellido Materno" v-model="rowSelectedEdit.strApellidoMat" auto-complete="off" size="mini"></el-input>
        </el-form-item>
        <el-form-item label="Email:" prop="strEmail">
          <el-input placeholder="Email" v-model="rowSelectedEdit.strEmail" auto-complete="off" size="mini"></el-input>
        </el-form-item>
        <el-form-item label="Usuario:">
          <el-input placeholder="Usuario" v-model="rowSelectedEdit.strUsuario" auto-complete="off" size="mini"></el-input>
        </el-form-item>
        <el-form-item label="Contraseña:">
          <el-input placeholder="Contraseña" type="password" v-model="rowSelectedEdit.strPassword" auto-complete="off" size="mini"></el-input>
        </el-form-item>
        <el-form-item label="Rol:">
          <el-select v-model="rowSelectedEdit.strCargo" filterable placeholder="Seleccione Rol">
            <el-option
              v-for="item in dataRoles.Data"
              :key="item.intCodRol"
              :label="item.strDescripcion"
              :value="item.strDescripcion">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="Permisos Adicionales: (Administrador)">
          <el-checkbox v-model="cbSuperAdminEdit"></el-checkbox>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button type="danger" plain @click="dialogEditarVisible = false">Cancelar</el-button>
        <el-button type="primary" icon="edit" @click="EditarUsuario(rowSelectedEdit)">Guardar</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
  import UsuarioComponent from '@/components/usuario/usuario.component'
  export default UsuarioComponent
</script>
<style>

</style>
