<template>
  <div>
    <ol  style="margin-left: -1.5rem;background: linear-gradient(rgb(229, 241, 247) 0%, rgb(255, 255, 255) 100%);    margin-bottom: 0rem !important;">
        <quickaccessmenu v-on:ValidarItem="BuscarReporte()" v-on:backPage="backPage($event)"  v-on:reloadpage="reloadpage($event)"></quickaccessmenu>
        </ol>
    <el-card class="box-card" style="margin-top:5px;">
      <div slot="header" class="headercard">
        <span class="labelheadercard">CUOTAS ACOPIO / MES</span>
      </div>
      <div >
        <table cellpadding="0" cellspacing="1">
          <tr>
            <td class="texto_labelDialogLeft" style="font-size:13px;">Año:</td>
            <td style="padding-top:3px;padding-left:20px;">
              <el-date-picker
                v-model="fechaSearch"
                type="year"
                size="mini"
                placeholder="Seleccione Año"
                :editable = "false">
              </el-date-picker>
            </td>
            <!-- <td style="padding-top:3px;padding-left:20px;">
              <el-button size="small" type="primary" icon="search" @click="BuscarReporte()">Cargar Reporte</el-button>
            </td> -->
          </tr>
        </table>
      </div>
      <div class="headercard" >
        <buttons-accions v-on:Limpiar="clickactive('B')" v-on:Buscar="clickactive('A')" v-on:AscItem="AscItem" v-on:DscItem="DscItem" v-on:siguiente="siguiente()" v-on:anterior="anterior()" v-on:EliminarItem="EliminarItem()" ></buttons-accions>
      </div>
      <el-table
      ref="missionTable"
        :data="gridData"
        stripe  :default-sort = "{prop: 'date', order: 'descending'}"
        border
        :max-height="sizeScreen"
        highlight-current-row
        v-loading="loadingGetData"
        show-summary
        class="ExcelTable2007"
        :summary-method="getSummaries"
        element-loading-text="Cargando Acopio/Mes..."
        style="width:100%;font-size:10px;margin:10px 0px">
        <el-table-column prop="strAcopiador" label="Acopiador" width="250"></el-table-column>
        <el-table-column prop="strAnio" label="Año" align="center" width="55"></el-table-column>
        <el-table-column label="ENERO" align="center" width="80">
          <el-table-column prop="eneroActual" label="Estim." align="center" width="60"></el-table-column>
          <el-table-column label="Actual" align="center" width="70">
            <template scope="scope">
              <span>{{getNumberFix(scope.row.enero, 0)}}</span>
            </template>
          </el-table-column>
          <el-table-column label="Diff" align="center" width="60">
            <template scope="scope">
              <span style="color:blue;font-weight:bold">{{getNumberFix(scope.row.eneroDiff, 0)}}</span>
            </template>
          </el-table-column>
        </el-table-column>
        <el-table-column label="FEBRERO" align="center" width="80">
          <el-table-column prop="febreroActual" label="Estim." align="center" width="60"></el-table-column>
          <el-table-column label="Actual" align="center" width="70">
            <template scope="scope">
              <span>{{getNumberFix(scope.row.febrero, 0)}}</span>
            </template>
          </el-table-column>
          <el-table-column label="Diff" align="center" width="60">
            <template scope="scope">
              <span style="color:blue;font-weight:bold">{{getNumberFix(scope.row.febreroDiff)}}</span>
            </template>
          </el-table-column>
        </el-table-column>
        <el-table-column label="MARZO" align="center" width="80">
          <el-table-column prop="marzoActual" label="Estim." align="center" width="60"></el-table-column>
          <el-table-column label="Actual" align="center" width="70">
            <template scope="scope">
              <span>{{getNumberFix(scope.row.marzo, 0)}}</span>
            </template>
          </el-table-column>
          <el-table-column label="Diff" align="center" width="60">
            <template scope="scope">
              <span style="color:blue;font-weight:bold">{{getNumberFix(scope.row.marzoDiff, 0)}}</span>
            </template>
          </el-table-column>
        </el-table-column>
        <el-table-column label="ABRIL" align="center" width="80">
          <el-table-column prop="abrilActual" label="Estim." align="center" width="60"></el-table-column>
          <el-table-column label="Actual" align="center" width="70">
            <template scope="scope">
              <span>{{getNumberFix(scope.row.abril, 0)}}</span>
            </template>
          </el-table-column>
          <el-table-column label="Diff" align="center" width="60">
            <template scope="scope">
              <span style="color:blue;font-weight:bold">{{getNumberFix(scope.row.abrilDiff, 0)}}</span>
            </template>
          </el-table-column>
        </el-table-column>
        <el-table-column label="MAYO" align="center" width="80">
          <el-table-column prop="mayoActual" label="Estim." align="center" width="60"></el-table-column>
          <el-table-column label="Actual" align="center" width="70">
            <template scope="scope">
              <span>{{getNumberFix(scope.row.mayo, 0)}}</span>
            </template>
          </el-table-column>
          <el-table-column label="Diff" align="center" width="60">
            <template scope="scope">
              <span style="color:blue;font-weight:bold">{{getNumberFix(scope.row.mayoDiff, 0)}}</span>
            </template>
          </el-table-column>
        </el-table-column>
        <el-table-column label="JUNIO" align="center" width="80">
          <el-table-column prop="junioActual" label="Estim." align="center" width="60"></el-table-column>
          <el-table-column label="Actual" align="center" width="70">
            <template scope="scope">
              <span>{{getNumberFix(scope.row.junio, 0)}}</span>
            </template>
          </el-table-column>
          <el-table-column label="Diff" align="center" width="60">
            <template scope="scope">
              <span style="color:blue;font-weight:bold">{{getNumberFix(scope.row.junioDiff, 0)}}</span>
            </template>
          </el-table-column>
        </el-table-column>
        <el-table-column label="JULIO" align="center" width="80">
          <el-table-column prop="julioActual" label="Estim." align="center" width="60"></el-table-column>
          <el-table-column label="Actual" align="center" width="70">
            <template scope="scope">
              <span>{{getNumberFix(scope.row.julio, 0)}}</span>
            </template>
          </el-table-column>
          <el-table-column label="Diff" align="center" width="60">
            <template scope="scope">
              <span style="color:blue;font-weight:bold">{{getNumberFix(scope.row.julioDiff, 0)}}</span>
            </template>
          </el-table-column>
        </el-table-column>
        <el-table-column label="AGOSTO" align="center" width="80">
          <el-table-column prop="agostoActual" label="Estim." align="center" width="60"></el-table-column>
          <el-table-column label="Actual" align="center" width="70">
            <template scope="scope">
              <span>{{getNumberFix(scope.row.agosto, 0)}}</span>
            </template>
          </el-table-column>
          <el-table-column label="Diff" align="center" width="60">
            <template scope="scope">
              <span style="color:blue;font-weight:bold">{{getNumberFix(scope.row.agostoDiff, 0)}}</span>
            </template>
          </el-table-column>
        </el-table-column>
        <el-table-column label="SEPTIEMBRE" align="center" width="80">
          <el-table-column prop="septiembreActual" label="Estim." align="center" width="60"></el-table-column>
          <el-table-column label="Actual" align="center" width="70">
            <template scope="scope">
              <span>{{getNumberFix(scope.row.septiembre, 0)}}</span>
            </template>
          </el-table-column>
          <el-table-column label="Diff" align="center" width="60">
            <template scope="scope">
              <span style="color:blue;font-weight:bold">{{getNumberFix(scope.row.septiembreDiff, 0)}}</span>
            </template>
          </el-table-column>
        </el-table-column>
        <el-table-column label="OCTUBRE" align="center" width="80">
          <el-table-column prop="octubreActual" label="Estim." align="center" width="60"></el-table-column>
          <el-table-column label="Actual" align="center" width="70">
            <template scope="scope">
              <span>{{getNumberFix(scope.row.octubre, 0)}}</span>
            </template>
          </el-table-column>
          <el-table-column label="Diff" align="center" width="60">
            <template scope="scope">
              <span style="color:blue;font-weight:bold">{{getNumberFix(scope.row.octubreDiff, 0)}}</span>
            </template>
          </el-table-column>
        </el-table-column>
        <el-table-column label="NOVIEMBRE" align="center" width="80">
          <el-table-column prop="noviembreActual" label="Estim." align="center" width="60"></el-table-column>
          <el-table-column label="Actual" align="center" width="70">
            <template scope="scope">
              <span>{{getNumberFix(scope.row.noviembre, 0)}}</span>
            </template>
          </el-table-column>
          <el-table-column label="Diff" align="center" width="60">
            <template scope="scope">
              <span style="color:blue;font-weight:bold">{{getNumberFix(scope.row.noviembreDiff, 0)}}</span>
            </template>
          </el-table-column>
        </el-table-column>
        <el-table-column label="DICIEMBRE" align="center" width="80">
          <el-table-column prop="diciembreActual" label="Estim." align="center" width="60"></el-table-column>
          <el-table-column label="Actual" align="center" width="70">
            <template scope="scope">
              <span>{{getNumberFix(scope.row.diciembre, 0)}}</span>
            </template>
          </el-table-column>
          <el-table-column label="Diff" align="center" width="60">
            <template scope="scope">
              <span style="color:blue;font-weight:bold">{{getNumberFix(scope.row.diciembreDiff, 0)}}</span>
            </template>
          </el-table-column>
        </el-table-column>
      </el-table>
      <download-excel :data="gridData" :fields = "json_fields" :meta = "json_meta" :name = "titleExcel">
      </download-excel>

      <!-- <el-table
        :data="gridData"
        border
        :max-height="sizeScreen"
        highlight-current-row
        v-loading="loadingGetData"
        style="width: 100%; font-size: 10px; margin:5px 0px">
        <el-table-column label="Acopiador" >
          <template scope="scope">
            <span>{{getNameCompleteAcop(scope.row)}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="strAnio" label="Año" align="center" width="65"></el-table-column>
        <el-table-column prop="enero" label="ENE" align="center" width="80"></el-table-column>
        <el-table-column prop="febrero" label="FEB" align="center" width="80"></el-table-column>
        <el-table-column prop="marzo" label="MAR" align="center" width="80"></el-table-column>
        <el-table-column prop="abril" label="ABR" align="center" width="80"></el-table-column>
        <el-table-column prop="mayo" label="MAY" align="center" width="80"></el-table-column>
        <el-table-column prop="junio" label="JUN" align="center" width="80"></el-table-column>
        <el-table-column prop="julio" label="JUL" align="center" width="80"></el-table-column>
        <el-table-column prop="agosto" label="AGO" align="center" width="80"></el-table-column>
        <el-table-column prop="septiembre" label="SEP" align="center" width="80"></el-table-column>
        <el-table-column prop="octubre" label="OCT" align="center" width="80"></el-table-column>
        <el-table-column prop="noviembre" label="NOV" align="center" width="80"></el-table-column>
        <el-table-column prop="diciembre" label="DIC" align="center" width="80"></el-table-column>
      </el-table> -->
    </el-card>
  </div>
</template>
<script>
  import ReporteCuotasMesComponent from '@/components/Reportes/ReporteCuotasMes/reporteCuotasMes.component'
  export default ReporteCuotasMesComponent
</script>
<style>

</style>
