<template>
  <div>
    <ol  style="margin-left: -1.5rem;background: linear-gradient(rgb(229, 241, 247) 0%, rgb(255, 255, 255) 100%);    margin-bottom: 0rem !important;">
        <quickaccessmenu v-on:ValidarItem="BuscarReporte()" v-on:backPage="backPage($event)"  v-on:reloadpage="reloadpage($event)"></quickaccessmenu>
        </ol>
    <el-card class="box-card" style="margin-top:5px;">
      <div slot="header" class="headercard">
        <span class="labelheadercard">REPORTE ZONA / MES</span>
      </div>
      <div >
        <table cellpadding="0" cellspacing="1">
          <tr>
            <td class="texto_labelDialogLeft" style="font-size:13px;">Año:</td>
            <td style="padding-top:3px;padding-left:20px;">
              <el-date-picker
                v-model="fechaSearch"
                type="year"
                size="mini"
                placeholder="Seleccione Año"
                :editable = "false">
              </el-date-picker>
            </td>
            <!-- <td style="padding-top:3px;padding-left:20px;">
              <el-button size="small" type="primary" icon="search" @click="BuscarReporte()">Cargar Reporte</el-button>
            </td> -->
          </tr>
        </table>
      </div>
      <div class="headercard" >
        <buttons-accions v-on:Limpiar="clickactive('B')" v-on:Buscar="clickactive('A')" v-on:AscItem="AscItem" v-on:DscItem="DscItem" v-on:siguiente="siguiente()" v-on:anterior="anterior()" v-on:EliminarItem="EliminarItem()" ></buttons-accions>
      </div>
      <el-table
      ref="missionTable"
        :data="gridData"
        stripe  :default-sort = "{prop: 'date', order: 'descending'}"
        border
        :max-height="sizeScreen"
        highlight-current-row
        show-summary
         class="ExcelTable2007"
        :summary-method="getSummaries"
        v-loading="loadingGetData"
        element-loading-text="Cargando Zona/Mes..."
        style="width:100%;font-size:10px;margin:10px 0px">
        <el-table-column prop="strZona" label="Zona"></el-table-column>
        <el-table-column prop="strAnio" label="Año" align="center" width="65"></el-table-column>
        <el-table-column label="ENERO" align="center" width="80">
          <template scope="scope">
            <span>{{getNumberFix(scope.row.enero, 3)}}</span>
          </template>
        </el-table-column>
        <el-table-column label="FEBRERO" align="center" width="80">
          <template scope="scope">
            <span>{{getNumberFix(scope.row.febrero, 3)}}</span>
          </template>
        </el-table-column>
        <el-table-column label="MARZO" align="center" width="80">
          <template scope="scope">
            <span>{{getNumberFix(scope.row.marzo, 3)}}</span>
          </template>
        </el-table-column>
        <el-table-column label="ABRIL" align="center" width="80">
          <template scope="scope">
            <span>{{getNumberFix(scope.row.abril, 3)}}</span>
          </template>
        </el-table-column>
        <el-table-column label="MAYO" align="center" width="80">
          <template scope="scope">
            <span>{{getNumberFix(scope.row.mayo, 3)}}</span>
          </template>
        </el-table-column>
        <el-table-column label="JUNIO" align="center" width="80">
          <template scope="scope">
            <span>{{getNumberFix(scope.row.junio, 3)}}</span>
          </template>
        </el-table-column>
        <el-table-column label="JULIO" align="center" width="80">
          <template scope="scope">
            <span>{{getNumberFix(scope.row.julio, 3)}}</span>
          </template>
        </el-table-column>
        <el-table-column label="AGOSTO" align="center" width="80">
          <template scope="scope">
            <span>{{getNumberFix(scope.row.agosto, 3)}}</span>
          </template>
        </el-table-column>
        <el-table-column label="SEPTIEMBRE" align="center" width="90">
          <template scope="scope">
            <span>{{getNumberFix(scope.row.septiembre, 3)}}</span>
          </template>
        </el-table-column>
        <el-table-column label="OCTUBRE" align="center" width="80">
          <template scope="scope">
            <span>{{getNumberFix(scope.row.octubre, 3)}}</span>
          </template>
        </el-table-column>
        <el-table-column label="NOVIEMBRE" align="center" width="90">
          <template scope="scope">
            <span>{{getNumberFix(scope.row.noviembre, 3)}}</span>
          </template>
        </el-table-column>
        <el-table-column label="DICIEMBRE" align="center" width="80">
          <template scope="scope">
            <span>{{getNumberFix(scope.row.diciembre, 3)}}</span>
          </template>
        </el-table-column>
      </el-table>
      <el-row>
        <el-col :span="3">
          <download-excel :data="CompleteData" :fields = "json_fields" :meta = "json_meta" :name = "titleExcel" v-if="viewAccessEscritura">
          </download-excel>
        </el-col>
        <el-col :span="21" align="right" style="padding-right:15px">
          <table cellpadding="0" cellspacing="1" style="border-collapse:collapse;font-size:10px">
            <tr>
              <th class="thRepSubTotal" style="border-right:0.5px solid grey;" width="81">{{DataSubTotal[0].strAnio}}</th>
              <th class="thRepSubTotal" width="81">{{DataSubTotal[0].enero}}</th>
              <th class="thRepSubTotal" width="81">{{DataSubTotal[0].febrero}}</th>
              <th class="thRepSubTotal" width="81">{{DataSubTotal[0].marzo}}</th>
              <th class="thRepSubTotal" width="81">{{DataSubTotal[0].abril}}</th>
              <th class="thRepSubTotal" width="81">{{DataSubTotal[0].mayo}}</th>
              <th class="thRepSubTotal" width="81">{{DataSubTotal[0].junio}}</th>
              <th class="thRepSubTotal" width="81">{{DataSubTotal[0].julio}}</th>
              <th class="thRepSubTotal" width="81">{{DataSubTotal[0].agosto}}</th>
              <th class="thRepSubTotal" width="81">{{DataSubTotal[0].septiembre}}</th>
              <th class="thRepSubTotal" width="81">{{DataSubTotal[0].octubre}}</th>
              <th class="thRepSubTotal" width="81">{{DataSubTotal[0].noviembre}}</th>
              <th class="thRepSubTotal" width="81">{{DataSubTotal[0].diciembre}}</th>
            </tr>
            <tr>
              <td class="tdRepSubTotal" style="border-right:0.5px solid grey;">{{DataSubTotal[1].strAnio}}</td>
              <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[1].enero, 3)}}</td>
              <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[1].febrero, 3)}}</td>
              <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[1].marzo, 3)}}</td>
              <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[1].abril, 3)}}</td>
              <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[1].mayo, 3)}}</td>
              <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[1].junio, 3)}}</td>
              <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[1].julio, 3)}}</td>
              <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[1].agosto, 3)}}</td>
              <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[1].septiembre, 3)}}</td>
              <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[1].octubre, 3)}}</td>
              <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[1].noviembre, 3)}}</td>
              <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[1].diciembre, 3)}}</td>
            </tr>
            <tr>
              <td class="tdRepSubTotal" style="border-right:0.5px solid grey;">{{DataSubTotal[2].strAnio}}</td>
              <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[2].enero, 3)}}</td>
              <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[2].febrero, 3)}}</td>
              <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[2].marzo, 3)}}</td>
              <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[2].abril, 3)}}</td>
              <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[2].mayo, 3)}}</td>
              <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[2].junio, 3)}}</td>
              <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[2].julio, 3)}}</td>
              <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[2].agosto, 3)}}</td>
              <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[2].septiembre, 3)}}</td>
              <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[2].octubre, 3)}}</td>
              <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[2].noviembre, 3)}}</td>
              <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[2].diciembre, 3)}}</td>
            </tr>
            <tr>
              <td class="tdRepSubTotal" style="border-right:0.5px solid grey;">{{DataSubTotal[3].strAnio}}</td>
              <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[3].enero, 3)}}</td>
              <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[3].febrero, 3)}}</td>
              <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[3].marzo, 3)}}</td>
              <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[3].abril, 3)}}</td>
              <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[3].mayo, 3)}}</td>
              <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[3].junio, 3)}}</td>
              <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[3].julio, 3)}}</td>
              <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[3].agosto, 3)}}</td>
              <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[3].septiembre, 3)}}</td>
              <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[3].octubre, 3)}}</td>
              <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[3].noviembre, 3)}}</td>
              <td class="tdRepSubTotal" align="center">{{getNumberFix(DataSubTotal[3].diciembre, 3)}}</td>
            </tr>
          </table>
        </el-col>
      </el-row>
    </el-card>
  </div>
</template>
<script>
  import ReporteZonaMesComponent from '@/components/Reportes/ReporteZonaMes/reporteZonaMes.component'
  export default ReporteZonaMesComponent
</script>
<style>

</style>
